<div {{ attributes }}>
	<div class="panel-heading">
		<h4 class="panel-title">
			<a data-toggle="collapse" data-parent="#accordion" href="#{{ id }}">{{ icon | raw }}{{ title }}</a>
		</h4>
	</div>
	<div id="{{ id }}" class="panel-collapse collapse">
		<div class="panel-body">
			{{ text | raw }}
		</div>
	</div>
</div>