{{ attach_library('syncart/cart') }}

{% for price in data.prices %}
  <cart-field inline-template v-bind:pid="{{ data.product.id() }}" :uid="{{ data.uid }}">
    <div class="product-variation" v-show="ready" style="display:none">
      <div class="product-variation-price">
        <div class="product-price">
          {% if price.old_price %}
            <div class="product-price-old">
              {{ price.old_price|number_format(0, '.', ' ') }}
            </div>
          {% endif %}
          <div class="product-price-current">
            {{ price.price|number_format(0, '.', ' ') }} <span class="product-price-unit">{{ price.currency }}</span>
          </div>
        </div>
      </div>
      <div class="product-variation-button">
        <button v-on:click="addToCart({{ price.variation_id }})" class="btn btn--cart" :class="loading ? 'btn--loading' : ''" v-if="!inCart">
          {{ 'Add to cart'|t }}
          <svg width="25" height="24" viewBox="0 0 25 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M8.71742 18.1785V16.4435H21.7333L24.2705 6.33692H20.0596V1.63451H14.9306V2.89067H9.05998V6.33692H6.29028L4.93916 1.1532H0.645996V2.55996H3.87338L7.33267 15.8317V19.5853H8.61213C8.49041 19.8697 8.42253 20.1832 8.42253 20.5126C8.42253 21.7995 9.4532 22.8466 10.7201 22.8466C11.9869 22.8466 13.0176 21.7995 13.0176 20.5126C13.0176 20.1832 12.9497 19.8697 12.828 19.5853H16.6471C16.5253 19.8697 16.4575 20.1832 16.4575 20.5126C16.4575 21.7995 17.4881 22.8466 18.755 22.8466C20.0219 22.8466 21.0525 21.7995 21.0525 20.5126C21.0525 20.1832 20.9846 19.8697 20.8629 19.5853H21.9063V18.1786L8.71742 18.1785ZM18.7551 19.5853C19.2584 19.5853 19.6679 20.0013 19.6679 20.5126C19.6679 21.0238 19.2584 21.4398 18.7551 21.4398C18.2518 21.4398 17.8424 21.0238 17.8424 20.5126C17.8424 20.0013 18.2519 19.5853 18.7551 19.5853ZM10.7202 19.5853C11.2234 19.5853 11.6328 20.0013 11.6328 20.5126C11.6328 21.0238 11.2234 21.4398 10.7202 21.4398C10.2169 21.4398 9.80743 21.0238 9.80743 20.5126C9.80738 20.0013 10.2169 19.5853 10.7202 19.5853ZM16.3154 3.04128H18.6748V6.33692H16.3154V3.04128ZM10.4447 4.29748H14.9306V6.33692H10.4447V4.29748ZM8.55796 15.0367L6.65697 7.74368H22.4882L20.6574 15.0367H8.55796Z"/>
            <path d="M10.9829 9.27637H9.59814V13.7377H10.9829V9.27637Z"/>
            <path d="M13.8496 9.27637H12.4648V13.7377H13.8496V9.27637Z"/>
            <path d="M16.7153 9.27637H15.3306V13.7377H16.7153V9.27637Z"/>
            <path d="M19.582 9.27637H18.1973V13.7377H19.582V9.27637Z"/>
          </svg>
        </button>
        <a href="{{ path('syncart.cart_controller_cart') }}" class="btn btn--cart btn--cart-added" v-else>
          {{ 'Go to cart'|t }}
          <svg width="25" height="24" viewBox="0 0 25 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M8.71742 18.1785V16.4435H21.7333L24.2705 6.33692H20.0596V1.63451H14.9306V2.89067H9.05998V6.33692H6.29028L4.93916 1.1532H0.645996V2.55996H3.87338L7.33267 15.8317V19.5853H8.61213C8.49041 19.8697 8.42253 20.1832 8.42253 20.5126C8.42253 21.7995 9.4532 22.8466 10.7201 22.8466C11.9869 22.8466 13.0176 21.7995 13.0176 20.5126C13.0176 20.1832 12.9497 19.8697 12.828 19.5853H16.6471C16.5253 19.8697 16.4575 20.1832 16.4575 20.5126C16.4575 21.7995 17.4881 22.8466 18.755 22.8466C20.0219 22.8466 21.0525 21.7995 21.0525 20.5126C21.0525 20.1832 20.9846 19.8697 20.8629 19.5853H21.9063V18.1786L8.71742 18.1785ZM18.7551 19.5853C19.2584 19.5853 19.6679 20.0013 19.6679 20.5126C19.6679 21.0238 19.2584 21.4398 18.7551 21.4398C18.2518 21.4398 17.8424 21.0238 17.8424 20.5126C17.8424 20.0013 18.2519 19.5853 18.7551 19.5853ZM10.7202 19.5853C11.2234 19.5853 11.6328 20.0013 11.6328 20.5126C11.6328 21.0238 11.2234 21.4398 10.7202 21.4398C10.2169 21.4398 9.80743 21.0238 9.80743 20.5126C9.80738 20.0013 10.2169 19.5853 10.7202 19.5853ZM16.3154 3.04128H18.6748V6.33692H16.3154V3.04128ZM10.4447 4.29748H14.9306V6.33692H10.4447V4.29748ZM8.55796 15.0367L6.65697 7.74368H22.4882L20.6574 15.0367H8.55796Z"/>
            <path d="M10.9829 9.27637H9.59814V13.7377H10.9829V9.27637Z"/>
            <path d="M13.8496 9.27637H12.4648V13.7377H13.8496V9.27637Z"/>
            <path d="M16.7153 9.27637H15.3306V13.7377H16.7153V9.27637Z"/>
            <path d="M19.582 9.27637H18.1973V13.7377H19.582V9.27637Z"/>
          </svg>
        </a>
      </div>
    </div>
  </cart-field>
{% endfor %}
