{#
/**
 * @file
 * Displays the Selz tag.
 *
 * Available variables:
 * - type
 * - position
 * - buttton_color
 * - button_color_text
 * - header_color_order
 * - header_color_order_text
 * - button_text
 * - logos
 * - overlay
 * - fixed_width
 * - url_value
 *
 * @ingroup themeable
 */
#}

{% if logos is empty %}
	{% set logos = '' %}
{% else %}
	{% set logos = 'data-selz-lg="true"' %}
{% endif %}

{% if overlay is empty %}
	{% set overlay = '' %}
{% else %}
	{% set overlay = 'data-selz-a="modal"' %}
{% endif %}
{% if type == 'button' %}
	{% if position == 'right' %}
		{% set d_pos = 'data-selz-t="_selz-btn-default"' %}
	{% elseif position == 'above' %}
		{% set d_pos = 'data-selz-t="_selz-btn-above"' %}
	{% else %}
		{% set d_pos = 'data-selz-t="_selz-btn-fluid"' %}
	{% endif %}
{% else %}
	{% set d_pos = '' %}
{% endif %}

{% if fixed_width is not empty and type == 'widget' %}
	<div style="max-width:{{ fixed_width }}px; margin: 0 auto;">
{% endif %}

<script {{ d_pos }} {{ overlay_data }} data-selz-cb="{{ button_color }}" data-selz-ct="{{ button_color_text }}" data-selz-chbg="{{ header_color_order }}" data-selz-chtg="{{ header_color_order_text }}" data-selz-{{ type|slice(0,1) }}="{{ url_value }}" {{ logos }} data-text="{{ button_text }}">
if (typeof _$elz === "undefined") { var _$elz = {}; }
if (typeof _$elz.{{ type|slice(0,1) }} === "undefined") {
_$elz.{{ type|slice(0,1) }} = { e: document.createElement("script") };
_$elz.{{ type|slice(0,1) }}.e.src = "https://selz.com/embed/{{ type }}";
document.body.appendChild(_$elz.{{ type|slice(0,1) }}.e); }
</script>
<noscript><a href="{{ url_value }}" target="_blank">{{ button_text }}</a></noscript>

{% if fixed_width is not empty and type == 'widget' %}
	</div>
{% endif %}
