{#
/**
 * @file
 * The template-file for PoolParty GraphSearch trends displayed as a chart.
 *
 * available variables:
 * - data string
 *     String of trends-data in json format to be displayed on the chart.
 * - config object
 *     Array of chart configuration (not yet manipulated for plot)
 */
#}

<div class="pp-graphsearch-trends-block">
    {% if config.title is not empty %}<label class="pp-graphsearch-trends-title">{{ config.title }}</label>{% endif %}
    {% if config.description is not empty %}<p class="pp-graphsearch-trends-description">
        {{ config.description|replace({"\r\n": '<br />', "\r": '<br />', "\n": '<br />'}) }}
    </p>{% endif %}
    <div class="flot-chart">
        <div class="flot-content" id="trends-placeholder" style="height:{{ config.height }}; width:{{ config.width }}"></div>
        <div id="flot-chart-legend" class="clearBoth"></div>
        <div class="float-chart-values" style="display:none;">{{ data }}</div>
    </div>
</div>
