{#
/**
 * @file
 * The template for the content view of the PP GraphSearch module
 *
 * available variables:
 * - results array
 *     Array of result objects
 * - config object
 *     The PP GraphSearch configuration
 * - config_id string
 *     The ID of the PP GraphSearch config entity
 * - view_type string
 *     The type of content that is displayed in this view. Possible values are:
 *     - "default": normal PoolParty GraphSearch results
 *     - "similar_content": similar documents for one PoolParty GraphSearch result
 */
#}
<div class="view view-pp-graphsearch-list{% if (view_type == 'similar_content') %}_short{% endif %}{% if not config.first_page_only %} views-load-more{% endif %}" data-id="{{ config_id }}">
    {% if results is empty %}
        <div class="view-empty">
            <div class="view-content note">{% if (view_type == 'similar_content') %}{% trans %}No similar documents found!{% endtrans %}{% else %}{% trans %}Your search doesn't match with any content, please use another search term or refine your filters!{% endtrans %}{% endif %}</div>
        </div>
    {% else %}
        <div class="view-content">
            {% for result in results %}
                {% set sentiment_value_negative = "" %}
                {% set sentiment_value_zero = "" %}
                {% set sentiment_value_positive = "" %}
                {% set sentiment_value_ceil = (result.sentiment * 100)|round(1, 'ceil') %}
                {% if result.sentiment < 0 %}
                    {% set sentiment_value_negative = 'style="width:' ~ (-1 * 50) * result.sentiment ~ '%"' %}
                {% elseif result.sentiment == 0 %}
                    {% set sentiment_value_zero = 'style="width:0%"' %}
                {% else %}
                    {% set sentiment_value_positive = 'style="width:' ~ (1 * 50) * result.sentiment ~ '%"' %}
                {% endif %}

                <div class="views-row">

                    <div class="views-field views-field-pp-graphsearch-source-information">
            <span class="field-content">{{ result.created|format_date(config.date_format) }}
                | {{ result.type }}</span></div>
                    <div class="views-field views-field-title">
                        <span class="field-content"><a href="{{ result.link }}" target="{{ config.link_target }}">{{ result.title }}</a></span>
                    </div>
                    {% if result.sentiment is not null %}
                        <div class="views-field views-field-pp-graphsearch-show-sentiment">
                            <div class="field-content">
                                <div>
                                    <div class="sentimentColorRange">
                                        <div class="rating">
                        <span class="bar">
                          <span class="wrapper">
                              <span class="negative" {{ sentiment_value_negative }}></span>
                              <span class="zero" {{ sentiment_value_zero }}></span>
                              <span class="positive" {{ sentiment_value_positive }}></span>
                          </span>
                        </span>
                                        </div>
                                    </div>
                                    <div class="sentimentValue">{{ result.sentiment }}
                                        %
                                    </div>
                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="views-field views-field-body">
                        <div class="field-content">
                            <p>{{ result.description }}</p></div>
                    </div>
                    <div class="views-field views-field-pp-graphsearch-tags">
                        <span class="views-label views-label-pp-graphsearch-tags">Tags: </span>
                        <div class="field-content">{{ result.tags|raw }}</div>
                    </div>
                    <div class="views-field views-field-pp-graphsearch-more-like-this">
                        <div class="field-content">{{ result.more_like_this|raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>