{#
/**
 * @file
 * Default theme implementation for the ElevateZoomPlus template.
 *
 * Available variables:
 * - element: The original theme elements.
 * - attributes: The array of attributes to hold the main container classes.
 * - content: The content can be Slick asNavFor, Blazy Grid, GridStack, etc.
 * - settings: HTML related settings.
 * - stage: The static main preview image if not using Slick with asNavFor.
 *
 * Debug:
 * @see https://www.drupal.org/node/1906780
 * @see https://www.drupal.org/node/1903374
 * Use Kint: {{ kint(variable) }}
 * Dump all available variables and their contents: {{ dump() }}
 * Dump only the available variable keys: {{ dump(_context|keys) }}
 */
#}
{%
  set classes = [
    'elevatezoomplus-wrapper',
  ]
%}
{%
  set content_classes = [
    'elevatezoomplus-stage',
    'blazy',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if stage %}
    <div{{ content_attributes.addClass(content_classes) }}>
      {{ stage }}
    </div>
  {% endif %}
  {{ content }}
</div>
