{#
/**
 * @file
 * Template for a 2 cell panel layout.
 *
 * This template provides a two cell panel display layout, with
 * each cell roughly equal in width.
 *
 * Variables:
 * - css_id: An optional CSS id to use for the layout.
 * - content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.left: Content in the left cell.
 *   - content.right: Content in the right cell.
 */
#}
<div {{ attributes.setAttribute('id', settings.css_id).addClass('card', 'card--tile', 'card--layout', settings.css_classes) }}>
  {% if content.media %}
    <div class="card__image card-image">
      {{ content.media }}
    </div>
  {% endif %}
  <div class="card__content card-section">
    {% if content.title %}
      <div class="card__title{% if subtitle %} has-subline{% endif %}">
        {{ content.title }}
      </div>
    {% endif %}
    {% if content.subline %}
      <div class="card__subline subline">{{ content.subline }}</div>
    {% endif %}
    {% if content.contents %}
      <div class="card__teaser">
        {{ content.contents }}
      </div>
    {% endif %}
    {% if content.links %}
      <div class="card__buttons">
        {{ content.links }}
      </div>
    {% endif %}
  </div>
</div> <!-- /.foundation-2col -->
