<div id="{{ uniqueid }}" class="geolocation-street-view-formatter-map-wrapper"
  {%- if latitude is not empty %} data-map-lat="{{ latitude }}" {%- endif -%}
  {%- if longitude is not empty %} data-map-lng="{{ longitude }}" {%- endif -%}
  {%- if heading is not empty %} data-map-heading="{{ heading }}" {%- endif -%}
  {%- if pitch is not empty %} data-map-pitch="{{ pitch }}" {%- endif -%}
  {%- if zoom is not empty %} data-map-zoom="{{ zoom }}" {%- endif -%}
>
  <div class="geolocation-google-map"></div>
</div>
