<div class="cr-container">
    <input type="hidden" id="cr-auth-url" value="{{ urls.auth_url }}">
    <input type="hidden" id="cr-check-status-url" value="{{ urls.check_status_url }}">
    <input type="hidden" id="cr-wakeup-url" value="{{ urls.wakeup_url }}">

    <div class="cr-loader-big">
        <span class="cr-loader"></span>
    </div>

    <div class="cr-connecting">
        <span>
            {{ 'Connecting...'|t }}
        </span>
    </div>

    <div class="cr-content-window-wrapper">
        <div class="cr-content-window">
            <img class="cr-welcome-icon" src="{{ urls.logo_url }}">
            <h3>{{ 'Welcome to clever Email Marketing!'|t }}</h3>
            <div class="cr-dashboard-text-wrapper cr-main-text">
                {{ 'Simply transmit Drupal data and get started with CleverReach® for free!'|t }}
            </div>
            <div class="cr-action-buttons-wrapper">
                <button class="cr-primary" id="cr-new-account">
                    {{ 'Create and connect your new CleverReach® account now!'|t }}
                </button>
                <button class="cr-secondary" id="cr-log-account">
                    {{ 'Log in and connect with an existing CleverReach® account'|t }}
                </button>
            </div>
        </div>
    </div>
</div>
