<div class="cr-container">
    <input type="hidden" id="cr-build-email-url" value="{{ urls.built_email_url }}">
    <input type="hidden" id="cr-build-first-email-url" value="{{ urls.built_first_email_url }}">
    <input type="hidden" id="cr-retry-sync-url" value="{{ urls.retry_sync_url }}">

    <div class="cr-tab-wrapper">
        <div class="cr-dashboard-tab-wrapper">
            <button class="cr-dashboard-tab">{{ 'Dashboard'|t }}</button>
        </div>
        <div class="cr-pull-right">
            <a href="{{ urls.help_url }}" target="_blank">{{ 'Help & Support'|t }}</a>
            <p class="cr-id">{{ 'CleverReach® ID'|t }}: {{ recipient_id }}</p>
        </div>
    </div>

    <div class="cr-content-window-wrapper">
        <div class="cr-content-window">
            <img class="cr-icon" src="{{ urls.logo_url }}" />
            <h3>
                {% if is_initial_sync_failed %}
                    {{ 'An error occurred!'|t }}
                {% else %}
                    {{ 'Targeted email marketing for more revenue!'|t }}
                {% endif %}
            </h3>
            <div class="cr-dashboard-text-wrapper cr-main-text">
                {% if is_initial_sync_failed %}
                    {{ 'Error description'|t }}: {{ initial_sync_failed_message }} <br />
                    <a target="_blank" href="{{ urls.help_url }}">{{ 'Help & Support'|t }}</a>
                {% else %}
                    {{ 'Targeted email marketing for more readers in your Drupal CMS'|t }}. <br />
                    {{ 'Create appealing emails to showcase your articles to your readers'|t }}.
                {% endif %}
            </div>
            {% if is_initial_sync_failed %}
                <button class="cr-action-buttons-wrapper cr-primary" id="cr-retrySync">
                    {{ 'Retry synchronization now'|t }}
                </button>
            {% else %}
                <button class="cr-action-buttons-wrapper cr-primary" id="cr-buildEmail">
                    {% if is_built_first_email %}
                        {{ 'Create your next newsletter now!'|t }} →
                    {% else %}
                        {{ 'Create your first newsletter'|t }} →
                    {% endif %}
                </button>
            {% endif %}
        </div>
    </div>
</div>
