{% if optin_prompt_type == "modal" %}

  <div class="uawn-opt-in-prompt {{ optin_position }} prompt-modal">
    <div class="optin-message">{{ optin_prompt|raw }}</div>
    <div class="optin-buttons-wrapper">
      <button class="uawn-opt-in-allow btn-prompt-allow">{{ optin_allow_label }}</button>
      <button class="uawn-opt-in-dismiss btn-prompt-dismiss">{{ optin_dismiss_label }}</button>
    </div>
  </div>

{% elseif optin_prompt_type == "banner" %}

  <div class="uawn-opt-in-prompt prompt-banner {{ optin_banner_position }}">
    <div class="prompt-banner-wrapper">
      <div class="optin-message">{{ optin_prompt|raw }}</div>
      <div class="optin-buttons-wrapper">
        <span class="uawn-opt-in-allow prompt-button btn-prompt-allow">{{ optin_allow_label }}</span>
        <span class="uawn-opt-in-dismiss prompt-button btn-prompt-dismiss">{{ optin_dismiss_label }}</span>
      </div>
    </div>
  </div>

{% endif %}

<div class="uawn-opt-in-prompt-button">
  <div class="uawn-opt-in-prompt prompt-button">
    <div class="optin-buttons-wrapper">
      <span class="uawn-opt-in-allow prompt-button btn-prompt-allow"><img src="{{ optin_prompt_bell_icon_path }}" width="30"></span>
    </div>
  </div>
</div>
