<div class="actual-content">{{ value | escape }}</div>

<div class="open-graph-comment-outer">
    <div class="open-graph-comment-img">
        <img src="{{ meta_data.img }}">
    </div>
    <h3 class="open-graph-comment-title">
        <a href="{{ meta_data.url }}" target="_blank">{{ meta_data.title | escape }}</a>
    </h3>
    <p class="open-graph-comment-desc">{{ meta_data.desc | escape }}</p>
</div>