{% for photo in photos %}

    {% set description = '' %}
    {% set location = '' %}

    {% if settings.show_description is not empty %}
        {% set description = photo.description|e('html') %}
    {% endif %}

    {% if settings.show_location is not empty %}
        {% set location = photo.location|e('html') %}
    {% endif %}
  <div class="album-wrapper" data-name="{{ photo.name }}" data-description="{{ description }}" data-location="{{ location }}">
  <div class="album-thumb fb-link" data-album-link="album/{{ photo.id }}">
    <span class="album-thumb-wrapper">
      <i data-cover-id="{{ photo.id }}" style="background-image: url({{ photo.cover_photo.images[0].source }});width: {{ settings.album_thumb_width }}px; height:{{ settings.album_thumb_height }}px;"></i>
    </span>
  </div>
    {% if settings.show_title is not empty %}
      <div class="album-details">
          <div class="album-text" style="max-width: {{ settings.album_thumb_width }}px;">
              <div class="fb-link" href="#album-{{ photo.id }}">{{ photo.name }}</div>
          </div>
      </div>
    {% endif %}
</div>
{% endfor %}
