{#
This needs to match the template name (except for the beginning ajax_ part)
#}

{# {{ kint(grid) }} #}

{# RESULTS #}
{% if entity.ajax_page_load %}

  {# The results are being loaded via AJAX. Display nothing. #}

{% elseif grid.results  %}

  {# Loop through the results. Display a view mode. #}
  {% for row_num,node in grid.results %}
    <div>
      {{ node|view_mode_object('teaser') }}
    </div>
  {% endfor %}

{% else %}

  {# Display no results message. #}
  <p>No matching items found with the filter criteria.</p>

{% endif %}

{# PAGINATION #}
{# We need a wrapper around the pagination links so we can target them in the JS. #}
<div class="ajax_results_pagination {{ grid.pagination_type }}">
  {# Set pagination type in this drop down. #}
  {# {{ 'default'|pagination(entity, grid.pagination_type) }} #}

  {# Grab pagination type from config. #}
  {{ grid.pagination_type|pagination(widget_entity) }}
</div>