{#
/**
 * @file
 * Default theme implementation for the slick-browser wrapper template.
 *
 * Available variables:
 * - attributes: An array of attributes to apply to the element.
 * - content: A renderable array of the preview elements.
 * - element: A renderable array of the form elements.
 * - settings: An array containing the given settings.
 *
 * @see template_preprocess_slick_browser()
 *
 */
#}
{%
  set classes = [
    'slick-browser',
    'sb',
    'sb--widget',
    not content.main ? 'is-empty',
    settings.unslick ? 'sb--unslick',
    settings._eb ? 'sb--eb',
    settings._text ? 'sb--text',
    settings.style ? 'sb--' ~ settings.style,
    settings.style == 'slick' and settings.skin ? 'sb--skin--' ~ settings.skin|clean_class,
    settings.style == 'slick' and 'grid' in settings.skin ? 'sb--grid',
    settings.target_type ? 'sb--' ~ settings.target_type|clean_class,
    'sb--' ~ settings.count,
  ]
%}

{% spaceless %}
<div id="{{ attributes.id|clean_id }}"{{ attributes.addClass(classes)|without('id') }}>

  {% block slick_browser_header %}
    <div class="sb__header">
      {% if content.header %}
        <div class="button-group button-group--text">
          {{ content.header }}
        </div>
      {% endif %}
    </div>
  {% endblock %}

  {% block slick_browser_draggable %}
    {{ content.draggable }}
  {% endblock %}

  {% if content.main %}
    {% block slick_browser_preview %}
      <div class="sb__display">
        {{ content.main }}
      </div>
    {% endblock %}
  {% endif %}

  {{ element }}

  <div class="sb__zoom"></div>
</div>
{% endspaceless %}
