{#
/**
 * @file
 * Template file for field_slideshow
 */#}

{% set classes = [
  'field-slideshow',
  'field-slideshow-' ~ id,
] %}

<div{{ attributes.addClass(classes) }}>
  <div class="field-slideshow-wrapper">

    {% if pager.pager.before %}
      <div class="cycle-pager-before cycle-pager-{{ id }}">{{ pager.pager_type }}</div>
    {% endif %}

    <div id="{{ id }}" class="field-slideshow-items">
      {% for item in items %}
        <div class="field-slideshow-item">
          {{ item }}
        </div>
      {% endfor %}
    </div>

    {% if pager.pager.after %}
      <div class="cycle-pager-after cycle-pager-{{ id }}">{{ pager.pager_type }}</div>
    {% endif %}

    {% if pager.controls %}
      <a class="cycle-controls cycle-controls-prev cycle-controls-prev-{{ id }}" href="#">{% trans %}Prev{% endtrans %}</a>
      <a class="cycle-controls cycle-controls-next cycle-controls-next-{{ id }}" href="#">{% trans %}Next{% endtrans %}</a>
    {% endif %}

  </div>
</div>
