{#
/**
 * @file
 * Default theme implementation for field collection template formatter.
 *
 * Available variables:
 * - content: An array of field collection items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {% hide(content.field_example) %} to temporarily suppress the printing
 *   of a given element.
 * - item:  An array of information about the field_collection_item to display.
 * - index:  An array index of the field_collection_item to display.
 * - entity: The content entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available.
 *
 * @see template_preprocess_field_collection_template_formatter()
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'field-collection-template-formatter__item',
]
%}
{{ attach_library('field_collection_template/formatter') }}
<div{{ attributes.addClass(classes) }}>
    <div class="field-collection-template-formatter__top">
        <label for="">{{ index }}</label>
        <input type="radio" name="radios"/>
    </div>
    <div class="field-collection-template-formatter__bottom">
        {{ content }}
    </div>
</div>
