{#
 /**
  * @file
  * Contains theme representation of search results
  *
  * Available variables:
  *  - form - the search form
  *  - results - the search results
  */
#}
<div>
  <div>
    {{ form }}
  </div>
  <div>
    {% if results.hasFeatured %}
      <ol>
        {% for featured in results.getFeatured %}
          <li>{{ featured }}</li>
        {% endfor %}
      </ol>
    {% endif %}
  </div>
  <div>
    {% if results.hasDidYouMean %}
      <div class="synonyms">
        <span class="p">Did you mean</span>
        <ul>
          {% for synonym in results.getDidYouMean %}
            <li>{{ link(synonym, 'base:' ~ base_path ~ '/' ~ synonym|url_encode) }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  <div>
    {% if results.hasResults %}

      <div>
        <p>Showing results {{ results.getFirstResultIndex }} - {{ results.getLastResultIndex }} of {{ results.getResultsCount }} for <em>{{ search_query }}</em></p>
        <ul>
          <li>Sort by:</li>
          {% for sortLink in sort_links %}
            <li>{{ sortLink }}</li>
          {% endfor %}
        </ul>
      </div>

      <ol class="search-results">
        {% for result in results.getResults %}
          <li class="search-result">
            {% include '@search_365/search-365-result.html.twig' with {
              result: result,
            } %}
          </li>
        {% endfor %}
      </ol>
    {% else %}
      <span>No results found.</span>
    {% endif %}
  </div>
  {{ pager }}
</div>
