{#
/**
 * @file box.html.twig
 * Default theme implementation to present Box data.
 *
 * This template is used when viewing Boxes.
 *
 *
 * Available variables:
 * - no_title: Boolean indicating whether box title should be printed or not.
 * - label: The title of the box.
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_box()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('box') }}>
  {{ title_prefix }}
  {% if show_title %}
    <h2 class="title">{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% if content %}
    <div class="content">
      {{- content -}}
    </div>
  {% endif %}
</div>
