{#
/**
 * @file
 * theme implementation to simple_analytics.
 *
 * Available variables:
 * - html: The custom HTML/JS code.
 *
 * @ingroup themeable
 */
#}
{# Simple analytics libs. #}
{{ attach_library('simple_analytics/simple_analytics_main') }}
{{ attach_library(library) }}


<h2> {{ chart_title }}</h2>

<div class="ct-chart ct-golden-section" id="{{ chart_id }}"></div>
<div class="ct-chart-legends" id="{{ chart_id }}-legends">
    {% for legend in chart_legends %}
        <span class="ct-chart-legends-box ct-series-{{ loop.index - 1 }}">&#8220;{{ legend }}&#8221;</span>
    {% endfor %}
</div>
