{#
/**
 * @file
 * DocBinder theme implementation for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - mime: Mime type.
 * - size: Size of file.
 *
 * @see docbinder_preprocess_file_link()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('classy/file') }}
{{ attach_library('docbinder/docbinder.commands') }}
<span{{ attributes }}>{{ link }}
  {%- if mime or size %} (
  {%- if mime %}{{ mime }}{% endif %}
    {%- if size %}, {{ size }}{% endif -%}
    )
  {%- endif -%}</span>
