{#
/**
 * @file
 * Default theme implementation to display a formatted like dislike field.
 *
 * Available variables:
 * - like_url: like url.
 * - dislike_url: dislike url.
 * - likes: number of likes.
 * - dislikes: number of dislikes.
 * - report_abuse_url: Report Abuse Url
 *
 * @ingroup themeable
 */
#}
<div class="like_dislike">
    <div class="like">
        <a  class="use-ajax" href= {{ likes_url }}>Like</a>
        <span id="like">{{ likes }}</span>
    </div>  
    <div class="dislike">
        <a class="use-ajax" href= {{ dislikes_url }}>Dislike</a>
        <span id="dislike">{{ dislikes }}</span>
    </div>
    <div id = "report-abuse">
       <a class="use-ajax"  href= {{ report_abuse_url }}>Report Abuse</a>
    </div> 
</div>
<div id="like_dislike_status"></div>
