<div>
	<div>
		<div>
			<h2>
				<span><img src="{{ profile.avatarUrls[1].avatarUrl }}" /></span>
				<span>{{ profile.onlineId }}</span>
			</h2>
		</div>
		<div>
			{% if profile.plus %}
				<div>
					Playstation +
				</div>
			{% endif %}
			<div>
				LVL. {{ profile.trophySummary.curLevel }}
			</div>
			<div>
				{{ rendered.progress|raw }}
			</div>
		</div>
	</div>
	<div>
		<div>
			{{ rendered.trophies|raw }}
		</div>
	</div>
	<div>
		<div>
			{{ rendered.game_trophies|raw }}
		</div>
	</div>
</div>