<div>
	{% for item in trophies %}
		<div>
			<div><img src="{{ item.item.trophyTitleIconUrl }}" /></div>
			<div>{{ item.item.trophyTitleName }}</div>
			<div>{{ item.item.trophyTitlePlatfrom }}</div>
			<div>{{ item.fromUser.progress|raw }}</div>
			<div>{{ item.fromUser.earnedTrophies|raw }}</div>
		</div>
	{% endfor %}
</div>