{# 
/** 
 * @file
 * Rendered templates for astrology sign text.
 * @see AstrologyController::astrologySignDetailsPage.
 * - sign object contains information for the astrology sign you are requesting text.
 * - about_sign_summary 
 * - formatter
 * - date_range_sign
#}

<div class="row">
  <div class="astrology-name-icon-date">
    <h1><a href="{{ path('astrology.sign_details', {sign_name: sign.name})|lower }}">{{sign.name}}</a></h1>
	<img src="{{ file_url(sign.icon) }}" alt="{{ sign.name }}" height="75" width="75" />
	<span>{{ date_range_sign }}</span>
  </div>
  <div class="astrology-about-body">
    <p>{{about_sign_summary|raw}} </p>
	<span><a href="{{ path('astrology.sign_details', {sign_name: sign.name})|lower }}">Read more.</a></span>
  </div>
</div>

<div class="astrology-formatter-link">
  <nav>
    <ul>
	  <li> <a href="{{ path('astrology.list_text_sign_format', {'sign_name': sign.name, 'formatter': 'day', 'next_prev': 0})|lower }}" >Astrology for today</a></li>
	  <li> <a href="{{ path('astrology.list_text_sign_format', {'sign_name': sign.name, 'formatter': 'week', 'next_prev': 0})|lower }}" >Astrology for week</a></li>
	  <li> <a href="{{ path('astrology.list_text_sign_format', {'sign_name': sign.name, 'formatter': 'month', 'next_prev': 0})|lower }}" >Astrology for month</a></li>
	  <li> <a href="{{ path('astrology.list_text_sign_format', {'sign_name': sign.name, 'formatter': 'year', 'next_prev': 0})|lower }}" >Astrology for year</a></li>
	<li> <a href="{{ path('astrology.astrology_birth_form') }}" >Find your star sign</a></li>
	</ul>
  </nav>
</div>
<div class="clearfix"></div>