{# 
/** 
 * @file
 * Rendered templates for astrology sign text.
 * @see AstrologyController::astrologyListTextSignPage.
 * - formatter contains currently selected format to display astrology text i.e 'day', 'week', 'month', 'year'.
 * - sign object contains information for the astrology sign you are requesting text.
 * - date_format to display.
 * - astrology_text object contains information.
 * - about_sign_summary contains summary text for the sign.
 * - weeks array containing first and last day of week.
 * - post_date posted date for the text.
 * - date_range_sign
 * - sign_info a boolean value.
 * - for_date a value that represent the text.
 */
#}

{% set nav = {
    day: { link1:'week', link2:'month', link3:'year' },
    week: { link1:'day', link2:'month', link3:'year' },
    month: { link1:'day', link2:'week', link3:'year' },
    year: { link1:'day', link2:'week', link3:'month' }
} %}

<div class="row">
  <div class="astrology-date">
    {% if for_date['prev'] %}
      <span class="prev pull-left">
        <a href="{{ path('astrology.list_text_sign_format', {'sign_name': sign.name, 'formatter': formatter, 'next_prev': for_date['prev']})|lower }}">Previous</a>
      </span>
    {% endif %}

    {% if formatter == 'week' %} 
      <span>{{ weeks[0]|date(date_format) }} to {{ weeks[1]|date(date_format) }}</span>
    {% else %}
      <span>{{ post_date|date(date_format) }}</span>
    {% endif %}

    {% if for_date['next'] %}
      <span class="next pull-right">
        <a href="{{ path('astrology.list_text_sign_format', {'sign_name': sign.name, 'formatter': formatter, 'next_prev': for_date['next']})|lower }}">Next</a>
      </span>
    {% endif %}
  </div>
</div>

<div class="row">
  <div class="astrology-name-icon-date">
    <h1><a href="{{ path('astrology.sign_details', {sign_name: sign.name})|lower }}">{{sign.name}}</a></h1>
    <img src="{{ file_url(sign.icon) }}" alt="{{ sign.name }}" height="75" width="75" />
    <span>{{ date_range_sign }}</span>
  </div>
  {% if astrology_text.text %}
  <div class="astrology-about-body">
    <p>{{astrology_text.text|raw}}</p>
  </div>
  {% else %}
    <span>No text found for this {{formatter}}.</span>
  {% endif %}
</div>

<div class="astrology-formatter-link">
  <nav>
    <ul>
      {% for key,item in nav %}
        {% if formatter == key %} 
          <li> <a href="{{ path('astrology.list_text_sign_format', {'sign_name': sign.name, 'formatter': item.link1, 'next_prev': 0})|lower }}" >Astrology for {{ item.link1 }}</a></li>
          <li> <a href="{{ path('astrology.list_text_sign_format', {'sign_name': sign.name, 'formatter': item.link2, 'next_prev': 0})|lower }}" >Astrology for {{ item.link2 }}</a></li>
          <li> <a href="{{ path('astrology.list_text_sign_format', {'sign_name': sign.name, 'formatter': item.link3, 'next_prev': 0})|lower }}" >Astrology for {{ item.link3 }}</a></li>
          <li> <a href="{{ path('astrology.astrology_birth_form') }}" >Find your star sign</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>

<div class="row">
  {% if sign_info  %} 
    <h1>About <a href="{{ path('astrology.sign_details', {sign_name: sign.name})|lower }}">{{sign.name}}</a></h1>
    <div class="astrology-name-icon-date">
      <img src="{{ file_url(sign.icon) }}" alt="{{ sign.name }}" height="75" width="75" />
      <span>{{ sign.date_range_from }} - {{ sign.date_range_to }}</span>
    </div>
    <div class="astrology-about-text">
      <p>{{about_sign_summary|raw}}</p>
      <span><a href="{{ path('astrology.sign_details', {sign_name: sign.name})|lower }}">Read more.</a></span> 
    </div>
  {% endif %}
</div>
