{# 
/** 
 * @file
 * Astrology block content.
 * @see AstrologyBlock::build
 * - signs an array containing list of sign
 * - blank_msg contains message for administrator if astrology block do not have any sign.
 */
#}
{% if signs is null %} 
  {% if blank_msg is not null %}
    {{ blank_msg }}
  {% else %}
    No sign to display here, please contact your site administrator.
  {% endif %}
{% endif %}

<ul class='clearfix menu'> 
  {% for sign in signs %} 
    <li class="menu-item sign-name">
      <a href="{{ path('astrology.list_text_sign_format', {'sign_name': sign.name, 'formatter': formatter, 'next_prev': 0})|lower }}" >
        <img src="{{ file_url(sign.icon) }}" alt="{{ sign.name }}" height="20" width="20" /> 
        <span>{{sign.name}}</span> 
      </a>
    </li>
  {% endfor %}
</ul>
