<!-- VK Widget -->
<div id="vk_widget"></div>
<script type="text/javascript">
    VK.Widgets.Group("vk_widget", {redesign: 1, mode: {{ layout }}, width: "{{ width }}", height: "{{ height }}", color1: '{{ bg_color }}', color2: '{{ text_color }}', color3: '{{button_color}}'}, {{ group_id }});
</script>