<section {{ attributes }}>
  <div {{ settings.container }}>
    {{ title }}
    <div class="layout-grid grid-one-two-right">
      <div {{ region_attributes.left.addClass('item') }}>
        {{ content.left }}
      </div>
      <div {{ region_attributes.right.addClass('item') }}>
        {{ content.right }}
      </div>
    </div>
    {{ link }}
  </div>
</section>
