<div class="campaignmonitor-list-stats">
  <h1> {{ list.name }} </h1>

  <table>
    <thead>
      <td class="active"> {{ 'Subscribers'|t }} </td>
      <td class="active"></td>
    </thead>
    <tbody>
      <tr class="odd">
        <td> {{ 'Total'|t }} </td>
        <td> {{ stats.TotalActiveSubscribers }} </td>
      </tr>
      <tr class="even">
        <td> {{ 'New today'|t }} </td>
        <td> {{ stats.NewActiveSubscribersToday }} </td>
      </tr>
      <tr class="odd">
        <td> {{ 'New yesterday'|t }} </td>
        <td> {{ stats.NewActiveSubscribersYesterday }} <?php print $stats['']; ?></td>
      </tr>
      <tr class="even">
        <td> {{ 'New this week'|t }} </td>
        <td> {{ stats.NewActiveSubscribersThisWeek }} <?php print $stats['']; ?></td>
      </tr>
      <tr class="odd">
        <td> {{ 'New this month'|t }} </td>
        <td> {{ stats.NewActiveSubscribersThisMonth }} <?php print $stats['']; ?></td>
      </tr>
      <tr class="even">
        <td> {{ 'New this year'|t }} </td>
        <td> {{ stats.NewActiveSubscribersThisYear }} </td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <td class="active"> {{ 'Unsubscribers'|t }} </td>
      <td class="active"></td>
    </thead>
    <tbody>
      <tr class="odd">
        <td> {{ 'Total'|t }} </td>
        <td> {{ stats.TotalUnsubscribes }} </td>
      </tr>
      <tr class="even">
        <td> {{ 'Today'|t }} </td>
        <td> {{ stats.UnsubscribesToday }} </td>
      </tr>
      <tr class="odd">
        <td> {{ 'Yesterday'|t }} </td>
        <td> {{ stats.UnsubscribesYesterday }} </td>
      </tr>
      <tr class="even">
        <td> {{ 'This week'|t }} </td>
        <td> {{ stats.UnsubscribesThisWeek }} </td>
      </tr>
      <tr class="odd">
        <td> {{ 'This month'|t }} </td>
        <td> {{ stats.UnsubscribesThisMonth }} </td>
      </tr>
      <tr class="even">
        <td> {{ 'This year'|t }} </td>
        <td> {{ stats.UnsubscribesThisYear }} </td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <td class="active"> {{ 'Deleted'|t }} </td>
      <td class="active"></td>
    </thead>
    <tbody>
      <tr class="odd">
        <td> {{ 'Total'|t }} </td>
        <td> {{ stats.TotalDeleted }} </td>
      </tr>
      <tr class="even">
        <td> {{ 'Today'|t }} </td>
        <td> {{ stats.DeletedToday }} </td>
      </tr>
      <tr class="odd">
        <td> {{ 'Yesterday'|t }} </td>
        <td> {{ stats.DeletedYesterday }} </td>
      </tr>
      <tr class="even">
        <td> {{ 'This week'|t }} </td>
        <td> {{ stats.DeletedThisWeek }} </td>
      </tr>
      <tr class="odd">
        <td> {{ 'This month'|t }} </td>
        <td> {{ stats.DeletedThisMonth }} </td>
      </tr>
      <tr class="even">
        <td> {{ 'This year'|t }} </td>
        <td> {{ stats.DeletedThisYear }} </td>
      </tr>
    </tbody>
  </table>

    <table>
    <thead>
      <td class="active"> {{ 'Bounces'|t }} </td>
      <td class="active"></td>
    </thead>
    <tbody>
      <tr class="odd">
        <td> {{ 'Total'|t }} </td>
        <td> {{ stats.TotalBounces }} </td>
      </tr>
      <tr class="even">
        <td> {{ 'Today'|t }} </td>
        <td> {{ stats.BouncesToday }} </td>
      </tr>
      <tr class="odd">
        <td> {{ 'Yesterday'|t }} </td>
        <td> {{ stats.BouncesYesterday }} </td>
      </tr>
      <tr class="even">
        <td> {{ 'This week'|t }} </td>
        <td> {{ stats.BouncesThisWeek }} </td>
      </tr>
      <tr class="odd">
        <td> {{ 'This month'|t }} </td>
        <td> {{ stats.BouncesThisMonth }} </td>
      </tr>
      <tr class="even">
        <td> {{ 'This year'|t }} </td>
        <td> {{ stats.BouncesThisYear }} </td>
      </tr>
    </tbody>
  </table>
</div>
