{#
/**
 * @file
 *   sa11y-tip.html.twig
 *
 * Available variables:
 * - reportId: The current report for the violations.
 * - violation: The violation object for this tooltip.
 * - icon: The url to the svg to display
 */
#}
<div class="violation-content {{ violation.impact }}">
  <div class="violation-message">
    <svg class="exclaim" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
      <title>exclaimation</title>
      <use xlink:href="{{ icon }}" />
    </svg>
    {% if violation.message is empty %}
      {{ 'No information available.'|t }}
    {% else %}
      {% set text = violation.message|striptags|trim %}
      {{ (text|length > 220 ? text|slice(0, 221)|split(' ')|slice(0, -1)|join(' ') ~ '…' : text)|raw }}
    {% endif %}
  </div>
  <div class="violation-report">
    <a href="{{ path('sa11y.report', {'report_id': reportId}) }}" target="_blank">{{ 'View Report'|t }}</a>
  </div>
</div>
