<div id="{{ id }}" class="brid"></div>
<script>window.bridPlayStack = window.bridPlayStack || []; bridPlayStack.push({"div": "{{ id }}", "obj": {"id":"{{ embedding.PlayerId }}","width":"{{ embedding.Settings.width }}","height":"{{ embedding.Settings.height }}","video":"{{ embedding.VideoId }}"}});</script>
{% if embedding.isDescriptionOutputEnabled %}
<div id="{{ id }}-desc" class="brid-desc brid-{{ embedding.VideoId }}-desc">
  {{ embedding.DescriptionOutput|raw }}
</div>
{% endif %}