<amp-brid-player autoplay data-partner="{{ settings.partner_id }}" data-player="{{ embedding.PlayerId }}" data-video="{{ embedding.VideoId }}" layout="responsive" width="{{ embedding.Settings.width }}" height="{{ embedding.Settings.height }}"> </amp-brid-player>
{% if embedding.isDescriptionOutputEnabled %}
<div class="brid-desc brid-{{ embedding.VideoId }}-desc">
  {{ embedding.DescriptionOutput|raw }}
</div>
{% endif %}