<div class="vud-widget vud-widget-{{ widget_name }}" id="{{ widget_instance_id }}">

  <div class="up-score clear-block">
    {% if show_links == true %}
      {% if show_up_as_link == true %}
        <a href="{{ link_up }}" rel="nofollow" class="{{ link_class_up }} use-ajax" title="{% trans %} Vote up! {% endtrans %}">
      {% endif %}
      <div class="vote-thumb {{ class_up }}" title="{% trans %} Vote up! {% endtrans %}"></div>
      <div class="element-invisible">{% trans %} Vote up! {% endtrans %}</div>
      {% if show_up_as_link == true %}
        </a>
      {% endif %}
    {% endif %}
  </div>

  <div class="down-score clear-block">
    {% if show_links == true %}
      {% if show_down_as_link == true %}
        <a href="{{ link_down }}" rel="nofollow" class="{{ link_class_down }} use-ajax" title="{% trans %} Vote down! {% endtrans %}">
      {% endif %}
      <div class="vote-thumb {{ class_down }}" title="{% trans %} Vote down! {% endtrans %}"></div>
      <div class="element-invisible">{% trans %} Vote down! {% endtrans %}</div>
      {% if show_down_as_link == true %}
        </a>
      {% endif %}
    {% endif %}
  </div>

  {% if show_reset == true %}
    <a href="{{ link_reset }}" rel="nofollow" class="{{ link_class_reset }} use-ajax" title="{{ reset_long_text }}">
      <div class="{{ class_reset }}">
        {{ reset_short_text }}
      </div>
    </a>
  {% endif %}
  <p class="vote-current-score">{% trans %}Points{% endtrans %}: <strong>{{ points }}</strong></p>

  {% if class_up == 'up inactive' %}
    <p class="voted-how">{% trans %}You voted &lsquo;up&rsquo;{% endtrans %}</p>
  {% elseif class_down == 'down inactive' %}
    <p class="voted-how">{% trans %}You voted &lsquo;down&rsquo;{% endtrans %}</p>
  {% endif %}

</div>
