{#
/**
 * @file
 * Template for multiple categories.
 */
#}
<div class="tabs clearfix">
  <ul id="be-sure-tabs" class="tabs primary primary-tabs">
    <li class="active">{{ first_title }}</li>
    {% for title in titles %}
      <li>{{ title }}</li>
    {% endfor %}
  </ul>
</div>
<div class="clearfix"></div>

<div id="be-sure">
  <div id="{{ first_element_id }}" class="element">{{ first_element }}</div>
  {% for id, element in elements %}
    <div id="{{ id }}" class="element" style="display: none">{{ element }}</div>
  {% endfor %}
</div>
