{#
#}

<article>

  <div>
    <footer>
      {{ author_picture }}
      <div class="created__by">
        {% trans %}Created by {{ author }} on {{ date }}{% endtrans %}
      </div>
    </footer>
    <div class="thread__participants">
      {{ thread_participants }}
    </div>
    {% if thread_links %}
      <div class="thread__links">
        {{ thread_links }}
      </div>
    {% endif %}
    {{ message_form }}
    {% if content %}
      <h2 style="margin-bottom: 20px;">{{ 'Messages'|t }}</h2>
      {{ content }}
    {% endif %}
  </div>

</article>