{#
#}

<a id="message-{{ message_id }}"></a>

<article style="margin-bottom: 10px;">

  <div>
    <footer>
      {{ author_picture }}
      <div style="border-bottom: 1px solid #BBBBBB;">
        <span style='font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 0.857em; color: #68696b; margin-bottom: -5px; margin-left: 10px;'>
          {{ message_author }} {% trans %}on {{ datetime }}{% endtrans %}
        </span>
      </div>
    </footer>
    <div class="message__body">
      {{ message_body }}
      {% if status_new or message_status or message_links %}
        <div style="text-align: right; margin-right: 10px; padding-right: 0.5em; border-right: 1px solid #BBBBBB;">
          {% if status_new %}
            <span style="color: red;">
              {{ status_new }}
            </span>
          {% endif %}
          {% if message_status %}
            <span style='font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; color: #68696b; margin-bottom: -5px; font-size: 0.821em;'>
              {{ message_status }}
            </span>
          {% endif %}
          {% if message_links %}
            <span>
              {{ message_links }}
            </span>
          {% endif %}
        </div>
      {% endif %}
    </div>
    {{ content }}
  </div>

</article>
