<section {{ attributes }}>
  <div {{ settings.container }}>
    {{ title }}
    <div class="layout-grid grid-two">
      <div {{ region_attributes.left }}>
        {{ content.left }}
      </div>
      <div {{ region_attributes.right }}>
        {{ content.right }}
      </div>
    </div>
    {{ link }}
  </div>
</section>
