{#
/**
 * @file
 * Default theme implementation to list node types available for adding content.
 *
 * This list is displayed on the Add content admin page.
 *
 * Available variables:
 * - types: A list of content types, each with the following properties:
 *   - add_link: Link to create a piece of content of this type.
 *   - description: Description of this type of content.
 *
 * @see template_preprocess_node_add_list()
 *
 * @ingroup themeable
 */
#}
{% if types is not empty %}
  <dl>
    {% for type in types %}
      <dt>{{ type.add_link }}</dt>
      <dd>{{ type.description }}</dd>
    {% endfor %}
  </dl>
{% else %}
  <p>
    {% set create_content = path('node.type_add') %}
    {% trans %}
      The configuration shows that there is no (more) content configured to be added in this part of the section.
    <p>

  </p>

    {% endtrans %}
  </p>
{% endif %}

{% if parent is not empty %}
  <p><b>Parent</b></p>
  Move up a level to the parent for more content options:
  <b>{{ parent.view_link }}</b>
  <dl>
    <dt>{{ parent.add_link }}</dt>
    <dt>{{ parent.admin_link }}</dt>
  </dl>
{% endif %}

