<h3><a href="{{ path('entity.node.canonical', {'node': content.context.nid}) }}">{{ content.context.title }}</a></h3>

<table width="100%">
    <thead>
        <p>
            {% if content.root.nid != content.context.nid  %}
                <b>Section home page: <a href="{{ path('entity.node.canonical', {'node': content.root.nid}) }}">{{ content.root.title }}</a></b>
                <a href="{{ path('entity.node.canonical', {'node': content.root.nid}) }}/{{ content.settings.url_admin }}">&#x270e;</a>
                <br/>
            {% endif %}
            {% if content.section_parent is not empty %}
                <b>Sub-section parent: <a href="{{ path('entity.node.canonical', {'node': content.section_parent.nid}) }}">{{ content.section_parent.title }}</a></b>
                <a href="{{ path('entity.node.canonical', {'node': content.section_parent.nid}) }}/{{ content.settings.url_admin }}">&#x270e;</a>
                <br/>
            {% endif %}
            {% if content.parent is not empty %}
                <b>Parent: <a href="{{ path('entity.node.canonical', {'node': content.parent.nid}) }}">{{ content.parent.title }}</a></b>
                <a href="{{ path('entity.node.canonical', {'node': content.parent.nid}) }}/{{ content.settings.url_admin }}">&#x270e;</a>
                <br/>
            {% endif %}
        </p>
    </thead>
    <tr>
        <td width="50%" style="vertical-align: top">
            <table width="100%">
                <tr>
                    <td>
                        {% if content.menu_links is not empty %}
                            <b>Menu ancestry</b>
                            <ul>
                                {% set var_indent_string = '' %}
                                {% for key, menu_link in content.menu_links %}
                                    <li>
                                        {{  var_indent_string }}
                                        <a href="{{ path('entity.node.canonical', {'node': menu_link.nid}) }}">{{ menu_link.title }}</a>
                                        <a href="/node/{{ menu_link.nid }}/{{ content.settings.url_admin }}">&#x270e;</a>
                                    </li>
                                    {% set var_indent_string = var_indent_string ~ '--' %}
                                {% endfor %}
                            </ul>
                            <br/>
                        {% endif %}

                        <b>Menu | descendants</b>

                        {% if content.children is not empty %}
                            <ul>
                                {% for key, child in content.children %}
                                    {% set var_indent_string = '' %}
                                    {% set depth = child.depth %}
                                    {% for depth in range(0, depth) %}
                                        {% set var_indent_string = var_indent_string ~ '--' %}
                                    {% endfor %}

                                    <li>
                                        {{  var_indent_string }}
                                        <a href="{{ path('entity.node.canonical', {'node': child.nid}) }}">{{ child.title }}</a>
                                        <a href="/node/{{ child.nid }}/{{ content.settings.url_admin }}">&#x270e;</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>-</p>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </td>

        <td width="50%" style="vertical-align: top">
            <table width="100%">
                <tr>
                    <td>
                        {% if content.section_landings is not empty %}
                            <b>Sub-sections ancestry</b>
                            <ul>
                                {% set var_indent_string = '' %}
                                {% for key, section_landing in content.section_landings %}
                                    <li>
                                        {{  var_indent_string }}
                                        <a href="{{ path('entity.node.canonical', {'node': section_landing.nid}) }}">{{ section_landing.title }}</a>
                                        <a href="/node/{{ section_landing.nid }}/{{ content.settings.url_admin }}">&#x270e;</a>
                                    </li>
                                    {% set var_indent_string = var_indent_string ~ '--' %}
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <b>Tagged content</b>

                        {% if content.listings is not empty %}
                            <ul>
                                {% for key, listing in content.listings %}
                                    <li>
                                        <a href="{{ path('entity.node.canonical', {'node': listing.nid}) }}">{{ listing.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>-</p>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

