{#
/**
* @file
* Template for the cards style.
*/
#}
<!-- For fullscreen slider -->

  <div id="{{ slider_id }}">
    <div class="slides-container">
      
      {% for item in data %}
      
      <div class="superslide-slide">
      
      {% if item.image %}
      
      <div class="superslide-image animated {{item.image.options.show_animation}}" style="animation-duration: {{item.image.options.duration}}s; animation-delay: {{item.image.options.delay}}s;" id="superslide-image-{{loop.index}}">
        {{item.image.value}}
      </div>
      
      {% endif %}
      
        <div class="superslide-caption">
      
      {% if item.string %}
      
        <div class="superslide-caption-title animated {{item.string.options.show_animation}}" style="animation-duration: {{item.string.options.duration}}s; animation-delay: {{item.string.options.delay}}s;" id="superslide-title-{{loop.index}}">
            {{item.string.value}}
        </div>
        
      {% endif %}

      {% if item.text_with_summary %}
        
        <div class="superslide-caption-body animated {{item.text_with_summary.options.show_animation}}" style="animation-duration: {{item.text_with_summary.options.duration}}s; animation-delay: {{item.text_with_summary.options.delay}}s;" id="superslide-body-{{loop.index}}">
            {{item.text_with_summary.value}}
        </div>
      
      {% endif %}
        
       {% if item.link %} 
        
        <div class="superslide-caption-link animated {{item.link.options.show_animation}}" style="animation-duration: {{item.link.options.duration}}s; animation-delay: {{item.link.options.delay}}s;" id="superslide-link-{{loop.index}}">
        {{item.link.value}}
        </div>
        
       {% endif %}   
        
        </div>
       
       
        
        </div>
        
        {% endfor %}
        
      
  
    </div>

    <nav class="slides-navigation">
      <a href="#" class="next">Next</a>
      <a href="#" class="prev">Previous</a>
    </nav>
  </div>
  