<div id="atm-admin-config-page">

  {{ content_type_select }}

  <div class="clearfix"></div>

  {{ general_configuration }}

  <div class="clearfix"></div>

  <div class="layout-column layout-column--half">
    {{ content_configuration }}
  </div>

  <div class="layout-column layout-column--half">
    <div class="mockup">
      <img class="logo-img" src="/{{ module_dir }}/images/logo.svg"/>

      <div class="mockup-head">
        <div class="flex-container">
          <div class="flex-item-6">
            <h1>Article Title</h1>
          </div>
          <div class="flex-item-6 flex-center">
            <div class="icons-cont align-right">
              <i>5&cent;</i>
              <i class="mdi mdi-facebook"></i>
              <i class="mdi mdi-twitter"></i>
            </div>
          </div>
        </div>
        <div class="flex-container">
          <div class="flex-item-6">
            By John Smith, <i>author</i>
          </div>
          <div class="flex-item-6 align-right">September 22nd, 2016</div>
        </div>
      </div>

      <div class="mockup-cont">
        <img src="/{{ module_dir }}/images/collaborative-team.jpg"/>

        <p>It is a long established fact that a reader will be distracted by
          the readable content of a page when looking at its layout.
        </p>

        <p>It is a long established fact that a reader will be distracted by
          the readable content of a page when looking at its layout.
          The point of using Lorem Ipsum is that it has a more-or-less normal
          distribution of letters, as opposed to using 'Content here, content
          here',
          making it look like readable English.
        </p>

        <div class="blurry">
          <p>It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here',
            making it look like readable English.
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout.
            The point of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here',
            making it look like readable English.
          </p>
          <button type="button" class="btn">
            <i class="mdi mdi-lock-open-outline"></i>
            unlock content
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix">
    <br>
    <hr>
    <br>
  </div>

  {{ templates_management }}

</div>
