{#

/**
 * @file
 * Default theme implementation to display a Commandbar autocomplete user item.
 *
 * Available variables:
 * - uid: The UID of the account
 * - name: The username of the account
 * - mail: The email address of the account
 * - url: The URL to the user page
 *
 * @ingroup themeable
 */
#}
<div data-url="{{ url }}" class="jump commandbar-item"><div>#{{ uid }}: {{ name }}</div><div class="subtext"><a href="mailto:{{ mail }}">{{ mail }}</a></div></div>