{#
/**
 * @file
 * Displays symbol button.
 *
 * Available variables:
 * - iconlibrary: string of which icon library.
 * - buttonname: HTML class name for the button (e.g. "facebook").
 * - titletext: Text for the HTML title attribute.
 * - awesomename: Font Awesome Icon name.
 * - foundationname: Foundation Icon Set name.
 * - actiontext: Descriptive "action" text for button (e.g. "tweet").
 * - url: Link.
 *
 * @ingroup themeable
 */
#}
<li class="simplesharer-{{ buttonname }}-button-item"><a href="{{ url }}"><span class="simplesharer-{{ buttonname }}-button" title="{{ titletext }}" target="_blank">
{% if iconlibrary == 'fontawesome' %}
  <i class="fa {{ awesomename }}" title="{{ titletext }}"></i>
{% elseif iconlibrary == 'foundation' %}
  <i class="{{ foundationname }}" title="{{ titletext }}"></i>
{% endif %}
{{ actiontext }}</span></a>
