{#
/**
 * @file
 * Displays Social SimpleSharer.
 *
 * Available variables:
 * - simplesharer_facebook_button: HTML for "facebook" button.
 * - simplesharer_twitter_button: HTML for "twitter" button.
 * - simplesharer_pinterest_button: HTML for "pinterest" button.
 * - simplesharer_linkedin_button: HTML for "linkedin" button.
 * - simplesharer_tumblr_button: HTML for "tumblr" button.
 * - simplesharer_reddit_button: HTML for "reddit" button.
 * - simplesharer_email_button: HTML for "email" button.
 * - simplesharer_style: style name to set class.
 *
 * @ingroup themeable
 */
#}
<div class="simplesharer {{ simplesharer_style }}">
  <ul class="simplesharer-buttonlist">
    {{ simplesharer_facebook_button }}
    {{ simplesharer_twitter_button }}
    {{ simplesharer_pinterest_button }}
    {{ simplesharer_linkedin_button }}
    {{ simplesharer_tumblr_button }}
    {{ simplesharer_reddit_button }}
    {{ simplesharer_email_button }}
  </ul>
</div>
