{% if wrap %}<span{{ wrap_attributes }}>{% endif %}
{{- reverse ? content|raw -}}
  <svg{{ attributes }}>
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ icons_path ~ '#' ~ icon_class }}"></use>
  </svg>
{{- not reverse ? content|raw -}}
{% if wrap %}</span>{% endif %}
