{% if data and data|length > 1 %}
  {{ attach_library('paragraphs_wizard/default') }}
{% endif %}
<div class="paragraphs-wizard-wrapper">
    {% if data %}
        {% if data|length > 1 %}
            <ul class="pararagraphs-wizard-header progress-indicator">
                {% for key,item in data %}
                    {% if loop.first %}
                        <li class="completed" data-id="{{ key }}">
                            <span class="bubble"></span>
                        </li>
                    {% else %}
                        <li data-id="{{ key }}">
                            <span class="bubble"></span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
        {% for key,item in data %}
            {% if loop.first %}
              <div class="paragraphs-wizard-element paragraphswizard-firstel" data-id="{{ key }}">{{ item }}</div>
            {% else %}
                {% if loop.last %}
                  <div style="display: none;" class="paragraphs-wizard-element paragraphswizard-lastel" data-id="{{ key }}">{{ item }}</div>
                 {% else %}
                  <div style="display: none;" class="paragraphs-wizard-element" data-id="{{ key }}">{{ item }}</div>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% if data|length > 1 %}
            <div class="pararagraphs-wizard-footer">
                <div style="display: none;" class="previous"><span>{{ "Back" | t }}</span></div>
                <div class="next"><span>{{ "Next" | t }}</span></div>
            </div>
        {% endif %}
    {% endif %}
</div>