{% if session is not empty %}
    <div class="feature-block">
    {% for key, feature in session %}
        <h3 class="header">
            {% if key == 'updates' %}
                Updates
            {% elseif key == 'inventory' %}
                Inventory
            {% elseif key == 'events' %}
                Events
            {% elseif key == 'logs' %}
                Logs
            {% endif %}
        </h3>
        <hr>
        <div class="connection-info">
            {% for feature_key, feature_detail in feature.data %}
                <div>
                    <span>
                        Sending type:
                        <span class="header">
                             {% if feature_detail.type == 'curl' %}
                                 cURL
                             {% elseif feature_detail.type == 'multicurl' %}
                                 Multi cURL
                             {% elseif feature_detail.type == 'sockets' %}
                                 Sockets
                             {% elseif feature_detail.type == 'threads' %}
                                 Threads
                             {% endif %}
                        </span>
                    </span>
                </div>
                <div>
                    {% if feature_detail.type == 'curl' or  feature_detail.type == 'multicurl' %}
                        {% if feature.request_info %}
                            <table class="debug-table" cellpadding="0" cellspacing="0">
                                <tbody>
                                {#feature.request_info[feature_key]#}
                                {% set i = 0 %}
                                {% for key_request, request_value in feature.request_info %}
                                    {% if curl_filter(key_request) %}
                                        <tr class="{% if i is odd %} odd {% else %} even {% endif %}">
                                            <th scope="row">{{ curl_info(key_request) }}</th>
                                            <td>
                                                {% if request_value is iterable %}
                                                   {{ request_value|join('<br/>') }}
                                                {% else %}
                                                    {{ request_value }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% set i = i + 1 %}
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="response">
                                <strong>Response:</strong>
                                {{ feature.request_info.response }}
                            </div>
                        {% else %}
                            <table class="debug-table" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td>Connect information not found... :(</td>
                                </tr>
                                </tbody>
                            </table>
                        {% endif %}
                    {% endif %}
                    {% if feature_detail.type == 'sockets' and feature.request_info %}
                        {#{% for key_request, request_value in feature.request_info %}#}
                            <table class="debug-table" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr class="odd">
                                    <th scope="row">
                                        Result#{{ loop.index }}:
                                    </th>
                                    <td>
                                        {% if  feature.request_info[feature_key].error == true %}
                                            <strong class="pre-code-red">Error</strong>
                                        {% else %}
                                            <strong class="pre-code-green">Success</strong>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr class="even">
                                    <th scope="row">
                                        Details:
                                    </th>
                                    <td>{{  feature.request_info[feature_key].data }}</td>
                                </tr>
                                <tr class="odd">
                                    <th scope="row">
                                        Meta:
                                    </th>
                                    <td>
                                        <div>
                                            {% for meta_key, meta_item in  feature.request_info[feature_key].meta %}
                                                * {{ meta_key }} - {{ meta_item }} <br/>
                                            {% endfor %}
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        {#{% endfor %}#}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
    {% for key, feature in session %}
        <div class="feature-block">
            <h3 class="header">
                {% if key == 'updates' %}
                    Updates
                {% elseif key == 'inventory' %}
                    Inventory
                {% elseif key == 'events' %}
                    Events
                {% elseif key == 'logs' %}
                    Logs
                {% endif %}
            </h3>
            {% for feature_dump_key, feature_dump_data in feature.data %}
                    <div class="dump-of-data">
                        {% if feature_dump_data.data %}
                            {{ dump(feature_dump_data.data) }}
                        {% else %}
                            <strong>Data not found... :(</strong>
                        {% endif %}
                    </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}