{#
/**
 * @file
 * Default theme implementation to display something.
 *
 * @ingroup themeable
 */
#}
<div class="tov-dashboard" id="tov-dashboard">
  <header class="tov-header">
    <div class="tov-title" id="tov-title"></div>
    <div class="tov-created" id="tov-created"></div>
  </header>
  <div class="tov-toolbar">
    <button class="tov-first tov-button" id="tov-first" title="{{ 'Go to first test result [Ctrl + Left]'|t }}" disabled>{{ 'First'|t }}</button>
    <button class="tov-previous tov-button" id="tov-previous" title="{{ 'Go to previous test result [Left]'|t }}" disabled>{{ 'Previous'|t }}</button>
    <div class="tov-current" id="tov-current">0/0</div>
    <button class="tov-next tov-button" id="tov-next" title="{{ 'Go to next test result [Right]'|t }}" disabled>{{ 'Next'|t }}</button>
    <button class="tov-last tov-button" id="tov-last" title="{{ 'Go to last test result [Ctrl + Right]'|t }}" disabled>{{ 'Last'|t }}</button>
    <div class="tov-delimiter"></div>
    <button class="tov-file tov-button" id="tov-file" role="link" disabled>{{ 'Open the test result in a new tab'|t }}</button>
    <button class="tov-reload tov-button" id="tov-reload">{{ 'Reload'|t }}</button>
    <button class="tov-enlarge tov-button" id="tov-enlarge" title="{{ 'Enlarge [F11]'|t }}">{{ 'Enlarge'|t }}</button>
    <button class="tov-shrink tov-button" id="tov-shrink" title="{{ 'Shrink [F11]'|t }}">{{ 'Shrink'|t }}</button>
    <div class="tov-delimiter"></div>
    <div class="tov-description" id="tov-description"></div>
  </div>
  <!-- ------------------------ TEST OUTPUT START ------------------------ -->
  <iframe id="tov-iframe" class="tov-iframe" src="about:blank"></iframe>
  <!-- ------------------------- TEST OUTPUT END ------------------------- -->
</div>
