{#
/**
 * @file
 * Login shadowbox theme implementation.
 *
 * Available variables:
 * - title: Page title;
 * - content: Page content;
 * - css: Page stylesheets;
 * - js: Page JavaScripts.
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <title>{{ title }}</title>
    {{ css }}
    {{ js }}
  </head>
  <body class="shadowbox_login">
    {{ content }}
  </body>
</html>