<ul class="nav nav-tabs">
    {% if match_status == 'played' %}
        <li role="presentation" class="active"><a data-toggle="tab" href="#post"> {{ 'Match info'|trans }}</a></li>
        {#
        <li role="presentation"><a data-toggle="tab" href="#mvp">{{ 'MVP'|trans }}</a></li>
        #}
        <li role="presentation"><a data-toggle="tab" href="#pre">{{ 'Pre-Match info'|trans }}</a></li>
    {% else %}
        <li role="presentation" class="active"><a data-toggle="tab" href="#pre">{{ 'Pre-Match info'|trans }}</a></li>
    {% endif %}
</ul>

<div class="tab-content sl_match_rosters_block {{ extra_classes_rosters }}">
    {% if match_status == 'played' %}
        <div id="post" class="tab-pane fade in active">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6 bs-region bs-region--top-left home">
                    <h2 class="block-title"> {{ 'Initial Rosters'|trans }}</h2>
                    {{ home_ini }}
                    <h2 class="block-title"> {{ 'Bench'|trans }}</h2>
                    {{ home_subs }}
                    <h2 class="block-title"> {{ 'Coach'|trans }}</h2>
                    {{ home_coach }}
                    <h2 class="block-title"> {{ 'Moments'|trans }}</h2>
                    {{ home_moments }}
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 bs-region bs-region--top-left away">
                    <h2 class="block-title"> {{ 'Initial Rosters'|trans }}</h2>
                    {{ away_ini }}
                    <h2 class="block-title"> {{ 'Bench'|trans }}</h2>
                    {{ away_subs }}
                    <h2 class="block-title"> {{ 'Coach'|trans }}</h2>
                    {{ away_coach }}
                    <h2 class="block-title"> {{ 'Moments'|trans }}</h2>
                    {{ away_moments }}
                </div>
            </div>
        </div>
        <div id="mvp" class="tab-pane fade">
            <p>{{ 'Coming soon'|trans }}</p>
        </div>
        {#
    <div id="pre" class="tab-pane">
        {{ prematch_info }}
    </div>
    #}
    {% else %}
        <div id="pre" class="tab-pane active">
            {{ prematch_info }}
        </div>
    {% endif %}
</div>