{% if bannerarr.display_setting == 'urltext' %}
     {% if bannerarr.url and bannerarr.text %}
       <div id="banner-left"> 
        <img src=" {{ bannerarr.url }} " class="jpg" alt="banner" width="100%" />
        </div><div id="banner-right"> 
        <p id="bannerTitle"> {{ bannerarr.text }}</p>
        </div>
     {% elseif bannerarr.display_errors %}
        banner problem
     {% endif %}
 {% elseif bannerarr.display_setting == 'url'  %}
   {%  if bannerarr.url  %}
      <div id='banner'>
      <img src='{{ bannerarr.url }}' class='jpg' alt='banner' width='100%' />
      </div>
    {% elseif  bannerarr.display_errors  %}
      banner problem
    {% endif %}
{% elseif bannerarr.display_setting == 'text'  %}
    {%  if bannerarr.text  %}
      <div id='banner'>
      <p>{{ bannerarr.text }}</p>
      </div>
    {% elseif bannerarr.display_errors  %}
      banner problem
    {% endif %}
{% elseif bannerarr.display_setting == 'urllink' %}
   {%  if bannerarr.url and bannerarr.link %}
      <div id='banner'>
      <a class='link' href='{{ bannerarr.link }} '><img class='jpg' alt='banner' src='{{ bannerarr.url }}' width='100%' /></a>
      </div>
    {% elseif bannerarr.display_errors %}
      banner problem
    {% endif %}
{% endif %}
