{#
/**
 * @file
 * Default theme template for flexfields.
 *
 * To override output, copy the "flexfield.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--field-my-field-name.html.twig
 *
 * Available variables:
 * - items: An array of flexfield items. Available keys are:
 *   - value: The flexfield item value.
 *   - label: The flexfield item label.
 *   - label_display: How to display the label.
 *   - attributes: Attributes for the flexfield item wrapper.
 * - attributes: HTML attributes for the containing element.
 * - field_name: The name of the field.
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'flexfield',
    'flexfield--' ~ field_name|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% for item in items %}
    <div{{ item.attributes.addClass('flexfield__item', 'flexfield__item--' ~ item.name) }}>
      {% if item.label_display == 'above' or item.label_display == 'visually_hidden' %}
        <div class="flexfield__label{{ (item.label_display == 'visually_hidden') ? ' visually-hidden' : '' }}">{{ item.label }}</div>
        <div class="flexfield__value">{{ item.value }}</div>
      {% elseif item.label_display == 'inline' %}
        <span class="flexfield__label flexfield__label--inline">{{ item.label }}</span>
        <span class="flexfield__value">{{ item.value }}</span>
      {% else %}
        <div class="flexfield__value">{{ item.value }}</div>
      {% endif %}
    </div>
  {% endfor %}
</div>
