{#
/**
 * @file
 * sms-rule-based-routing-rules.html.twig
 *
 * Rule-based routing rule formatting template.
 *
 * @todo: the |replace() filter function below is not working.
 */
#}
{{ attach_library('sms_rule_based/rule-display') }}
<ul class="sms-rule-based routing-rule-list">
  <li class="sms-rule-based routing-rule conjunction">
    {{ ruleset.get('_ALL_TRUE_') ? 'All rules must match'|t : 'Any rule may match'|t }}
  </li>
  {% for key,rule in ruleset.rules %}
  {% if rule.enabled %}
  <li class="sms-rule-based routing-rule">
    <span class="rule-label">{{ rule.label }}</span>
    <span class="rule-operator">{{ rule.negated ? rule.readableOperator|replace({'is': 'is not', 'matches': 'does not match'}) : rule.readableOperator }}</span>
    <span class="rule-operand">{{ rule.readableOperand }}</span>
  </li>
  {% endif %}
  {% endfor %}
</ul>
