<div class="index-tag-tabs">
  <ul class="index-tag-ul">
    {% for key in tags|keys %}
      <li class="index-tag-li"><a href="#tabs-{{ key }}">{{ key }}</a></li>
    {% endfor %}
  </ul>
  {% for key, terms in tags %}
    <div id="tabs-{{ key }}" class="index-tag-tab">
      {% for term in terms %}
        <li class="tag_clouds_term">
          <a href="{{ term.url }}">{{ term.name }}</a>
        </li>
      {% endfor %}
    </div>
  {% endfor %}
</div>
