<div id="maestro-legend">

<div class="legend-task legend-start"></div>
<div class="legend-information clearfix">
  <div class="legend-information-title">{{ 'Start Task' | t }}</div>
  <div class="legend-information-explanation">{{ 'Undeletable and created by Maestro. Newly spawned processes always begin with the Start task.' | t }}</div>
</div>

<div class="legend-task legend-end"></div>
<div class="legend-information clearfix">
  <div class="legend-information-title">{{ 'End Task' | t }}</div>
  <div class="legend-information-explanation">{{ 'Each worklow must have at least one End task. There can be multiple End tasks. Ends the process in the engine.' | t }}</div>
</div>

<div class="legend-task legend-interactive"></div>
<div class="legend-information clearfix">
  <div class="legend-information-title">{{ 'Interactive Task' | t }}</div>
  <div class="legend-information-explanation">{{ 'Tasks that are human executable. Requires human intervention to be completed to allow the workflow to continue.' | t }}</div>
</div>

<div class="legend-task legend-logical"></div>
<div class="legend-information clearfix">
  <div class="legend-information-title">{{ 'Logical Engine Task' | t }}</div>
  <div class="legend-information-explanation">{{ 'Tasks executed by the engine to OR, AND or set variables in the workflow.' | t }}</div>
</div>

<div class="legend-task legend-batch"></div>
<div class="legend-information clearfix">
  <div class="legend-information-title">{{ 'Batch Engine Task' | t }}</div>
  <div class="legend-information-explanation">{{ 'Task that lets the Maestro Engine execute custom code functions.' | t }}</div>
</div>


</div>