{#
/**
 * @file
 * Default theme implementation to display the validation results.
 *
 * This displays validation results of a single validation problem
 * or suggestion.
 *
 * Available Variables:
 *
 * Content Variables:
 * - quail_problem_line: The line number in which the problem was found.
 * - quail_problem_description: A description of the problem.
 *
 * Styling Variables:
 * - quail_base_class: A generated, generic, css class.
 * - quail_specific_class: A generated, somewhat unique, css class.
 * - quail_markup_format: The filter format to use for check_markup calls.
 */
#}
<div class="{{ quail_specific_class }}-wrapper {{ quail_base_class }}-wrapper">
  {% if quail_problem_line is not empty %}
  <div class="{{ quail_base_class }}-line"><span class="{{ quail_base_class }}-line-snippet">{{'Code Snippet'|t}},</span> <span class="{{ quail_base_class }}-line-number">{{'Line'|t}} {{ quail_problem_line|t}}:</span></div>
  {% else %}
  <div class="{{ quail_base_class }}-line">{{'Code Snippet:'|t}}</div>
  {% endif %}
  <div class="{{ quail_base_class }}-description">{{ quail_problem_description }}</div>
</div>
