{#
/**
 * @file
 *
 * Default theme implementation to display a listing of validation results.
 *
 * This displays validation results for a single display level.
 *
 * Available Variables:
 *
 * Content Variables:
 * - quail_severity_id: The error id of the display level whose results this
 *   represents.
 * - quail_severity_machine_name: The error id of the display level whose
 *   results this represents.
 * - quail_severity_human_name: The error id of the display level whose results
 *   this represents.
 * - quail_severity_description: The description of the display level whose
 *   results this represents.
 * - quail_severity_results: An array containing the results for this display
 *   test_problems.
 * - quail_renderred_tests: An array of the renderred test data results as
 *   passed to the quail_api_test theme.
 *
 * Styling Variables:
 * - quail_base_class: A generated, generic, css class.
 * - quail_specific_class: A generated, somewhat unique, css class.
 * - quail_markup_format: The filter format to use for check_markup calls.
 * - quail_title_block: The type of block in which the title is.
 * - quail_display_title: Define whether or not to display the title block.
 * - quail_display_description: Define whether or not to display the title
 *   block.
 */
#}
{% if quail_severity_results.total > 0 %}
<div class="{{ quail_specific_class }}-wrapper {{ quail_base_class }}-wrapper">
  {% if quail_display_title %}
    <{{ quail_title_block }} class="{{ quail_base_class }}-title">{{ quail_severity_human_name }}</{{ quail_title_block }}>
  {% endif %}
  {% if quail_display_description %}
    <div class="{{ quail_base_class }}-description description">{{ quail_severity_description }}</div>
  {% endif %}
  <div class="{{ quail_base_class }}-reports">{{ quail_renderred_tests }}</div>
</div>
{% endif %}
