{#
/**
 * @file
 * Default theme implementation to display the validation results.
 *
 * This displays the validation results of a single validation test.
 *
 * Available Variables:
 *
 * Content Variables:
 * - quail_test_title: The human friendly title of the test.
 * - quail_test_description: A description of the test.
 * - quail_test_problems: An array of problems found that are associated with
 *   the test.
 * - quail_test_note: Additional notes associated with the test.
 * - quail_renderred_problems: An array of the renderred test data results as
 *   passed to the quail_api_problem theme.
 *
 * Styling Variables:
 * - quail_base_class: A generated, generic, css class.
 * - quail_specific_class: A generated, somewhat unique, css class.
 * - quail_markup_format: The filter format to use for check_markup calls.
 */
#}
<div class="{{ quail_specific_class }}-wrapper {{ quail_base_class }}-wrapper">
  <details id="{{ quail_specific_class }}" class="{{ quail_base_class }}">
    <summary class="details-summary"><span class="details-summary-span">{{ quail_test_title }}</span></summary>
    <div class="details-wrapper">
      <div class="{{ quail_base_class }}-description">{{ quail_test_description }}</div>
      <div class="{{ quail_base_class }}-problems">{{ quail_renderred_problems }}</div>
      {% if quail_test_note is not empty %}
      <div class="{{ quail_base_class }}-note">
        <div class="{{ quail_base_class }}-note-title">{{'Additional Notes:'|t}}</div>
        <div class="{{ quail_base_class }}-note-text">{{ quail_test_note|t }}</div>
      </div>
      {% endif %}
    </div>
  </details>
</div>
