{{ attach_library('paypal_marketing_solutions/paypal_marketing_solutions_twig') }}

<div class="paypal_promotions_container">
    <div class="paypal_promotions_container__box">
        <div class="paypal_promotions_container__header-banner"></div>
        <div class="paypal_promotions_container__header-text">
            <h2>
                Help increase sales through the power of PayPal shopping data with targeted promotions
            </h2>
        </div>
        <div class="paypal_promotions_container__content">
        <span>
            PayPal Marketing Solutions - a suite of marketing solutions to help businesses increase sales through greater visibility into the marketing funnel and actionable promotional messages at every step in the customer journey.        </span>
        </div>
        <div class="paypal_promotions_container__action-btn">
            <div align="center" id="muse-activate-managesettings-button"></div>
        </div>
        </div>
        <div class="paypal_promotions_container__row">
            <div class="row__item">
                <div class="item__image item__image-first"></div>
                <div class="item__text">
                    Merchants like you have increased their average order value (AOV) by <b>up to 68%*</b>
                </div>
            </div>
            <div class="row__item">
                <div class="item__image item__image-second"></div>
                <div class="item__text">
                    Join <b>20,000 merchants</b> who are promoting financing options on their site to boost sales
                </div>
            </div>
            <div class="row__item">
                <div class="item__image item__image-third"></div>
                <div class="item__text">
                    <b>Get insights</b> about your visitors and how they shop on your site
                </div>
            </div>
        </div>
        <div class="box__footer">
            * As reported in Nielsen’s PayPal Credit Average Order Value Study for activity occurring from April 2015 to March 2016 (small merchants) and October 2015 to March 2016 (midsize merchants), which compared PayPal Credit transactions to credit and debit card transactions on websites that offer PayPal Credit as a payment option or within the PayPal Wallet. Nielsen measured 284890 transactions across 27 mid and small merchants. Copyright Nielsen 2016.        </div>
    </div>
<div class="Rectangle-2-Copy panel-group" id="accordion">
    <div class="Light-Gray-Bg No-Bottom-Border">
        <div class="Rectangle-2-Copy-2" id="One" onclick="HideShow(this.id)">
            <img class="Expand-Icon rotate" id='imgOne' src="{{ img_path }}">
            <p class="Question">How do I enable PayPal Marketing Solutions?</p>
        </div>
        <div id="collapseOne" class="No-Bottom-Border" style="display: none;">
            <div class="No-Bottom-Border Panel-Body-Div panel-body">
                <div class="vx_text-body Panel-Body">
                    <ol>
                        <li>Click on "Activate" <br></li>
                        <li>Login to PayPal with your PayPal Business Account. This account will get valuable insights from data gathered about PayPal shoppers browsing your site.<br></li>
                        <li>Enter your Website URL and click on Agree and Continue. On the next screen, click Done.<br>
                        </li>
                        <li>PayPal Marketing Solutions is now enabled on your storefront.<br></li>
                    </ol>
                    Note:<br>
                    <ul>
                        <li> Your customers will see a one-line message at the bottom of the screen reminding them they can have more time to pay with PayPal Credit<br></li>
                        <li> The message can be dismissed in one click, and only shows up to 3 times per user session.<br></li>
                        <li> If the message has been dismissed and has to be viewed again, clear the browser's cache and cookies and reload the page.<br></li>
                        <li> Once you’ve connected your PayPal Business account, you will not be able to change the account. You will have to uninstall and reinstall the app to connect a new PayPal account.<br></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="Light-Gray-Bg No-Bottom-Border">
        <div class="Rectangle-2-Copy-2" id="Two" onclick="HideShow(this.id)">
            <img class="Expand-Icon rotate" id='imgTwo' src="{{ img_path }}">
            <p class="Question">How do I disable PayPal Marketing Solutions and update my settings?</p>
        </div>
        <div id="collapseTwo" class="No-Bottom-Border" style="display: none;">
            <div class="No-Bottom-Border Panel-Body-Div panel-body">
                <div class="vx_text-body Panel-Body">
                    <ol>
                        <li> Click on "Manage Settings"<br></li>
                        <li> Login to PayPal with your PayPal Business Account.<br></li>
                        <li> Here you will be able to disable Shopper Insights and Promotions<br></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="Light-Gray-Bg No-Bottom-Border">
        <div class="Rectangle-2-Copy-2" id="Three" onclick="HideShow(this.id)">
            <img class="Expand-Icon rotate" id='imgThree' src="{{ img_path }}">
            <p class="Question">How do I uninstall the PayPal Marketing Solutions App?</p></div>
        <div id="collapseThree" class="No-Bottom-Border" style="display: none;">
            <div class="No-Bottom-Border Panel-Body-Div panel-body">
                <div class="vx_text-body Panel-Body">
                    <ol>
                        <li>Click <a
                                    href="https://www.drupal.org/docs/user_guide/en/config-uninstall.html"
                                    target="_blank">here</a> for instructions on how to delete the 'PayPal Marketing Solutions' banner from your store.<br></li>
                        <li>Go to MyApps -&gt; Click Uninstall<br></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="Light-Gray-Bg No-Bottom-Border">
        <div class="Rectangle-2-Copy-2" id="Four" onclick="HideShow(this.id)">
            <img class="Expand-Icon rotate" id='imgFour' src="{{ img_path }}">
            <p class="Question">Who can help if I have questions?</p></div>
        <div id="collapseFour" class="No-Bottom-Border" style="display: none;">
            <div class="No-Bottom-Border Panel-Body-Div panel-body">
                <div class="vx_text-body Panel-Body">Please contact PayPal by following this <a
                            href="https://www.paypal.com/us/selfhelp/home" target="_blank">link</a>.<br></div>
            </div>
        </div>
    </div>
</div>

<script language="JavaScript">
    function HideShow(id) {
        var question = document.getElementById('collapse' + id).style.display;
        if(question === 'none') {
            document.getElementById('img' + id).style.transform = 'rotate(90deg)';
        }else{
            document.getElementById('img' + id).style.transform = '';
        }
    }
</script>

