<div class="pt-pagetree-wrapper">
  <div class="pt-title">Page tree<a class="pt-icon fas fa-plus" href="/node/add/" title="{{'Add content' | trans}}"></a></div>
  <div class="pt-trees-wrapper">

  </div>
  <div class="pt-icon pt-pagetree-icon" title="Show page tree"><i class="fas fa-list-ul"></i></div>
</div>
<div id="ptPublishModal" title="{{'Publish the node?' | trans}}" style="display: none;">
  <p>
    <i class="fas fa-check-circle" style="float:left; margin:12px 12px 20px 0;"></i>
    {{'The node will be published. You can add a revision message if you want to.' | trans}}
  </p>
  <h4>{{'Revision message' | trans}}</h4>
  <textarea id="revisionMessage" style="height:150px;width: 100%;"></textarea>
</div>
<div id="ptUnpublishModal" title="{{'Unpublish the page?' | trans}}" style="display: none;">
  <p>
    <i class="fas fa-times-circle" style="float:left; margin:12px 12px 20px 0;"></i>
    {{'The node will be unpublished. You can add a revision message if you want to.' | trans}}
  </p>
  <h4>{{'Revision message' | trans}}</h4>
  <textarea id="revisionMessage" style="height:150px;width: 100%;"></textarea>
</div>
<div id="ptCopyModal" title="{{'Copy the page?' | trans}}" style="display: none;">
  <p>
    <i class="fas fa-copy" style="float:left; margin:12px 12px 20px 0;"></i>
    {{'The node will be copied. Do you want to include the child elements?' | trans}}
  </p>
</div>
