{% for link in tree %}
<li class="pt-entry pt-main-entry pt-entry-{{link.id}}-{{defaultLanguage}}" data-node-id="{{link.id}}" data-link-id="{{link.linkId}}" id="list_item_{{link.id}}">
  <div>
    <div class="pt-opener far fa-minus"></div>
    <a title="{{link.translations.defaultLanguage.name}} [{{defaultLanguage}}]" href="{{link.externalLink}}">
      <i class="pt-state fas fa-exclamation-circle"></i>
      {{link.translations.defaultLanguage.name}} [{{defaultLanguage}}]
    </a>
    <i class="pt-icon fa fa-bars"></i>
    <ul class="pt-page-actions">
      <li><a href="/en/node/add/iqbm_page?parentNode=1">New page</a></li>
      <li><a href="{{link.externalLink}}">Edit page</a></li>
      <li><a href="/{{defaultLanguage}}/node/{{link.id}}/edit">Settings</a></li>
      <li data-node-id="{{link.id}}" data-lang-id="{{defaultLanguage}}">Publish</li>
      <li data-node-id="{{link.id}}" data-lang-id="{{defaultLanguage}}">Unpublish</li>
      <li><a href="/node/{{link.id}}/delete">Delete page</a></li>
    </ul>
    <div class="pt-feedback">
      <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
      <i class="fa fa-check"></i>
      <i class="fa fa-exclamation"></i>
    </div>
    <ul class="pt-translations">
      {% for language in link.translations %}
      {% if defaultLanguage != language %}
      {% set translation = attribute(link.translations, language) %}
      <li class="pt-entry pt-entry-{{link.id}}-{{language}}">
        <div><a href="{{translation.externalLink}}">{{translation.externalLink}} [en]</a>
          <i class="fa fa-bars"></i>
          <ul class="pt-page-actions hide">
            <li><a href="{{translation.externalLink}}">Edit page</a></li>
            <li><a href="/{{language}}/node/{{translation.id}}/edit">Settings</a></li>
            <li data-node-id="{{translation.id}}" data-lang-id="{{language}}">Publish</li>
            <li data-node-id="{{translation.id}}" data-lang-id="{{language}}">Unpublish</li>
          </ul>
          <div class="pt-feedback">
            <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
            <i class="fa fa-check"></i>
            <i class="fa fa-exclamation"></i>
          </div>
        </div>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <ul class="pt-subtree">
    {% include "@pagetree/pagetree.tree.html.twig" with {'tree': link.children} %}
  </ul>
</li>
{% endfor %}
