<div class="user-details">
  {% set user_picture = details.picture %}
  {% if user_picture is not empty %}
    <div class="user-image">{{ user_picture }}</div>
  {% endif %}
  <div class="user-name"><strong>{{ 'Username'|t }}:</strong> {{ details.name }}</div>
  {% if details.mail is not empty %}
  <div class="user-mail"><strong>{{ 'Email'|t }}:</strong> <a href="mailto:{{ details.mail }}">{{ details.mail }}</a></div>
  {% endif %}
  <div class="user-role"><strong>{{ 'Roles'|t }}:</strong> {{ details.roles }}</div>
</div>
