<html><head>
  <link rel="stylesheet" href="{{ base_path ~ mm_path }}/css/mm_browser_tb.css" />
</head>
<body id="tb-body">
  <div id="message"><p>
    {% if name %}
      {{ 'Please enter a title for this bookmark.'|t }}
    {% else %}
      {{ 'This location is already bookmarked.'|t }}
    {% endif %}</p>
  </div>
  <div id="add-bookmark-div">
    {% if name %}
      <form action="#" onsubmit="return Drupal.mmBrowserAddBookmarkSubmit(document);">
        <table border="0" cellpadding="3" cellspacing="3" style="margin:0 auto;" >
          <tr>
            <td><label for="linktitle">{{ 'Title:'|t }}</label></td>
            <td>
              <input name="linktitle" id="linktitle" type="text" size="25" maxlength="35" value="{{ name }}" tabindex="1">
              <input name="linkmmtid" type="hidden" value="{{ mmtid }}">
            </td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: right">
              <input type="submit" id="Add" value="{{ 'Add'|t }}" onclick="return Drupal.mmBrowserAddBookmarkSubmit(document);" tabindex="2">&nbsp;
              <input type="submit" id="Cancel" value="{{ 'Cancel'|t }}" onclick="Drupal.mmDialogClose(); return false;" tabindex="3">
            </td>
          </tr>
        </table>
      </form>
    {% else %}
      <input type="button" value="{{ 'Cancel'|t }}" onclick="Drupal.mmDialogClose(); return false;">
    {% endif %}
  </div>
</body></html>
