{#
/**
 * @file
 * IU Paragraphs template for displaying a Panel chunk.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 * - header_level: the string value of the iu_panel_header_level field.
 *
 * @see template_preprocess_paragraph()
 * @see iu_paragraphs_preprocess_paragraph__iu_panel()
 * @see paragraph--iu-panel-interactive.html.twig
 *
 * @ingroup themeable
 */
#}

{% set header = content._field_layout.content.iu_panel_header %}
{% set text = content._field_layout.content.iu_panel_content %}

<div{{ attributes.addClass('panel')}}>
  {{ title_suffix }}
  {{
    header|merge({
      '#attributes': {
        'class': ['title'],
        'data-header-level': header_level,
      }
    })
  }}
  {# The 'panel-text' is an additional non-IU Framework class. It is used
  because a wrapper element is needed on the content field to retain
  quickedit functionality. Please note this requires additional CSS to fix
  bottom margins. #}
  {{ text|merge({'#attributes': {'class': ['panel-text']}}) }}
</div>
