{#
/**
 * @file
 * Theme override to display an Accordion paragraph component.
 *
 * Available variables:
 * - title: The group heading.
 * - content: The content to be grouped.
 * - field_accordion_open: Boolean value, whether or not this accordion should be open on page load
 *
 * @see template_preprocess_views_view_grouping()
 *
 * Markup inspiration taken from https://www.w3.org/TR/wai-aria-practices-1.1/examples/accordion/accordion.html
 */
#}
{{ attach_library('oomph_paragraphs/accordion') }}

{% set button_open_on_page_load = 'false' %}
{% set region_open_on_page_load = 'aria-hidden' %}
{% if paragraph.field_accordion_open.value == 1 %}
  {% set button_open_on_page_load = 'true' %}
  {% set region_open_on_page_load = '' %}
{% endif %}

{%
  set classes = [
    'oomph-paragraph__component',
    'oomph-paragraph__component--accordion',
    'oomph-accordion',
    paragraph.field_background_color.value ? paragraph.field_background_color.value|clean_class,
    paragraph.field_custom_css_class.value ? paragraph.field_custom_css_class.value,
    'js-oomph-accordion'
  ]
%}
<dl id="accordion-{{ paragraph.id.value }}" {{ attributes.addClass(classes) }} role="presentation" data-allow-multiple>
  <dt role="heading" aria-level="3" class="oomph-accordion__summary">
    <button aria-expanded="{{ button_open_on_page_load }}" class="oomph-accordion__trigger" aria-controls="aria-controls-{{ paragraph.id.value }}" id="aria-labelledby-{{ paragraph.id.value }}" type="button">
      <span class="oomph-accordion__image">{{ content.field_background_image }}</span>
      <span class="oomph-accordion__title">{{ content.field_accordion_summary }}</span>
    </button>
  </dt>
  <dd id="aria-controls-{{ paragraph.id.value }}" role="region" aria-labelledby="aria-labelledby-{{ paragraph.id.value }}" class="oomph-accordion__details" {{ region_open_on_page_load }}>
    <div class="oomph-accordion__details__content">
      {{ content.field_body }}
    </div>
  </dd>
</dl>
