{% if photo %}
  <div{{attributes.addClass('flickr-photo', style_name)}} style="max-width: {{ width }}px;">
    <a href = '{{ photo_page_url }}' target='_blank'>
      {{ photo }}
    </a>

    {% if caption %}
      {{ caption_data }}
    {% endif %}
  </div>
{% endif %}
