{{ attach_library('socialbase/page-node')}}
{{ attach_library('social_course/social_course')}}

{%
set classes = [
'card',
'brand-border-radius',
node.isPromoted() ? 'node--promoted',
not node.isPublished() ? 'node--unpublished',
]
%}

{% if details_label %}
  <h4 class="section-title section-title-node">
    {{ details_label }}
  </h4>
{% endif %}

<article{{ attributes.addClass(classes) }}>

  <div{{ content_attributes.addClass('card__body') }}>

    {% if not node.isPublished() %}
      <div class="node--unpublished__label">{% trans %} unpublished {% endtrans %}</div>
    {% endif %}

    {% if parent_course.label %}
      <div class="parent-course">
        <a href="{{ parent_course.url }}">
          <svg class="icon-small icon-nav-group">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-navigate_before"></use>
          </svg>
          {{ parent_course.label }}</a>
      </div>
    {% endif %}

    {% block nodefull_body %}
      {{ content }}
    {% endblock %}

  </div>

</article>
