{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - content: The content of this custom template of soical_contact_info_block.
 *   - contact_title: The contact label or title.
 *   - contact_detail: This array of the content detail fields.
 *   - social_title: The contact label or title.
 *   - social_detail: This array of the social detail fields.
 *
 * @ingroup themeable
 */
#}

<div class="block-contact-details">
  {% if contact_title is not empty %}
    <h3 class="social-content-title">{{ contact_title }}</h3>
  {% endif %}
  <div class="contact-content">
    {% for contact_value in contact_detail %}
      {% if contact_value is defined and contact_value is not empty %}
        <div class="contact-field contact-value-{{ contact_value.fieldset|lower }}" id="contact-weight-{{ contact_value.weight }}">
          {% if contact_value.label is not empty %}
            <h4>{{ contact_value.label }}</h4>
          {% endif %}
          <div class="contact-field-{{ contact_value.label|lower }}">
            {% if contact_value.value is iterable %}
              {{ contact_value.value.value|raw }}
            {% else %}
              {{ contact_value.value|raw }}
            {% endif %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="block-social-details">
  {% if social_detail is not empty %}
    {% if social_title is not empty %}
      <h3 class="social-content-title">{{ social_title }}</h3>
    {% endif %}
  {% endif %}
  <div class="social-content">
    {% for social_value in social_detail %}
      <div class="social-field social-value-{{ social_value.label|lower }}" id="social-weight-{{ social_value.weight }}">
        <a href="{{ social_value.link }}" class="social-link {{ social_value.class }}" target="_blank">
          {% if social_value.label is not empty %}
            {{ social_value.label }}
          {% endif %}
        </a>
      </div>
    {% endfor %}
  </div>
</div>
