{% spaceless %}
  <iframe width="{{ width }}" height="{{ height }}" src="{{ url }}" class="{{ class }}" frameborder="0" allowfullscreen></iframe>
  {% if original %}
    <div class="link-iframe-formatter-original">{{ 'You may view the original link at:'|t }} <a
    href="{{ url }}">{{ url }}</a><div>
  {% endif %}
{% endspaceless %}