<div class="docchecklogin clearfix">
    {% if loggedin == false %}
    <iframe align="left" frameborder="0" scrolling="no" width="{{ width }}" height="{{ height }}" name="dc_login_iframe" id="dc_login_iframe" src="https://login.doccheck.com/code/{{ language }}/{{ loginid }}/{{ dctemplate }}/" >
    </iframe>
    <!--{{ "now"|date("YmdHis") }}-->
    {{ devmode|raw }}
    {% else %}
        <div class="doccheckloggedintext">{{ 'You are already logged in.'|t }}</div>
    {% endif %}
</div>
