{#
/**
 * @file
 * Template for the slider element.
 */
#}
{%
    set classes = [
    'js-form-item',
    'form-item',
    'form-type-slider',
    ]
%}
<div{{ attributes.addClass(classes) }}>
    <label for="{{ element['#id'] }}-value">
        {{element['#title']}}: <span id="{{ element['#id'] }}-info">{{ element['#value'].slider }}</span>
    </label>
    {{ element.slider }}
    <div id="{{ element['#id'] }}-slider" class="{{ element['#slider_style'] }}" style="{{ element['#slider_length'] }}"></div>
    <div class="description">{{ element['#description'] }}</div>
</div>