{#
/**
 * @file
 * Template for a 4 cell panel layout.
 *
 * This template provides a four cell panel display layout, with
 * each cell equal in width.
 *
 * Variables:
 * - id: An optional CSS id to use for the layout.
 * - css_classes: Optional CSS classes to use for the layout.
 * - content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.left: Content in the left cell.
 *   - content.middle_left: Content in the middle left cell.
 *   - content.middle_right: Content in the middle right cell.
 *   - content.right: Content in the right cell.
 */
#}

<div {{ attributes.setAttribute('id', settings.css_id).addClass('grid-x grid-margin-x', settings.css_classes) }}>
    {% if content.top|render|trim %}
        <div class="layout-region layout-region--top cell small-12">
            {{ content.top }}
        </div>
    {% endif %}
    {% if content.cell_1|render|trim %}
        <div class="layout-region cell small-12 medium-3">
            {{ content.cell_1 }}
        </div>
    {% endif %}
    {% if content.cell_2|render|trim %}
        <div class="layout-region cell small-12 medium-3">
            {{ content.cell_2 }}
        </div>
    {% endif %}
    {% if content.cell_3|render|trim %}
        <div class="layout-region cell small-12 medium-3">
            {{ content.cell_3 }}
        </div>
    {% endif %}
    {% if content.cell_4|render|trim %}
        <div class="layout-region cell small-12 medium-3">
            {{ content.cell_4 }}
        </div>
    {% endif %}
    {% if content.bottom|render|trim %}
        <div class="layout-region layout-region--bottom cell small-12">
            {{ content.bottom }}
        </div>
    {% endif %}
</div>
<!-- /.foundation-4col -->
