<div class="js-live-editor">
  <div class='sm-header'>
    <div>
      <i class='sm-icon-less'></i>
    </div>
    <div class='sm-header-actions'>
      <i class='js-button sm-icon-add' action='add'></i>
    </div>
  </div>
  <div class="sm-body">
    <table>
      <tr class='header'>
        <td>{{ 'Type'|t }}</td>
        <td>{{ 'Variables Name'|t }}</td>
        <td>{{ 'Values from file'|t }}</td>
        <td>{{ 'Values from config'|t }}</td>
        <td>{{ 'Edit Config'|t }}</td>
        <td>{{ 'Delete Config'|t }}</td>
      </tr>
      {%  if items | length > 0 %}
          {% for key,item in items %}


            {%  if (item.from_file|length > 0) or (item.from_config|length > 0) %}

              <tr name="{{ key }}">
                <td>
                  {% if (item.from_file | length > 0) and (item.from_config | length > 0) %}
                    {% set icon_class = 'sm-icon-overrided' %}
                  {% endif %}

                  {% if (item.from_file | length > 0) and (item.from_config | length == 0) %}
                    {% set icon_class = 'sm-icon-file' %}
                  {% endif %}

                  {% if (item.from_file | length == 0) and (item.from_config | length > 0) %}
                    {% set icon_class = 'sm-icon-database' %}
                  {% endif %}

                  <i class="{{ icon_class }}"></i>
                </td>
                <td class="name">{{ key }}</td>
                <td class="file">
                  {% if item.from_file | length > 0 %} {{ item.from_file }} {% endif %}
                </td>


                <td class="config" original ="{{ item.from_config }}" >{% if item.from_config | length > 0 %} {{ item.from_config }} {% endif %}</td>
                <td>
                  <i class="sm-icon-edit js-button" action="edit" ></i>
                </td>
                <td>
                  {% if item.from_config | length > 0 %}
                    <i class="sm-icon-remove js-button" action="delete"></i>
                  {% endif %}
                </td>
              </tr>

            {% else %}
              {% if loop.index == 1  %}
                <tr class="no-data">
                  <td colspan="6">
                    {{ 'No data, Add new Config'|t }}
                  </td>
                </tr>
                {%  endif %}
            {% endif %}

          {% endfor %}
      {% else %}
        <tr class="no-data">
          <td colspan="6">
            {{ 'No data, Add new Config'|t }}
          </td>
        </tr>
      {% endif %}
      {#
      {% for item in items  %}
        {{ item|length }}
      {% endfor %}
      #}
    </table>
  </div>
</div>
<div class="legend-wrapper">
  <ul class="legend">
    <li>
      <i class="sm-icon-file"></i>  <span>{{ 'From File'|t }}</span>
    </li>
    <li>
      <i class="sm-icon-database"></i>  <span>{{ 'From Config (Stored in DB)'|t }}</span>
    </li>
    <li>
      <i class="sm-icon-overrided"></i>  <span>{{ 'Overrided in Config (Stored in DB)'|t }}</span>
    </li>
  </ul>
</div>
