<div class="row">
    <div class="col-sm-12">
      <div class="openid-connect-rest-authenticate">
        {%if authenticated%}
          <div class="authenticated">
            <p class="success">{{message}}<p>
            <a class="btn btn-default primary" href="{{ path('entity.user.canonical', {'user': user.id}) }}">{{ 'User profile'|t }}</a>
          </div>
        {%else%}
          <div class="not-authenticated">
            <p class="warning">{{message}}<p>
            <a class="btn btn-default primary" href="{{ url('<front>') }}">{{ 'Home'|t }}</a>
          </div>
        {%endif%}
      </div>
    </div>
</div>