{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
{{ content.field_paragraph_anchor[0] }}
{% if inline_styles %}
<div{{ attributes.addClass(classes) }} style="{{ inline_styles }}">
{% else %}
<div{{ attributes.addClass(classes) }}>
{% endif %}
  <div class="container">
	<div class="row">   
	  <div class="col-sm-2">
	  </div>	
	  <div class="col-sm-8">
	    {{ content.field_landingpage_textarea[0] }}
	    {{ content.field_landingpage_image[0] }}
	  </div>
	  <div class="col-sm-2">    
	  </div>
	</div>
  </div>  
</div>