{#
/**
 * @file focal-point-focus.html.twig
 * Default theme implementation to present images for the focal-point-focus
 *
 * Available variables:
 * - focalpoint: (array) data related to js response
 *
 */
#}
<figure class="focuspoint-wrap">
<div class="focuspoint" data-height="{{ focalpoint.display_height }}" style="height:{{ focalpoint.display_height }}px" data-focus-x="{{ focalpoint.x }}" data-focus-y="{{ focalpoint.y }}" data-image-w="{{ focalpoint.width }}" data-image-h="{{ focalpoint.height }}">
  <img src="{{ focalpoint.src }}" alt="{{ focalpoint.alt }}" />
</div>{% if focalpoint.title is not empty %}
<figcaption>{{ focalpoint.title }}</figcaption>
{% endif %}</figure>
