{#
/**
 * @file widget--widget-form.html.twig
 * Default theme implementation to present Widget data.
 *
 * This template is used when viewing Widget pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_widget()
 *
 * @ingroup themeable
 */
#}

<article{{ attributes.addClass('widget') }}>
  {% if name|render %}
    <h2>
      {{ name }}
    </h2>
  {% endif %}

  {% if image_preview|render %}
    <div class="widget-preview-img-{{ id }}" data-id="{{ id }}">
      {{ image_preview }}
    </div>
  {% else %}
    <div class="widget-preview-img widget-preview-img-{{ id }}" data-id="{{ id }}"></div>
  {% endif %}
</article>
