{#
/**
 * @file
 * Default theme implementation to display a quick_code tree.
 *
 * Returns HTML for a wrapper for a quick_code sub-tree.
 *
 * Available variables:
 * - items: A nested list of quick_code items. Each quick_code item contains:
 *   - attributes: HTML attributes for the quick_code item.
 *   - below: The quick_code item child items.
 *   - title: The quick_code link title.
 *   - url: The quick_code link URL, instance of \Drupal\Core\Url.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     quick_code tree.
 *   - is_collapsed: TRUE if the link has children within the current quick_code tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}
{% import _self as quick_code_tree %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ quick_code_tree.quick_code_links(items, attributes, 0) }}

{% macro quick_code_links(items, attributes, menu_level) %}
  {% import _self as quick_code_tree %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes }}>
    {% else %}
      <ul>
    {% endif %}
    {% for item in items %}
      <li{{ item.attributes }}>
        {% if item.below %}
          <span class="folder-icon">&nbsp;</span>
        {% else %}
          <span class="leaf-icon">&nbsp;</span>
        {% endif %}
        {{ link(item.title, item.url) }}
        {% if item.below %}
          {{ quick_code_tree.quick_code_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
