{#
/**
 * @file
 * Default theme implementation of a webform date composite.
 *
 * Available variables:
 * - content: The webform date composite to be output.

 * @see template_preprocess_govuk_webform_elements()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('govuk_webform_elements/govuk_webform_elements') }}
{% if flexbox %}

    <div class="webform-flexbox">
      {% if content.date %}
        <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.day }}</div></div>
      {% endif %}
      {% if content.month %}
        <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.month }}</div></div>
      {% endif %}
      {% if content.year %}
        <div class="webform-flex webform-flex--1"><div class="webform-flex--container">{{ content.year }}</div></div>
      {% endif %}
    </div>

{% else %}
  {{ content }}
{% endif %}

