{#
/**
 * @file
 * Default theme implementation for multicolumn list.
 *
 * Available variables:
 * - items:  An array of items in the list.
 * - columns:  The number of columns, of which this will be one.
 * - type:  The type of the list (e.g., "ul" or "ol").
 * - attributes: An array of attributes to be added to the outer element.
 *
 * @see template_preprocess_multicolumn_list()
 *
 * @ingroup themeable
#}
{%- if items -%}
  <{{ type }}{{ attributes }}>
    {%- for item in items -%}
      <li>{{ item }}</li>
    {%- endfor -%}
  </{{ type }}>
{%- else -%}
  {{- empty -}}
{%- endif -%}
