<div class="table-of-contents"
     data-context="{{ context }}"
     data-theme="{{ _theme }}"
     data-selectors="{{ selectors }}"
     data-show-and-hide="{{ show_and_hide }}"
     data-show-effect="{{ show_effect }}"
     data-show-effect-speed="{{ show_effect_speed }}"
     data-hide-effect="{{ hide_effect }}"
     data-hide-effect-speed="{{ hide_effect_speed }}"
     data-smooth-scroll="{{ smooth_scroll }}"
     data-smooth-scroll-speed="{{ smooth_scroll_speed }}"
     data-scroll-to="{{ scroll_to }}"
     data-show-and-hide-on-scroll="{{ show_and_hide_on_scroll }}"
     data-highlight-on-scroll="{{ highlight_on_scroll }}"
     data-highlight-offset="{{ highlight_offset }}"
     data-extend-page="{{ extend_page }}"
     data-extend-page-offset="{{ extend_page_offset }}"
     data-history="{{ history }}"
     data-hash-generator="{{ hash_generator }}"
     data-highlight-default="{{ highlight_default }}"
     data-ignore-selector="{{ ignore_selector }}"
     data-scroll-history="{{ scroll_history }}">
</div>
