{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}




<form method="POST" action="/export_feedback">
    <button type="submit" class="button js-form-submit form-submit">{{ 'Export data'|t }}</button>
</form>

<br>
<h2>{{ 'Overall score'|t }}</h2>

<div id="block-seven-primary-local-tasks" class="block block-core block-local-tasks-block">
    <nav class="tabs" role="navigation" aria-label="Tabs">
        <h2 id="primary-tabs-title" class="visually-hidden">Peasakid</h2>
        <nav role="navigation" class="is-horizontal is-collapsible position-container is-horizontal-enabled" aria-labelledby="primary-tabs-title" data-drupal-nav-tabs="">
            <button class="reset-appearance tabs__tab tabs__trigger" aria-label="Primary tabs display toggle" data-drupal-nav-tabs-trigger="">•••</button>
            <ul class="tabs primary clearfix" data-drupal-nav-tabs-target="">
                <li class="tabs__tab is-active">{{ link( 'Overall score'|t, 'route:view.feedback.nodes_list', { 'class':['is-active']}) }}</li>
            </ul>
        </nav>
    </nav>
</div>

<table>
  <thead>
  <tr>
    <th class="feedback_table_left_th">{{ 'Node' |t }}</th>
    <th class="feedback_table_centre_th">{{ 'Score' |t }}</th>
    <th class="feedback_table_centre_th">{{ 'Positive feedbacks' |t }}</th>
    <th class="feedback_table_centre_th">{{ 'Negative feedbacks' |t }}</th>
    <th class="feedback_table_centre_th">{{ 'Total' |t }}</th>
  </tr>
  </thead>
{% for row in rows %}
    <tr>
      {{ row.content }}
    </tr>
{% endfor %}
</table>




