{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

<br>
<h2>{{ 'Detail view - '|t }}<a href="/node/{{  rows[0].content['#row'].admin_feedback_admin_feedback_score_nid }}">{{ rows[0].content['#row'].node_field_data_admin_feedback_score_title }}</a></h2>

<div id="block-seven-primary-local-tasks" class="block block-core block-local-tasks-block">
    <nav class="tabs" role="navigation" aria-label="Tabs">
        <h2 id="primary-tabs-title" class="visually-hidden">Peasakid</h2>
        <nav role="navigation" class="is-horizontal is-collapsible position-container is-horizontal-enabled" aria-labelledby="primary-tabs-title" data-drupal-nav-tabs="">
            <button class="reset-appearance tabs__tab tabs__trigger" aria-label="Primary tabs display toggle" data-drupal-nav-tabs-trigger="">•••</button>
            <ul class="tabs primary clearfix" data-drupal-nav-tabs-target="">
                <li class="tabs__tab">{{ link( 'Overall score'|t, 'route:view.feedback.nodes_list') }}</li>
            </ul>
        </nav>
    </nav>
</div>

<table>
<thead>
<tr>
    <th>{{ 'Feedback'|t }}</th>
    <th>{{ 'Message'|t }}</th>
    <th>{{ 'Created'|t }}</th>
    <th>{{ 'Inspected'|t }}</th>
</tr>
</thead>
    {% for row in rows %}
    <tr>
        <td><p>{% if (row.content['#row'].admin_feedback_admin_feedback_score_feedback_type == 1) %} {{ 'positive' |t }} {% else%} {{ 'negative' |t }} {% endif %}</p></td>
        <td><p>{{ row.content['#row'].admin_feedback_admin_feedback_score_feedback_message }}</p></td>
        <td><p>{{ row.content['#row'].admin_feedback_admin_feedback_score_created|date("d-m-y") }}</p></td>
        <td><input id="{{ row.content['#row'].admin_feedback_admin_feedback_score_id }}" class="inspected_feedback_chkbox" type="checkbox" name="inspected_feedback"{% if (row.content['#row'].admin_feedback_admin_feedback_score_inspected == 1) %} checked {% endif %}></td>
    <tr>
    {% endfor %}
</table>

{{ attach_library('admin_feedback/admin_feedback_dashboard') }}
