{% if (user_image) %}
  <img src="{{ file_url(user_image) }}" />
{% endif %}

{% if (givenname and familyname) %}
  <div class="n fn">
    <span class="given-name">{{ givenname }}</span>
    <span class="family-name">{{ familyname }}</span>
    (<span class="nickname">{{ name }}</span>)
  </div>
{% else %}
  <div class="fn">{{ name }}</div>
{% endif %}

{% if email %}
  <a class="email" href="mailto:{{ email }}">{{ email }}</a>
{% endif %}

{% if (street or city or province or postal or country) %}
  <div class="adr">

  {% if street is defined %}
    <div class="street-address">{{ street }}</div>
  {% endif %}

  {%if city is defined %}
    <span class="locality">{{ city }}</span>
  {% endif %}

  {% if province is defined %}
    <span class="region">{{ province }}</span>
  {% endif %}

  {% if postal is defined %}
    <span class="postal-code">{{ postal }}</span>
  {% endif %}

  {% if country is defined %}
    <span class="country-name">{{ country }}</span>
  {% endif %}
  </div>
{% endif %}

{% if telephone %}
  <div class="tel">{{ telephone }}</div>
{% endif %}

{% if organization %}
  <div class="org">{{ organization }}</div>
{% endif %}

{% if url %}
  <div class="url">{{ url }}</div>
{% endif %}
