<div id="{{ attributes.id }}" role="tablist" aria-multiselectable="true">

  <!-- Wrapper for accordion -->
  {% for key, value in content %}
    <div class="card">
      <div class="card-header" role="tab" id="heading--{{ key }}">
        <h5 class="mb-0">
          <a{% if not loop.first %} class="collapsed" {% endif %} data-toggle="collapse" data-parent="#{{ attributes.id }}" href="#collapse--{{ key }}" {% if loop.first %} aria-expanded="true" {% else %} aria-expanded="false" {% endif %} aria-controls="collapse--{{ key }}">
            {{ value.title }}
          </a>
        </h5>
      </div>

      <div id="collapse--{{ key }}" class="collapse{% if loop.first %} show {% endif %}" role="tabpanel" aria-labelledby="heading--{{ key }}" {% if loop.first %} aria-expanded="true" {% else %} aria-expanded="false" {% endif %}>
        <div class="card-block">
          {{ value.content }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
