<div id="{{ attributes.id }}">

  <!-- Nav tabs -->
  <ul class="nav nav-{{ settings.style }}s {% if settings.layout %}nav-{{ settings.layout }}{% endif %}">
  {% for key, value in content %}
      <li class="nav-item">
        <a class="nav-link {% if loop.first %}active{% endif %}" data-toggle="{{ settings.style }}" href="#{{ attributes.id }}-{{ key }}" role="tab">{{ value.title }}</a>
      </li>
  {% endfor %}
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
  {% for key, value in content %}
        <div class="tab-pane{% if settings.fade %} fade{% if loop.first %} show{% endif %}{% endif %}{% if loop.first %} active{% endif %}" id="{{ attributes.id }}-{{ key }}" role="tabpanel">
          {{ value.content }}
        </div>
  {% endfor %}
  </div>
</div>
