{{ attach_library('syncart/cart') }}

<div id="app-cart">
  <cart inline-template>
    <div class="cart">
      <div class="cart-left">
        <div class="cart-content">
          <div class="cart-empty" v-show="isEmpty(cart.items)" style="display: none">
            {{ 'Cart empty'|t }}
          </div>
          <div class="cart-row cart-row--header" v-show="!isEmpty(cart.items)">
            <div class="cart-col cart-col--image"></div>
            <div class="cart-col cart-col--product">
              {{ 'Product'|t }}
            </div>
            <div class="cart-col cart-col--price">
              {{ 'Price'|t }}
            </div>
            <div class="cart-col cart-col--quantity">
              {{ 'Quantity'|t }}
            </div>
            <div class="cart-col cart-col--total">
              {{ 'Total'|t }}
            </div>
            <div class="cart-col cart-col--buttons"></div>
          </div>
          <div class="preloader preloader--transparent preloader--small" v-show="!ready && !isEmpty(cart.items)"></div>
          <div class="cart-items" v-show="ready" style="display: none;">
            <div class="cart-row cart-row--body" v-for="item in cart.items">
              <div class="cart-col cart-col--image">
                <a :href="item.url" class="cart-picture">
                  <img v-show="item.picture" v-bind:src="item.picture" v-bind:alt="item.title" />
                </a>
              </div>
              <div class="cart-col cart-col--product">
                <a :href="item.url" class="cart-name" v-html="item.title"></a>
              </div>
              <div class="cart-col cart-col--price">
                <div class="cart-price">
                  ${ numberFormat(item.price, 0) + ' ' + item.currency }
                </div>
              </div>
              <div class="cart-col cart-col--quantity">
                <div class="cart-quantity">
                  <button type="button" v-on:click="changeQuantity(item.id, item.quantity - 1)" class="cart-quantity-button cart-quantity-button--minus"></button>
                  <div class="cart-quantity-value">
                    ${ numberFormat(item.quantity, 0, 0) }
                  </div>
                  <button type="button" v-on:click="changeQuantity(item.id, item.quantity + 1)" class="cart-quantity-button cart-quantity-button--plus" :class="item.quantity == item.stock ? 'cart-quantity-button--disabled' : ''"></button>
                </div>
              </div>
              <div class="cart-col cart-col--total">
                <div class="cart-price cart-price--bold">
                  ${ numberFormat(item.totalPrice, 0) + ' ' + item.currency }
                </div>
              </div>
              <div class="cart-col cart-col--buttons">
                <div class="cart-button cart-button--remove" v-on:click="removeItem(item.id)">
                  <i class="far fa-trash-alt"></i>
                </div>
                <favorite-field inline-template :pid="item.pid">
                  <div
                  class="cart-button cart-button--fav"
                  :class="fav ? 'cart-button--fav-in' : ''"
                  style="display:none"
                  v-show="productsLoaded"
                  @click="toggleFav"
                  >
                    <i class="far fa-heart"></i>
                  </div>
                </favorite-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cart-sidebar" v-show="!isEmpty(cart.items)">
        <div class="cart-back">
          <a href="{{ path('view.catalog.page') }}">
            {{ 'Back to shopping'|t }}
          </a>
        </div>
        <div class="cart-sidebar-content">
          <div class="preloader preloader--transparent preloader--small" v-show="!ready"></div>
          <div class="cart-total" v-show="ready" style="display: none;">
            <div class="cart-total-count">
              {{ 'Products count'|t }}: ${ cart.quantity }
            </div>
            <div class="cart-total-price">
              {{ 'Total'|t }}: ${ numberFormat(cart.total, 0) + ' ' + cart.currency }
            </div>
          </div>
          <div class="cart-actions" v-if="cart.quantity" v-show="ready" style="display: none;">
            <a href="{{ path('syncart.cart_checkout') }}" class="btn btn--main">
              {{ 'Proceed to Checkout'|t }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </cart>
</div>
