{{ attach_library('catalog/catalog') }}
{{ attach_library('syncart/favorite') }}
{{ attach_library('catalog/change-view') }}

{% if data.products|length == 0 %}
  <div class="messages messages--error">
    {{ 'You have not added any products to favorites yet.'|t }}
  </div>
{% else %}
  <favorites :ids="{{ data.information.ids }}" inline-template>
    <div class="favorites">
      <div class="cart-sidebar">
        <div class="preloader preloader--small" v-show="loading" style="display: none;"></div>
        <div class="cart-sidebar-content">
          <div class="cart-total">
            <div class="cart-total-count">
              Количество товаров: {{ data.information.count }}
            </div>
            <div class="cart-total-price">
              Итого: {{ data.information.price }} ₽
            </div>
          </div>
          <div class="cart-actions" v-show="ready" style="display: none">
            <button type="button" class="btn btn--main" @click="toCart" v-if="!inCart">
              добавить в корзину все
            </button>
            <a href="{{ path('syncart.cart_controller_cart') }}" class="btn btn--main" v-else>
              Перейти в корзину
            </a>
            <button type="button" class="btn btn--bordered" @click="clearFavorites">
              Очистить список
            </button>
          </div>
        </div>
      </div>
      <div class="catalog" id="catalog">
        <change-view inline-template>
          <div class="catalog-togglers" v-show="ready" style="display: none">
            <div class="catalog-toggler" :class="mode == 'row' ? 'catalog-toggler--active' : ''" @click="changeMode('row')">
              <svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                <rect width="16" height="4"/>
                <rect y="6" width="16" height="4"/>
                <rect y="12" width="16" height="4"/>
              </svg>
            </div>
            <div class="catalog-toggler" :class="mode == 'card' ? 'catalog-toggler--active' : ''" @click="changeMode('card')">
              <svg width="16" height="16" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.85203 0H0V6.85203H6.85203V0Z"/>
                <path d="M16.0005 0H9.14844V6.85203H16.0005V0Z"/>
                <path d="M16.0005 9.14797H9.14844V16H16.0005V9.14797Z"/>
                <path d="M6.85203 9.14797H0V16H6.85203V9.14797Z"/>
              </svg>
            </div>
          </div>
        </change-view>
        <div class="catalog-row">
          {% for product in data.products %}
            <div class="catalog-col catalog-col--33">
              {{ product }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </favorites>
{% endif %}
