{#
/**
 * @file competition_entry-voting.html.twig
 * Default theme implementation to present competition entries for voting.
 *
 * Available variables:
 * - competition - the \Drupal\competition\Entity\Competition entity by which
 *   the archives view is filtered
 * - entries - Array of \Drupal\competition\Entity\CompetitionEntry entities
 * - can_vote_currently - bool
 * - round_description - string
 * - already_voted - bool
 * - voting_thanks - string
 * - legal_message - string
 *
 * @see template_preprocess_competition_entry_voting()
 * @see CompetitionEntryController::vote()
 *
 * @ingroup themeable
 */
#}
<div class="competition-entry-voting">

{% if can_vote_currently %}
  <div class="description">
    {{ round_description }}
  </div>
{% elseif already_voted %}
  <div class="description">
    {{ voting_thanks }}
  </div>
{% endif %}

<ul class="{{ classes }}">
  {% for entry in entries %}
    <li>
      {{ entry }}
    </li>
  {% endfor %}
</ul>

{% if legal_message is not empty %}
  <div class="voting-legal">
    {{ legal_message }}
  </div>
{% endif %}

</div>
