{#
/**
 * @file
 * Default theme implementation to embed a kaltura url.
 *
 * Available variables:
 * - width: The width of the iframe.
 * - height: The height of the iframe.
 * - partnerId
 * - playerId
 * - entryId
 * - uiConfId
 *
 * @see template_preprocess_media_kaltura_embed()
 *
 * @ingroup themeable
 */
#}
<iframe src="https://cdnapisec.kaltura.com/p/{{ partnerId }}/sp/{{ partnerId }}00/embedIframeJs/uiconf_id/{{ uiConfId }}/partner_id/{{ partnerId }}?iframeembed=true{% if playerId %}&playerId={{ playerId }}{% endif %}&flashvars[streamerType]=auto{{ extraFlashVars }}{% if entryId %}&entry_id={{ entryId }}{% endif %}" width="{{ width}}" height="{{ height }}" allowfullscreen webkitallowfullscreen mozAllowFullScreen frameborder="0" style="width: {{ width }}px; height: {{ height }}px;" itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
  <span itemprop="name" content=""></span>
  <span itemprop="description" content=""></span>
  <span itemprop="duration" content=""></span>
  <span itemprop="thumbnail" content=""></span>
  <span itemprop="width" content="{{ width }}"></span>
  <span itemprop="height" content="{{ height }}"></span>
</iframe>
