<section class="celum-asset-picker">
    <div>
        {% if fileCategory == "video" %}
            <a target="_blank" href="{{ uri }}">
                {{ title }}
            </a>
        {% elseif fileCategory == "audio" %}
            <a target="_blank" href="{{ uri }}">
                {{ title }}
            </a>
        {% elseif fileCategory == "unknown" %}
            <a target="_blank" href="{{ uri }}">
                {{ title }}
            </a>
        {% else %}
            <a target="_blank" href="{{ uri }}">
                <img src="{{ thumb }}" title="{{ title }}">
            </a>
        {% endif %}
    </div>
</section>
