{#
/**
 * @file
 * Theme implementation for metadata of current T&C.
 *
 * Available variables:
 * - form: The form element.
 *
 * @see template_preprocess_field()
 *
 * @ingroup themeable
 */
#}

{% set multilingual = attribute(form.multilingual, '#markup') %}
{% set version_label = attribute(form.current_version, '#title') %}
{% set version = attribute(form.current_version, '#markup') %}
{% set language_label = attribute(form.current_language, '#title') %}
{% set language = attribute(form.current_language, '#markup') %}
{% set revision_label = attribute(form.current_revision, '#title') %}
{% set revision = attribute(form.current_revision, '#markup') %}
{% set date_label = attribute(form.current_date, '#title') %}
{% set date = attribute(form.current_date, '#markup') %}

<p>
  <strong>{{ version_label }}:</strong> {{ version }}<br>

{% if multilingual %}
  <strong>{{ language_label }}:</strong> {{ language }}<br>
  <strong>{{ revision_label }}:</strong> {{ revision }}<br>
{% endif %}

  <strong>{{ date_label }}:</strong> {{ date }}<br>

</p>
