{#
/**
 * @file dialog.html.twig
 * Default theme implementation to present Dialog data.
 *
 * This template is used when viewing Dialog entity.
 *
 * Available variables:
 * - name: A name of Dialog
 * - messages: Messages of Dialog
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_dialog()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('dialog') }}>
  <div class="dialog-info">

    {{ title_prefix }}
    {% if not page %}
      <h3{{ title_attributes }}>
        <a href="{{ url }}" rel="bookmark">{{ content.name }}</a>
      </h3>
    {% endif %}
    {{ title_suffix }}

    <small>{{ "Between you and %recipient" | t({'%recipient': recipient}) }}</small>
    {% if page %}
      <div class="back-link">
        <a
          href="{{ path('private_messages.dialog.all', {'user': user.id()}) }}">
          {{ 'Back to the list of dialogs'|t }}
        </a>
      </div>
    {% endif %}
  </div>
  {% if page %}
    <div class="dialog-messages">
    {{ messages }}
  </div>
    <div class="dialog-form">
    {{ form }}
  </div>
  {% endif %}
</div>
