{#
/**
 * @file message.html.twig
 * Default theme implementation to present Message data.
 *
 * This template is used when viewing Message pages.
 *
 *
 * Available variables:
 * - content: Message content body
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_message()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('message card mt-1 mb-1') }}>
  <div class="row">
    <div class="col-md-3 col-lg-2">
      {{ author }}
    </div>
    <div class="col-md-9 col-lg-10">
      <div class="message-content">{{ message }}</div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <div class="row">
      <div class="col-md-3 col-lg-2"></div>
      <div class="col-md-9 col-lg-10">
        <div class="row">
          <div class="col-xs-3"><small>{{ created }}</small></div>
          <div class="col-xs-9">{{ links }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
