<h1 class="nasa_apod_title">{{ apod_title }}</h1>

{% if not error %}
  <div class="nasa_apod_date">{{ date }}</div>
  <div class="nasa_apod_image">
    <img src="{{ img }}" alt="{{ apod_title }}" title="{{ apod_title }}" class="nasa_apod_img"><br>
    <a data-colorbox-inline=".nasa_apod_img" href="javascript:void(0);">View larger</a>
  </div>
  {% if copyright %}
    <div class="nasa_apod_copyright">Credit &amp; copyright {{ copyright }}</div>
  {%endif %}
{% endif %}

<div class="nasa_apod_body">{{ explanation|e }}</div>
