{% block header %}
  {% set alt_header = FALSE %}
  {# Header code #}
{% endblock %}

{% block wrapper %}
  {% block content %}
    {# Content code #}
      <table class="spammaster-head spammaster-t-head">
        <thead>
          <th class="spammaster-t-head-th spammaster-center" colspan="2"><h2>{{ spammaster_table_head }}</h2></th>
        </thead>
        <tfoot>
          <tr class="spammaster-t-foot-tr spammaster-p-small"><th  class="spammaster-t-foot-th" colspan="2"><em>{{ spammaster_table_footer }}</em></th></tr>
        </tfoot>
        </body>
          <tr class="spammaster-t-body-tr">
          <td class="spammaster-t-body-td">{{ output_d1 }}</td>
          <td class="spammaster-t-body-td"><a href="https://spammaster.techgasp.com/search-threat/?search_spam_threat={{ output_t2 }}" target="_blank"><img src="{{ image_path }}" style="height:24px; vertical-align:middle;" >&nbsp;&nbsp;{{ output_t2 }}</a></td>
          </tr>
          <tr class="spammaster-t-body-tr">
          <td class="spammaster-t-body-td">{{ output_d3 }}</td>
          <td class="spammaster-t-body-td"><a href="https://spammaster.techgasp.com/search-threat/?search_spam_threat={{ output_t4 }}" target="_blank"><img src="{{ image_path }}" style="height:24px; vertical-align:middle;" >&nbsp;&nbsp;{{ output_t4 }}</a></td>
          </tr>
          <tr class="spammaster-t-body-tr">
          <td class="spammaster-t-body-td">{{ output_d5 }}</td>
          <td class="spammaster-t-body-td"><a href="https://spammaster.techgasp.com/search-threat/?search_spam_threat={{ output_t6 }}" target="_blank"><img src="{{ image_path }}" style="height:24px; vertical-align:middle;" >&nbsp;&nbsp;{{ output_t6 }}</a></td>
          </tr>
          <tr class="spammaster-t-body-tr">
          <td class="spammaster-t-body-td">{{ output_d7 }}</td>
          <td class="spammaster-t-body-td"><a href="https://spammaster.techgasp.com/search-threat/?search_spam_threat={{ output_t8 }}" target="_blank"><img src="{{ image_path }}" style="height:24px; vertical-align:middle;" >&nbsp;&nbsp;{{ output_t8 }}</a></td>
          </tr>
          <tr class="spammaster-t-body-tr">
          <td class="spammaster-t-body-td">{{ output_d9 }}</td>
          <td class="spammaster-t-body-td"><a href="https://spammaster.techgasp.com/search-threat/?search_spam_threat={{ output_t10 }}" target="_blank"><img src="{{ image_path }}" style="height:24px; vertical-align:middle;" >&nbsp;&nbsp;{{ output_t10 }}</a></td>
          </tr>
          <tr class="spammaster-t-body-tr">
          <td class="spammaster-t-body-td">{{ output_d11 }}</td>
          <td class="spammaster-t-body-td"><a href="https://spammaster.techgasp.com/search-threat/?search_spam_threat={{ output_t12 }}" target="_blank"><img src="{{ image_path }}" style="height:24px; vertical-align:middle;" >&nbsp;&nbsp;{{ output_t12 }}</a></td>
          </tr>
          <tr class="spammaster-t-body-tr">
          <td class="spammaster-t-body-td">{{ output_d13 }}</td>
          <td class="spammaster-t-body-td"><a href="https://spammaster.techgasp.com/search-threat/?search_spam_threat={{ output_t14 }}" target="_blank"><img src="{{ image_path }}" style="height:24px; vertical-align:middle;" >&nbsp;&nbsp;{{ output_t14 }}</a></td>
          </tr>
          <tr class="spammaster-t-body-tr">
          <td class="spammaster-t-body-td">{{ output_d15 }}</td>
          <td class="spammaster-t-body-td"><a href="https://spammaster.techgasp.com/search-threat/?search_spam_threat={{ output_t16 }}" target="_blank"><img src="{{ image_path }}" style="height:24px; vertical-align:middle;" >&nbsp;&nbsp;{{ output_t16 }}</a></td>
          </tr>
        </body>
      </table>
  {% endblock %}

  {% block footer %}
    {# Footer code #}
      <br>
  {% endblock %}
{% endblock %}



