{% block header %}
  {% set alt_header = FALSE %}
  {# Header code #}
{% endblock %}

{% block wrapper %}
  {% block content %}
    {# Content code #}
      <table class="spammaster-head">
        <thead>
          <th><h2><img src="{{ image_check }}" style="vertical-align:middle; height: 46px;" />&nbsp;{{ spammaster_table_head }}</h2></th>
        </thead>
        <tfoot>
          <tr class="spammaster-p-small"><th><em>{{ spammaster_table_footer }}</em></th></tr>
        </tfoot>
        </body>
          <tr class="spammaster-h-body-tr">
          <td><img src="{{ image_pass }}" style="vertical-align:middle; height: 24px;" />&nbsp;{{ protection_engine_version_text }}&nbsp;{{ protection_engine_version }}</td>
          </tr>
          <tr class="spammaster-h-body-tr">
          <td><img src="{{ image_pass }}" style="vertical-align:middle; height: 24px;" />&nbsp;{{ protection_license_protection_text }}&nbsp;{{ protection_license_protection }}&nbsp;{{ protection_license_protection_end }}</td>
          </tr>
          <tr class="spammaster-h-body-tr">
          <td><img src="{{ image_pass }}" style="vertical-align:middle; height: 24px;" />&nbsp;{{ protection_scan_text }}</td>
          </tr>
          <tr class="spammaster-h-body-tr">
          <td><img src="{{ image_pass }}" style="vertical-align:middle; height: 24px;" />&nbsp;{{ protection_firewall_text }}</td>
          </tr>
          <tr class="spammaster-h-body-tr">
          <td><img src="{{ spam_ssl_image }}" style="width:24px; vertical-align:middle;" />&nbsp;{{ spam_ssl_text }}</td>
          </tr>
        </body>
      </table>
  {% endblock %}

  {% block footer %}
    {# Footer code #}
      <br>
  {% endblock %}
{% endblock %}



