{% if user.hasPermission('administer nodes') %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Totals', 'Total Count', { role: 'style' }, { role: 'annotation' }],
        ['Total Blocks', {{ total_count }}, '#c2c0bf', {{ total_count }}],
      ]);

      var options = {
        title: "Total since beginning of time",
        bar: {groupWidth: '95%'},
        legend: { position: 'none' },
      };

      var chart = new google.visualization.BarChart(document.getElementById('total_count'));
      chart.draw(data, options);
    }
</script>

<script type="text/javascript">
google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Totals', 'Total Count', { role: 'style' }, { role: 'annotation' }],
        ['Firewall', {{ total_count_firewall }}, '#3366cc', {{ total_count_firewall }}],
        ['Registration', {{ total_count_registration }}, '#dc3912', {{ total_count_registration }}],
        ['Comment', {{ total_count_comment }}, '#ff9900', {{ total_count_comment }}],
        ['Contact', {{ total_count_contact }}, '#109618', {{ total_count_contact }}],
        ['Honeypot', {{ total_count_honeypot }}, '#ab47bc', {{ total_count_honeypot }}],
        ['reCaptcha', {{ total_count_recaptcha }}, '#00acc1', {{ total_count_recaptcha }}]
      ]);

      var options = {
        title: "Last 3 Months Totals",
        bar: {groupWidth: '95%'},
        legend: { position: 'none' },
        logscale: true,
      };

      var chart = new google.visualization.BarChart(document.getElementById('last_3_months_total'));
      chart.draw(data, options);
    }
</script>

<script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Month', 'Firewall', 'Registration', 'Comment', 'Contact', 'Honeypot', 'reCaptcha'],
          ['{{ spam_master_month_minus_3 }}', {{ total_month_firewall_3 }}, {{ total_month_registration_3 }}, {{ total_month_comment_3 }}, {{ total_month_contact_3 }}, {{ total_month_honeypot_3 }}, {{ total_month_recaptcha_3 }}],
          ['{{ spam_master_month_minus_2 }}', {{ total_month_firewall_2 }}, {{ total_month_registration_2 }}, {{ total_month_comment_2 }}, {{ total_month_contact_2 }}, {{ total_month_honeypot_2 }}, {{ total_month_recaptcha_2 }}],
          ['{{ spam_master_month_minus_1 }}', {{ total_month_firewall_1 }}, {{ total_month_registration_1 }}, {{ total_month_comment_1 }}, {{ total_month_contact_1 }}, {{ total_month_honeypot_1 }}, {{ total_month_recaptcha_1 }}],
        ]);

        var options = {
         title: "Last 3 Months Individual",
         bar: {groupWidth: '95%'},
         legend: { position: 'bottom', maxLines: 3 },
         logscale: true,
         axes: {
            x: {
              0: { side: 'bottom', label: ''}
            }
          },

        };

        var chart = new google.charts.Bar(document.getElementById('last_3_months'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
</script>

<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Day', 'Firewall', 'Registration', 'Comments', 'Contact', 'Honeypot', 'reCaptcha'],
          ['{{ spam_master_today_minus_5 }}', {{ totalitems_firewall_blocked_5 }}, {{ totalitems_registration_blocked_5 }}, {{ totalitems_comment_blocked_5 }}, {{ totalitems_contact_blocked_5 }}, {{ totalitems_honeypot_blocked_5 }}, {{ totalitems_recaptcha_blocked_5 }}],
          ['{{ spam_master_today_minus_4 }}', {{ totalitems_firewall_blocked_4 }}, {{ totalitems_registration_blocked_4 }}, {{ totalitems_comment_blocked_4 }}, {{ totalitems_contact_blocked_4 }}, {{ totalitems_honeypot_blocked_4 }}, {{ totalitems_recaptcha_blocked_4 }}],
          ['{{ spam_master_today_minus_3 }}', {{ totalitems_firewall_blocked_3 }}, {{ totalitems_registration_blocked_3 }}, {{ totalitems_comment_blocked_3 }}, {{ totalitems_contact_blocked_3 }}, {{ totalitems_honeypot_blocked_3 }}, {{ totalitems_recaptcha_blocked_3 }}],
          ['{{ spam_master_today_minus_2 }}', {{ totalitems_firewall_blocked_2 }}, {{ totalitems_registration_blocked_2 }}, {{ totalitems_comment_blocked_2 }}, {{ totalitems_contact_blocked_2 }}, {{ totalitems_honeypot_blocked_2 }}, {{ totalitems_recaptcha_blocked_2 }}],
          ['{{ spam_master_today_minus_1 }}', {{ totalitems_firewall_blocked_1 }}, {{ totalitems_registration_blocked_1 }}, {{ totalitems_comment_blocked_1 }}, {{ totalitems_contact_blocked_1 }}, {{ totalitems_honeypot_blocked_1 }}, {{ totalitems_recaptcha_blocked_1 }}],
        ]);

        var options = {
          title: 'Last 5 days',
          curveType: 'function',
          legend: { position: 'right' },
          series: {
			0: { pointSize: '10'},
			1: { pointSize: '10'},
			2: { pointSize: '10'},
			3: { pointSize: '10'},
			4: { pointSize: '10'},
			5: { pointSize: '10'},
			6: { pointSize: '10'},
		   },
		   logscale: true,
        };

var chart = new google.visualization.LineChart(document.getElementById('5_days'));

 chart.draw(data, options);
}
</script>

<div id="total_count" style="width: 100%; height: 150px;"></div>

<div class="spammaster_fw_footer">
</div>

<div id="last_3_months_total" style="width: 100%; height: 350px;"></div>

<div class="spammaster_fw_footer">
</div>

<div id="last_3_months" style="width: 100%; height: 350px;"></div>

<div class="spammaster_fw_footer">
</div>

<div id="5_days" style="width: 100%; height: 350px;"></div>

<div class="spammaster_fw_footer">
	<p><a href="/admin/config/system/spammaster/log"><- back to settings</a></p>
	<p>Powered by <a href="https://spammaster.techgasp.com">Spam Master</a></p>
</div>

{% else %}

<p>Sorry, this page is restricted to administrators.</p>

<div class="spammaster_fw_footer">
	<p>Powered by <a href="https://spammaster.techgasp.com">Spam Master</a></p>
</div>

{% endif %}
