<div class="vimeo-upload">
  <div class="vimeo-upload__content">
    <div class="vimeo-upload__group is-visible" data-step="1">
      <p>{{ 'Upload a video on Vimeo and get its URL.'|t }}</p>
      <div class="form-item">
        <label for="videoName">{{ "Name"|t }}</label>
        <input type="text" name="name" id="videoName" class="form-text vimeo-upload__required" placeholder="{{ "Video name"|t }}">
      </div>
      <div class="form-item">
        <label for="videoDescription">{{ "Description"|t }}</label>
        <textarea name="description" id="videoDescription" class="form-textarea vimeo-upload__required" placeholder="{{ "Video description"|t }}"></textarea>
      </div>
      <div class="form-item">
        <label>
          <input type="checkbox" id="upgrade_to_1080" name="upgrade_to_1080"> {{ "Upgrade to 1080"|t }}
        </label>
      </div>
      <div class="form-item">
        <label>
          <input type="checkbox" id="make_private" name="make_private" class="form-checkbox" checked> {{ "Make Private"|t }}
        </label>
      </div>
      <div class="form-actions">
        <button class="button vimeo-upload__next" disabled data-step="1">{{ "Next"|t }}</button>
      </div>
    </div>

    <div class="vimeo-upload__group" data-step="2">
      <div class="form-item">
        <div id="drop_zone" class="vimeo-upload__drop-zone">
          <div class="vimeo-upload__drop-zone-text-drop">
            {{ 'Drop a video file here or'|t }}
            <label class="button">
              {{ "Select a file"|t }} <input id="browse" type="file" style="display: none;">
            </label>
          </div>
          <div class="vimeo-upload__drop-zone-text-hover">
            {{ 'Drop to upload'|t }}
          </div>
          <div class="vimeo-upload__drop-zone-text-uploading progress" id="progress-container">
            <div class="progress__track">
              <div class="progress__bar" id="progress-bar" role="progressbar" style="width: 0%"></div>
            </div>
            <div class="progress__percentage" id="progress-percentage">57%</div>
          </div>
          <div class="vimeo-upload__drop-zone-text-done" id="progress-results">
            <div id="results"></div>
            <div class="vimeo-upload__url">
              <input type="text" name="name" class="form-text" id="videoUrl" readonly>
              <button class="button vimeo-upload__url-button" data-step="2">{{ "Copy url"|t }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button class="button vimeo-upload__prev" data-step="2">{{ "Previous"|t }}</button>
      </div>
    </div>
  </div>
</div>
