<ul class="nav nav-tabs  nav-stacked col-md-{{ tabs_width }}" role="tablist">

    {% for tab in tabs %}
        <li role="presentation" class="{{ tab.active ? "active" : "" }}" ><a href="#{{ tab.id }}" aria-controls="home" role="tab" data-toggle="tab">{{ tab.title }}</a></li>
    {% endfor %}
</ul>
<div class="tab-content col-md-{{ 12 - tabs_width }}">
    {% for tab in tabs %}
        <div role="tabpanel" class="tab-pane {{ tab.active ? "active" : "" }}" id="{{ tab.id }}">{{ tab.text }}</div>
    {% endfor %}
</div>
