{%
set classes = [
  'commerce-cart-block',
  'commerce-cart-block--type-button',
  in_cart ? 'is-inCart',
]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="commerce-cart-block--summary">
    <a class="commerce-cart-block--link{{ content ? " commerce-cart-block--link__expand" }}" href="{{ url }}">
      <span class="commerce-cart-block--summary__icon">{{ icon }}</span>
      <span class="commerce-cart-block--summary__label">{{ button_label }}</span>
    </a>
  </div>

  {% if content %}
  <div class="commerce-cart-block--contents">
    <div class="commerce-cart-block--contents__inner">
      {{ content }}
    </div>
  </div>
  {% endif %}
</div>
