{{ change_form }}

<div id="surah-nav">
    <a href="{{ path('quran_surah', {'surah' : data.index - 1}) }}{% if lang != 'en' %}?trans={{ lang }}{% endif %}" {% if data.index == 1 %}style="visibility: hidden;"{% endif %}>← </a>
    <a href="{{ path('quran_main') }}">{{ 'Table of Content'|t }}</a>
    <a href="{{ path('quran_surah', {'surah' : data.index + 1}) }}{% if lang != 'en' %}?trans={{ lang }}{% endif %}" {% if data.index == 114 %}style="visibility: hidden;"{% endif %}> →</a>
</div>

<div id="surah-header">
    <h2>{% trans %}Chapter {{ data.index }}{% endtrans %}</h2>
    <h2>{{ data.ename }}<small>{{ data.tname }} ({{ data.name }})</small></h2>
</div>

<p>{% trans %}{{ data.ayas }} verses • revealed at {{ data.type }}{% endtrans %}</p>

<div class="trans-{{ lang }}">
    {{ surah_content }}
</div>