{#
/**
 * @file
 * Default theme implementation to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */

/* Facture module variables */
- devise
- remise_montant
- facture_item
- acompte
- montant_total_ht
- montant_total_tva
- montant_total_ttc
- invoice_netapayer
- entreprise_name
- entreprise_adresse
- entreprise_code_postal
- entreprise_ville
- entreprise_iban
- entreprise_siret
- entreprise_ape
- entreprise_tva
- entreprise_rcs
#}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <header>
    {{ title_prefix }}
    {% if not page %}
      <h2{{ title_attributes.addClass('node__title') }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    {% endif %}
    {{ title_suffix }}
    {% if display_submitted %}
      <div class="node__meta">
        {{ author_picture }}
        {% block submitted %}
          <em{{ author_attributes }}>
            {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
          </em>
        {% endblock %}
        {{ metadata }}
      </div>
    {% endif %}
  </header>
  <div id="print-area" {{ content_attributes.addClass('node__content', 'clearfix') }}>
    {#{{ content }}#}
      <div id="facture-top">
          <table style="width:100%">
              <tr>
                  <td style="width: 50%;">
                      <div id="company">{{ content.field_entreprise }}
                      </div>
                  </td>
                  <td style="width: 50%;">
                      <div id="customer">{{ content.field_client }}</div>
                  </td>
              </tr>
          </table>
      </div>
      <div id="facture-content">
          {#{{ vardumper() }}#}
          <div class="facture-ref">{{ content.field_invoice_number }}</div>
          <div class="facture-information">{{ content.field_invoice_date }}</div>
          <div class="facture-information">{{ content.field_invoice_information }}</div>
          <div class="facture-table">
              <table class="table table-striped table-bordered"  style="border-collapse: collapse;">
                  <tr>
                      <th>{{ 'Désignation'|t }}</th>
                      <th style="width: 10%">{{ 'Prix unitaire'|t }} {{ devise }}</th>
                      <th style="width: 10%">{{ 'Taux TVA %'|t }}</th>
                      <th style="width: 5%">{{ 'Qté'|t }}</th>
                      {% if remise_montant %}
                      <th style="width: 10%">{{ 'Remise %'|t }}</th>
                      {% endif %}
                      <th style="width: 15%">{{ 'Montant HT'|t }} {{ devise }}</th>
                  </tr>
                  {% for item in facture_item %}
                      <tr>
                          <td>{{ item.entity.field_designation.value|t() }}</td>
                          <td>{{ (item.entity.field_prix_unitaire_ht.value)|number_format(2, ',', ' ') }}</td>
                          <td>{{ item.entity.field_tva.value }}</td>
                          <td>{{ item.entity.field_quantite.value }}</td>
                          {% if remise_montant %}
                          <td>{{ item.entity.field_remise.value }}</td>
                          {% endif %}
                          <td>{{ (item.entity.field_total_item_ht.value)|number_format(2, ',', ' ') }}</td>
                      </tr>
                  {% endfor %}
              </table>
              <table class="table table-striped table-bordered"  style="border-collapse: collapse;">
                  <tr>
                   {% if remise_montant %}
                      <th>{{ 'Total Remise HT'|t }}</th>
                   {% endif %}
                      <th>{{ 'Total HT'|t }} {{ devise }}</th>
                      <th>{{ 'Total TVA'|t }} {{ devise }}</th>
                      <th>{{ 'Total TTC'|t }} {{ devise }}</th>
                    {% if acompte %}
                      <th>{{ 'Acompte versé'|t }} {{ devise }}</th>
                    {% endif %}
                      <th>{{ 'Net à payer'|t }} {{ devise }}</th>
                  </tr>
                  <tr>
                  {% if remise_montant %}
                      <td>-{{ (remise_montant)|number_format(2, ',', ' ') }}</td>
                  {% endif %}
                      <td>{{ (montant_total_ht)|number_format(2, ',', ' ') }}</td>
                      <td>{{ (montant_total_tva)|number_format(2, ',', ' ') }}</td>
                      <td>{{ (montant_total_ttc)|number_format(2, ',', ' ') }}</td>
                  {% if acompte %}
                      <td>{{ (acompte)|number_format(2, ',', ' ') }}</td>
                  {% endif %}
                      <td><b>{{ (invoice_netapayer)|number_format(2, ',', ' ') }}</b></td>
                  </tr>
              </table>
              <div class="facture-exigibilite">{{ content.field_date_penalite }}</div>
              <div class="facture-penalite">{{ content.field_penality_rate }}</div>
          </div>
      </div>
      <div id="facture-footer">
          <div class="footer-reglement">
              {{ 'Règlement à '|t }}
              {# titre #}
              {{ entreprise_name }}
              {# ADRESSE #}
              - {{ entreprise_adresse }}
              {{ entreprise_code_postal }} {{ entreprise_ville }}
              {# IBAN #}
              {% if entreprise_iban %}
                  - IBAN: {{ entreprise_iban }}
              {% endif %}
          </div>
          <div class="footer-legal">
              {# SIRET #}
              Siret: {{ entreprise_siret }}
              {# APE #}
              {% if entreprise_ape %}
                  - Code APE: {{ entreprise_ape }}
              {% endif %}
              {# TVA #}
              - TVA intracommunautaire: {{ entreprise_tva }}
              {# RCS #}
              <br> RCS: {{ entreprise_rcs }}


          </div>
      </div>

  </div>
</article>
