{#
/**
 * @file
 * Renders Janrain Social Login links.
 *
 * Available variables:
 * - providers: A list of the block's configuration values.
 *   - name: Social media name.
 *   - logo: Social media logo.
 *   - link: Janrain social login url.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('janrain_connect_social/janrain_connect_social') }}

{%
  set classes = [
    'janrain-social-login',
    'janrain-providers',
  ]
%}
<div{{ attributes.addClass(classes) }}>
    <div class="social-container">
    <p>{{ "Sign in with"|trans }}</p>

    {% for row in providers|batch(2) %}
      <div class="row">
        {% for provider in row %}
          <div class="column">
            <a class="janrain-social-link provider" href="{{ provider.link|e }}">
              <span class="janrain-social-icon" style="background-image:url({{ provider.logo }});">{{ provider.name }}</span>
            </a>
          </div>
        {% endfor %}
      </div>
    {% endfor %}

  </div>
</div>
