<style>
table, th, td {
   border: 1px solid #ccc;
}
</style>
<table style="width:70%;">
  <tr>
    <th>Server Address</th>
    <td>{{ result.server_addr }}</td>
  </tr>
  <tr>
    <th>Database Host name</th>
    <td>{{ result.hostname }}</td>
  </tr>
  <tr>
    <th>Database Name</th>
    <td>{{ result.database }}</td>
  </tr>
  <tr>
    <th>Current Theme</th>
    <td>{{ result.theme }}</td>
  </tr>
  <tr>
    <th>Path To Theme</th>
    <td>{{ directory }}</td>
  </tr>
  <tr>
    <th>Base Url</th>
    <td>{{ url('<front>') }}</td>
  </tr>
</table>
