{#
/**
 * @file
 * Default theme implementation for CiviMail HTML mail.
 * Variables:
 * - base_path : The absolute URL, with a trailing slash.
 *   Allows template overrides to load assets provided by the current theme
 *   with {{ base_path ~ directory }}
 * - is_test : A boolean indicating that the mail is used in test mode.
 * - absolute_link
 * - translation_links
 * - entity_view
 * - civicrm_unsubscribe_url
 * - @todo add documentation
#}

{% if civicrm_header %}
  {{ civicrm_header }}
{% endif %}

{{ absolute_link }}

{% if translation_links %}
  {% trans %}View in other languages {{ translation_links }}{% endtrans %}
{% endif %}

{{ entity_view }}

{% if civicrm_footer %}
  {{ civicrm_footer }}
{% endif %}

{% if civicrm_unsubscribe_url %}
  {# CiviCRM token is not useable here #}
  {#{{ link('Unsubscribe'|t, civicrm_unsubscribe_url, { 'class':['unsubscribe']} ) }}#}
  <a href="{{ civicrm_unsubscribe_url }}" class="unsubscribe">{{ 'Unsubscribe'|t }}</a>
{% endif %}
