{#
/**
 * @file
 * Default theme implementation to display the entity mailing.
 *
 * Available variables:
 * - title: The entity title.
 * - preview_link: The mail preview link.
 * - entity: The entity that is the subject of the mailing.
 * - entity_send_form: A form to send the entity to CiviCRM groups.
 * - sent_mailings: The table of already sent mailings for this entity.
 *
 * @see template_preprocess_entity_mailing()
 *
 * @ingroup themeable
 */
#}

<div{{ attributes }}>
    <h1>{{ title }}</h1>
    <div>{{ entity_send_form }}</div>
    <div>{{ preview_link }}</div>
    <div>{{ sent_mailings }}</div>
</div>
