{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{% import _self as menus %}
<div class="login-info">
  <span> <!-- User image size is adjusted inside CSS, it should stay as is -->
    <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
      <img src="{{ base_path }}/themes/smart/images/avatars/5.png" alt="me" class="online" />
      <span>
      	{{user}}
      </span>
      <i class="fa fa-angle-down"></i>
    </a>
  </span>
</div>
<nav>
  <ul>
    {{ menus.menu_links(items, attributes, 0) }}
  </ul>
</nav>
<span data-action="minifyMenu" class="minifyme"> <i class="fa fa-arrow-circle-left hit"></i> </span>
{% macro menu_icon(id) %}
  {% import _self as icon %}
{% endmacro %}
{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% for k,item in items %}
      {% if k=='system.admin' %}
        {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
      {% elseif k=='admin_user' %}
      {% else %}
        {% if item.below %}
        <li{{ item.attributes }}>
          <a href="javascript:;" title="{{ item.title }}">
            {% if menu_level ==2 %}
            <i class="fa fa-lg fa-fw"></i>
            {% else %}
              <i class="fa fa-lg fa-fw {{ item.data_icon }}"></i>
            {% endif %}
            <span class="menu-item-parent">{{ item.title }}</span>
          </a>
          <ul>
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          </ul>
        </li>
        {% else %}
        <li{{ item.attributes }} {{ menu_level}}>
          {% if menu_level ==2 %}
            <a href="{{ item.url }}" title="{{ item.title }}"><i class="fa fa-lg fa-fw"></i> <span class="menu-item-parent">{{ item.title }}</span></a>
          {% else %}
            <a href="{{ item.url }}" title="{{ item.title }}"><i class="fa fa-lg fa-fw {{ item.data_icon }}"></i> <span class="menu-item-parent">{{ item.title }}</span></a>
          {% endif %}
        </li>
        {% endif %}  {# end if item.below #}
      {% endif %} {# end if k == system.admin #}
    {% endfor %} {# end for items #}
  {% endif %} {# end items #}
{% endmacro %}

