{#
/**
 * Default theme implementation for Trail graph sidebar area.
 *
 * Available variables:
 * - view: View to render.
 * - form: Form to render.
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
    'views-trail-graph__sidebar',
    options.classes,
]
%}
<div{{ attributes.addClass(classes).setAttribute('id', 'trail-graph-sidebar') }}>
    <section class="views-trail-graph__sidebar__tabs">
        <input id="trail-graph-tab-1" type="radio" name="tabs" checked>
        <label for="trail-graph-tab-1">{{ first_tab }}</label>
        <input id="trail-graph-tab-2" type="radio" name="tabs">
        <label for="trail-graph-tab-2">{{ second_tab }}</label>
    </section>
    <section class="views-trail-graph__sidebar__section" data-tab-id="trail-graph-tab-1">
    {% if view %}
        {{ view }}
    {% endif %}
    </section>
    <section id="trails-form-tab-content" class="views-trail-graph__sidebar__section" data-tab-id="trail-graph-tab-2">
    {% if form %}
        {{ form }}
    {% endif %}
    </section>
</div>
