<div id="{{ container_id }}" class="nexx-video" data-nexx-video-id="{{ video_id }}" data-nexx-video-autoplay="{{ autoplay }}" data-nexx-video-exitmode="{{ exitMode }}" data-nexx-video-disableads="{{ disableAds }}" data-nexx-video-streamtype="{{ streamType }}"></div>
