{#
@todo: for inline styles see https://www.drupal.org/project/drupal/issues/2391025 issue
  implement when fixed

Available variables:
id
thumbnail_path
name
preview
edit
delete
#}
{# @todo: choose permissions #}
<div class="drawing-embed-option-wrapper" style="background-image: url({{ thumbnail_path }})">
  <div class="drawing-name">
    {{ name }}
  </div>
  {% if preview_link or edit_link or delete_link %}
  <div class="drawing-actions-wrapper">
    <div class="js-toggle-actions toggle-actions icon">
      <span>
        {{ 'Actions'|t }}
      </span>
    </div>
    <div class="drawing-actions">
      {% if preview_link %}
      <div class="icon action-preview">
        {{ preview_link }}
      </div>
      {% endif %}
      {% if edit_link %}
      <div class="icon action-edit">
        {{ edit_link }}
      </div>
      {% endif %}
      {% if delete_link %}
      <div class="icon action-delete">
        {{ delete_link }}
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>
