{#
/**
 * @file
 * Default theme implementation for the individual Mason box/item template.
 *
 * Available variables:
 * - attributes: An array of attributes to apply to the element.
 * - item.box: A renderable array of the main image/background, or empty if
 *   CSS background image is preferred.
 * - item.caption: A renderable array containing caption fields if provided:
 *   - title: The individual box title.
 *   - link: The box links or buttons.
 *   - data: any possible field for more complex data if crazy enough.
 * - settings: An array containing the given settings.
 *
 * @see template_preprocess_mason_box()
 */
#}
{%
  set classes = [
    fillers ? 'mason__fill' : 'mason__box',
    'box box--' ~ delta,
    settings.layout ? 'box--caption--' ~ settings.layout|clean_class,
    settings.background ? 'box--background',
    settings.class ? settings.class
  ]
%}
{%
  set content_classes = [
    'box__content'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass(content_classes) }}>

  {{ item.box }}

  {% if item.caption %}
    <div class="box__caption">

      {% if item.caption.title %}
        <h2 class="box__title">{{ item.caption.title }}</h2>
      {% endif %}

      {% if item.caption.data or item.caption.alt %}
        <div class="box__description">
          {{ item.caption.data }}
          {{ item.caption.alt }}
        </div>
      {% endif %}

      {% if item.caption.link %}
        <div class="box__link">{{ item.caption.link }}</div>
      {% endif %}

    </div>
  {% endif %}

  </div>
</div>
