{#
/**
 * @file
 * Default theme implementation to display naming help.
 *
 * Available variables:
 * - content: The content of this naming convention.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID.
 * - title_prefix: Used to render contextual links.
 * - title_suffix: Used to render contextual links.
 *
 * @see template_preprocess_naming_help()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'naming-help',
  ]
%}
{{ attach_library('naming/naming') }}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
