<div class="pager-block-wrapper">
  <div class="pager-block">

  {% for obj in data %}
    <a href="{{ obj.href|raw }}">
      <div class="pager-block-item {{ obj.class }}">
        <h2><span class="pager-prefix">&laquo;</span>{{ obj.label }}<span class="pager-suffix">&raquo;</span></h2>
        <img src="{{ obj.src|raw }}" alt="{{ obj.alt }}" />
        <p>{{ obj.title|raw }}</p>
      </div>
    </a>
  {% endfor %}

  </div>
</div>
