{% for obj in data %}
<div class="pager-wing-wrapper {{ obj.class }}">
  <div class="pager-wing">

    <a href="{{ obj.href|raw }}">
      <div class="winglet wing-left">&laquo;</div>
      <div class="winglet wing-right">&raquo;</div>
      <div class="pager-wing-item">
        <img src="{{ obj.src|raw }}" alt="{{ obj.alt }}" />
        <p>{{ obj.title|raw }}</p>
        <h2>{{ obj.label }}</h2>
      </div>
    </a>

  </div>
  <div class="pager-block-clear">
  </div>
</div>
{% endfor %}
