<div class="map-preview"
        {% for attributeName, attributeValue in mapOptions %}
     data-{{ attributeName }}={{ attributeValue }}
            {% endfor %}
>Map
</div>
<div>
    <strong>Latitude:</strong> <span class="map-preview-lat">{{ mapOptions['init-center-lat'] }}</span>
    <strong>Longtitude:</strong> <span class="map-preview-lng">{{ mapOptions['init-center-lng'] }}</span>
    <strong>Zoom:</strong> <span class="map-preview-zoom">{{ mapOptions['init-zoom'] }}</span>
</div>
