<section class="map-object-field">
    {% if name %}
        <h2>{{ name }}</h2>
    {% endif %}

    <div class="map"
            {% if mapOptions %}
                {% for attributeName, attributeValue in mapOptions %}
                    data-{{ attributeName }}="{{ attributeValue }}"
                {% endfor %}
            {% endif %}
         data-overlays="{{ overlays }}"

            {% if mapWidth or mapHeight %}
                style="width:{{ mapWidth }}; height:{{ mapHeight }};"
            {% endif %}
    >Map
    </div>
</section>
