{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - withdrawal_methods : The enabled methods for withdrawing money.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
<ul>
  {% if user.hasPermission('deposit funds') %}
      <li><a href="{{ path('uc_funds.deposit') }}" class="operation-link">{{ 'Deposit funds'|t }}</a></li>
  {% endif %}
  {% if user.hasPermission('transfer funds') %}
    <li><a href="{{ path('uc_funds.transfer') }}" class="operation-link">{{ 'Transfer funds'|t }}</a></li>
  {% endif %}
  {% if user.hasPermission('create escrow payment') %}
    <li><a href="{{ path('uc_funds.escrow') }}" class="operation-link">{{ 'Create escrow payment'|t }}</a></li>
  {% endif %}
  {% if user.hasPermission('withdraw funds') and withdrawal_methods %}
    <li><a href="{{ path('uc_funds.withdraw') }}" class="operation-link">{{ 'Withdraw funds'|t }}</a></li>
  {% endif %}
  {% if user.hasPermission('create escrow payment') %}
    <li><a href="{{ path('view.uc_funds_user_transactions.incoming_escrow_payments') }}" class="operation-link">{{ 'Manage escrow payments'|t }}</a></li>
  {% endif %}
  {% if user.hasPermission('withdraw funds') and withdrawal_methods %}
    <li><a href="{{ path('uc_funds.withdrawal_methods') }}" class="operation-link">{{ 'Configure withdrawal methods'|t }}</a></li>
  {% endif %}
  {% if user.hasPermission('withdraw funds') %}
    <li><a href="{{ path('view.uc_funds_user_withdrawal_requests.pending_requests') }}" class="operation-link">{{ 'View withdrawal requests'|t }}</a></li>
  {% endif %}
  {% if user.hasPermission('view own transactions') %}
    <li><a href="{{ path('view.uc_funds_user_transactions.issued_transactions') }}" class="operation-link">{{ 'View all transactions'|t }}</a></li>
  {% endif %}
</ul>
