
{% for widget in widgets %}
<div class="panel sl-admin-ui-block">
  <h3 class="panel__title">{{ widget.title }}</h3>
  <div class="panel__content">
        <div class="description">{{ widget.description }}</div>
        <div>{{ widget.current }}</div>
        <div>{{ widget.content }}</div>
        <div>{{ widget.links }}</div>
  </div>
</div>
{% endfor %}