{{ attach_library('git_issues/gitissues.view') }}

{% if edit %}
    <a class="button close-link" href="{{  path('git_issues.issue.state', {'issueId': issue.id, 'state': actions[issue.state]}) }}">{{ actions[issue.state]|capitalize }} issue</a>
    <a class="button edit-link" href="{{  path('git_issues.issue.edit', {'issueId': issue.id}) }}">Edit</a>
{% endif %}
<div class="created-wrapper">
    Created by <span class="author">{{ issue.author.name }}</span> at <span class="created">{{ issue.created_at|date("m/d/Y H:i") }}</span>
    {% if issue.updated_string is defined and  issue.updated_string is not null and issue.updated_string is not empty %}
        | Updated by <span class="author">{{ issue.updated_string.author }}</span> at <span class="created">{{ issue.updated_string.date|date("m/d/Y H:i") }}</span>
    {% endif %}
</div>
<div class="status-wrapper">
    Status: <span class="state label state-{{ issue.state|clean_class }}">{{ issue.state|capitalize }}</span>
</div>
{% if issue.priority is defined %}
<div class="priority-wrapper">
    Priority: <span class="state label state-{{ issue.priority|clean_class }}">{{ issue.priority|capitalize }}</span>
</div>
{% endif %}
{% if issue.due_date is defined and  issue.due_date is not null and issue.due_date is not empty %}
    <div class="label-wrapper">
        Due date: <span class="label">{{ issue.due_date|date("m/d/Y") }} </span>
    </div>
{% endif %}
{% if issue.labels is defined and  issue.labels is not null and issue.labels is not empty %}
    <div class="label-wrapper">
        Labels: <span class="label">{{ issue.labels|join(', ')|capitalize }} </span>
    </div>
{% endif %}
<div class="descr-wrapper">
    <p>{{ issue.description }}</p>
</div>
{% if comments|length > 0 %}
    <h2 class="title">Comments</h2>
    <div class="comments-wrapper">
        {% for comment in comments %}
            <div class="comment-wrapper">
                <p class="comment-body">{{ comment.body }}</p>
                <label class="comment-author">{{ comment.author.name }} - commented at {{ comment.created_at|date("m/d/Y H:i") }}</label>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% if edit %}
<details data-drupal-selector="write-comment" id="write-comment" class="js-form-wrapper form-wrapper" open="">
    <summary role="button" aria-controls="write-comment" aria-expanded="true" aria-pressed="true">Write a comment</summary>
    <div class="details-wrapper">
        <form class="comment-post" method="post" action="{{  path('git_issues.issue.comment', { 'issueId': issue.id}) }}">
            <div class="form-type-textarea form-item-comment-post">
                <textarea id="commentBody" class="form-textarea" name="commentBody" rows="4" cols="50"></textarea>
            </div>
            <div data-drupal-selector="edit-actions" class="form-actions form-wrapper" id="edit-actions">
                <input class="button button--primary form-submit" type="submit" value="Comment">
            </div>
        </form>
    </div>
</details>
{% endif %}