<div class="availability-timing-default-formatter">
  <div class="availability-period">
    <span class="availability-period-from">{{ "%02d"|format(item.start_period_month) }}/{{ "%02d"|format(item.start_period_day) }}</span> - <span class="availability-period-until">{{ "%02d"|format(item.end_period_month) }}/{{ "%02d"|format(item.end_period_day) }}</span>
  </div>
  <div class="availability-timing">
    <ul class="availability-timing-schedules">
      {% if first_day == 0 %}
        {% if item.sun %}
          <li>
            {{ 'Sunday'|t }}:
            {% for schedule in item.timing.sun %}
              {{ "%02d"|format(schedule.start_time_hour) }}:{{ "%02d"|format(schedule.start_time_minute) }} - {{ "%02d"|format(schedule.end_time_hour) }}-{{ "%02d"|format(schedule.end_time_minute) }}
              {% if not loop.last %}
                &nbsp;|&nbsp;
              {% endif %}
            {% endfor %}
          </li>
        {% endif %}
      {% endif %}
      {% if item.mon %}
        <li>
          {{ 'Monday'|t }}:
          {% for schedule in item.timing.mon %}
            {{ "%02d"|format(schedule.start_time_hour) }}:{{ "%02d"|format(schedule.start_time_minute) }} - {{ "%02d"|format(schedule.end_time_hour) }}-{{ "%02d"|format(schedule.end_time_minute) }}
            {% if not loop.last %}
              &nbsp;|&nbsp;
            {% endif %}
          {% endfor %}
        </li>
      {% endif %}
      {% if item.tue %}
        <li>
          {{ 'Tuesday'|t }}:
          {% for schedule in item.timing.tue %}
            {{ "%02d"|format(schedule.start_time_hour) }}:{{ "%02d"|format(schedule.start_time_minute) }} - {{ "%02d"|format(schedule.end_time_hour) }}-{{ "%02d"|format(schedule.end_time_minute) }}
            {% if not loop.last %}
              &nbsp;|&nbsp;
            {% endif %}
          {% endfor %}
        </li>
      {% endif %}
      {% if item.wed %}
        <li>
          {{ 'Wednesday'|t }}:
          {% for schedule in item.timing.wed %}
            {{ "%02d"|format(schedule.start_time_hour) }}:{{ "%02d"|format(schedule.start_time_minute) }} - {{ "%02d"|format(schedule.end_time_hour) }}-{{ "%02d"|format(schedule.end_time_minute) }}
            {% if not loop.last %}
              &nbsp;|&nbsp;
            {% endif %}
          {% endfor %}
        </li>
      {% endif %}
      {% if item.thu %}
        <li>
          {{ 'Thursday'|t }}:
          {% for schedule in item.timing.thu %}
            {{ "%02d"|format(schedule.start_time_hour) }}:{{ "%02d"|format(schedule.start_time_minute) }} - {{ "%02d"|format(schedule.end_time_hour) }}-{{ "%02d"|format(schedule.end_time_minute) }}
            {% if not loop.last %}
              &nbsp;|&nbsp;
            {% endif %}
          {% endfor %}
        </li>
      {% endif %}
      {% if item.fri %}
        <li>
          {{ 'Friday'|t }}:
          {% for schedule in item.timing.fri %}
            {{ "%02d"|format(schedule.start_time_hour) }}:{{ "%02d"|format(schedule.start_time_minute) }} - {{ "%02d"|format(schedule.end_time_hour) }}-{{ "%02d"|format(schedule.end_time_minute) }}
            {% if not loop.last %}
              &nbsp;|&nbsp;
            {% endif %}
          {% endfor %}
        </li>
      {% endif %}
      {% if item.sat %}
        <li>
          {{ 'Saturday'|t }}:
          {% for schedule in item.timing.sat %}
            {{ "%02d"|format(schedule.start_time_hour) }}:{{ "%02d"|format(schedule.start_time_minute) }} - {{ "%02d"|format(schedule.end_time_hour) }}-{{ "%02d"|format(schedule.end_time_minute) }}
            {% if not loop.last %}
              &nbsp;|&nbsp;
            {% endif %}
          {% endfor %}
        </li>
      {% endif %}
      {% if first_day != 0 %}
        {% if item.sun %}
          <li>
            {{ 'Sunday'|t }}:
            {% for schedule in item.timing.sun %}
              {{ "%02d"|format(schedule.start_time_hour) }}:{{ "%02d"|format(schedule.start_time_minute) }} - {{ "%02d"|format(schedule.end_time_hour) }}-{{ "%02d"|format(schedule.end_time_minute) }}
              {% if not loop.last %}
                &nbsp;|&nbsp;
              {% endif %}
            {% endfor %}
          </li>
        {% endif %}
      {% endif %}
    </ul>
  </div>
</div>
