{#
/**
 * @file
 * Default theme implementation for a fieldgroup html element.
 *
 * Available variables:
 * - title: Title of the group.
 * - children: The children of the group.
 * - attributes: A list of HTML attributes for the group wrapper.
 * - button: Return HTML button.
 * - modal_drupal: Used drupal modal or not.
 *
 * @see template_preprocess_field_group_modal_bootstrap()
 *
 * @ingroup themeable
 */
#}
<div {{ attributes }}>
    {{ button }}
    <div id="{{ id }}" class="modal fade" style="display:none;" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    {% if title %}
                        <h4{% if collapsible %} class="field-group-toggler"{% endif %}>{{ title }}</h4>
                    {% endif %}
                </div>
                {% if collapsible %}
                <div class="field-group-wrapper">
                    {% endif %}
                    <div class="modal-body">
                        {{ children }}
                    </div>
                    {% if collapsible %}
                </div>
                {% endif %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|t }}</button>
                </div>
            </div>
        </div>
    </div>

</div>
