<h3>{{ 'Google crawl errors'|t }}</h3>
<table>
    {% for result in contents %}
    <tr>
        <td class="align-left">
            <a href="/{{ result.page_url }}">{{ result.page_url }}</a> <span class="toggle-crawl-errors-details">+</span>
            <div class="crawl-errors-details">{{ 'Last crawled:'|t }} {{ result.last_crawled }} <br >
                {% if result.linked_from_urls %}
                    <ul>
                    {% for linked_from_url in result.linked_from_urls %}
                        <li><a href="{{ linked_from_url }}" target="_blank">{{ linked_from_url }}</a></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </td>
    </tr>
    {% endfor %}

    {% if show_full_link %}
    <tr>
        <td class="align-left"><a href="/google-crawl-errors/list">{{ 'View full list'|t }}</a></td>
    </tr>
    {% endif %}
</table>