{{ attach_library('moon_phases/moon_phases') }}
<article class="moon-calendar">
  <header>
    {% if previous %}
      {{ previous }}
    {% endif %}
      {% if next %}
          {{ next }}
      {% endif %}
  </header>
  <section id="calendar">
    <header>
      {% if header %}
        {{ header }}
      {% endif %}
    </header>
    {% if calendar %}
      {{ calendar }}
    {% endif %}
    <div style="clear: both;"></div>
    {% if attribution %}
      {{ attribution }}
    {% endif %}
  </section>
</article>