{{ attach_library('moon_phases/moon_phases') }}
<article class="moon_page">
  <header>
    {% if previous %}
      {{ previous }}
    {% endif %}

    {% if next %}
      {{ next }}
    {% endif %}
    <div style="clear:both;"></div>
  </header>
  <section>
    {% if image %}
      {{ image }}
    {% endif %}

    {% if description %}
        {{ description }}
    {% endif %}

    {% if phase_data %}
        {{ phase_data }}
    {% endif %}

    {% if attribution %}
        {{ attribution }}
    {% endif %}
  </section>
</article>