<div{{ attributes.addClass(classes) }}>
  {% if day %}
    <span class="day">{{ day }}</span>
  {% endif %}
  
  {% if image %}
    {{ image }}
  {% endif %}

  <p>
  {% if phase_name %}
      <span class="phase-name">{{ phase_name }}</span>
  {% endif %}

  {% if full_date %}
      <span class="full-date">{{ full_date }}</span>
  {% endif %}
  </p>
  <div style="clear: both;"></div>
</div>
