{#
/**
 * @file
 * Default theme implementation to display the Mailchimp Popup Block.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('mailchimp_popup_block/mailchimp_popup_block') }}
<div class="mailchimp-popup-block">
  {% block description %}
    <div class="mailchimp-popup-block__button">{{ description }}</div>
  {% endblock %}
  {% block button %}
    <button class="mailchimp-popup-block__button mailchimp-popup-block__trigger" data-mailchimp-popup-block-baseurl="{{ mailchimp_baseurl }}" data-mailchimp-popup-block-uuid="{{ mailchimp_uuid }}" data-mailchimp-popup-block-lid="{{ mailchimp_lid }}">{{ button_text }}</button>
  {% endblock %}
</div>
