

<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <table id="acalepool"></table>
    <div id="acalepoolnav"></div>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->


<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="alert alert-danger fade in">
			<button data-dismiss="alert" class="close">
				×
			</button>
			<i class="fa-fw fa fa-warning"></i>
      <strong>注意:</strong> 通用审批流程设置可用于新增或修改模块的审批流程.
		</div>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->

<div class="row">
 <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
  <div data-widget-editbutton="false" data-widget-colorbutton="false" id="wid-id-2" class="jarviswidget jarviswidget-sortable" role="widget">
   <header role="heading">
    <div class="jarviswidget-ctrls" role="menu">
     <a data-placement="bottom" title="" rel="tooltip" class="button-icon jarviswidget-toggle-btn" href="javascript:void(0);" data-original-title="Collapse"><i class="fa fa-minus "></i></a>
     <a data-placement="bottom" title="" rel="tooltip" class="button-icon jarviswidget-fullscreen-btn" href="javascript:void(0);" data-original-title="Fullscreen"><i class="fa fa-expand "></i></a>
     <a data-placement="bottom" title="" rel="tooltip" class="button-icon jarviswidget-delete-btn" href="javascript:void(0);" data-original-title="Delete"><i class="fa fa-times"></i></a>
    </div>
    <span class="widget-icon"> <i class="fa fa-eye"></i> </span>
    <h2>通用审批流程设置</h2>
    <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
   </header>
   <!-- widget div-->
   <div role="content">
    <!-- widget edit box -->
    <div class="jarviswidget-editbox">
     <!-- This area used as dropdown edit box -->
    </div>
    <!-- end widget edit box -->
    {{form.form_build_id}}
    {{form.form_token}}
    {{form.form_id}}
    <!-- widget content -->
    <div class="widget-body">
      <fieldset>
       <input type="hidden" name="authenticity_token" />
       <div class="form-group">
        <label>模块名</label>
        {{ form.module }}
       </div>

      </fieldset>
      <div class="form-actions">
       {{ form.actions }}
      </div>
    </div>
    <!-- end widget content -->
   </div>
   <!-- end widget div -->
  </div>
 </article>
</div>


