
<div class="row">
  <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
    <div data-widget-sortable="false" data-widget-custombutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" id="wid-id-0" class="jarviswidget" role="widget">
      <header role="heading">
        <span class="widget-icon"> <i class="fa fa-hand-o-up"></i> </span>
        <h2>审批流程</h2>

        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
      </header>
      <div role="content">
        <div class="widget-body">

{{form.form_build_id}}
{{form.form_token}}
{{form.form_id}}
  <div class="approval-container">
   <div class="approval-option">
      <!-- row -->
      <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="alert alert-danger fade in">
            <button data-dismiss="alert" class="close">
              ×
            </button>
            <i class="fa-fw fa fa-warning"></i>
            重要提示:<br/> 1. <strong>{{ audit_status }}</strong><br/> 2. 如果当前这个审批流程不满足您的需求，请重新设置。
          </div>
        </article>
        <!-- WIDGET END -->
      </div>
      <!-- end row -->
   </div>

   <div class="approval-option">
    <div class="approval-option-head">
     <label><input type="radio" checked="" /><span> 不分条件设置审批人</span></label>
    </div>
    <div class="approval-option-body">
      {% if audit_user %}
    <div class="approval-setting">
        {% for it in audit_user %}
       <div class="approval-item">
        <div class="approval-item-person">
          {% if it.avatar %}
            <img src="{{ it.avatar }}" class="approval-item-avatar" />
          {% else %}
            <img src="//gw.alicdn.com/tps/TB1lY.0OpXXXXaWaXXXXXXXXXXX-80-80.png" class="approval-item-avatar" />
          {% endif %}
         <div class="approval-item-name-director">
            {{ it.realname }}
         </div>
        </div>
        <div class="approval-item-line"></div>
       </div>
        {% endfor %}
     </div>
    {% else %}
     <div class="approval-setting">
      <div class="approval-item approval-defaultitem">
       <div class="approval-item-person">
        <img src="//img.alicdn.com/tps/TB1pF0sJFXXXXalXpXXXXXXXXXX-80-80.png" class="approval-item-avatar" />
        <button class="kuma-button kuma-button-sblue">添加审批人</button>
       </div>
      </div>
     </div>

     {% endif %}
    </div>
   </div>

   <div class="approval-option">
    <div class="approval-option-head">

    </div>
   </div>
   <div class="approvalDupSettingWrap">
     {{ form.audit_config_level }}
    </div>



        </div>
        <!-- end widget content -->

      </div>
      <!-- end widget div -->

    </div>
    <!-- end widget -->
  </article>
  <!-- WIDGET END -->
</div>


   {{ form.actions }}
