{% import _self as tppp %}
<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="alert alert-danger fade in">
			<button data-dismiss="alert" class="close">
				×
			</button>
			<i class="fa-fw fa fa-warning"></i>
      重要提示: 仅支持审批人为具体用户。
		</div>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->
{{form.form_build_id}}
{{form.form_token}}
{{form.form_id}}
<div class="row">
  <article class="col-sm-12 col-md-12 col-lg-12 sortable-grid ui-sortable">
    <div data-widget-sortable="false" data-widget-custombutton="false" data-widget-editbutton="false" data-widget-colorbutton="false" id="wid-id-0" class="jarviswidget" role="widget">
      <header role="heading">
        <span class="widget-icon"> <i class="fa fa-hand-o-up"></i> </span>
        <h2>审批人</h2>

        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
      </header>
      <div role="content">
        <div class="widget-body">


 <div class="approval-panel width-963 visible">
   <div class="approval-panel-column column-left">
    <h3 class="approval-panel-title"><span>已选审批人</span><span></span><span></span></h3>
    <div class="approval-canvas">
     <div class="approval-inner">


       {% for it in audit_user %}


         <div class="approval-item approval-canvas-item" data-id={{ it.data_id }}>
            <div class="approval-item-person draghandler">
              {% if it.avatar %}
                <img src="{{ it.avatar }}" class="approval-item-avatar" />
              {% else %}
                <img src="//gw.alicdn.com/tps/TB1lY.0OpXXXXaWaXXXXXXXXXXX-80-80.png" class="approval-item-avatar" />
              {% endif %}
              <div class="approval-item-name-director">
                {{ it.realname }}
              </div>
            </div>
            <i class="kuma-icon kuma-icon-close approval-item-remove"></i>
            <div class="approval-item-line"></div>
          </div>



       {% endfor %}



     </div>
    </div>
   </div>






   <!-- visually-hidden -->

   <div class="approval-panel-column column-right">
    <span></span>
    <h3 class="approval-panel-title line-top">指定审批人</h3>
    <div class="approval-user-permission">
     <div class="approval-search">
      <input value="" placeholder="请输入姓名/部门/手机号来搜索---目前该功能不可用，待后期补充。" />
      <i class="kuma-icon kuma-icon-search"></i>
     </div>
      <div class="approval-userlist" id="sltSrc">
        <div class="approval-inner">
          <div class="approval-orgitem orgroot">

            <div class="orginfo">
             <i class="kuma-icon kuma-icon-triangle-right orgexpander expanded"></i>
             <div class="orginfoLine">
               <span class="orgname">{{ treedata.name }}</span>
              <span class="orgcount">({{ treedata.count }}人)</span>
             </div>
            </div>


            <div class="orgs">

              {{ tppp.depart_data(treedata.pid) }}


            </div>
            <!-- end orgs -->
            <div class="emps">
              {% for user in treedata.users %}
              <div class="approval-useritem approval-empitem">
                <img src="https://static.dingtalk.com/media/lADObbFvhs0DTc0CNA_564_845.jpg" class="approval-item-avatar" />
                <p class="approval-useritem-name">{{ user.username }}</p>
              </div>
              {% endfor %}
            </div>

          </div><!-- end orgroot -->
        </div>
      </div>
    </div>
   </div>
   <div data-reactid=".0.4.0.5" class="approval-actions">
    {{ form.actions }}
   </div>
  </div>


        </div>
        <!-- end widget content -->

      </div>
      <!-- end widget div -->

    </div>
    <!-- end widget -->
  </article>
  <!-- WIDGET END -->
</div>

{% macro depart_data(data) %}
  {% import _self as tppp %}
  {% if data %}
    {% for ar in data %}
     <div class="approval-orgitem">
       <div class="orginfo">
        <i class="kuma-icon kuma-icon-triangle-right orgexpander expanded"></i>
        <div class="orginfoLine">
          <span class="orgname">{{ ar.name }}</span>
         <span class="orgcount">({{ ar.count }}人)</span>
        </div>
       </div>
       <div class="orgs">
         {{ tppp.depart_data(ar.pid) }}
       </div>
       <div class="emps">
       {% for us in  ar.users %}
       <div class="approval-useritem approval-empitem" data-id="{{ ar.id }}-{{ us.uid }}">
         {% if us.avatar %}
           <img src="{{ us.avatar }}" class="approval-item-avatar">
         {% else %}
           <div style="background:#78c06e;" class="approval-item-avatar">{{ us.username }}</div>
         {% endif %}

         <p class="approval-useritem-name">{{ us.realname }}</p>
        </div>
       {% endfor %}
       </div>
     </div>
    {% endfor %}
  {% endif %}
{% endmacro %}
