<div id="all-vocabs" class="block-menu-block panel-group">
  {% for vocabulary, term in taxonomy %}
    <div class="panel panel-default">
        <div{{ create_attribute({'class': ['panel-heading', term.heading]}) }} role="tab" id="heading-{{ vocabulary|replace({' ': ''})|lower }}">
          <a role="button" data-parent="#all-vocabs" data-toggle="collapse" {{ create_attribute({'class': ['accordion-toggle', term.abutton.active]}) }} aria-expanded="{{ term.abutton.expanded }}" href="#collapse-{{ vocabulary|replace({' ': ''})|lower }}">{{ vocabulary }}</a>
        </div>
        <div {{ create_attribute({'class': ['panel-collapse', 'collapse', term.bodyclass]}) }} id="collapse-{{ vocabulary|replace({' ': ''})|lower }}">
        <ul class="menu nav">
            {% for link in term.links %}
            <li{{ create_attribute({'class': [link.css]}) }}><a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': link.tid}) }}">{{ link.text|t }}</a></li>
            {% endfor %}
        </ul>
        </div>
    </div>
    {% endfor %}
</div>
