<div class="payment-result {% if reasonCode != '1100' %}payment-result_fail{% else %}payment-result_success{% endif %}">
    {% if reasonCode != '1100' %}
        <h1 class="payment-result__header">{{ 'Payment failed!'|trans }}</h1>
        <span class="payment-result__message">{{ 'Unfortunately, your payment has not passed.'|trans }}</span>
        <div class="fail-reason">
            <div class="fail-reason__el">{{ 'Error code'|trans }}: {{ reasonCode }}</div>
            <div class="fail-reason__el">{{ 'Cause of error'|trans }}: {{ reason }}. {{ message_for_client }}</div>
        </div>
    {% else %}
        <h1 class="payment-result__header">{{ 'Congratulate!' }}</h1>
        <h1 class="payment-result__header">{{ 'Payment received'|trans }}</h1>
    {% endif %}
</div>