<div id="{{ content_id }}-wrapper"  class="campaign-social-container">
  <div id="{{ content_id }}-header" class="campaign-social-header">{{ header }}</div>
  <div id="{{ content_id }}" class="campaign-social-content">{{ content }}</div>
  <div id="{{ content_id }}-footer" class="campaign-social-footer">{{ footer }}</div>
</div>