{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
{{ content.field_paragraph_anchor[0] }}
<div{{ attributes.addClass(classes) }}{% if inline_styles %} style="{{ inline_styles }}"{% endif %}>
  <div class="container">
    <div class="row">
      <!-- Carousel -->
      <div id="landingpage-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          {% for key, item in content.field_landingpage_images if key|first != '#' %}
            <li class="{% if loop.first %}active{% endif %}" data-slide-to="{{ key }}" data-target="#landingpage-carousel"></li>
          {% endfor %}
        </ol>        
        <div class="carousel-inner" role="listbox">
        {% for key in content.field_landingpage_images|keys if key|first != '#' %}
            <div class="item{% if loop.first %} active{% endif %}">
              {{ content.field_landingpage_images[key] }}
              <!-- Static Header -->
              <div class="header-text hidden-xs">
                  <div class="col-md-12 text-center">
                      {{ content.field_landingpage_textareas[key] }}               
                  </div>
              </div><!-- /header-text -->
            </div>   
        {% endfor %}
        </div>
      </div><!-- /carousel -->  
    </div>
  </div>  
</div>