{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
{{ content.field_paragraph_anchor[0] }}
<div{{ attributes.addClass(classes) }}{% if inline_styles %} style="{{ inline_styles }}"{% endif %}>
  <div class="container">
	<div class="row">   
	  <div class="col-sm-12">
	    {{ content.field_landingpage_textarea[0] }}
	    {{ content.field_landingpage_contactform[0] }}
	  </div>
	</div>
  </div>	  
</div>