{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
{{ content.field_paragraph_anchor[0] }}
<div{{ attributes.addClass(classes) }}{% if inline_styles %} style="{{ inline_styles }}"{% endif %}>
  <nav class="navbar navbar-default navbar">
      <div class="container">
	  	<div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% if content.field_landingpage_textfield[0] %}
          <a class="navbar-brand" href="/">{{ content.field_landingpage_textfield[0] }}</a>
          {% endif %} 
      </div>      
	    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-default">
          {{ content.field_landingpage_links }}
        </ul>
      </div>  
	  </div>
  </nav>
</div>
<div{{ attributes.addClass(classes).addClass('p-sticky') }}>
  {{ content.field_paragraph_anchor[0] }}
  <nav class="navbar navbar-default navbar">
      <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% if content.field_landingpage_textfield[0] %}
          <a class="navbar-brand" href="/">{{ content.field_landingpage_textfield[0] }}</a>
          {% endif %} 
      </div>     
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-default">
          {{ content.field_landingpage_links }}
        </ul>
      </div>  
    </div>
  </nav>
</div>