
{%
set classes = [
'field-collection-item',
'field-collection-item--name-' ~ field_collection_item.name|clean_class,
'field-collection-item--view-mode-' ~ field_collection_item.view_mode|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="content"{{ content_attributes }}>
    <div class="field-collection-tabs">
      <ul>
        {% for title in titles %}
          <li id="tab-{{loop.index}}">
            <a href="#tabs-{{ loop.index }}">{{ title }}</a>
          </li>
        {% endfor %}
      </ul>
      {% for tab in tabs %}
      <div id="tabs-{{ loop.index }}">
        {{ tab }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
