{#
/**
 * @file
 * Two column template for the checkout form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
{% if form['#id'] == 'commerce-checkout-flow-multistep-default' and form['#step_id'] != 'complete' %}
  {{ attach_library('syncart/cart') }}
  <div class="checkout">
    <div id="app-cart">
      <cart inline-template>
        <div class="cart">
          <div class="cart-left">
            <div class="cart-content cart-content--checkout">
              <div class="cart-empty" v-show="isEmpty(cart.items)" style="display: none">
                {{ 'Cart empty'|t }}
              </div>
              <div class="cart-row cart-row--header" v-show="!isEmpty(cart.items)">
                <div class="cart-col cart-col--product">
                  {{ 'Product'|t }}
                </div>
                <div class="cart-col cart-col--price">
                  {{ 'Price'|t }}
                </div>
                <div class="cart-col cart-col--quantity">
                  {{ 'Quantity'|t }}
                </div>
                <div class="cart-col cart-col--total">
                  {{ 'Total'|t }}
                </div>
              </div>
              <div class="preloader preloader--transparent preloader--small" v-show="!ready && !isEmpty(cart.items)"></div>
              <div class="cart-items" v-show="ready && !isEmpty(cart.items)" style="display: none;">
                <div class="cart-row cart-row--body" v-for="item in cart.items">
                  <div class="cart-col cart-col--product">
                    <a :href="item.url" class="cart-name" v-html="item.title"></a>
                  </div>
                  <div class="cart-col cart-col--price">
                    <div class="cart-price">
                      ${ numberFormat(item.price, 0) + ' ' + item.currency }
                    </div>
                  </div>
                  <div class="cart-col cart-col--quantity">
                    ${ numberFormat(item.quantity, 0, 0) + 'x' }
                  </div>
                  <div class="cart-col cart-col--total">
                    <div class="cart-price cart-price--bold">
                      ${ numberFormat(item.totalPrice, 0) + ' ' + item.currency }
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="checkout-form contact-message-form">
              {{ form.billing_information }}
            </div>
          </div>
          <div class="cart-sidebar" v-show="!isEmpty(cart.items)" style="display: none">
            <div class="cart-sidebar-content">
              <div class="preloader preloader--transparent preloader--small" v-show="!ready"></div>
              <div class="cart-total" v-show="ready" style="display: none;">
                <div class="cart-total-count">
                  {{ 'Products count'|t }}: ${ cart.quantity }
                </div>
                <div class="cart-total-price">
                  {{ 'Total'|t }}: ${ numberFormat(cart.total, 0) + ' ' + cart.currency }
                </div>
              </div>
            </div>
          </div>
        </div>
      </cart>
    </div>
    {{ form|without('order_summary', 'billing_information') }}
  </div>
{% else %}
  {{ form }}
{% endif %}
