{% if container == "html" %}
  <div{{ attributes }} data-ad-entity-variant='{{ variant|raw }}' data-ad-entity-targeting='{{ targeting|raw }}'>
    {{- content -}}
  {%- if settings.inline -%}
    <script>window.adEntity = window.adEntity || {queue: []}; window.adEntity.queue.push(document.getElementById('{{ attributes.id }}'));</script>
  {%- endif -%}
  </div>
{% elseif container == "fia" %}
  <figure class="op-ad">{{ content }}</figure>
{% else %}
  {{ content }}
{% endif %}
