<div class="basic_cart-msg-pck{% if size_class is defined %}{{size_class}}{%endif%}" style="float:{% if float is defined %}{{float}}{%endif%}; right:{% if right is defined %}{{right}}{%endif%}; left:{% if left is defined %}{{left}}{%endif%}; top:{% if top is defined %}{{top}}{%endif%}; bottom:{% if bottom is defined %}{{bottom}}{%endif%};">
<a title="Cart" href="{{ url('<front>')|render ~ 'cart' }}"><img src="{% if module_url is defined %}{{ module_url }}{%endif%}/images/cart_{% if size is defined %}{{size}}{%endif%}.png" alt="cart icon"><span class="basic_cart-circles basic_cart-circle{% if size_class is defined %}{{size_class}}{%endif%}">{% if cartcount is defined %}{{cartcount}}{%endif%}</span></a>
</div>
