<div class="tabs">
    <ul>
        {% for key, tab in tabs %}
        <li><a href="#{{ tab_id }}-tab-{{ key }}">{{ tab }}</a></li>
        {% endfor %}
    </ul>

    {% for key, c in content %}
        <div id="{{ tab_id }}-tab-{{ key }}">
            {{ c }}
        </div>
    {% endfor %}
</div>
