{% set class_block_btn = '' %}
{% if is_block_btn == 1 %}
  {% set class_block_btn = 'btn-block' %}
{% endif %}

{% if link != '' %}
  <div>
    <a href="{{ link }}">
      <button type="button" class=" {{ type }}  {{ class_block_btn }}" style="">{{ title }}</button>
    </a>
  </div>
{% else %}
  <button type="button" class=" {{ type }}  {{ class_block_btn }}" style="">{{ title }}</button>
{% endif %}
