{% set class = '' %}
{% if options.responsive %}
  {% set class = 'responsive-video' %}
{% endif %}
<div class="video-player-wrapper {{ class }}">
  <iframe
    id="ytplayer"
    type="text/html"
    width="{{ options.width }}"
    height="{{ options.height }}"
    src="https://www.youtube.com/embed/{{ options.id }}?rel=0;&autoplay={{ options.autoplay }}"
    frameborder="0"
    allow="autoplay; fullscreen"></iframe>
</div>
