{% set style = '' %}

{% if type == 'section' %}
  {% set style = 'display: block' %}
{% endif %}

{% if editable %}
  {# Start Bar buttons action #}
  <div class="nbl-bar-buttons-action drag-{{ type }}" data-type="{{ type }}" data-parent="{{ parent }}" style="{{style}}">
    {{ btns_actions }}
  </div>
  {# End Bar buttons action #}
{% endif %}

{% if ( (type != 'section') ) %}
  {% if content_element %}
    {{ content_element|raw }}
  {% endif %}
{% else %}
  <div class="container-fluid">
    {% if content_element %}
      {{ content_element|raw }}
    {% endif %}
  </div>
{% endif %}
