<ul class="nav nav-tabs" id="nlb-tab-category-element" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="layout-tab" data-toggle="tab" href="#layout" role="tab" aria-controls="layout" aria-selected="true">
      {{ 'Layout'|t }}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="cont-tab" data-toggle="tab" href="#cont" role="tab" aria-controls="cont" aria-selected="true">
      {{ 'Content'|t }}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="drupal-tab" data-toggle="tab" href="#drupal" role="tab" aria-controls="drupal" aria-selected="false">
      {{ 'Drupal'|t }}
    </a>
  </li>
</ul>

<div class="tab-content" id="nlb-tab-content-category-element">
  <div class="tab-pane fade in active" id="layout" role="tabpanel" aria-labelledby="layout-tab">
    {{ links.layout }}
  </div>
  <div class="tab-pane fade" id="cont" role="tabpanel" aria-labelledby="cont-tab">
    {{ links.content }}
  </div>
  <div class="tab-pane fade" id="drupal" role="tabpanel" aria-labelledby="drupal-tab">
    {{ links.drupal }}
  </div>
</div>
