{#
/**
 * @file
 * Default theme implementation to display spin slideshow.
 *
 * Variables available:
 * - data (object)
 * - - slideshow (bool)
 * - - slideshow_options (string)
 * - - spin_query (string)
 * - - spins (array)
 * - - - img (string)
 * - - - nav (string)
 * - - - spin (string)
 */
#}
<div class="field-spin-slideshow">

{% if data.slideshow %}
  <div class="MagicSlideshow multi-spins spin-slideshow" data-options="{{ data.slideshow_options }}">
{% else %}
  <div class="NoSlideshow spin-slideshow">
{% endif %}

  {% for obj in data.spins %}
    <div data-thumb-image="{{ obj.nav }}">

    {% if obj.spin %}
      <div class="Sirv spin-slide spin-slide-{{ index }}" data-src="{{ obj.spin }}">
      </div>
    {% else %}
      <img class="spin-slide spin-slide-{{ index }}" src="{{ obj.img }}" />
    {% endif %}

      <span class="loading"></span>
    </div>
  {% endfor %}

  </div>
</div>
