{#
/**
 * @file
 * Default theme implementation to display a OPcache stats.
 *
 * Available variables:
 *   - opcache_status: output of opcache_get_status()
 *   - now: REQUEST_TIME
 */
#}
<div {{ attributes }}>
{% if opcache_status is not empty %}
    <div class="layout-column layout-column--half">
    <h2>{{ 'Memory Usage' | t }}</h2>
    <table>
        <tbody>
    {% for k,v in opcache_status['memory_usage'] %}
        <tr><th>{{ k }}</th><td>{{ v | format_size }}</td></tr>
    {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="layout-column layout-column--half">
    <h2>{{ 'Statistics' | t }}</h2>
    <table>
        <tbody>
        {% for k,v in opcache_status['opcache_statistics'] %}
            {%- if k == 'start_time' or k == 'last_restart_time' %}
                {%- if v == 0 %}
                    {% set v = 'never'|t %}
                {% else %}
                    {% set v = v|format_date('short') %}
                {% endif %}
            {% endif %}
            {%- if k == 'blacklist_miss_ratio' or k == 'opcache_hit_rate' %}
                {% set v = v|number_format(2) %}
            {% endif %}
            <tr><th>{{ k }}</th><td>{{ v|raw }}</td></tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    {{ hostname }}, {{ now|format_date('custom', 'Y-m-d, H:i:s') }}

{% else %}
    <em>{{ 'No OPcache status information available'|t }}</em>
{% endif %}
</div>
