{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

{{ form.long_url }}
{{ form.short_url }}

 {% if form.result %}
 	<div class="shurly-result">
 		{{ form.result }}
 	</div>
 {% endif %}

{{ form.submit }}
