{#
/**
 * @file
 * Default template for the 'plain' address formatter.
 *
 * Available variables:
 *   - postal_code
 *   - thoroughfare
 *   - number
 *   - street_complement
 *   - neighborhood
 *   - city
 *   - state
 *
 * @ingroup themeable
 */
#}
<p class="address" translate="no">
    {% if thoroughfare %}
        {{ thoroughfare }}
    {% endif %}
    {% if number %}
        , {{ number }} <br>
    {% endif %}
    {% if street_complement %}
        - {{ street_complement }} <br>
    {% endif %}
    {% if neighborhood %}
        {{ neighborhood }} <br>
    {% endif %}
    {% if postal_code %}
       CEP: {{ postal_code }} <br>
    {% endif %}
    {% if city %}
        {{ city }}
    {% endif %}
    {% if state %}
        - {{ state }} <br>
    {% endif %}
</p>
<!-- Add you custom twig html here -->