{#
/**
 * @file
 * AdSense CSE (with watermark) form HTML code.
 */
#}
<script type="text/javascript">
<!--
drupal_adsense_cse_lang = '{{ language }}';
//-->
</script>
<form action="{{ results_path }}" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="partner-{{ client }}:{{ slot }}" />
    <input type="hidden" name="cof" value="FORID:{{ forid }}" />
    <input type="hidden" name="ie" value="{{ encoding }}" />
    <input type="text" name="as_q" size="{{ qsize }}" />
    <input type="submit" name="sa" value="{{ search }}" />
  </div>
</form>
<script type="text/javascript" src="{{ script }}"></script>
{#
<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en">
#}
