<p>Convert Images from PNG to JPG and Resize Images to max width.</p>

<div class="region region-content">
    <div id="block-seven-content" class="block block-system block-system-main-block">
        <ul class="admin-list">
            <li><a href="{{ path('image_tools.show_convertible_pngs') }}"><span class="label">{{ 'Convert PNGs'|t }}</span><div class="description">{{ 'Display Convertable PNGs'|t }}</div></a></li>
            <li><a href="{{ path('image_tools.show_resizeable_jpgs') }}"><span class="label">{{ 'Resize JPGs'|t }}</span><div class="description">{{ 'Display Resizable JPGs'|t }}</div></a></li>
        </ul>

    </div>

</div>