{% if rows is not empty %}
    <p>The following {{ rows|length }} Images has the PNG-Type.
        <a href="{{ path('image_tools.add_batch_convert_pngs_to_jpgs') }}" class="button button--primary">{{ 'Convert Images'|t }}</a>
    </p>
    <table class="responsive-enabled" data-striping="1">
        <thead>
        <tr>
            <th>Image ID</th>
            <th>Filename</th>
            <th>Transparency</th>
        </tr>
        </thead>

        <tbody>
        {% for row in rows %}
            <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
                <td>{{ row.fid }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.t }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="messages messages--status">
        {{ 'No Images found'|t }}
    </div>
{% endif %}