<div style="padding-bottom: 10px;">
    <form {{form.attributes }}>
        <div class="form--inline clearfix">
            {{ form.max_width }}
            <div style="padding-top: 25px">
                {{ form.include_png }}
            </div>
            <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="search-actions">
                {{ form.actions.submit }}
            </div>
        </div>
    </form>
</div>

{% if rows is not empty %}
    <p>The following {{ rows|length }} JPG Images has a width larger than {{ max_width }} Pixel.
        <a href="{{ path('image_tools.add_batch_resize_jpgs', {'max_width': max_width, 'png': png }) }}" class="button button--primary">{{ 'Resize Images'|t }}</a>
    </p>

    <table class="responsive-enabled" data-striping="1">
        <thead>
        <tr>
            <th>Image ID</th>
            <th>Filename</th>
            <th>Size</th>
            <th>Transparency</th>
        </tr>
        </thead>

        <tbody>
            {% for row in rows %}
                <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
                    <td>{{ row.fid }}</td>
                    <td>{{ row.name }}</td>
                    <td>{{ row.size }}</td>
                    <td>{{ row.t }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="messages messages--status">
        {{ 'No Images found'|t }}
    </div>
{% endif %}