{#
/**
 * @file
 * Template file for funnelback results.
 *
 * Available variables:
 * - total: The total number of the results.
 * - summary: Summary block render array.
 * - query: Search query string.
 * - breadcrumb: Breadcrumb block render array.
 * - spell: Spell block render array.
 * - curator: Curator block render array.
 * - items: A array of single result render array.
 * - pager: Pager render array.
 * - no_result_text: Text string to be displayed when there is no result.
 */
#}
<div id="funnelback-results-page">

  {% if total > 0 %}
    {{ summary }}
    {{ breadcrumb }}
    {{ curator }}
  {% endif %}

  {{ spell }}

  {% if total > 0 %}
    <ul id="funnelback-results">
      {% for item in items %}
        <li class="funnelback-result">
          {{ item }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="no-result-text">
      {{ no_result_text }}
    </div>
  {% endif %}

  {{ pager }}

</div>
