{#
/**
 * @file
 * Template file for the funnelback pager.
 *
 * Available variables:
 * - summary: An array of result summary information.
 */
#}
{% if pager.pages|length > 1 %}
  <ul class="funnelback-pager">

    {% if pager.first_link %}
      <li class="pager-first"><a href="{{ pager.first_link }}">First</a></li>
    {% endif %}

    {% if pager.first > 0 %}
      <li class="pager-prev"><a href="{{ pager.prev_link }}">Prev</a></li>
    {% endif %}

    {% for page in pager.pages %}
      {% if pager.current %}
        <li class="pager-current">{{ page.title }}</li>
      {% else %}
        <li class="pager-item"><a href="{{ page.link }}">{{ page.title }}</a></li>
      {% endif %}
    {% endfor %}

    {% if pager.last > 0 %}
      <li class="pager-next"><a href="{{ pager.next_link }}">Next</a></li>
    {% endif %}

    {% if pager.last_link > 0 %}
      <li class="pager-last"><a href="{{ pager.last_link }}">Last</a></li>
    {% endif %}

  </ul>
{% endif %}
