<form name="oci_form" action="{{ hook_url }}" method="POST">
  {% for field_name, value in fields %}
    <input type="hidden" name="{{ field_name }}" value="{{ value }}" />
  {% endfor %}
  {% set i = 1 %}
  {% for item in items_with_fields %}
    {% for key, value in item %}
      <input data-oci-key="{{ key }}" type="hidden" name="NEW_ITEM-{{ key }}[{{ i }}]" value="{{ value }}" />
    {% endfor %}
    {% set i = i + 1 %}
  {% endfor %}
  {{ submit_button }}
</form>

