{{ attach_library('byu_hero/byu-hero-component') }}

{# {{ kint(content.image_source) }} #}
{#{{ devel_dump() }}#}

 {# need to add image and other field support #}
{% set my_attributes = create_attribute() %}
{% set my_classes = '' %}

            {% for field in content.classes %}
                {% for i in 0..10  if field[i] is defined %}
                    {% set my_classes = field[i]|e %}
                {% endfor %}
            {% endfor %}

 {% set image_url = '' %}
  {% for field in content.image_source %}
      {% for i in 0..field|length if field[i] is defined %}
          {% set image_url = field[i]['#markup'] %}
      {% endfor %}
  {% endfor %}

 {% set video_url = '' %}
  {% for field in content.video_source %}
      {#{% for i in 0..field|length if field[i] is defined %}#}
      {% if field[0] is defined %}

          {% if field[0]['#type'] == 'link' %}
              {# plain link url field #}
              {% set video_url = field[0]['#url'].uri %}

          {%  elseif field[0]['#type'] == 'container' %}
              {# video embed field  - to continue later to support other field types #}
              {#{% set video_url = field[0]['children']['#url'] %}#}

          {% endif %}

          {#{{ kint(field[0]) }}#}
      {% endif %}
  {% endfor %}


{# when inserting the video-source, start with an IF there is a field in that section, since this is optional #}
{#<byu-hero-banner id="hero" image-source="..{{ image_url }}" video-source="{{  video_url }}" {{ my_attributes.addClass(my_classes, 'side-image', 'image-style-2', 'left-aligned').setAttribute('id', 'myUniqueId') }}>#}
<byu-hero-banner id="hero" image-source="..{{ image_url }}" video-source="{{  video_url }}" {{ my_attributes.addClass(my_classes).setAttribute('id', 'myUniqueId') }}>

    {% for field in content.headline %}
        {% for i in 0..field|length if field[i] is defined %}
            <h2 slot="headline">{{ field[i] }}</h2>
        {% endfor %}
    {% endfor %}
    {% for field in content.intro %}
        {% for i in 0..field|length if field[i] is defined %}
            <div slot="intro-text">{{ field[i] }}</div>
        {% endfor %}
    {% endfor %}
    {% for field in content.read_more %}
        {% for i in 0..field|length if field[i] is defined %}
            <div slot="read-more">{{ field[i] }}</div>
        {% endfor %}
    {% endfor %}

</byu-hero-banner>
