{% if error_message is not null or error_message is not empty %}
    <div class="error warning">{{ error_message }}</div>
{% endif %}

<ul class ="fb_feeds">
  {%- for item in data -%}
    <li>      
      <h2 class="messgae">{{ item.message }}</h2>
      <div class="description">{{ item.description }}</div>
      <a target="_blank" href="{{ item.link }}">{{ "Read More"|t }}</a>
    </li>
  {%- endfor -%}
</ul>