{% if error_message is not null or error_message is not empty %}
    <div class="error warning">{{ error_message }}</div>
{% endif %}



<ul class ="instagram_feeds">
  {%- for item in data.data -%}
    <li>
      {% if config.insta_image_resolution == 'low_resolution' %}
        <a target="_blank" href="{{ item.link }}" ><img src = "{{ item.images.low_resolution.url }}" /></a>
  {% elseif config.insta_image_resolution == 'standard_resolution' %}
    <a target="_blank" href="{{ item.link }}" ><img src = "{{ item.images.standard_resolution.url }}" /></a>
  {% else  %}
    <a target="_blank" href="{{ item.link }}" ><img src = "{{ item.images.thumbnail.url }}" /></a>
{% endif %}
      
     {% if  config.insta_likes == 1 %}
      <span class="likes count"> {{ "Likes"|t }} {{ item.likes.count }}</span>
    {% endif %}
    </li>
  {%- endfor -%}
</ul>