<div id="sys-charts">
    <h1>{{ 'Php metrics'|t }}</h1>
    <br />
    <br />
    <div style="min-width: 100%;">
        <div>

                <table data-drupal-selector="edit-tables" id="edit-tables" class="responsive-enabled" data-striping="1">


                <thead>
                <tr>
                <th>{{ 'Memory Limit' |t }}</th>
                <th>{{ 'Max Input Time' |t }}</th>
                <th>{{ 'Max Input Vars' |t }}</th>
                <th>{{ 'Max Execution Time' |t }}</th>
                <th>{{ 'Post Max Size' |t }}</th>
                <th>{{ 'Upload Max Filesize' |t }}</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>{{ variables_php_metrics['memory_limit'] }}</td>
                    <td>{{ variables_php_metrics['max_input_time'] }}</td>
                    <td>{{ variables_php_metrics['max_input_vars'] }}</td>
                    <td>{{ variables_php_metrics['max_execution_time'] }}</td>
                    <td>{{ variables_php_metrics['post_max_size'] }}</td>
                    <td>{{ variables_php_metrics['upload_max_filesize'] }}</td>
                </tr>
                </tbody>
                </table>
        </div>
    </div>
    <br />
    <br />
    <!-- TABLES SIZES CHART END -->
</div>