{#
/**
 * @file
 * Template for the Openweather block for daily forecast.
 * Available variables:
 * - dailyforecast_detail: array of weather list.
 */
#}

<div class = "open-weather-dailyforecast-container">
  <div class= "open-weather-dailyforecast-list">
    <div class = "dailyforecast-common">
      {% if (dailyforecast_detail[0].name) and (dailyforecast_detail[0].country) %}
      <div class="city"><h3>{{ dailyforecast_detail[0].name }}, {{ dailyforecast_detail[0].country }}</h3></div>
      {% elseif (dailyforecast_detail[0].name) %}
      <div class="city"><h3>{{ dailyforecast_detail[0].name }}</h3></div>
      {% elseif (dailyforecast_detail[0].country) %}
      <div class="city"><h3>{{ dailyforecast_detail[0].country }}</h3></div>
      {% endif %}
      {% if(dailyforecast_detail[0].date) %}
      <div class="date">
        <span class="label">{{ dailyforecast_detail[0].date }}</span>
      </div>
      {% endif %}
      {% if(dailyforecast_detail[0].time) %}
      <div class="time">
        <span class="label">{{ dailyforecast_detail[0].time }}</span>
      </div>
      {% endif %}
      {% if(dailyforecast_detail[0].coord) %}
      <div class="coordinate open-weather-row">
        <span class="label">Geo coords [{{ dailyforecast_detail[0].coord.lat }},{{ dailyforecast_detail[0].coord.lon }}]</span>
      </div>
      {% endif %}
    </div>
    <div class = "open-weather-dailyforecast-details">
      {% for key,value in dailyforecast_detail %}
      {% if (dailyforecast_detail[key].forecast_date) %}
      <div class="forecast-date">
        <span class="label">{{ dailyforecast_detail[key].forecast_date }}</span>
      </div>
      {% endif %}
      <div class = "open-weather-dailyforecast-row">
        {% if (dailyforecast_detail[key].weather.image) %}
        <div class="weather-icon dailyforecast-inner-row">
          <span class="data"><img src="https://openweathermap.org/img/w/{{ dailyforecast_detail[key].weather.image }}.png"/></span>
        </div>
        {% endif %}
        {% if(dailyforecast_detail[key].temp) %}
        <div class="temperature dailyforecast-inner-row">
          <span class="label">{{ dailyforecast_detail[key].temp }}</span>
        </div>
        {% endif %}
        {% if (dailyforecast_detail[key].weather.desc) %}
        <div class="weather-datail dailyforecast-inner-row">
          <span class="label">{{ dailyforecast_detail[key].weather.desc }}</span>
        </div>
        {% endif %}
        {% if(dailyforecast_detail[key].humidity) %}
        <div class="humidity dailyforecast-inner-row">
          <span class="label"> Humidity <br> {{ dailyforecast_detail[key].humidity }}</span>
        </div>
        {% endif %}
        {% if(dailyforecast_detail[key].temp_max) %}
        <div class="maximum-temprature dailyforecast-inner-row">
          <span class="label"> H <br> {{ dailyforecast_detail[key].temp_max }}</span>
        </div>
        {% endif %}
        {% if(dailyforecast_detail[key].temp_min) %}
        <div class="minimum-tempreature dailyforecast-inner-row">
          <span class="label"> L <br> {{ dailyforecast_detail[key].temp_min }}</span>
        </div>
        {% endif %}
        {% if(dailyforecast_detail[key].pressure) %}
        <div class="pressure dailyforecast-inner-row">
          <span class="label"> pressure <br> {{ dailyforecast_detail[key].pressure }}hpa</span>
        </div>
        {% endif %}
        {% if(dailyforecast_detail[key].sea_level) %}
        <div class="sea-level dailyforecast-inner-row">
          <span class="label"> sea level <br> {{ dailyforecast_detail[key].sea_level }}</span>
        </div>
        {% endif %}
        {% if(dailyforecast_detail[key].grnd_level) %}
        <div class="ground-level dailyforecast-inner-row">
          <span class="label"> ground level<br> {{ dailyforecast_detail[key].grnd_level }}</span>
        </div>
        {% endif %}
        {% if(dailyforecast_detail[key].wind-speed) %}
        <div class="wind-speed dailyforecast-inner-row">
          <span class="label"> wind speed <br>{{ dailyforecast_detail[key].wind-speed }}</span>
        </div>
        {% endif %}
        {% if(dailyforecast_detail[key].wind_deg) %}
        <div class="wind-degree dailyforecast-inner-row">
          <span class="label"> wind flow <br>{{ dailyforecast_detail[key].wind_deg }}</span>
        </div>
        {% endif %}
        {% if(dailyforecast_detail[key].day) %}
        <div class="day dailyforecast-inner-row">
          <span class="label"> day <br> {{ dailyforecast_detail[key].day }}</span>
        </div>
        {% endif %}
        {% if(dailyforecast_detail[key].sunrise) %}
        <div class="sunrise dailyforecast-inner-row">
          <span class="label"> sunrise <br>{{ dailyforecast_detail[key].sunrise }}</span>
        </div>
        {% endif %}
        {% if(dailyforecast_detail[key].sunset) %}
        <div class="sunset dailyforecast-inner-row">
          <span class="label"> sunset <br> {{ dailyforecast_detail[key].sunset }}</span>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
