{#
/**
 * @file
 * Template for the Openweather block for current weather.
 * Available variables:
 * - openweather_detail: array of weather list.
 */
#}

<div class="open-weather-container">
  <div class="open-weather-list">
    {% if (openweather_detail.name) and (openweather_detail.country) %}
    <div class="city"><h3>{{ openweather_detail.name }}, {{ openweather_detail.country }}</h3></div>
    {% elseif (openweather_detail.name) %}
    <div class="city"><h3>{{ openweather_detail.name }}</h3></div>
    {% elseif (openweather_detail.country) %}
    <div class="city"><h3>{{ openweather_detail.country }}</h3></div>
    {% endif %}
    {% if(openweather_detail.date) %}
    <div class="date">
      <span class="label">{{ openweather_detail.date }}</span>
    </div>
    {% endif %}
    {% if(openweather_detail.time) %}
    <div class="time">
      <span class="label">{{ openweather_detail.time }}</span>
    </div>
    {% endif %}
    {% if (openweather_detail.weather.image) %}
    <div class="weather-icon">
      <span class="data"><img src="https://openweathermap.org/img/w/{{ openweather_detail.weather.image }}.png"/></span>
    </div>
    {% endif %}
    {% if(openweather_detail.temp) %}
    <div class="temperature">
      <span class="label">{{ openweather_detail.temp }}</span>
    </div>
    {% endif %}
    {% if (openweather_detail.weather.desc) %}
    <div class="weather-datail">
      <span class="label">{{ openweather_detail.weather.desc }}</span>
    </div>
    {% endif %}
    {% if(openweather_detail.humidity) %}
    <div class="humidity">
      <span class="label"> Humidity {{ openweather_detail.humidity }}</span>
    </div>
    {% endif %}
    {% if(openweather_detail.temp_max) %}
    <div class="maximum-temprature">
      <span class="label"> H {{ openweather_detail.temp_max }}</span>
    </div>
    {% endif %}
    {% if(openweather_detail.temp_min) %}
    <div class="minimum-tempreature">
      <span class="label"> L {{ openweather_detail.temp_min }}</span>
    </div>
    {% endif %}
    <div class="open-weather-option">
      {% if(openweather_detail.pressure) %}
      <div class="pressure open-weather-row">
        <span class="label"> pressure <br> {{ openweather_detail.pressure }} hpa</span>
      </div>
      {% endif %}
      {% if(openweather_detail.sea_level) %}
      <div class="sea-level open-weather-row">
        <span class="label"> sea level <br> {{ openweather_detail.sea_level }}</span>
      </div>
      {% endif %}
      {% if(openweather_detail.grnd_level) %}
      <div class="ground-level open-weather-row">
        <span class="label"> ground level<br> {{ openweather_detail.grnd_level }}</span>
      </div>
      {% endif %}
      {% if(openweather_detail.coord) %}
      <div class="coordinate open-weather-row">
        <span class="label">Geo coords <br>[{{ openweather_detail.coord.lat }},{{ openweather_detail.coord.lon }}]</span>
      </div>
      {% endif %}
      {% if(openweather_detail.wind-speed) %}
      <div class="wind-speed open-weather-row">
        <span class="label"> wind speed <br>{{ openweather_detail.wind-speed }}</span>
      </div>
      {% endif %}
      {% if(openweather_detail.wind_deg) %}
      <div class="wind-degree open-weather-row">
        <span class="label"> wind flow <br>{{ openweather_detail.wind_deg }}</span>
      </div>
      {% endif %}
      {% if(openweather_detail.day) %}
      <div class="day open-weather-row">
        <span class="label"> day <br> {{ openweather_detail.day }}</span>
      </div>
      {% endif %}
      {% if(openweather_detail.sunrise) %}
      <div class="sunrise open-weather-row">
        <span class="label"> sunrise <br>{{ openweather_detail.sunrise }}</span>
      </div>
      {% endif %}
      {% if(openweather_detail.sunset) %}
      <div class="sunset open-weather-row">
        <span class="label"> sunset <br> {{ openweather_detail.sunset }}</span>
      </div>
      {% endif %}
    </div>
  </div>
</div>
