{#
/**
 * @file
 * Template for the Openweather block for hourly forecast.
 * Available variables:
 * - hourlyforecast_detail: array of weather list.
 */
#}

<div class = "open-weather-hourlyforecast-container">
  <div class= "open-weather-hourlyforecast-list">
    <div class = "hourlyforecast-common">
      {% if (hourlyforecast_detail[0].name) and (hourlyforecast_detail[0].country) %}
      <div class="city"><h3>{{ hourlyforecast_detail[0].name }}, {{ hourlyforecast_detail[0].country }}</h3></div>
      {% elseif (hourlyforecast_detail[0].name) %}
      <div class="city"><h3>{{ hourlyforecast_detail[0].name }}</h3></div>
      {% elseif (hourlyforecast_detail[0].country) %}
      <div class="city"><h3>{{ hourlyforecast_detail[0].country }}</h3></div>
      {% endif %}
      {% if(hourlyforecast_detail[0].date) %}
      <div class="date">
        <span class="label">{{ hourlyforecast_detail[0].date }}</span>
      </div>
      {% endif %}
      {% if(hourlyforecast_detail[0].time) %}
      <div class="time">
        <span class="label">{{ hourlyforecast_detail[0].time }}</span>
      </div>
      {% endif %}
      {% if(hourlyforecast_detail[0].coord) %}
      <div class="coordinate open-weather-row">
        <span class="label">Geo coords [{{ hourlyforecast_detail[0].coord.lat }},{{ hourlyforecast_detail[0].coord.lon }}]</span>
      </div>
      {% endif %}
    </div>
    <div class = "open-weather-hourlyforecast-details">
      {% for key,value in hourlyforecast_detail %}
      <div class = "open-weather-hourlyforecast-row">
        {% if (hourlyforecast_detail[key].forecast_date) %}
        <div class="forecast-date">
          <span class="label">{{ hourlyforecast_detail[key].forecast_date }}</span>
        </div>
        {% endif %}
        {% if (hourlyforecast_detail[key].forecast_time) %}
        <div class="forecast-time">
          <span class="label">{{ hourlyforecast_detail[key].forecast_time }}</span>
        </div>
        {% endif %}
        {% if (hourlyforecast_detail[key].weather.image) %}
        <div class="weather-icon">
          <span class="data"><img src="https://openweathermap.org/img/w/{{ hourlyforecast_detail[key].weather.image }}.png"/></span>
        </div>
        {% endif %}
        {% if(hourlyforecast_detail[key].temp) %}
        <div class="temperature">
          <span class="label">{{ hourlyforecast_detail[key].temp }}</span>
        </div>
        {% endif %}
        {% if (hourlyforecast_detail[key].weather.desc) %}
        <div class="weather-datail">
          <span class="label">{{ hourlyforecast_detail[key].weather.desc }}</span>
        </div>
        {% endif %}
        {% if(hourlyforecast_detail[key].humidity) %}
        <div class="humidity">
          <span class="label"> Humidity {{ hourlyforecast_detail[key].humidity }}</span>
        </div>
        {% endif %}
        {% if(hourlyforecast_detail[key].temp_max) %}
        <div class="maximum-temprature">
          <span class="label"> H {{ hourlyforecast_detail[key].temp_max }}</span>
        </div>
        {% endif %}
        {% if(hourlyforecast_detail[key].temp_min) %}
        <div class="minimum-tempreature">
          <span class="label"> L {{ hourlyforecast_detail[key].temp_min }}</span>
        </div>
        {% endif %}
        {% if(hourlyforecast_detail[key].pressure) %}
        <div class="pressure open-weather-row">
          <span class="label"> pressure <br> {{ hourlyforecast_detail[key].pressure }}hpa</span>
        </div>
        {% endif %}
        {% if(hourlyforecast_detail[key].sea_level) %}
        <div class="sea-level open-weather-row">
          <span class="label"> sea level <br> {{ hourlyforecast_detail[key].sea_level }}</span>
        </div>
        {% endif %}
        {% if(hourlyforecast_detail[key].grnd_level) %}
        <div class="ground-level open-weather-row">
          <span class="label"> ground level<br> {{ hourlyforecast_detail[key].grnd_level }}</span>
        </div>
        {% endif %}
        {% if(hourlyforecast_detail[key].wind-speed) %}
        <div class="wind-speed open-weather-row">
          <span class="label"> wind speed <br>{{ hourlyforecast_detail[key].wind-speed }}</span>
        </div>
        {% endif %}
        {% if(hourlyforecast_detail[key].wind_deg) %}
        <div class="wind-degree open-weather-row">
          <span class="label"> wind flow <br>{{ hourlyforecast_detail[key].wind_deg }}</span>
        </div>
        {% endif %}
        {% if(hourlyforecast_detail[key].day) %}
        <div class="day open-weather-row">
          <span class="label"> day <br> {{ hourlyforecast_detail[key].day }}</span>
        </div>
        {% endif %}
        {% if(hourlyforecast_detail[key].sunrise) %}
        <div class="sunrise open-weather-row">
          <span class="label"> sunrise <br>{{ hourlyforecast_detail[key].sunrise }}</span>
        </div>
        {% endif %}
        {% if(hourlyforecast_detail[key].sunset) %}
        <div class="sunset open-weather-row">
          <span class="label"> sunset <br> {{ hourlyforecast_detail[key].sunset }}</span>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
