<div id="wrap-right-side" class="box-border-box  col-md-3">
    <div class="panel panel-default text-left box-border-box  small-content">
        <div class="panel-heading"><strong>{% trans %}About SendinBlue{% endtrans %}</strong></div>
        <div class="panel-body"><p>
                {% trans %}SendinBlue is an online software that allows you to send emails and SMS. Easily manage
                your
                Marketing campaigns, transactional emails and SMS.{% endtrans %}
            </p>
            <ul class="sib-widget-menu">
                <li>
                    {{ '<a href="@sendinblue-about" target="_blank">> Who we are</a>'|t({ '@sendinblue-about': 'https://www.sendinblue.com/about/?utm_source=drupal_plugin&utm_medium=plugin&utm_campaign=module_link' }) }}
                </li>
                <li>
                    {{ '<a href="@sendinblue-price" target="_blank">> Pricing</a>'|t({ '@sendinblue-price': 'https://www.sendinblue.com/pricing/?utm_source=drupal_plugin&utm_medium=plugin&utm_campaign=module_link' }) }}
                </li>
                <li>
                    {{ '<a href="@sendinblue-feature" target="_blank">> Features</a>'|t({ '@sendinblue-feature': 'https://www.sendinblue.com/features/?utm_source=drupal_plugin&utm_medium=plugin&utm_campaign=module_link' }) }}
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default text-left box-border-box  small-content">
        <div class="panel-heading"><strong>{% trans %}Need Help ?{% endtrans %}'</strong></div>
        <div class="panel-body"><p>{% trans %}You have a question or need more information ?{% endtrans %}</p>
            <ul class="sib-widget-menu">
                <li>
                    {{ '<a href="@sendinblue-tutorial" target="_blank">> Features</a>'|t({ '@sendinblue-tutorial': 'https://resources.sendinblue.com/category/tutorials/?utm_source=drupal_plugin&utm_medium=plugin&utm_campaign=module_link' }) }}
                </li>
                <li>
                    {{ '<a href="@sendinblue-faq" target="_blank">> FAQ</a>'|t({ '@sendinblue-faq': 'https://resources.sendinblue.com/category/faq/?utm_source=drupal_plugin&utm_medium=plugin&utm_campaign=module_link' }) }}
                </li>
            </ul>
        </div>
    </div>
</div>