<div id="wrap" class="box-border-box container-fluid">
    <div id="wrap-left" class="box-border-box col-md-9">
        <div id="main-content">
            <div class="panel panel-default row small-content">
                <div class="page-header">
                    <strong>{% trans %}My Account{% endtrans %}</strong>
                </div>
                <div class="panel-body">
                    <span class="col-md-12"><b>{% trans %}You are currently logged in as :{% endtrans %}</b></span>
                    <div class="col-md-8 row" style="margin-bottom: 10px;">
                        <p class="col-md-12" style="margin-top: 5px;">
                            {{ account_username }} - {{ account_email }} <br/>

                            {% for key,value in account_data %}
                                {% if value.plan_type %}
                                    {{ value.plan_type }} - {{ value.credits }} {% trans %}credits{% endtrans %}
                                    <br/>
                                {% endif %}
                            {% endfor %}
                        </p>

                        <p>
                            {{ sendinblue_logout_form }}
                        </p>
                    </div>
                    <span class="col-md-12"><b>{% trans %}Contacts{% endtrans %}</b></span>
                    <div class="col-md-8 row" style="margin-bottom: 10px;">
                        <p class="col-md-7" style="margin-top: 5px;">
                            {% trans %}You have{% endtrans %} <span> {{ total_subscribers }}</span>
                            {% trans %}Contacts{% endtrans %}
                            <br/>
                            {{ '<a id="sendinblue_list_link" href="@sendinblue_list" target="_blank">> Access to the list of all my contacts</a>'
                            |t({ '@sendinblue_list': 'https://my.sendinblue.com/users/list/?utm_source=drupal_plugin&utm_medium=plugin&utm_campaign=module_link' }) }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default row small-content">
                <div class="page-header">
                    <strong>{% trans %}Registering user{% endtrans %}</strong></div>
                <div class="panel-body">
                    {{ sendinblue_user_register_form }}
                </div>
            </div>
            <div class="panel panel-default row small-content">
                <div class="page-header">
                    <strong>{% trans %}Transactional emails{% endtrans %}</strong></div>
                <div class="panel-body">
                    {{ sendinblue_send_email_form }}
                </div>
            </div>
        </div>


    </div>

    {% include '@sendinblue/footer.html.twig' %}

</div>