{#
/**
 * @file
 * Default theme implementation for third-party service placeholder.
 *
 * Variables:
 * - type: machine-readable name of element to render placeholder for.
 * - delta: index number of the item within a value of the element.
 * - uuid: identifier of the third-party service.
 * - label: name of taxonomy term (service name).
 * - content: original content.
 *
 * @see third_party_services_theme()
 * @see \Drupal\third_party_services\Mediator::placeholder()
 *
 * @ingroup themeable
 */
#}
{# PLEASE, BE CAREFUL WITH "data-*" ATTRIBUTES! Whole technique might stop working if you lose one of them. #}
<div class="third-party-services--placeholder" data-placeholder-for="{{ uuid }}" data-placeholder-type="{{ type }}" data-delta="{{ delta }}">
  <textarea class="third-party-services--original-content" hidden>
    {{ content|raw }}
  </textarea>

  <div class="third-party-services--playground">
    <p class="message">
      {% trans %}
      We respect your privacy and therefore do not connect to {{ label }} without your consent. Here you can manage your settings to connect to the social media channels.
      {% endtrans %}
    </p>

    <a href="{{ third_party_services__configuration_form_url({width: 600}) }}" class="button use-ajax">
      {{ 'Provide data protection settings'|t }}
    </a>
  </div>
</div>
