{#
/**
 * @file
 * Default theme implementation to display a multi file form widget.
 *
 * Available variables:
 * - table: Table of previously uploaded files.
 * - element: The form element for uploading another file.
 *
 * @see template_preprocess_file_widget_multiple()
 *
 * @ingroup themeable
 */
#}
{% if items %}
    <div id="{{ id }}" class="nice-imagefield-sortable">
        {% for item in items %}
            <div class="nice-imagefield-card" {{ item.attributes }}>
                <div class="front">
                    <div class="loading"></div>
                    <div class="operations">
                        {{ item.operations }}
                    </div>
                    {{ item.preview }}
                </div>
                <div class="back">
                    <div class="inner">
                        {{ item.edit }}
                        <div class="nice-imagefield-weight">
                            {{ item.weight }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}

{{ element }}
