{% if content %}
  <div class="ll-container {{ settings.classes_container }}">
  {% if content.header %}
    <div class="ll-header">
      {{ content.header }}
    </div>
  {% endif %}
  {% if content.main or content.child or content.second or content.second_child  %}
    <div class="ll-column-container">
    {% if content.main or content.child %}
      <div class="ll-first {{ settings.classes_first }}">
      {% if content.child %}
        <div class="ll-child  {{ settings.classes_first_child }}">
          {{ content.child }}
        </div>
      {% endif %}
        {{ content.main }}
      </div>
    {% endif %}
    {% if content.second or content.second_child  %}
      <div class="ll-second {{ settings.classes_second }}">
      {% if content.second_child %}
        <div class="ll-child  {{ settings.classes_second_child }}">
          {{ content.second_child }}
        </div>
      {% endif %}
        {{ content.second }}
      </div>
    {% endif %}
    </div>
  {% endif %}
  {% if content.footer %}
    <div class="ll-footer">
      {{ content.footer }}
    </div>
  {% endif %}
  </div>
{% endif %}
