{#
/**
 * @file
 * Default theme implementation to present a feed item in an aggregator page.
 *
 * Available variables:
 * - title
 * - type
 * - embed
 * - content
 * - attributes: HTML attributes for the wrapper.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_aggregator_item()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'embederator', 
  embederator_type? 'embederator--' ~ embederator_type,
] %}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
    {% if content.label %}
    {{ content.label }}
    {% endif %}
  {{ title_suffix }}
  <div class="{{ wrapper_class|default('embed') }}">
    {{ content|without('label') }}
  </div>
</article>
