{#
/**
 * @file
 * The views show more pager template.
 */
#}

{% if item.text %}
  <nav role="navigation" aria-labelledby="pagination-heading">
    <h4 class="visually-hidden">{{ 'Pagination'|t }}</h4>
      <ul{{ attributes }}>
        <li class="pager__item">
          {% if item.href %}
            <a href="{{ item.href }}" title="{{ 'Go to next page'|t }}" rel="next">{{ item.text }}</a>
          {% else %}
            {{ item.text }}
          {% endif %}
        </li>
      </ul>
  </nav>
{% endif %}
