{% set labels = form['#field-labels'] %}
{% for form_key, form_name in {'basic':'Basic'|t, 'advanced':'Advanced'|t} %}
  <table>
    <tr>
      <th colspan="2">
        {{ '!type form label overrides'|t({'!type': form_name}) }}</th>
      <th>{{ 'Title display'|t }}</th>
    </tr>
      {% for key, titles in labels %}
        {% if key in form_key %}
          {% set has_title_display = false %}
          {% if attribute(form.title-display, key) is not null %}
            {% set has_title_display = true %}
          {% endif %}
        {% endif %}
        <tr>
          <td style="vertical-align: top;">
            <label for=" {{ form.labels.key['#id'] }} ">
                        {{ lables.key[0] }}
            </label>
            <em>{{ labels.key[1] }}</em>
          </td>
          <td style="vertical-align: top" {{ has_title_display ? '' : ' colspan="2"' }} > {{ form.labels.key }}</td>
          {% if has_title_display %}
            <td>{{ form.title_display.key }}</td>
          {% endif %}
        </tr>
      {% endfor %}
  </table>
{% endfor %}
