<h3>{{ header }}</h3>
<p>{{ description }}</p>
<table class="system-status-report">
  {% for item in items %}
    <tr class="{{ item.class }}">
      <td>{{ item.message }}</td>
      <td>{{ item.value }}</td>
    </tr>
  {% endfor %}
</table>