{#
/**
 * @file
 * Default theme implementation to display an entity list layout.
 *
 * Available variables:
 * - header: The header for this layout.
 * - before_content: The region before the content for this layout.
 * - content: The content for this layout.
 * - after_content: The region after the content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}
<div {{ attributes }}>
  {% if content.header %}
    <div class="entity-list-header">
      {{ content.header }}
    </div>
  {% endif %}
  <div class="entity-list-content">
    {% if content.before_items %}
      {{ content.before_items }}
    {% endif %}
    {% if content.content %}
      <{{ content.content['#tag'] }} {{ content.content['#attributes'].addClass('entity-list-items') }}>
        {{ content.content }}
      </{{ content.content['#tag'] }}>
    {% endif %}
    {% if content.after_items %}
      {{ content.after_items }}
    {% endif %}
  </div>
</div>