<div{{ col_attributes }}>
  <div{{ box_attributes }}>
    <div class="inner">
      <h3>{{ configuration.content }}</h3>
      {% if configuration.title %}
        <p>{{ configuration.title }}</p>
      {% endif %}
    </div>
    {% if configuration.icon %}
      <div class="icon">
        <i class="ion {{ configuration.icon }}"></i>
      </div>
    {% endif %}
    {% if configuration.link %}
      {{ configuration.link }}
    {% endif %}
  </div>
</div>
