<a class="tw-username" href="{{ post.full_username }}"> <span>@</span>{{ post.username }}</a>

<div class="tw-tweet">{{ post.tweet }}</div>

{% if post.twitter_date %}
  <div class="tw-date">{{ post.twitter_date }}</div>
{% endif %}

{% if post.tweet_url %}
  {{ post.tweet_url }}
{% endif %}

