{% if post.picture %}
  <div class="fb-pic">
    <img src="{{ post.picture }}" />
  </div>
{% endif %}

{% if post.video %}
  <div class="fb-video">
    <a href="{{ post.video }}">See Video</a>
  </div>
{% endif %}

{% if post.message %}
  <div class="fb-message">
    {{ post.message }}
  </div>
{% endif %}

{% if post.link %}
  <div class="fb-link">
    {{ post.link }}
  </div>
{% endif %}

{% if should_display_time %}
  <div class="fb-time">
    {{ post.created_time }}
  </div>
{% endif %}
