{#
/**
 * @file
 * Default theme implementation to navigate books.
 *
 * Presented under nodes that are a part of book outlines.
 *
 * Available variables:
 * - tree: The immediate children of the current node rendered as an unordered
 *   list.
 * - current_depth: Depth of the current node within the book outline. Provided
 *   for context.
 * - prev_url: URL to the previous node.
 * - prev_title: Title of the previous node.
 * - parent_url: URL to the parent node.
 * - parent_title: Title of the parent node. Not printed by default. Provided
 *   as an option.
 * - next_url: URL to the next node.
 * - next_title: Title of the next node.
 * - has_links: Flags TRUE whenever the previous, parent or next data has a
 *   value.
 * - book_id: The book ID of the current outline being viewed. Same as the node
 *   ID containing the entire outline. Provided for context.
 * - book_url: The book/node URL of the current outline being viewed. Provided
 *   as an option. Not used by default.
 * - book_title: The book/node title of the current outline being viewed.
 *
 * @see template_preprocess_book_navigation()
 *
 * @ingroup themeable
 */
#}
{% if coverage %}
    <h2>Coverage Analyses</h2>
  {%- for analysis in coverage -%}
  <div{{ analysis.attributes }}>
      <div class="col-md-12">
          <div class="row">
              <div class="col-md-2">
                  <p><span class="title">{{ analysis.branch }}</span></p>
              </div>
              <div class="col-md-2">
                <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                &nbsp; #{{ analysis.number }}
              </div>
              {% if analysis.finished == "1" %}
                  <div class="col-md-3">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        &nbsp; about {{ analysis.started_at }} ago
                  </div>
                  <div class="col-md-3">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                        &nbsp; {{ analysis.duration }}
                  </div>
                  <div class="col-md-2">
                          <img src="{{ analysis.coverage_badge }}"/>
                  </div>
              {% else %}
                <div class="col-md-8">
                    <p>Code Coverage analysis is currently in progress..</p>
                </div>
              {% endif %}
          </div>
      </div>
  </div>
  {%- endfor -%}
{% endif %}
