{#
/**
 * @file
 * Default theme implementation to display a lightbox campaign.
 *
 * Available variables:
 * - elements: All lightbox_campaign items. Use {{ elements }} to print them
 *   all, or print a subset such as {{ elements.field_example }}. Use
 *   {{ elements|without('field_example') }} to temporarily suppress the
 *   printing of a given child element.
 * - attributes: HTML attributes for the containing element.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 *
 * @see template_preprocess_lightbox_campaign()
 *
 * @ingroup themeable
 */
#}

<div{{ attributes }}>

    <div{{ content_attributes }}>
        {{ elements }}
    </div>

</div>

