{#
/**
 * @file
 * Contains the text of the field_permission_example explanation/description page
 *
 * Available variables:
 * - form: the signature form.
 * - agreement: agreement text
 * - annotation: annotation text
 * - date: the signature date
 * - expire: the expiration date
 */
#}

<div id='sign_for_acknowledgement_checkbox'>
{{form}}
</div>
<ul>
{%if agreement%}
<li><em>{% trans %}Agreement:{% endtrans %} {{agreement}}</em></li>
{%endif%}
{%if annotation%}
<li><em>{% trans %}Annotation:{% endtrans %} {{annotation}}</em></li>
{%endif%}
<li><em>{% trans %}Signature date:{% endtrans %} {{date}}</em></li>
{%if expire != '---' %}
<li><em>{% trans %}Should be signed within:{% endtrans %} {{expire}}</em></li>
{%endif%}
</ul>
