{% if blocks == 1%}
### Parent template, location:module/templates/parent.html.twig ###
{{ '{% ' }} block head {{ '%} ' }}
{{ '{% ' }} block title {{ '%} ' }}{{ '{% ' }} endblock {{ '%} ' }}
  {{ '{% ' }} endblock {{ '%} ' }}
{{ '{% ' }} block content {{ '%} ' }}{{ '{% ' }} endblock {{ '%} ' }}
### End Parent template ###
{% endif %}

### Child template, location:module/templates/child.html.twig ###
{% if extends == 1 %}
## How to use extends ##
# The extends tag is the key here. It tells the template engine that this template "extends" another template.
{{ '{% ' }} extends "parent.html.twig" {{ '%} ' }}
{% endif %}
{% if include == 1 %}
## How to use include ##
# The include statement includes a template and returns the rendered content of that file into the current namespace.
{{ '{% ' }} include 'header.html.twig' {{ '%} ' }}
{% endif %}
{% if import == 1 %}
## How to use import ##
# The easiest and most flexible is importing the whole module into a variable. That way you can access the attributes.
{{ '{% ' }} import 'forms.html.twig' as forms {{ '%} ' }}
    <dt>Username</dt>
    <dd>{{ '{% ' }} forms.input('username') {{ '%} ' }}</dd>
    <dt>Password</dt>
    <dd>{{ '{% ' }} forms.input('password', null, 'password') }}</dd>
  <p>{{ '{% ' }} forms.textarea('comment') {{ '%} ' }}</p>
{% endif %}
{% if blocks == 1%}
{{ '{% ' }} block title {{ '%} ' }}Title child{{ '{% ' }} endblock {{ '%} ' }}
{{ '{% ' }} block head {{ '%} ' }}
  {{ '{{ '  }} parent() {{ '}} ' }}
{{ '{% ' }} endblock {{ '%} ' }}
{{ '{% ' }} block content {{ '%} ' }}
Welcome to my homepage.
{{ '{% ' }} endblock {{ '%} ' }}
{% endif %}
{% if for == 1 %}
###############
## How to use for ##
# Example 1 :display a list of users provided in a variable called users:
{{ '{% ' }} for user in users {{ '%} ' }}
# Print the username.
{{ '{{ ' }} user.username {{ '}} ' }}
  {{ '{% ' }} endfor {{ '%} ' }}

# Example 2 :if you do need to iterate over a sequence of numbers:
{{ '{% ' }} for i in 0..10 {{ '%} ' |merge  }}
# Print the number.
* {{ '{{ ' }} i {{ '}} ' }}
{{ '{% ' }} endfor {{ '%} ' }}
# Example 3 :It can be also useful with letters:
{{ '{% ' }} for letter in 'a'|upper..'z'|upper {{ '%} ' }}
# Print the letter.
* {{ '{{ ' }} letter {{ '}} ' }}
{{ '{% ' }} endfor {{ '%} ' }}
# Example 4 :If no iteration took place because the sequence was empty, you can render a replacement block by using else:
{{ '{% ' }} for user in users {{ '%} ' }}
    {{ '{{ ' }} user.username {{ '}} ' }}
  {{ '{% ' }} else {{ '%} ' }}
no user found
{{ '{% ' }} endfor {{ '%} ' }}
###############
{% endif %}
{% if if == 1 %}
###############
## How to use if ##
# Example 1 : In the simplest form you can use it to test if an expression evaluates to true:
{{ '{% ' }} if variable == false {{ '%} ' }}
<p>Hello false</p>
{{ '{% ' }} else {{ '%} ' }}
<p>Hello true</p>
{{ '{% ' }} endif {{ '%} ' }}
###############
{% endif %}
{% if set == 1 %}
###############
# Here is how you can assign the bar value to the example variable:
  {{ '{% ' }} set variable = 'example' {{ '%} ' }}
###############
{% endif %}
{% if merge == 1 %}
###############
## How to use merge ##
# The merge filter merges an array with another array
{{ '{% ' }} set values = [1, 2] {{ '%} ' }}

{{ '{% ' }} set values = values|merge(['example1', 'example1']) {{ '%} ' }}

  {{ '{# ' }} values now contains [1, 2, 'example1', 'example1']   {{ '#} ' }}
###############
{% endif %}
{% if lower == 1 %}
###############
## How to use lower ##
# The lower filter converts a value to lowercase.
  {{ '{{ ' }} 'WELCOME'|lower {{ '}} ' }}
  {{ '{# ' }} outputs 'welcome' {{ '#} ' }}
###############
{% endif %}
{% if length == 1 %}
###############
## How to use length ##
# The length filter returns the number of items of a sequence or mapping, or the length of a string.
{{ '{% ' }} if users|length > 10 {{ '%} ' }}
   ...
{{ '{% ' }} endif {{ '%} ' }}
###############
{% endif %}
{% if keys == 1 %}
###############
## How to use keys ##
# The keys filter returns the keys of an array.
{{ '{% ' }} for key in array|keys {{ '%} ' }}
    ...
{{ '{% ' }} endif {{ '%} ' }}
###############
{% endif %}
{% if json_encode == 1 %}
###############
## How to use json_encode ##
#The json_encode filter returns the JSON representation of a value.
  {{ '{{ ' }} data|json_encode() {{ '}} ' }}
###############
{% endif %}
{% if join == 1 %}
###############
## How to use join ##
# The join filter returns a string which is the concatenation of the items of a sequence.
# Example 1
{{ '{{ ' }} [1, 2, 3]|join {{ '}} ' }}
{{ '{# ' }} returns 123 {{ '#} ' }}
# Example 2
{{ '{{ ' }} [1, 2, 3]|join('|') {{ '}} ' }}
{{ '{# ' }} outputs 1|2|3 {{ '#} ' }}
###############
{% endif %}
{% if format == 1 %}
###############
## How to use format ##
# The format filter formats a given string by replacing the placeholders.
{{ '{{ ' }} "I like %s and %s."|format(drupal, "php") {{ '}} ' }}
{{ '{# ' }} outputs I like drupal and php if the drupal parameter equals to the drupal string. {{ '#} ' }}
###############
{% endif %}
{% if escape  == 1 %}
###############
## How to use escape ##
#The escape filter escapes a string for safe insertion into the final output. It supports different escaping strategies depending on the template context.
#Example
# Here is how to escape variables included in JavaScript code.
{{ '{{ ' }} user.username|escape('js') {{ '}} ' }}
###############
{% endif %}
{% if date  == 1 %}
###############
## How to use date ##
# The date filter formats a date to a given format.
# Example 1
{{ published_at|date("m/d/Y") }}
# Example 2 :
To display the current date, filter the word "now".
{{ '{{ ' }} "now"|date("m/d/Y") {{ '}} ' }}
###############
{% endif %}
{% if capitalize  == 1  %}
###############
## How to use capitalize ##
# The capitalize filter capitalizes a value. The first character will be uppercase, all others lowercase.
{{ '{{ ' }} 'hi drupal 8!'|capitalize {{ '}} ' }}
{{ '{# ' }} outputs 'Hi drupal 8!' {{ '#} ' }}
###############
{% endif %}
### End Child template ###