{% if help %}
{{ '{# '  }} We add here page contains section keyed by an id and a class.
We print here the name, surname,adress and finally the number (the values are declared in the controller) {{ '#} '  }}
{% endif %}
<section {{ '{{ '  }} attributes {{ '}} ' }}>
    <ul>
      <li> Name : {{ '{{ '  }} name {{ '}} ' }}</li>
      <li> Surname : {{ '{{ '  }} surname {{ '}} ' }}</li>
      <li> Address : {{ '{{ '  }} address {{ '}} ' }}</li>
      <li> Phone number : {{ '{{ '  }} number {{ '}} ' }}</li>
    </ul>
</section>
