{#
/**
 * @file
 * Default theme implementation of a swiper reference field.
 *
 * Available variables:
 * - attributes: HTML attributes for the field's wrapping element.
 * - container_attributes: HTML attributes for the swiper container.
 * - wrapper_attributes: HTML attributes for the swiper wrapper.
 * - slide_attributes: HTML attributes for a single swiper slide.
 * - children: Contains the field propertioes and child elements of the field.
 * - controls: An array of controls to render on the swiper field, may contain
 *     the following controls:
 *     - pager: Indicates whether or not to render an element for pagination.
 *     - next_button: Indicates whether or not to render the 'next' button.
 *     - prev_button: Indicates whether or not to render the 'previous' button.
 *     - scrollbar: Indicates whether or not to render the a swiper scrollbar.
 *
 * @see template_preprocess_swiper_reference_field()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ element['#children']['#field_name']|clean_class,
    'field--type-' ~ element['#children']['#field_type']|clean_class,
    'field--label-' ~ element['#children']['#label_display']|clean_class,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden %}
    <div{{ title_attributes.addClass(title_classes) }}>{{ element['#children']['#title'] }}</div>
  {% endif %}
  <div {{ container_attributes }}>
    <div {{ wrapper_attributes.addClass('field__items') }}>
      {% for slide_content in children %}
          {% if hashnav %}
            <div {{ slide_attributes.addClass('field__item').setAttribute('data-hash', 'slide' ~ loop.index) }}>
          {% else %}
            <div {{ slide_attributes.addClass('field__item') }}>
          {% endif %}
            {{ slide_content }}
          </div>
      {% endfor %}
    </div>

    {% for control in controls %}
      {% if control %}
        <div {{ control.attributes }}></div>
      {% endif %}
    {% endfor %}
  </div>
</div>
