<section class="weather-block-block">
  <h1>{{ title }}</h1>

  {{ form }}

  <table id="forecast"><tr>

    {% for item in forecast %}
      <td>
        <div class="forecast_date">{{ item.date }}</div>
        <img class="current_conditions" src="{{ item.conditions.image }}" alt="{{ item.conditions.text }}" title="{{ item.conditions.text }}" />
        <div class="weather-data"><span>{{ item.temp_high.label }}:</span> {{ item.temp_high.value }}</div>
        <div class="weather-data"><span>{{ item.temp_low.label }}:</span> {{ item.temp_low.value }}</div>
      </td>
    {% endfor %}

  </tr></table>

  </div>

</section>
