<section class="weather-block-block">
  <h1>{{ title }}</h1>

  <table class="current_weather">
  <tr><td>

  <div class="forecast_title">{{ current_weather_title }}</div>
  <img class="current_conditions" src="{{ current_conditions_icon }}" alt="{{ current_conditions_text }}" title="{{ current_conditions_text }}" />
  <div class="weather-data"><span>{{ current_conditions_wind_label }}:</span> <img src="{{ current_conditions_wind_icon }}" />{{ current_conditions_wind_speed }} </div>
  <div class="weather-data"><span>{{ temperature_label }}:</span> {{ current_conditions_temp }}</div>
  <div class="weather-data"><span>{{ current_conditions_humidity_label }}:</span> {{ current_conditions_humidity }}</div>
  </td>
  <td>

  {{ form }}

  </td>
  </tr>
  </table>

  <div class="forecast_title">{{ forecast_weather_title }}</div>

  <table id="forecast"><tr>

    {% for item in forecast %}
      <td>
        <div class="forecast_date">{{ item.date }}</div>
        <img class="current_conditions" src="{{ item.conditions.image }}" alt="{{ item.conditions.text }}" title="{{ item.conditions.text }}" />
        <div class="weather-data"><span>{{ item.temp_high.label }}:</span> {{ item.temp_high.value }}</div>
        <div class="weather-data"><span>{{ item.temp_low.label }}:</span> {{ item.temp_low.value }}</div>
      </td>
    {% endfor %}

  </tr></table>

  </div>

</section>
