{{ attach_library('dialect/dialect.styling') }}

{#
/**
 * @file
 * Default theme implementation of the dialect language switcher block.
 *
 * Available variables:
 * @todo documentation
 * - current_language_id
 * - current_language_label
 * - default_languages
 * - has_fallback_languages
 * - fallback_languages
 *
 * @see template_preprocess_dialect()
 *
 * @ingroup themeable
 */
#}

<nav class="dialect" role="navigation">
  <button class="dialect__current-language" hreflang="{{ current_language_id }}">
    {{ current_language_label }}
    <svg width="7" height="5">
      <polygon fill="#333333" fill-rule="evenodd" points="3.5 4.667 7 0 0 0"></polygon>
    </svg>
  </button>
  <div class="dialect__tooltip">
    <span class="tooltip-arrow"></span>
    {{ default_languages }}
    {% if has_fallback_languages %}
      {{ fallback_languages }}
    {% endif %}
  </div>
</nav>
