<dl class="quadruple-field-definition-list">
{%- for item in items -%}
  <dt>
    {% if settings.first.prefix %}
      <span class="quadruple-field-prefix">{{ settings.first.prefix }}</span>
    {% endif %}
    {{ item.first }}
    {% if settings.first.suffix %}
      <span class="quadruple-field-suffix">{{ settings.first.suffix }}</span>
    {% endif %}
  </dt>
  <dd>
    {% if settings.second.prefix %}
      <span class="quadruple-field-prefix">{{ settings.second.prefix }}</span>
    {% endif %}
    {{ item.second }}
    {% if settings.second.suffix %}
      <span class="quadruple-field-suffix">{{ settings.second.suffix }}</span>
    {% endif %}
  </dd>
  <dd>
    {% if settings.third.prefix %}
      <span class="quadruple-field-prefix">{{ settings.third.prefix }}</span>
    {% endif %}
    {{ item.third }}
    {% if settings.third.suffix %}
      <span class="quadruple-field-suffix">{{ settings.third.suffix }}</span>
    {% endif %}
  </dd>
  <dd>
    {% if settings.fourth.prefix %}
      <span class="quadruple-field-prefix">{{ settings.fourth.prefix }}</span>
    {% endif %}
    {{ item.fourth }}
    {% if settings.fourth.suffix %}
      <span class="quadruple-field-suffix">{{ settings.fourth.suffix }}</span>
    {% endif %}
  </dd>    
{%- endfor -%}
</dl>
