
{# {{ kint(fields) }} #}

{# RESULTS #}
<section id="{{ wrapper_id }}" class="{{wrapper_classes}} {{ template_theme }}">
  {{ title_suffix }}

  {% if fields.field_clist_content %}

    <ul>
      {% for row in fields.field_clist_content %}
        <li>
          {% if row.field_extend_link_url %}
            {# We output the link using two different options. They are displaying the same link. #}
            <div>Option #1: <a href="{{ row.field_extend_link_url.url }}">{{ row.field_extend_link_url.title }}</a></div>
            <div>Option #2: {{ row.field_extend_link_url.html }}</div>
          {% elseif row.field_extend_file_upload %}
            <div><a href="{{ row.field_extend_file_upload.url }}">{{ row.field_extend_description ? row.field_extend_description : 'No File Description' }}</a></div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

  {% else %}

    <p>No matching items found with the filter criteria.</p>

  {% endif %}

</section>