{%
    set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
]
%}
{%
    set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
]
%}

{% if label_hidden %}
    {% for item in items %}
        <figcaption{{ attributes.addClass(classes, 'field__item') }}>{{ item.content }}</figcaption>
    {% endfor %}
{% else %}
    <div{{ attributes.addClass(classes) }}>
        <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
        {% for item in items %}
            <figcaption{{ item.attributes.addClass('field__item') }}>{{ item.content }}</figcaption>
        {% endfor %}
    </div>
{% endif %}
