{#
/**
 * @file
 * Default theme implementation for the prod check status report.
 *
 * Available variables:
 * - requirements: Contains multiple requirement instances, sorted on category.
 *   Each requirement contains:
 *   - title: The title of the requirement.
 *   - value: (optional) The requirement's status.
 *   - description: (optional) The requirement's description.
 *   - severity_title: The title of the severity.
 *   - severity_status: Indicates the severity status.
 *
 * @see template_preprocess_prod_check_status_report()
 *
 * @ingroup themeable
 */
#}
{% for category, requirements_per_category in requirements %}
  {% if requirements_per_category is not empty %}
    <h2>{{ attribute(categories, category).title }}</h2>
    {{ attribute(categories, category).description }}
    <table class="system-status-report">
      <thead>
      <tr class="visually-hidden">
        <th>{{ 'Status'|t }}</th>
        <th>{{ 'Component'|t }}</th>
        <th>{{ 'Details'|t }}</th>
      </tr>
      </thead>
      <tbody>
      {% for requirement in requirements_per_category %}
        {% if requirement.severity_status %}
          <tr class="system-status-report__entry color-{{ requirement.severity_status }}">
        {% else %}
          <tr>
        {% endif %}
        <td class="system-status-report__status-icon system-status-report__status-icon--{{ requirement.severity_status }}">
          <div title="{{ requirement.severity_title }}">
            <span class="visually-hidden">{{ requirement.severity_title }}</span>
          </div>
        </td>
        <td class="system-status-report__status-title">{{ requirement.title }}</td>
        <td>
          {{ requirement.value }}
          {% if requirement.description %}
            <div class="description">{{ requirement.description }}</div>
          {% endif %}
        </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endfor %}