{#
Setting Up Variables
#}
{% set breakpoint_groups = element.breakpoints_groups %}
 {% for project_name,group_name in breakpoint_groups %}
      <details>
          <summary>{{ project_name }}</summary>
          <div class="details-wrapper">
          {% for group_name,breakpoint_info in group_name %}
           <strong>{{ group_name }}</strong>
              <ul>
                  {% for key,value in breakpoint_info %}
                      <li><strong>{{ key }}</strong>{{ ':' }}
                      {% if key ==  'multipliers' %}
                          {% for multipliers in value %}
                              {{ multipliers }}
                          {% endfor %}
                      {% else %}
                        {{ value }}
                      {% endif %}
                      </li>
                  {% endfor %}
              </ul>
        {% endfor %}
          </div>
      </details>
  {% endfor %}

