
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="https://staging.theappreciationengine.com/framework/js/507"></script>

{#
{% if logged_in == false %}
#}
        <div id="signup">
            <div class="panel-heading" style="background: #000; color:#fff; padding: 5px;">Social Signup</div>
            <div class="panel-body" style="padding: 15px 30px;">
                {% for social in socials %}
                    <a href="#" data-ae-register-link="{{ social|lower }}" class="ae-btn btn btn-default">{{social}}</a>
                {% endfor %}
            </div>

            <div id="emailRegistration">
            <div class="panel-heading" style="background: #000; color:#fff; padding: 5px;">Email</div>
            <div class="panel-body" style="padding: 15px 30px;">
                <form id="email-signup" data-ae-register-form="email" data-ae-type="register" method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email"> <br>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <p><button type="submit" class="btn btn-primary">Sign Up!</button> </p>
                    <p><a href="#" id="forgotPasswordButton">Forgot Password?</a> </p>
                </form>
            </div>
            </div>

            <div id="error_ae" style="display: none;">
                
            </div>

        </div>

        <div id="additional-data" style="display: none;" data-ae-logout-link="true">
            <div class="panel-heading" style="background: #000; color:#fff;">Additional Information Required</div>
            <div class="panel-body" style="padding: 15px 30px;">
                <form id="additional-data-form" data-ae-register-form="email" method="post">
                    {% for field in fields %}
                            {% if field.enabled == 1 %}
                                <div class="form-group">
                                    <label for="{{ field.field }}">{{  field.field }} &nbsp;&nbsp;</label>
                                    <input id="{{ field.field }}" name="{{ field.field }}" type="{{ field.type }}">
                                </div>
                            {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        <div id="passwordResetForm" style="display: none;" data-ae-logout-link="true">
            <div class="panel-heading" style="background: #000; color:#fff;">Reset Password</div>
            <div class="panel-body" style="padding: 15px 30px;">
                <form method="post">
                    <label for="email">Email</label>
                    <input type="email" id="email">
                    <label for="newpassword">New Password</label>
                    <input type="password" id="newpassword">
                    <button type="button" class="btn btn-primary" onclick="resetPassword()">Update</button>
                </form>
            </div>
        </div>

{#
{% endif %}
#}


<script type="text/javascript">

  	function getSocials() {
  	    var social_logins = "";
  	      {% for social in socials %}
  	    social_logins += '{{ social|lower }}{% if not loop.last %},{% endif %}';
  	      {% endfor %}
  	    return social_logins;
  	}

  	function getGlobalHeaderFooter(text) {
  	    return {
  	        global: {
                'top': {
                    'text' : text.header,
                    'title' : 'Global Header'
                },
                'bottom': {
                    'text' : text.footer,
                    'title' : 'Global Footer'
                }
            }
        }
    }

    function getExtraFields(fields) {

  	    required_fields = fields.filter(function(field) {
  	        return field.required === 1;
        });

  	    var extraFields = {};
  	    required_fields.forEach(function(field) {
  	        extraFields[field.field] = {
  	            label: field.alt_text,
                required: true
            }
        });

  	    return extraFields;
    }

    function toggleEmailRegistration(settings) {
  	    if(settings.options.social_login)
  	        $("#emailRegistration").hide();
  	    else
            $("#emailRegistration").show();
    }

    function isset(variable) {
  	    return typeof variable === "string";
    }

	function getOptions() {
	    var general_settings =  {{ general_settings|json_encode|raw }};
	    var basic_options =  {{ basic_options|json_encode|raw }};
	    var email_options =  {{ email_options|json_encode|raw }};
	    var text_options =  {{ text_options|json_encode|raw }};
	    var performance_options =  {{ performance_options|json_encode|raw }};
	    var fields = {{ fields|json_encode|raw }};
	    createLocalUser = !isset(performance_options.options.not_create_user);
	    signInLocalUser = !isset(performance_options.options.not_sign_in);
        verify_email = isset(email_options.options.verify_email);
        request_verification = isset(email_options.options.req_email_verify);
	    toggleEmailRegistration(general_settings);

        var options = {
            'auth_window': isset(general_settings.options.auth_window),
            'social_logins': getSocials(),
            'display_error_message': isset(general_settings.options.error_message),
            'device_detect': isset(general_settings.options.auto_detect),
            'sso': isset(general_settings.options.multi_site_login) ? 'application' : 'local',
            'no_email': isset(general_settings.options.social_login),
            'verify_email': isset(email_options.options.verify_email),
            'verify_email_for_login': isset(email_options.options.req_email_verify),
            'email_format': parseObject(email_options),
            'hide_email_form': !isset(basic_options.options.show_ep_button),
            'style_url': basic_options.style_url,
            'language': basic_options.form_validation_language, // Todo: Make it dynamic later,
            'flow_text': parseObject(text_options),
            'create_local_user': !isset(performance_options.not_create_user),
            'sign_in_local_user': !isset(performance_options.not_sign_in),
            'extra_info': getGlobalHeaderFooter(text_options),
            'extra_fields': getExtraFields(fields)
        };

	  return options;
	}

	// parses a given object and sets values to null if they are empty string ""
	function parseObject(options) {
  	    for(var option in options) {
  	        if(options[option] === "")
  	            delete options[option];
        }
        return options;
    }

    function AEJSReady(aeJS) {
        var options = getOptions();

        globalAEJS = aeJS;

        aeJS.settings['auth_window'] = options.auth_window;
        aeJS.settings['services'] = options.social_logins;
        aeJS.settings['display_error_message'] = options.display_error_message;
        aeJS.settings['email_format'] = options.email_format;
        aeJS.settings['extra_fields'] = options.extra_fields;
        aeJS.settings['extra_info'] = options.extra_info;
        aeJS.settings['flow_css'] = options.style_url;
        aeJS.settings['flow_text'] = options.flow_text;
        aeJS.settings['hide_email_form'] = options.hide_email_form;
        aeJS.settings['language'] = options.language;
        aeJS.settings['no_email'] = options.no_email;
        aeJS.settings['mobile_detect'] = options.device_detect;
        aeJS.settings['sso'] = options.sso;
        aeJS.settings['verify_email'] = options.verify_email;
        aeJS.settings['verify_email_for_login'] = options.verify_email_for_login;
        aeJS.settings['display_error_message'] = false;

        console.log(aeJS.settings);

        aeJS.events.onFlow.addHandler(flowHandler);
        aeJS.events.onLogin.addHandler(loginHandler);
        aeJS.events.onUser.addHandler(userHandler);
        aeJS.events.onLogout.addHandler(logoutHandler);
        //aeJS.events.onWindow.addHandler(windowHandler);
        aeJS.events.onPasswordReset.addHandler(passwordHandler);
        aeJS.events.onEmailVerify.addHandler(verificationHandler);
    }

    $("#forgotPasswordButton").click(function() {
        var returnURL = "http://drupal-plugin.appreciationengine.com/";
        globalAEJS.trigger.verify_reset_password(returnURL);
    });





</script>