{#
/**
 * @file
 * Template for a 3 column panel layout.
 *
 * This template provides a three column 25%-50%-25% panel display layout, with
 * additional areas for the top and the bottom.
 *
 * Variables:
 * - $id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.top: Content in the top row.
 *   - content.left: Content in the left column.
 *   - content.middle: Content in the middle column.
 *   - content.right: Content in the right column.
 *   - content.bottom: Content in the bottom row.
 */
#}

{% set middle = content.middle|render %}
{% set left = content.left|render %}
{% set right = content.right|render %}
{% set top = content.top|render %}
{% set bottom = content.bottom|render %}

{% if (left and right) %}
  {% set layout_class = 'layout-extra-two-sidebars layout-extra-sidebar-left layout-extra-sidebar-right' %}
{% elseif (left) %}
  {% set layout_class = 'layout-extra-sidebar-left' %}
{% elseif (right) %}
  {% set layout_class = 'layout-extra-sidebar-right' %}
{% else %}
  {% set layout_class = 'layout-extra-sidebar-none' %}
{% endif %}

<!-- "{{ left }}" -->
<div class="layout-extra-3col-stacked {{ layout_class }}" {% if css_id %}{{ css_id }}{% endif %}>
  {% if top %}
    <div class="layout-extra-content-top-wrapper">
      <div class="layout-extra-content-top">
          {{ top }}
      </div>
    </div>
  {% endif %}

  <div class="layout-extra-content-middle-wrapper">
    <div class="layout-extra-content-middle">
      {{ middle }}
    </div>
  </div>

  {% if left %}
    <div class="layout-extra-content-left-wrapper">
      <div class="layout-extra-content-left">
        {{ left }}
      </div>
    </div>
  {% endif %}

  {% if right %}
    <div class="layout-extra-content-right-wrapper">
      <div class="layout-extra-content-right">
        {{ right }}
      </div>
    </div>
  {% endif %}

  {% if bottom %}
    <div class="layout-extra-content-bottom-wrapper">
      <div class="layout-extra-content-bottom">
        {{ bottom }}
      </div>
    </div>
  {% endif %}
</div>
