<div class="instagram_pictures_listing">
    {% set count = 1 %}
    {% for picture in pictures %}
        {% if count == 1 %}
            <div class="row">
        {% endif %}
        {% if picture.picture_added %}
            <div class="col-md-2 col-{{ picture.id }}">
                <img src="{{ picture.thumbnail }}" class="disabled"/>
                <div class="add-picture-wrapper" id="add-picture-wrapper-{{ picture.id }}">
                    <span class="pic_added_text">{% trans %} Added {% endtrans %}</span>
                </div>
            </div>
        {% else %}
            <div class="col-md-2 col-{{ picture.id }}">
                <img src="{{ picture.thumbnail }}"/>
                <div class="add-picture-wrapper" id="add-picture-wrapper-{{ picture.id }}">
                {{ picture.add_link }}
                {{ picture.view_link }}
                </div>
            </div>
        {% endif %}

        {% if count == 6 %}
            {% set count = 1 %}
            </div>
        {% else %}
            {% set count = count + 1 %}
        {% endif %}

    {% endfor %}
</div>
