{#
/**
 * @file
 * Default theme implementation for displaying a single search result coming from Search API page.
 *
 * @ingroup themeable
 Sample Result Item
 
    [id] => School TV Man zoekt vrouw - Geurenonderzoek
    [relevancyScore] => 36.74008
    [missingQueryTerms] => Array
        (
        )

    [textReadability] => unknown
    [vocabularySize] => 20000
    [minSuitableAge] => 16
    [maxSuiteableAge] => 18
    [audiences] => Array
        (
            [0] => Array
                (
                    [label] => NL4
                    [name] => Leesniveau 4
                    [level] => 4
                )

        )

    [title] => Man zoekt vrouw - Geurenonderzoek
    [images] => Array
        (
            [0] => http://images.poms.omroep.nl/image/240113.jpg
        )

    [videos] => Array
        (
        )

    [summaryText] => De vrouw kiest de man en niet andersom. ... Het is de laatste decennia voor de man niet makkelijker geworden.
    [tags] => Array
        (
            [0] => is
            [1] => nummer
            [2] => winnaar
            [3] => onbewust
            [4] => aantrekkelijk
            [5] => man
            [6] => amsterdam
        )

    [publicationDate] => 
    [screenshot] => 
    [thumbnail] => https://api.wizenoze.com/v1/thumbnail?url=http%3A%2F%2Fimages.poms.omroep.nl%2Fimage%2F240113.jpg&hash=65e306035619eb8c2ca3d82250db1395
    [sourceUrl] => http://www.schooltv.nl/video/man-zoekt-vrouw-geurenonderzoek/
    [displayUrl] => www.schooltv.nl
    [location] => 
    [collections] => Array
        (
            [0] => Array
                (
                    [id] => 134
                    [name] => School TV
                )

            [1] => Array
                (
                    [id] => 200
                    [name] => WizeNoze Public Crawl Dutch
                )

        )

    [collectionIds] => Array
        (
            [0] => 134
            [1] => 200
            [2] => 100
        )

    [documentTypes] => Array
        (
            [0] => unknown
        )

)
 */
#}
{{ title_prefix }}
<h3{{ title_attributes }}>
  <a href="{{ item.sourceUrl }}">{{ item.title | raw | striptags }}</a>
</h3>
<p>{{ item.summaryText | striptags | raw }}</p>
{{ title_suffix }}
