{#
/**
 * @file simple_mega_menu.html.twig
 * Default theme implementation to present Simple mega menu data.
 *
 * This template is used when viewing Simple mega menu pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 * - bundle : the simple mega menu bundle
 * - view_mode : the view mode used
 * - simple_mega_menu: the simple mega menu entity
 *
 * @see template_preprocess_simple_mega_menu()
 *
 * @ingroup themeable
 */
#}

{%
set classes = [
'simple-mega-menu',
'mega-menu-item',
'simple-mega-menu-type-' ~ bundle|clean_class,
view_mode ? 'view-mode-' ~ view_mode|clean_class,
]
%}

{% set image_uri = simple_mega_menu.field_image_link.uri %}
{{ attach_library('simple_megamenu_example/base') }}

<div{{ attributes.addClass(classes) }}>
  {% if content and view_mode == 'before' %}
    {% if image_uri %}
      <a href="{{ simple_mega_menu.field_image_link.0.url }}">
    {% endif %}
    <div class="image-wrapper">
      {{ content | without('field_image_link', 'field_image_title', 'field_text') }}
      <div class="image-title">{{ content.field_image_title }}</div>
    </div>
    {% if image_uri %}
      </a>
    {% endif %}
    <div class="text">{{ content.field_text }}</div>
  {% else %}
    {{ content }}
  {% endif %}
</div>
