{{ attach_library('news_cards/news_cards') }}
<div class="paragraph--stories-container">
  {{ elements.field_link }}
  {{ elements.field_thumbnail }}
  {{ elements.field_summary }}
  {{ elements.field_source }}
</div>
