{#
/**
 * @file
 * Default theme implementation to link badges link text. Includes the badge
 * syntax and the original link text.
 *
 * Available variables:
 * - link: The original link render array
 * - badge_value: Value to display in badge
 * - badge_classes: Array of CSS classes to apply to badges.

 * @see link_badges_link_alter().
 *
 * @ingroup themeable
 */
#}
<span class="link-badge-text {{ badge_text_class|join(' ') }}">
    {{ link.text }}
</span>
<span class="link-badge-wrapper {{ badge_wrapper_class|join(' ') }}">
    <span class="link-badge {{ badge_class|join(' ') }}">
        {{ badge_value }}
    </span>
</span>
