{#
/**
 * @file
 * Profile social icons block.
 */
#}
<!-- Social Icons Template-->

<div class="background">
    <div class="contacts social">
        <h3><span class="title">{% if title %}{{ title }} {% endif %}</span></h3>
        <div class="dark">                                  
            {% if facebook_icon %}
            <a href="{{ facebook_icon }}" title="Facebook"><i class="fa fa-facebook-square"></i></a>
            {% endif %}
            
            {% if twitter_icon %}
            <a href="{{ twitter_icon }}" title="Twitter"><i class="fa fa-twitter-square"></i></a>
            {% endif %}
          
            {% if google_plus_icon %}
            <a href="{{ google_plus_icon }}" title="Google Plus"><i class="fa fa-google-plus-square"></i></a>
            {% endif %}
			
            {% if instragram_icon %}
            <a href="{{ instragram_icon }}" title="Instagram"><i class="fa fa-instagram"></i></a>
            {% endif %}
			
            {% if telegram_icon %}
            <a href="{{ telegram_icon }}" title="Telegram"><i class="fa fa-telegram"></i></a>
            {% endif %}

            {% if linkedin_icon %}
            <a href="{{ linkedin_icon }}" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a>
            {% endif %}
            
            {% if pinterest_icon %}
            <a href="{{ pinterest_icon }}" title="Pinterest"><i class="fa fa-pinterest-square"></i></a>
            {% endif %}
            
	    {% if youtube_icon %}
            <a href="{{ youtube_icon }}" title="Youtube"><i class="fa fa-youtube-square"></i></a>
            {% endif %}
            
        </div>
    </div>
</div>
<!-- End Social Icons-->