<div id="gdrp-popup" class="{{data.popup_position}}" style="background: {{data.popup_color}}">
  <div class="gdrp-popup-content">
    <div class="gdrp-popup-text {{data.popup_text}}">
      <p class="gdrp-popup-cookies">We use cookies on our website to support
        technical features that enhance your user experience.</p>
      <p class="gdrp-popup-analytics">We also use analytics. To opt-out from
        analytics, click for more information.</p>
    </div>
    <div class="gdrp-popup-buttons {{data.button_text}}">
      <button type="button" id="gdrp-agree"  style="background: {{data.button_color}}">I've read it</button>
      <button type="button" id="gdrp-find-more" data-morelink="{{data.popup_morelink}}"  style="background: {{data.button_color}}">More information</button>
    </div>
  </div>
</div>
