<!--
~
~ Profile image is preprocessed in byu_faculty_directory.module
~
~   Fields that need to be added to content type
~       Areas of Expertise
~       Background Intro
~       Professional Organizations
~       Alternate Phone
~
~   Fields not added to profile
~       Short Research
~       Short Bio
-->

{{ attach_library('byu_faculty_directory/component-1.x.x') }}

<byu-faculty-profile background-image="{{ profile_background_image }}" faculty-image="{{ file_url(node.field_byu_f_d_profile_image.entity.uri.value) }}" style="margin: 0px">
    <div slot="faculty-name">{{ node.field_byu_f_d_first_name.value ~ " " ~ node.field_byu_f_d_last_name.value }}</div>
    <span slot="faculty-title">{{ node.field_byu_f_d_title.value }}</span>
    <span slot="faculty-office">{{ node.field_byu_f_d_office_location.value }}</span>
    <span slot="faculty-phone">{{ node.field_byu_f_d_phone_number.value }}</span>
    <span slot="faculty-email">{{ node.field_byu_f_d_email.value }}</span>

    {% if node.field_byu_f_d_biography.value is not empty %}
    <span slot="faculty-biography">{{ node.field_byu_f_d_biography.value | raw | nl2br }}</span>
    {% endif %}

    {% if node.field_byu_f_d_research_long.value is not empty %}
    <span slot="faculty-research">{{ node.field_byu_f_d_research_long.value | raw }}</span>
    {% endif %}

    {% if node.field_byu_f_d_publications.value is not empty %}
    <span slot="faculty-papers">{{ node.field_byu_f_d_publications.value | raw }}</span>
    {% endif %}

    {% if node.field_byu_f_d_courses.value is not empty %}
    <span slot="faculty-courses">{{ node.field_byu_f_d_courses.value | raw }}</span>
    {% endif %}

    {% if node.field_byu_f_d_students.value is not empty %}
    <span slot="faculty-students">{{ node.field_byu_f_d_students.value | raw }}</span>
    {% endif %}

    {% if node.field_byu_f_d_office_hours.value is not empty %}
    <span slot="faculty-office-hours">{{ node.field_byu_f_d_office_hours.value | raw }}</span>
    {% endif %}

    {% if node.field_byu_f_d_links.value is not empty %}
    <span slot="faculty-links">{{ node.field_byu_f_d_links.value | raw }}</span>
    {% endif %}

    {% if node.field_byu_f_d_awards.value is not empty %}
    <span slot="faculty-awards">{{ node.field_byu_f_d_awards.value | raw }}</span>
    {% endif %}

    {% if node.field_byu_f_d_committees.value is not empty %}
    <span slot="faculty-committees">{{ node.field_byu_f_d_committees.value | raw }}</span>
    {% endif %}

    {% if node.field_byu_f_d_education.value is not empty %}
        <span slot="faculty-education">{{ node.field_byu_f_d_education.value | raw }}</span>
    {% endif %}

    {% if node.field_byu_f_d_custom_title.value is not empty %}
        <span slot="faculty-custom-header">{{ node.field_byu_f_d_custom_title.value | raw }}</span>
    {% endif %}

    {% if node.field_byu_f_d_custom_content.value is not empty %}
        <span slot="faculty-custom-body">{{ node.field_byu_f_d_custom_content.value | raw }}</span>
    {% endif %}

    {% if node.field_byu_f_d_cv.value is not empty %}
        <span slot="faculty-cv">{{ file_url(node.field_byu_f_d_cv.entity.uri.value) }}</span>
    {% endif %}

</byu-faculty-profile>