{# Attach Faculty Directory web component library #}
{{ attach_library('byu_faculty_directory/component-1.x.x') }}

{# Strip HTML tags from variables #}
{% set first_name_strip = (fields['field_byu_f_d_first_name'].content | striptags) %}
{% set last_name_strip = (fields['field_byu_f_d_last_name'].content | striptags) %}
{% set title_strip = (fields['field_byu_f_d_title'].content | striptags) %}
{% set office_location_strip = (fields['field_byu_f_d_office_location'].content | striptags) %}
{% set phone_number_strip = (fields['field_byu_f_d_phone_number'].content | striptags) %}
{% set email_strip = (fields['field_byu_f_d_email'].content | striptags) %}
{% set office_hours_strip = (fields['field_byu_f_d_office_hours'].content | striptags) %}
{% set research_short_strip = (fields['field_byu_f_d_research_short'].content | striptags) %}
{% set biography_strip = (fields['field_byu_f_d_biography'].content | raw) %}

{# Parse the image src from the image formatted output #}
{% set src1 = fields['field_byu_f_d_profile_image'].content|split('src="') %}
{% set src2 = src1[1]|split('"') %}
{% set profile_img_src = src2[0] %}

{# Parse the URL of the faculty member from the node ID #}
{% set profile_url = path('entity.node.canonical', {'node': row.nid}) %}

{# Grab variables from the view, output them for the component #}
<byu-faculty-listing id="{{ (first_name_strip)|trim ~ '_' ~ (last_name_strip)|trim }}" faculty-image="{{ profile_img_src }}" faculty-profile-link="{{ profile_url }}">
    <div slot="listing-name">{{ first_name_strip }} {{ last_name_strip }}</div>
    <span slot="listing-title">{{ title_strip }}</span>
    <span slot="listing-office">{{ office_location_strip }}</span>
    <span slot="listing-phone">{{ phone_number_strip }}</span>
    <span slot="listing-email">{{ email_strip }}</span>
    <span slot="listing-office-hours">{{ office_hours_strip }}</span>
    <div slot="listing-research">{{ research_short_strip }}</div>
    <div slot="listing-biography">{{ biography_strip }}</div>
</byu-faculty-listing>

