<div class="vud-widget vud-widget-alternate" id="{{ widget_instance_id }}">
  {% if class_up %}
    <div class="alternate-votes-display">{{ unsigned_points }}</div>
    {% if show_links %}
      {% if show_up_as_link %}
        <a href="{{ link_up }}" rel="nofollow" class="{{ link_class_up }} use-ajax">
      {% endif %}
          <div class="{{ class_up }}" title="{% trans %}Vote up!{% endtrans %}"></div>
          <div class="element-invisible">{% trans %}Vote up!{% endtrans %}</div>
      {% if show_up_as_link %}
        </a>
      {% endif %}
    {% endif %}
    {% if show_reset %}
      <a href="{{ link_reset }}" rel="nofollow" class="{{ link_class_reset }} use-ajax" title="{{ reset_long_text }}">
        <div class="{{ class_reset }}">
          {{ reset_short_text }}
        </div>
      </a>
    {% endif %}
  {% endif %}
</div>
