<div class="fiu-widget-preview">
  {% if data.imce %}
    <div class="imce-filefield-widget">
      <a class="imce-filefield-link" href="#" onclick="return false;">
        {{ data.imce }}
      </a>
    </div>
  {% endif %}

  <label>{{ 'Add or drag new file'|t }}</label>

  {% if data.filesource %}
    <div class="filefield-sources-list">
      <a href="#" onclick="return false;" class="filefield-source filefield-source-upload">
        {{ 'Upload'|t }}
      </a>
      <a href="#" onclick="return false;" class="filefield-source filefield-source-remote">
        {{ 'Remote URL'|t }}
      </a>
      <a href="#" onclick="return false;" class="filefield-source filefield-source-reference">
        {{ 'Reference existing'|t }}
      </a>
    </div>
  {% endif %}
</div>
