<div class="dpl">
  <div class="bar">
    <ul class="bar--sizing">
      {% for size in sizes %}
        <li class="sizing-item"><button class="sizing" aria-label="Make the preview {{ size.label }} sized" {% if size.shortlabel == default_size %} data-dpl-default {% endif %} data-dpl-size="{{ size.minwidth }}:{{ size.maxwidth }}">{{ size.shortlabel }}</button></li>
      {% endfor %}
    </ul>
    <a target="_blank" rel="noopener" class="open-link" href="{{ url }}">{{ open_external_label }} <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 43 43" class="open" role="presentation"><path d="M26.5 0v3h11.4L10.4 30.4l2.1 2.1L40 5.1v11.4h3V0H26.5zM0 5v38h38V21.5h-3V40H3V8h18.5V5H0z"/></svg></a>
    <!--  open by Chris from the Noun Project  -->
  </div>
  <div id="sg-vp-wrap">
    <div id="sg-gen-container">
      <iframe id="sg-viewport" src="{{ url }}" frameborder="0"></iframe>
    </div>
  </div>
</div>
