{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

<div role="main" class="container theme-showcase" ng-app="angularTable">
<div ng-controller="listdata">
<div class="" style="margin-top:90px;">
        <div class="col-lg-8">
<table>
    <tr>
      <th colspan=2>Add a new/update Candidate111 details</th>
    </tr>
    <tr>
      <td>
        <label for="book-name">Candidate Name:</label></td>
      <td><input type="text" name="client-name" ng-model="client.name" id="client-name" /></td>
    </tr>
    <tr>
      <td><label for="book-price">Candidate Mail:</label></td>
      <td><input type="text" name="client-mail" ng-model="client.mail" id="client-mail" /></td>
    </tr>
    <tr>
      <td><label for="author-id">Candidate Number:</label></td>
      <td><input type="text" name="client-phone" ng-model="client.phone" id="client-phone" /></td>
      <td><input type="hidden" name="nid" ng-model="client.nid"
                 id="nid" /></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button ng-click="addNewBook(client)">Add</button>
      </td>
    </tr>
  </table>

      
			<div class="page-header">
				<h2 id="tables">Search Sort and Pagination in Angular js</h2>
			</div>
			<div class="bs-component" >
				
				<form class="form-inline">
					<div class="form-group">
						<label >Search</label>
						<input type="text" ng-model="search" class="form-control" placeholder="Search">
					</div>
				</form>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th ng-click="sort('nid')">NID
								<span class="glyphicon sort-icon" ng-show="sortKey=='nid'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('title')">Client Name
								<span class="glyphicon sort-icon" ng-show="sortKey=='title'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('field_candidate_email')">Email
								<span class="glyphicon sort-icon" ng-show="sortKey=='field_candidate_email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('field_phone_number')">Phone
								<span class="glyphicon sort-icon" ng-show="sortKey=='field_phone_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="user in nodelist|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
							<td>{{ '{{ user.nid}}' }}
								
							</td>
							{% set id = '{{ user.nid}}' %}
							<td>{{ '{{ user.title}}' }}</td>
							<td>{{ '{{ user.field_candidate_email}}' }}</td>
							<td>{{ '{{ user.field_phone_number}}' }}</td>
							<td align="center"> 
							  <button type="button" class="btn btn-default btn-sm" ng-click="editAnyBook( user.nid,client);">
							  <span class="glyphicon glyphicon-pencil"></span> Edit 
							  </button> 
							  <button type="button" class="btn btn-default btn-sm" ng-confirm-click="Are you sure to delete this record ?" confirmed-click="deleteBooks( user.nid);">
							  <span class="glyphicon glyphicon-remove"></span> Remove 
							  </button>
							</td>
						</tr>
					</tbody>
				</table> 
				<dir-pagination-controls
					max-size="5"
					direction-links="true"
					boundary-links="true" >
				</dir-pagination-controls>
			</div>
		</div>
		
      </div>
    </div>
</div>