{#
/**
 * @file
 * Default module implementation to display the USAjobs Search API block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * JobListing variables:
 *   (string) positionTitle
 *   (string) positionURI
 *   (object) positionLocations
 *   (string) jobGrade
 *   (object) jobCategories
 *   (string) jobLowGrade
 *   (string) jobHighGrade
 *   (string) positionSchedule
 *   (string) positionOfferingType
 *   (string) qualificationSummary
 *   (object) positionSalaryRange
 *   (string) jobSummary
 *   (string) whoMayApply
 *   (string) whoMayApplySummary
 *   (string) publicationStartDate
 *   (string) applicationCloseDate
 *
 * @ingroup themeable
 */
#}
    {% set numJobs = jobs|length %}

    <div{{ attributes }}>

    {{ title_prefix }}
    {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}

    {% block content %}
        {% if jobs is empty %}
            <h3>No results.</h3>
        {% else %}
            <ul class="list-group">
            {% for job in jobs %}
                <li class="list-group-item">
                    <header class="list-group-item-heading">

                        <div class="field__item">
                            <div class="field__label">Title</div>
                            <a href="{{ job.positionURI }}" target="_blank">
                                {{ job.positionTitle }}
                            </a>
                            ({{ job.positionID }})
                        </div>

                        <div class="field__label">Organization</div>
                        <div class="field__item">
                            {{ job.organizationName }}, {{ job.departmentName }}
                        </div>

                        {% if job.positionLocations | length > 0 %}
                            <div class="field__label">Location</div>
                            <ul class="field__items">
                                {% for location in job.positionLocations %}
                                    <li>
                                        <span>{{ location.LocationName }}</span>,
                                        <span>{{ location.CountryCode }}</span>
                                        <span>(<a href="https://www.usajobs.gov/Search/GeoSearch/?wh=public&srt=Relevance&p=1&@{{ location.Latitude }},{{ location.Longitude }},9z" target="_blank">Map</a>)</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        <div class="field__label">Grade</div>
                        <div class="field__item">
                            {{ job.jobGrade }} &dash; {{ job.jobLowGrade }}/{{ job.jobHighGrade }}
                        </div>

                        {% if job.jobCategories | length > 0 %}
                            <div class="field__label">Categories</div>
                            <ul class="field__items">
                                {% for category in job.jobCategories %}
                                    <li>{{ category.Name }} ({{ category.Code }})</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if job.positionSalaryRange %}
                            <div class="field__label">Salary</div>
                            <div class="field__item">
                                <span>${{ job.positionSalaryRange.MinimumRange | number_format }}</span> to
                                <span>${{ job.positionSalaryRange.MaximumRange | number_format }}</span>
                                <span>{{ job.positionSalaryRange.RateIntervalCode }}</span>
                            </div>
                        {% endif %}

                    </header>
                    <div class="list-group__description">

                        <div class="field__label">Schedule</div>
                        <div class="field__item">
                            {{ job.positionSchedule }}
                        </div>

                        <div class="field__label">Offering Type</div>
                        <div class="field__item">
                            {{ job.positionOfferingType }}
                        </div>

                        <div class="field__label">Summary</div>
                        <div class="field__item">
                            {{ job.jobSummary }}
                        </div>

                        <div class="field__label">Qualifications</div>
                        <div class="field__item">
                            {{ job.qualificationSummary }}
                        </div>

                        <div class="field__label">Who May Apply</div>
                        <div class="field__item">
                            {#{{ job.whoMayApply }}#}
                            {{ job.whoMayApplySummary }}
                        </div>

                        <div class="field__label">Published Date</div>
                        <div class="field__item">
                            {{ job.publicationStartDate }}
                        </div>

                        <div class="field__label">Application Close Date</div>
                        <div class="field__item">
                            {{ job.applicationCloseDate }}
                        </div>

                    </div>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endblock content %}

</div>
