<div class="the-most-unsafe-code-ever-created">
    <ul>
        <li>{{ "'This code has been executed';"|php }}</li>
        <li>{{ "print 'This is working?';"|php }}</li>
        <li>{{ "'Calculate:' . 2 + 7 * 18;"|php }}</li>
        <li>{{ "\Drupal::service('date.formatter')->format(REQUEST_TIME, 'medium');"|php }}</li>
        <li>
            {{ "
            class StupidIdea {
                public static function render($string){
                  print $string;
                }
            }
            return StupidIdea::render('gonna get all f**ked up.');
            "|php(0) }}
        </li>
        <li>{{ 'robots.txt'|php_include }}</li>
        <li>
            {% set u = 'user_load'|php_function(1) %}
            User 1 email: {{ u.getEmail() }}
        </li>
    </ul>
</div>