{#
/**
 * @file
 * Default theme implementation for the status report uptime widget info.
 *
 * Available variables:
 * - account: The UptimeRobot account profile.
 * - psp: The Public Static Page information.
 * - uptime: The uptime ration information.
 */
#}
{{ attach_library('uptime_widget/status-report-uptime-widget-info') }}

<div class="system-status-uptime_widget-info">
  <h2 class="system-status-uptime_widget-info__header">{{ 'Uptime Widget Information'|t }}</h2>
  <div class="system-status-uptime_widget-info__items">
    <div class="system-status-uptime_widget-info__item">
      <span class="system-status-uptime_widget-info__item-icon system-status-uptime_widget-info__item-icon--account" id="uptime_widget-info-account"></span>
      <div class="system-status-uptime_widget-info__item-details">
        <h3 class="system-status-uptime_widget-info__item-title">{{ 'UptimeRobot Account'|t }}</h3>
        {{ account }}
      </div>
    </div>
    <div class="system-status-uptime_widget-info__item">
      <span class="system-status-uptime_widget-info__item-icon system-status-uptime_widget-info__item-icon--psp" id="uptime_widget-info-membership"></span>
      <div class="system-status-uptime_widget-info__item-details">
        <h3 class="system-status-uptime_widget-info__item-title">{{ 'Public Static Pages'|t }}</h3>
        {{ psp }}
      </div>
    </div>
    <div class="system-status-uptime_widget-info__item">
      <span class="system-status-uptime_widget-info__item-icon system-status-uptime_widget-info__item-icon--uptime" id="uptime_widget-info-membership"></span>
      <div class="system-status-uptime_widget-info__item-details">
        <h3 class="system-status-uptime_widget-info__item-title">{{ 'Uptime Ratio'|t }}</h3>
        {{ uptime }}
      </div>
    </div>
  </div>
</div>
