{#
/**
 * @file
 * Default theme implementation for rendering a widget for uptime block.
 *
 *
 * Available variables:
 * - ratio: The latest reported uptime ratio.
 * - widget_type: Type of widget for uptime block.
 *
 * @see template_preprocess_uptime_widget_type()
 *
 * @ingroup themeable
 *
 * To create your own custom widget, see hook_uptime_widget_type_alter().
 * After altering options of available widget_types, copy this template
 * into your theme templates folder like 'uptime-widget-type--*YOUR_WIDGET_NAME*.html.twig'.
 */
#}
{% if widget_type == "circle" %}

  <div class="uptime-body-circle">
    <div class="info-wrapper">
      <div class="uptime-first">
        {{ ratio }}%
      </div>
      <div class="uptime-last">
        {{ "UpTime"|t }}
      </div>
    </div>
    <div class="circle-wrapper"></div>
  </div>

{% elseif widget_type == "diamond" %}

  <div class="uptime-body-diamond">
    <div class="diamond-wrapper">
      <div class="info-wrapper">
        <div class="uptime-first">
          {{ ratio }}<span>%</span>
        </div>
        <div class="uptime-last">
          {{ "UpTime"|t }}
        </div>
      </div>
    </div>
  </div>

{% elseif widget_type == "signal" %}

  <div class="uptime-body-signal">
    <div class="info-wrapper">
      <div class="uptime-first">
        {{ ratio }}<span>%</span>
      </div>
      <div class="uptime-last">
        <span class="signal-wrapper">{{ "UpTime"|t }}</span>
      </div>
    </div>
  </div>

{% else %}

  <table class="uptime-table" summary="UpTimeRobot.com">
    <tbody class="uptime-body">
    <tr>
      <td class="uptime-first">
        {{ "UpTime"|t }}
      </td>
      <td class="uptime-last">
        {{ ratio }} %
      </td>
    </tr>
    </tbody>
  </table>

{% endif %}
