{#
/**
 * Formats a history item for display.
 * Variables:
 *   - history: The \Drupal\sms_ui\Entity\SmsHistoryInterface entity to be displayed.
 *   - user: The current user.
 */
#}
<div class="sms-history-preview">
  {% if history %}
  <div class="sms-history-item-list">
    <div class="sms-history-item">
      <label>Sender:</label>
      <div class="item">{{ history.sender }}</div>
    </div>
    <div class="sms-history-item">
      <label>Recipients:</label>
      <div class="item recipients">
        {% if history.getStatus() == 'sent' %}
          {% for report in history.reports %}
            <span class="{{ report.getStatus() }}" title="{{ report.getStatus() }}">{{ report.getRecipient() }}</span>
          {% endfor %}
        {% else %}
          {% for recipient in history.recipients %}
            <span class="{{ report.getStatus() == 'draft' ? 'draft' : 'queued' }}">{{ recipient }}</span>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="sms-history-item">
      <label>Message:</label>
      <div class="item message">{{ history.message }}</div>
    </div>
  </div>
  <div class="sms-delivery-reports table-responsive">
    {% if history.getReports() %}
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>{{ 'Recipient'|t }}</th>
          <th>{{ 'Status'|t }}</th>
          <th>{{ 'Status Time'|t }}</th>
        </tr>
      </thead>
      <tbody>
        {% for report in history.getReports() %}
        <tr>
          <td>{{ report.getRecipient() }}</td>
          <td>{{ report.getStatus() }}</td>
          <td>{{ report.getStatusTime() ? report.getStatusTime()|format_date('medium', '', user.timezone) : '' }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
  {% endif %}
</div>
