{#
/**
 * Displays results of sent SMS messages with delivery status.
 *
 * Available variables:
 * - messages: The list of SmsMessage objects to be displayed.
 */
#}

{{ attach_library('sms_ui/sms-result') }}
<div class="sms-result-information">
  {% set counts = [] %}
  {% set total_count = 0 %}

  <h4>{{ 'Recipients' | t }}</h4>
  <div class="message-detail">
    {% for message in messages %}
      {% if message.getResult() %}
        {% for report in message.getReports() %}
          {% set total_count = total_count + 1 %}
          {% set status = report.getStatus() %}
          {% set counts = counts|merge({(status): counts[status] + 1}) %}
          <span class="sms-message sms-{{ status }}" title="{{ report.getMessageId() }}">
            {{- report.getRecipient() -}}
          </span>
        {% endfor %}
      {% else %}
        {% for recipient in message.recipients %}
          {% set counts = counts|merge({ 'queued' : counts['queued'] + 1}) %}
          <span class="sms-message sms-queued" title="">{{ recipient }}</span>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </div>

  <div class="message-summary">
    <table class="sms-result-table responsive-enabled table table-hover table-striped">
      <thead>
        <tr>
          <th>{{ 'Status'|t }}</th>
          <th>{{ 'Percentage'|t }}</th>
        </tr>
      </thead>
      <tbody>
      
        {% for status, count in counts %}
        <tr class="sms-report sms-{{ status }}" id="{{ marker }}">
          <td>
            <div>
              {%- trans -%}
              @count message
              {%- plural count %}
              @count messages
              {%- endtrans %} {{ status }}
            </div>
          </td>
          <td>{{ 100 * count / total_count }}%</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
</div>
