{#
/**
 * @file
 * Themes the base compose form for sms_ui.
 *
 * Available variables:
 * - element: The render element composed of the following components:
 *   - left_pane: The pane that will be displayed on the left.
 *   - right_pane: The pane that will be displayed on the right.
 *   - right_pane_extra: A pane that will be displayed on the far right.
 */
#}
{{ attach_library('sms_ui/multicolumn-form') }}
<div{{ attributes.addClass('multicolumn-form') }}>
  <div class="left-pane">
    {{ element.sender }}
    {{ element.recipients_container }}
    {{ element.message_container }}
    {{ element.actions }}
  </div>
  <div class="right-pane">
    <div class="right-pane-first half-size">
      <div class="summary-block summary-{{ summary.name }}">
        <div class="title">{{ 'Statistics'|t }}</div>
        {% for key, statistic in element.statistics if key|first != '#' %}
          <div class="item statistic statistic-{{ statistic.name|clean_class }}">
            {{ statistic }}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="right-pane-second">
      <div class="summary-block summary-{{ summary.name }}">
        <div class="title">{{ 'Send Options'|t }}</div>
        {% for key, option in element.options if key|first != '#' %}
          <div class="item option option-{{ option.name|clean_class }}">
            {{ option }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="form-tokens">
    {{ element.form_build_id }}
    {{ element.form_token }}
    {{ element.form_id }}
  </div>
  <div class="others">
    {{ element|without(
       'sender',
       'recipients_container',
       'message_container',
       'actions',
       'statistics',
       'options',
       'form_build_id',
       'form_token',
       'form_id'
    ) }}
  </div>
</div>
