{#
/**
 * Wraps specified elements with a styled message.
 *
 * Available variables:
 *  - element: The element to be wrapped
 *  - message: the message to be displayed
 *  - marker: The name of the marker
 *  - style: The style information
 */
#}

<style>
  .summary-style-message {
    color: {{ style.text_color }};
    font-weight: bold;
  }
  .summary-style-element {
    max-height: 80px;
    overflow: auto;
    border: solid 2px {{ style.text_color }};
  }
</style>
<a name="{{ marker }}" style="text-decoration:none">
  <div class="summary-style-message"><br/>
    {{ message }}
  </div>
</a>
<div class="summary-style-element">
  {{ element }}
</div>
