{#
/**
 * @file
 * Themes the basic statistic data widget for SMS UI e.g. character count.
 *
 * Available variables:
 * - name: The name of the statistic that is being displayed
 * - value: The initial value of the statistic.
 * - title: The label to be displayed for the statistic.
 * - icon: (optional) An icon that is to be displayed.
 */
#}
{{ attach_library('sms_ui/statistic-item') }}
<div class="sms-ui-statistic sms-ui-statistic-{{ name|clean_class }}">
  <div class="item-title">{{ title }}</div>
  <div class="item-value js-statistic-{{ name|clean_class }}">{{ value }}</div>
</div>
