<div class="thermometer">
  <div class="track" data-symbol_prefix="{{ symbol_prefix }}">
    <div class="goal">
      <div class="amount">{{ goal }}</div>
    </div>
    <div class="progress">
      <div class="amount">{{ progress }}</div>
    </div>
  </div>
</div>

{% if button_text %}
  <a class="btn"
     href="{{ button_url }}" {% if button_window == 1 %} target="_blank" {% endif %}>{{ button_text }}</a>
{% endif %}
