{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

<div role="main" class="container theme-showcase" ng-app="angularTable">
<div ng-controller="listdata">
<div class="" style="margin-top:90px;">
        <div class="col-lg-8">
<table>
    <tr>
      <th colspan=2>Add a new book</th>
    </tr>
    <tr>
      <td>
        <label for="book-name">Candidate Name:</label></td>
      <td><input type="text" name="book-name" ng-model="bookData.name" id="book-name" /></td>
    </tr>
    <tr>
      <td><label for="book-price">Candidate Mail:</label></td>
      <td><input type="text" name="book-price" ng-model="bookData.price" id="book-price" /></td>
    </tr>
    <tr>
      <td><label for="author-id">Candidate Number:</label></td>
      <td><input type="text" name="author-id" ng-model="bookData.authorId" id="author-id" /></td>
      <td><input type="hidden" name="bid" ng-model="bookData.bid"
                 id="bid" /></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button ng-click="addNewBook(bookData)">Add</button>
      </td>
    </tr>
  </table>

      
			<div class="page-header">
				<h2 id="tables">Search Sort and Pagination in Angular js</h2>
			</div>
			<div class="bs-component" >
				
				<form class="form-inline">
					<div class="form-group">
						<label >Search</label>
						<input type="text" ng-model="search" class="form-control" placeholder="Search">
					</div>
				</form>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th ng-click="sort('id')">Id
								<span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('bookname')">bookname
								<span class="glyphicon sort-icon" ng-show="sortKey=='bookname'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('bookprice')">bookprice
								<span class="glyphicon sort-icon" ng-show="sortKey=='bookprice'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th ng-click="sort('authorid')">authorid
								<span class="glyphicon sort-icon" ng-show="sortKey=='authorid'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="user in users|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
							<td>{{ '{{ user.id}}' }}</td>
							{% set id = '{{ user.id}}' %}
							<td>{{ '{{ user.bookname}}' }}</td>
							<td>{{ '{{ user.bookprice}}' }}</td>
							<td>{{ '{{ user.authorid}}' }}</td>
							<td align="center"> 
							  <button type="button" class="btn btn-default btn-sm" ng-click="editAnyBook(user.id);">
							  <span class="glyphicon glyphicon-pencil"></span> Edit 
							  </button> 
							  <button type="button" class="btn btn-default btn-sm" ng-click="deleteBooks(user.id);">
							  <span class="glyphicon glyphicon-remove"></span> Remove 
							  </button>
							</td>
						</tr>
					</tbody>
				</table> 
				<dir-pagination-controls
					max-size="5"
					direction-links="true"
					boundary-links="true" >
				</dir-pagination-controls>
			</div>
		</div>
		
      </div>
    </div>
</div>