
<div>{{ form.candidate_name }}{# required #}</div>
<div>{{ form.candidate_mail }}{# required #}</div>
<div>{{ form.candidate_number }}{# required #}</div>
<div>{{ form.candidate_dob }}{# required #}</div>
<div>{{ form.candidate_gender }}{# required #}</div>
<div>{{ form.candidate_confirmation }}{# required #}</div>
<div>{{ form.candidate_copy }}{# required #}</div>
<div>{{ form.form_build_id }} {# required #}</div>
<div>{{ form.form_id }} {# required #}</div>
<div>{{ form.actions }}</div>
