{#
/**
 * @file
 * Display a thumbnail image in the tree browser.
 *
 * Available variables:
 */
#}
{% set div_class = div_state ~ ' mmtree-browse-imagesingle ui-widget-content' %}
<a href="#"{{ attributes }}><div class="{{ div_class }}"><div class="mmtree-browse-caption">{{ short_title }}</div><div class="mmtree-browse-imagepreview" onclick="{{ link }}">{{ thumbnail|raw }}</div></div></a>
