{# {{ kint(fields) }} #}

{% if fields.field_custom_html %}
  <div id="{{ wrapper_id }}" class="{{ wrapper_classes }} {{ template_theme }}">
    {{ title_suffix }}
    {{ fields.field_custom_html }}
  </div>
{% endif %}