{#
/**
 * @file
 * Default theme implementation for External Link Preview
 *
 * Available variables:
 * - title: Title of the link.
 * - description: Description.
 * - url: url.
 * - image: the image.
 *
 */
#}
{% spaceless %}


<div class="outerlink-wrapper">
  {% if image %}
    <div class="outerlink-image"><a href="{{ url }}" target="_blank">{{ image }}</a></div>
  {% endif %}
  {% if title %}
    <div class="outerlink-title"><a href="{{ url }}" target="_blank">{{ title }}</a></div>
  {% endif %}
  {% if description %}
    <div class="outerlink-description">{{ description }}</div>
  {% endif %}
</div>
{% endspaceless %}
