<div class="{{ suggestion.classes }}>">
    <div class="item pagescore">
        <span class="value">{{ suggestion.PageScore }} %</span>
        <h2>{{ suggestion.PageScoreTag }}</h2>
        <div id="webtexttool-page-score-bar" class="bar">
            <div class="percentage" style="width: {{ suggestion.PageScore}} %"></div>
        </div>
    </div>
    {% for key, suggestion in suggestion.Suggestions%}
    <div class="suggestion">
        {% if suggestion.complete == true %}
            <input type="checkbox" checked="checked" id="wtt-sug-label-{{ key }}"/>
        {% else %}
            <input type="checkbox" id="wtt-sug-label-{{ key }}"/>
        {% endif %}
        <label for="wtt-sug-label-{{ key }}">
            {{ suggestion.Tag }}
      </label>
      <div class="bar {{ suggestion.complete-class }}">
        <div class="percentage" style="width: {{ suggestion.complete }} %"></div>
      </div>
      <ul class="rules">
        {% for rule in suggestion.Rules%}
        {% if rule.Checked == true %}
          <li class="rule rule-checked">
            {{ rule.Text }}
          </li>
        {% else %}
          <li class="rule rule-unchecked">
            {{ rule.Text }}
          </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
