<div {{ attributes.addClass('opengraph-filter') }}>

    {% if tags.image.image %}
    <div class="left">
      <img src="{{ tags.image.image }}">
    </div>
    <div class="right clearfix">
    {% endif %}

      {% if tags.title %}
        <a class="title" href="{{ tags.url }}" title="{{ tags.title }}">{{ tags.title }}</a>
      {% endif %}

      {% if tags.description %}
        <p><a href="{{ tags.url }}" title="{{ tags.description }}">{{ tags.description }}</a></p>
      {% endif %}

    {% if tags.image %}
    </div>
    {% endif %}

</div>