{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    'usa-hero',
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

      {% if uswds_grid_class %}
      <div class="{{ uswds_grid_class }}">
      {% endif %}

      {% if paragraph.field_uswds_title.value %}
      <div class="usa-hero-callout usa-section-dark">
        <h2>{{ paragraph.field_uswds_title.value }}</h2>
        {{ content.field_uswds_link }}
        {{ content.field_uswds_button }}
      </div>
      {% endif %}

      {% if uswds_grid_class %}
      </div>
      {% endif %}

    {% endblock %}
  </div>
{% endblock paragraph %}
