{# Tabs #}
{% if tab_label is not empty %}
	<div id="jqueryui_tabs">
		<ul>
		{% for key, value in tab_label %}
		    <li><a href="#{{ key }}">{{ value | raw }}</a></li>
		{% endfor %}
		</ul>

		{% for key, value in tab_description %}
		    <div id="{{ key }}">{{ value | raw }}</div>
		{% endfor %}
	</div>
{% endif %}

{# accordion #}
{% if accordion is not empty %}
	<div id="jqueryui_accordion">
	{% for key, value in accordion %}
	    <h3><a href="#">{{ value.label | raw }}</a></h3>
	    <div>{{ value.description | raw }}</div>
	{% endfor %}
	</div>
{% endif %}
