{% if config.view_mode == 'form' %}
  <form id="notification_subscription_form">
    <fieldset class="radio">
      <legend>{{ 'Do you allow our site to send you push notifications?'|t }}</legend>
      <div>
        <input type="radio" name="push" id="push_allow" value="1" checked>
        <label for="push_allow">{{ 'Allow'|t }}</label>
      </div>
      <div>
        <input type="radio" name="push" id="push_deny" value="0">
        <label for="push_deny">{{ 'Deny'|t }}</label>
      </div>
    </fieldset>
    <div class="actions">
      <button type="submit" class="form-submit">
        {{ 'Subscribe or change my subscription to notifications'|t }}
      </button>
    </div>
  </form>
{% else %}
  <div id="pwa_firebase_notifications" class="button">{{ 'Enable notifications'|t }}</div>
{% endif %}