{{ attach_library('httpcsvalidation/httpcsvalidation-lib') }}
<div id="pluginContainer">
    {{ notices }}
    <h1 id="logoHttpcsContainer">HTTPCS Validation</h1>
    <div id="container" style="text-align: left;word-break: break-word;" class="httpcsContainer">
        <div>{{"Sorry, we were not able to make the directory and/or the file required to validate your website ! (You should check your rights)"|trans}}</div>        
        <div>{{"You should try to make them manually. Here is the file name and its content"|trans}} :</div>        
        <div><b>{{"File name"|trans}} : {{fileName}}</b></div>        
        <div><b>{{"File content"|trans}} : {{fileContent}}</b></div>        
        <div><b>{{"You must place the file in this directory (perhaps you will need to make it)"|trans}} :</b></div>        
        <div>{{dirname}}</div>        
        <div>{{"To try again"|trans}}, <a onclick="window.location = window.location.href;" style="cursor: pointer;">{{"click here"|trans}}</a></div>        
    </div>
</div>
