{{ attach_library('httpcsvalidation/httpcsvalidation-lib') }}
{% if fail %}
    <style>
        #creationContainer{
            display: none;
        }
        #connectionContainer{
            display: block;
        }
    </style>
{% endif %}
<div id="pluginContainer">
    <h1 id="logoHttpcsContainer">HTTPCS Validation</h1>
    <div class="description">
        <div>{{"This plugin allows you to validate your Drupal website to HTTPCS."|trans}}</div>
        <div>{{"Please follow the instructions."|trans}}</div>
    </div>
    <div id="creationContainer">
        <form method="post">
            {{ my_form.form_build_id }} {# required #}
            {{ my_form.form_id }} {# required #}
            {{ my_form.form_token }} {# required #}
            {{ my_form.httpcs_crea }}
            <h3 id="votreSite">{{"YOUR WEBSITE"|trans}}</h3>
            <div class="info">{{"(all types of addresses, domains, URL, websites, extranets, SaaS...)"|trans}}</div>

            <div>
                {{ my_form.url }}
            </div>

            <h4 style="margin: 1.33em 0;font-weight: 100;">{{"CREATION OF YOUR HTTPCS ACCOUNT"|trans}}</h4>
            <div>
                {{ my_form.name }}
            </div>
            <div>
                {{ my_form.function }}
            </div>
            <div>
                {{ my_form.company }}
            </div>
            <div>
                {{ my_form.phone }}
            </div>
            <div>
                {{ my_form.email }}
            </div>

            <div>
                <input type="submit" value="{{"Access for free"|trans}}" class="btn btn-green"><br>
                <div style="font-size: 13px;">{{"Do you already have an HTTPCS account ?"|trans}} <a onclick="showConnexion()">{{"Click here"|trans}}</a></div>
            </div>
        </form>
    </div>
    <div id="connectionContainer">
        <form method="post">
            {{ my_form_co.form_build_id }} {# required #}
            {{ my_form_co.form_id }} {# required #}
            {{ my_form_co.form_token }} {# required #}
            {{ my_form_co.httpcs_co }}
            {{ my_form_co.url }}
            <h3 id="votreSite">{{"Connection"|trans}}</h3>
            <div>
                {{ my_form_co.email }}
            </div>
            <div>
                {{ my_form_co.password }}
            </div>
            <div>
                <input type="submit" value="{{"Log in"|trans}}" class="rf btn btn-primary">
                <a target="_blank" href="{{ PATHHTTPCS }}/{{ locale }}{{ PATHFORGOTPASSWORD }}" title="HTTPCS" class="rf forgotpw">{{"Forgot your password?"|trans}}</a>
                <div class="httpcsClearfix"></div>
                <div>{{"Don't have an HTTPCS account yet ?"|trans}} <a onclick="showCreation()">{{"Click here"|trans}}</a></div>
            </div>
        </form>
    </div>
    <span style="display:none;" class="notice-dismiss" onclick="closeNotice()"></span>
</div>