{{ attach_library('httpcsvalidation/httpcsvalidation-lib') }}
<div id="pluginContainer">
    <h1 id="logoHttpcsContainer">HTTPCS Validation</h1>
    <div class="description">
        <div>{{"Please try again by clicking on the button below."|trans}}</div>
    </div>
    <div id="container" class="httpcsContainer">
        <form method="post">
            {{ my_form_retry.form_build_id }} {# required #}
            {{ my_form_retry.form_id }} {# required #}
            {{ my_form_retry.form_token }} {# required #}
            {{ my_form_retry.httpcs_retry }}
            {{ my_form_retry.event }}
            {{ my_form_retry.secondToken }}
            {{ my_form_retry.email }}
            <button type="submit" class="btn btn-primary">{{"Try again"|trans}}</button>
        </form>
    </div>
    <span style="display:none;" class="notice-dismiss" onclick="closeNotice()"></span>
</div>