{{ attach_library('httpcsvalidation/httpcsvalidation-lib') }}
<div id="pluginContainer">
    {{ notices }}
    <h1 id="logoHttpcsContainer">HTTPCS Validation</h1>
    <div id="container" class="httpcsContainer">
        {{"Account created and validated!"|trans}}<br>
        {{"Your password has been sent by email."|trans}}
        <div><a target="_blank" href="{{ PATHHTTPCS }}/{{ locale }}{{ PATHCONNECTION }}" title="HTTPCS" style="cursor: pointer;">{{"Click here to access the HTTPCS console"|trans}}</a></div>
    </div>
</div>