<p>{{ 'This area is only meant to be used by Site Builders and Programmers. Changing things in this area could break the site.'|trans }}</p>

<div class="clearfix">

  <div class="layout-column layout-column--half">

    <div class="panel">
      <h3 class="panel__title">{{ 'Manage Configuration'|trans }}</h3>
      <div class="panel__content">
        <ul class="admin-list">
          <li>
            <a href="{{ path('entity.widget_entity_type.collection') }}">
              <span class="label">{{ 'Manage widget bundles'|trans }}</span>
              <div class="description">{{ 'Create and manage widgets from here. This area contains all of the fields and options used for widgets.'|trans }}</div>
            </a>
          </li>
          {% if stacks_content_list_exist %}
            <li>
              <a href="{{ path('entity.widget_extend_type.collection') }}">
                <span class="label">{{ 'Manage extend bundles'|trans }}</span>
                <div class="description">{{ 'This area manages the fields and options used for rows attached to Content List widgets.'|trans }}</div>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

  <div class="layout-column layout-column--half">

    <div class="panel">
      <h3 class="panel__title">{{ 'Manage Content'|trans }}</h3>
      <div class="panel__content">
        <ul class="admin-list">
          <li>
            <a href="{{ path('entity.widget_entity.collection') }}">
              <span class="label">{{ 'View widgets'|trans }}</span>
              <div class="description">{{ 'View all the widgets that have been created.'|trans }}</div>
            </a>
          </li>

          <li>
            <a href="{{ path('entity.widget_instance_entity.collection') }}">
              <span class="label">{{ 'View widget instances'|trans }}</span>
              <div class="description">{{ 'View all widget instances that have been attached to nodes.'|trans }}</div>
            </a>
          </li>
          {% if stacks_content_list_exist %}
            <li>
              <a href="{{ path('entity.widget_extend.collection') }}">
                <span class="label">{{ 'View extend instances'|trans }}</span>
                <div class="description">{{ 'View all widget extend instances.'|trans }}</div>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>

  </div>

</div>
