{% if photo %}
  <div{{attributes.addClass('flickr-photo', style_name)}} style="max-width: {{ width }}px;">
    <a href = '{{ photo_image_large }}'  class="colorbox" {% if parent %} data-colorbox-gallery="flickr-{{ parent }}" {% endif %}>
      {{ photo }}
    </a>

    {% if caption %}
      {{ caption_data }}
    {% endif %}
  </div>
{% endif %}