{{ attach_library('byu_layout_card/byu-feature-card') }}

{# need to add image and other field support #}
{% set my_attributes = create_attribute() %}
{% set my_classes = '' %}

{% for field in content.classes %}
    {% for i in 0..10  if field[i] is defined %}
        {% set my_classes = field[i]|e %}
    {% endfor %}
{% endfor %}
 <byu-feature-card {{ my_attributes.addClass(my_classes).setAttribute('id', 'feature-card') }}>
    {% for field in content.title %}
        {% for i in 0..1 if field[i] is defined %} {# only allow 2? one and subtitle maybe?#}
            <div slot="title">{{ field[i] }}</div>
        {% endfor %}
    {% endfor %}
    <div slot="feature-top">
        {% for field in content.feature_top %}
            {{ field }}
        {% endfor %}
    </div>
    <div slot="feature-left">
        {% for field in content.feature_left %}
            {{ field }}
        {% endfor %}
    </div>
    <div slot="feature-right">
        {% for field in content.feature_right %}
            {{ field }}
        {% endfor %}
    </div>
    <div slot="feature-center">
        {% for field in content.feature_center %}
            {{ field }}
        {% endfor %}
    </div>
</byu-feature-card>
