{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
<div class="d-flex flex-wrap my3 js-matchHeight">
<div class="col-12 col-md-4 px0 object-cover">{{ fields.field_cb_image.content }}</div>
<div class="col-12 col-md-8 pt4 pb3 px4">
  {{ fields.field_cb_author_photo.content }}
  <h2 class="bold f-heading c-font-dark mt0 mb1">{{ fields.title.content }}</h2>
  <div class="fs-small upper mb2">{{ fields.name.content }} | {{ fields.created.content }}</div>
  {% autoescape false %}
    <div class="fs-body mb4">{{ fields.field_cb_text.content|striptags }}</div>
  {% endautoescape %}
  <a class="f-heading c-font-light px2 py1 upper fs-small float-right" href="{{ fields.view_node.content|striptags|trim }}">
    Read more...
  </a>
</div>
</div>