{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @ingroup templates
 *
 * @see template_preprocess_views_view()
 */
/**
 * Champs blog:
 * @ /includes/champs_blog.templates.inc
 * This template affects *all 3 of the post listing views* due to the theming
 * hook registering it against all 3 views.
 */
#}

{%
  set classes = [
    'view-' ~ id|clean_class,
    'container',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  <div class="row">
    {{ title_prefix }}
      {% if title %}
        {{ title }}
      {% endif %}
    {{ title_suffix }}

    {# The third embedded view in the header of this view must be the author profile.
    This is currently hardcoded as I could find no better way to achieve this layout
    through elements that could be included in the module. I don't wish to include
    this view as a custom block that needs to be enabled in some kind of header /
    highlighted region.#}
    {% if header.view_2 %}
      <div class="l-blog__author-profile col-xs-12">
        {{ header.view_2 }}
      </div>
    {% endif %}

    {% if attachment_before %}
      <div class="attachment attachment-before">
        {{ attachment_before }}
      </div>
    {% endif %}

    {% if rows %}
      <div class="col-12 col-lg-9">
        {{ rows }}
        {% if pager %}
          {{ pager }}
        {% endif %}
      </div>
    {% elseif empty %}
      <div class="col-12 col-lg-9 blog__empty blog__filters__title">
        {{ empty }}
      </div>
    {% endif %}

    <div class="col-12 col-lg-3 my3">

    {% if header %}
      {% if header.entity_block_content %}
        {# Here, entity_block_content represents the subscription form. I found no
        easier way to sort this out, so I'm printing that header element separate
        from the rest in order to separate out the elements visually #}
        <div class="blog__subscription-container float-left">
          {{ header.entity_block_content }}
        </div>
      {% endif %}
      <div class="c-bg-flash p2">
        <div class="blog__header">
          {{ header|without('entity_block_content', 'view_2') }}
        </div>
    {% endif %}

    {% if exposed %}
      <div class="form-group ">
        {{ exposed }}
      </div>
    {% endif %}
    </div>

    {% if footer %}
      <div class="c-bg-flash mt3 p2">
        {{ footer }}
      </div>
    {% endif %}
  </div>
  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}

  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
  </div>
</div>

{{ attach_library('champs_blog/champs-blog') }}