{{ attach_library('lr_ciam/drupal.user_register') }}
{% if admin_access %}
{% if api_key   %}
{% include 'lr_message.html.twig' %}
    
  <label>{{ interface_label }}</label>
     {% include 'ciam_social_widget_container.html.twig' %}
    <div class="ciam-lr-form my-form-wrapper">
      <div id="registration-container"></div>
      
        {% if link_login   %}
            <a href="{{ link_login }}">Login</a>&nbsp;&nbsp;
        {% endif %}
        {% if link_forgot   %}
            <a href="{{ link_forgot }}">Request new password</a>
        {% endif %}
      
      {% include 'lr_loading.html.twig' %} 
       {% include 'lr_ciam_popup.html.twig' %}
    </div>
{% endif %}
{% else %}
{{ rendered }}

{% endif %}
