<div{{ attributes.addClass(classes) }}>
  {% if description %}
    <div class="block-projects-stats__description">
      {{ description }}
    </div>
  {% endif %}
  <ul class="block-projects-stats__projects">
    {% for project_type, projects in all_projects %}
      <li class="block-projects-stats__type">
        <a href="#">{{ project_type }}</a>
        <ul class="block-projects-stats_projects-group">
          {% for project in projects %}
            <li class="block-projects-stats__project">
              {{ link(project.name, project.url, {'target': target, 'class': ['block-projects-stats__project-name']}) }}
              {% if show_downloads %}
                <span class="block-projects-stats__download-count">{{ project.download_count }}</span>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>
