{#
/**
 * @file
 * Default theme implementation for an field_list_details_list.
 *
 * Available variables:
 * - label: Field label
 * - atttributes: Standard attributes for element.
 * - details: A list of field details. Each item contains:
 *   - label: label for the detail.
 *   - value: The content of the list element.
 *
 */
#}
{{ attach_library('field_list_details/field-list-details') }}
{% if details or empty %}
  {%- if label is not empty -%}
    {{ label }}
  {%- endif -%}
  {%- if details -%}
    <ul{{ attributes }}>
    {%- for item in details -%}
      <li>{% if item.label %}<strong>{{ item.label }}:</strong> {% endif %}{{ item.value }}</li>
    {%- endfor -%}
    </ul>
  {%- else -%}
    {{- empty -}}
  {%- endif -%}
{%- endif %}
