<div id="flash_kplayer_{{ media_id }}" class="damdy_player flash_kplayer" data-media_id="{{ media_id }}" name="flash_kplayer">
  <div class='embed-container'>
    <div class="bs-player damdy-player" name="flash_kplayer"
       data-bs-publisherid="{{ publisher_id }}"
       data-bs-mediasxmlurl="{{ medias_xml_url }}&byMediaId={{ media_id }}"
       data-bs-autostart="{{ autostart }}"
       data-bs-playerparamsurl="{{ player_params_url }}"
       data-bs-playerguid="{{ player_guid }}"
       data-bs-mediaid="{{ media_id }}">
    </div>
  </div>
</div>
