<div style="{{ item.style }}" class="single-box {{ item.class }}" id="{{ item.date }}" data-month="{{ item.month }}" data-year="{{ item.year }}">
    <div class="inner">
        <div class="date">{{ item.sdate }}</div>
        <div class="day">{{ item.day }}</div>
        <div class="status">{{ item.holiday }}</div>
    </div>
</div>
{% if(item.break == '1') %}
</div>
<div class="holiday-box">
{% endif %}