{#
/**
 * @file
 * About help page.
 *
 * Available variables:
 *  - efs: Link to EFS module.
 *  - github: Link to module repository on Github.
 *  - issues: Link to module issue tracker on Drupal.org.
 *  - guidelines: Link to issue guidelines documentation.
 *  - better_social_sharing_buttons: Link to Better Social Sharing Buttons module.
 *  - share_everywhere: Link to Share Everywhere module.
 *  - simplesharer: Link to Simple Sharer module.
 *  - social_media: Link to Social Media module.
 *  - social_media_links: Link to Social Media Links module.
 */
#}
<h3 id="about">{{ 'About'|t }}</h3>
<p>
  {{ 'This module is designed to serve as hub for social follow/share features.'|t }}&nbsp;
  {{ 'It leverages the power of both the plugin and configuration APIs offering a way to site builders and developers to integrate social networks into a Drupal site in form of <em>Follow us</em> block, share links or even followers o likes counters.'|t }}
</p>

<h3 id="howisitworks">{{ 'How is it works?'|t }}</h3>
<p>{{ 'The module is shipped with default plugin implementations and some pre-baked configurations out-of-the-box for most common integration cases, but can be easily extended by implementing new plugins or even adding new configurations.'|t }}</p>

<h3 id="integrationsplugins">{{ 'Integrations (plugins)'|t }}</h3>
<ul>
  <li><strong>{{ 'Follow'|t }}</strong>: {{ 'Allow to configure a platform to show a <em>follow</em> profile/account link. The link target is fully configurable and supports the use of tokens.'|t }}</li>
  <li>
    <strong>{{ 'Share'|t }}</strong>: {{ 'Allow to configure a platform to send content to be shared. Currently supports two sharing modes: by URL (default) and using embed code (typically an iframe). Almost all settings support tokens. Also has the ability to include a JS script if required; this script can be included inline (ol` script tag), using a pre-defined JS library (those in *.libraries.yml) or by linking a remote script (internally will be attached as a dynamic library).'|t }}
  </li>
</ul>

<h3 id="platformssocialmedia">{{ 'Platforms (social media)'|t }}</h3>
<ul>
  <li><strong>{{ 'Facebook'|t }}</strong> ({{ 'follow'|t }}, {{ 'share'|t }})</li>
  <li><strong>{{ 'Twitter'|t }}</strong> ({{ 'follow'|t }}, {{ 'share'|t }})</li>
  <li><strong>{{ 'Pinterest'|t }}</strong> ({{ 'follow'|t }}, {{ 'share'|t }})</li>
  <li><strong>{{ 'Whatsapp'|t }}</strong> ({{ 'share'|t }})</li>
  <li><strong>{{ 'Email'|t }}</strong> ({{ 'share'|t }})</li>
  <li><strong>{{ 'Copy link'|t }}</strong> ({{ 'share'|t }})</li>
</ul>

<h3>{{ 'How to use it'|t }}</h3>
<p>
  {{ 'To easy output these platforms with their integrations this module provides both a block and an extra field.'|t }}&nbsp;
  {{ 'The extra field is provided by integrating with EFS module which provides an API to create configurable extra fields per display implemented as plugins. More information about EFS module can be found @efs.'|t({'@efs': efs}) }}
</p>

<h3 id="whatsnext">{{ 'What`s next?'|t }}</h3>
<ul>
  <li>{{ 'Add tests.'|t }}</li>
  <li>{{ 'Add deep-linking capabilities to links.'|t }}</li>
  <li>{{ 'Allow platforms/integrations to be set per content instance using a custom field type.'|t }}</li>
  <li>{{ 'Put some love to the tiny UI elements.'|t }}</li>
  <li>{{ 'Allow icons set to be configurable through UI.'|t }}</li>
  <li>{{ 'Allow pre-baked configs to be installed on-demand.'|t }}</li>
  <li>{{ 'Add more pre-baked configs.'|t }}</li>
  <li>{{ 'Views support.'|t }}</li>
  <li>{{ 'Do more testing.'|t }}</li>
  <li>{{ 'Add some translations.'|t }}</li>
  <li>{{ 'Write the docs.'|t }}</li>
</ul>

<h3 id="howtocontribute">{{ 'How to contribute'|t }}</h3>
<p>{{ 'The module development is taking place on @github but the module`s @issues is used to coordinate the effort. We like to encourage you to check these @guidelines on how to create an issue.'|t({'@github': github, '@issues': issues, '@guidelines': guidelines}) }}</p>

<h3 id="similarmodules">{{ 'Similar modules'|t }}</h3>
<ul>
  <li>{{ '@better_social_sharing_buttons, this module offers a block/template oriented approach for a predefined list of social media with only share capabilities.'|t({'@better_social_sharing_buttons': better_social_sharing_buttons}) }}</li>
  <li>{{ '@share_everywhere, this module is pretty similar to @better_social_sharing_buttons but allows icons to be set through configuration, has Views support and also adds more social medias to the list.'|t({'@share_everywhere': share_everywhere, '@better_social_sharing_buttons': better_social_sharing_buttons}) }}</li>
  <li>{{ '@simplesharer, this module is quite similar than the above but delegates all settings to the block once is placed.'|t({'@simplesharer': simplesharer}) }}</li>
  <li>{{ '@social_media, this module offers a block/field approach leveraging the Field API with a predefined list of social media configurations.'|t({'@social_media': social_media}) }}</li>
  <li>{{ '@social_media_links, this module offers the best approach in terms of extensibility since it relies on plugins for both the social media and the icons set, but implements only <em>follow</em> feature.'|t({'@social_media_links': social_media_links}) }}</li>
</ul>
