{#
/**
 * @file
 * Startup Growth Lite's theme implementation to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 *
 * @see template_preprocess_maintenance_page()
 */
 #}

{{ attach_library('flexi_magazine/maintenance-page') }}

<div id="page-container" class="page-container">
  <div id="header-container" class="header-container">
    <div id="header-top" class="clearfix header-top">
      <div class="container">
        <div id="header-top-inside" class="clearfix header-top-inside">
          <div class="row">
            <div class="col-md-12">
              <div class="header-top-area">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <header id="header" role="banner" class="clearfix header full-width two-columns">
      <div class="container">
        <div id="header-inside" class="clearfix header-inside">
          <div class="row">
            <div class="col-md-4">
              <div class="header-area">
                <div id="header-inside-second" class="clearfix header-inside-second">
                  <div class="logo-and-site-name-wrapper clearfix">
                    {% if logo %}
                      <div class="logo">
                        <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-branding__logo">
                          <img src="{{ logo }}" alt="{{ 'Home'|t }}" />
                        </a>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
  <div id="page" class="clearfix page">
  {% if page.system_messages %}
    <div class="system-messages">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {{ page.system_messages }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <div id="main-content" class="clearfix main-content">
    <div class="container">
      <div class="row">
        <section class="{{ main_grid_class }}">
          <div id="main" class="clearfix main main-area">
            {% if page.content %}
              {{ page.content }}
              <div class="maintenance-image"><img src="themes/flexi_magazine/images/web-maintenance-services.png" height="320px" width="320px" /></div>
            {% endif %}
          </div>
        </section>
        {% if page.sidebar_first %}
          <aside class="{{ sidebar_first_grid_class }}">
            <section id="sidebar-first" class="sidebar sidebar-first clearfix">
              {{ page.sidebar_first }}
            </section>
          </aside>
        {% endif %}
        {% if page.sidebar_second %}
          <aside class="{{ sidebar_second_grid_class }}">
            <section id="sidebar-second" class="sidebar sidebar-second clearfix">
              {{ page.sidebar_second }}
            </section>
          </aside>
        {% endif %}
      </div>
    </div>
  </div>

  {% if page.footer_first %}
    <footer id="footer" class="clearfix footer">
      <div class="container">
        <div class="row">
          {% if page.footer_first %}
            <div class="col-md-12">
              <div class="footer-area">
                {{ page.footer_first }}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </footer>
  {% endif %}

  {% if page.footer_bottom_first or page.footer %}
    <div id="footer_bottom" class="clearfix footer-bottom">
      <div class="container">
          <div class="row">
            {% if page.footer_bottom_first %}
              <div class="{{ footer_bottom_first_grid_class }}">
                <div class="footer-bottom-area first">
                  {{ page.footer_bottom_first }}
                </div>
              </div>
            {% endif %}
            {% if page.footer %}
              <div class="{{ footer_bottom_second_grid_class }}">
                <div class="footer-bottom-area second">
                  {{ page.footer }}
                </div>
              </div>
            {% endif %}
          </div>
      </div>
    </div>
  {% endif %}
</div>
