<h1>Test twig template!</h1>

<p>account_id: {{ account_id }}</p>


{% if enabled == 1 %}
  {% if show_standard %}

    <iframe id="doubleclick_floodlight_standard_pixel" width="1" height="1"
            frameborder="0" style="display:none"></iframe>
    <script type="text/javascript">
      (function () {
        var url = "https://{{ account_id }}.fls.doubleclick.net/activityi;src='{{ account_id }}';type='{{ type }}';cat='{{ cat }}';ord=' + Math.random() * 10000000000000 + '?'";
        document.getElementById('doubleclick_floodlight_standard_pixel').setAttribute('src', url);
      })();
    </script>
    <noscript>
      <iframe
        src="https://{{ account_id }}.fls.doubleclick.net/activityi;src='{{ account_id }}';type='{{ type }}';cat='{{ cat }}';ord=1?"
        width="1" height="1" frameborder="0" style="display:none"></iframe>
    </noscript>

  {% endif %}



  {% if show_unique %}


    <iframe id="doubleclick_floodlight_unique_pixel" width="1" height="1"
            frameborder="0" style="display:none"></iframe>
    <script type="text/javascript">
      (function () {
        var url = "https://{{ account_id }}.fls.doubleclick.net/activityi;src='{{ account_id }}';type='{{ type }}';cat='{{ cat }}';ord=1;num=' + Math.random() * 10000000000000 + '?'";
        document.getElementById('doubleclick_floodlight_unique_pixel').setAttribute('src', url);
      })();
    </script>
    <noscript>
      <iframe
        src="https://{{ account_id }}.fls.doubleclick.net/activityi;src='{{ type }}';type='{{ type }}';cat='{{ cat }}';ord=1;num=1?"
        width="1" height="1" frameborder="0" style="display:none"></iframe>
    </noscript>


  {% endif %}
{% endif %}
