{#
/**
 * @file
 * templates/processing.html.twig
 *
 * variables:
 *   - button_attributes:
 *   - source_attributes:
 *   - script_attributes:
 *   - attributes
 */
#}
{% if rendermode != 'renderonly' %}
<button {{ button_attributes }}>{{ button_text }}</button>
<pre {{ source_attributes }}>{{ code|raw }}</pre>
{% endif %}
<script {{ script_attributes }}>{{ code|raw }}</script>
<canvas {{ attributes }}></canvas>