{% if youtube_content.show_error == 1 %}
    <h3>Please configure this section in the {{youtube_content.config_link}}</h3>
{% else %}
       <div id="youtube-channel-pagination-master">
        <div id="youtube-channel-pagination" class="container">
            <div id="youtube-channel-video" class="row"><div class="display-watch-video"></div></div><div id="yc-pagination-watch" class="row"></div>
            <div class="row">
                <div class="col-sm-12">
                    <input type="hidden" id="pageToken" value="" />
                    <input type="hidden" id="youtube_channel_id_field_name" name="youtube_channel_id_field_name" value="{{youtube_content.youtubechannelpagination_id}}" />
                    <input type="hidden" id="youtube_channel_api_key_field_name" name="youtube_channel_api_key_field_name" value="{{youtube_content.youtubechannelpagination_api_key}}" />
                    <input type="hidden" id="youtube_channel_result_per_page_field_name" name="youtube_channel_result_per_page_field_name" value="{{youtube_content.youtubechannelpagination_video_limit}}" />
                    <input type="hidden" id="youtube_channel_grid_on_page_field_name" name="youtube_channel_grid_on_page_field_name" value="{{youtube_content.youtubechannelpagination_video_grid_for_row}}" />
                    <div class="prev-next-outer">          
                        <button type="button" id="pageTokenPrev" value="" class="btn btn-default pull-left"><i class="fa fa-angle-left"></i> Previous</button>
                        <button type="button" id="pageTokenNext" value="" class="btn btn-default pull-right">Next <i class="fa fa-angle-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}