{#
/**
 * @file
 * Default theme implementation for the block information on the panel content form.
 *
 * Available variables:
 * - title: Block title
 * - title_visible: TRUE if the title is visible on output, FALSE otherwise.
 * - plugin_id: Block plugin ID
 * - schedule_start: Scheduling information - start date (epoch)
 * - schedule_end: Scheduling information - end date (epoch)
 * - disabled: Is the block disabled?
 * - unscheduled: Is the block unscheduled?
 * - visible: Is the block visible due to specific visiblity rules?
 * - notVisibleReason: Reason for block not being visible
 * - primary_info: Primary info, see Drupal\panels_extended\BlockConfig\AdminInfoInterface::getAdminPrimaryInfo
 * - secondary_info: Secondary info, see Drupal\panels_extended\BlockConfig\AdminInfoInterface::getAdminSecondaryInfo
 */
#}
<span class="title{% if title_visible == false %} title-invisible{% endif %}">{{ title }}</span>
<div class="block-plugin-id">{{ plugin_id }}</div>
<div class="description">
  {{ primary_info|join('\n')|nl2br }}
  {% if secondary_info[0] is not empty %}
    <details><summary>{{ secondary_info[0] }}</summary>{{ secondary_info[1]|nl2br }}</details>
  {% endif %}
</div>
{% if schedule_start or schedule_end %}
<div class="schedule-info">
  {% set start = schedule_start ? schedule_start|date('d M Y H:i:s') : '-' %}
  {% set end = schedule_end ? schedule_end|date('d M Y H:i:s') : '-' %}
  {% trans %}Scheduled: from {{ start }} until {{ end }}{% endtrans %}
</div>
{% endif %}
{% if disabled or unscheduled or (not visible) %}
  <div class="disabled">
    {% if disabled %}
      {{ 'Block disabled'|t }}
    {% elseif unscheduled %}
      {{ 'Block unscheduled'|t }}
    {% elseif not visible %}
      {{ 'Block not visible'|t }}{% if notVisibleReason %}: {{ notVisibleReason|t }}{% endif %}
    {% endif %}
  </div>
{% endif %}
