{#
/**
 * @file single-invoice.html.twig
 * Default theme implementation to present an invoice.
 *
 * This template is used when viewing the invoices tab on a user profile.
 *
 *
 * Available variables not shown in markup below:
 * - created_timestamp: A UNIX timestamp in order to customize the date format.
 *
 * @ingroup themeable
 */
#}
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ base_css_path }}">
    <link type="text/css" rel="stylesheet" href="{{ braintree_cashier_css_path }}">
</head>
<body>

<div class="layout-container">
    <div class="top clearfix">
        <div class="top-first pull-left">
            <h2>{{ invoice_site_name }}</h2>
        </div>
        <div class="top-second pull-right">
            <h2>Invoice ID: {{ invoice_id }}</h2>
            <strong>Date of invoice: {{ invoice_date }}</strong>
        </div>
    </div>
    <div class="middle clearfix">
        <div class="to-wrapper pull-left">
            <h3>To:</h3>
            {{ username }}<br>
            {{ user_email }}<br>
            {{ invoice_billing_information }}
        </div>
        <div class="from-wrapper pull-left">
            <h3>From:</h3>
            {{ business_name }}<br>
            {{ invoice_business_information }}
        </div>
    </div>

    <table class="table--details" style="clear: both; width: 100%">
        <tr>
            <th>Qty</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>1 Service</td>
            <td>{{ business_name }} Subscription Fees</td>
            <td>{{ original_price }}</td>
        </tr>
    </table>
    <div class="clearfix">
        <table class="table--tally">
            {% for discount in discounts %}
                <tr>
                    <td class="text-column">Coupon: {{ discount.id }}</td>
                    <td class="amount-column">-{{ discount.amount }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td class="text-column"><strong>Total</strong></td>
                <td class="amount-column"><strong>{{ total }}</strong></td>
                <td>{{ currency_code }}</td>
            </tr>

        </table>
    </div>

    <div class="notes">
        <h3>Notes:</h3>
        <p>{{ notes }}</p>
    </div>
</div>
</body>
</html>
