{#
/**
 * @file
 * Default theme implementation for rendering a fancy pagerank block.
 *
 *
 * Available variables:
 * - enabled: Display pagerank ratio.
 * - string: The text to use e.g. 'PageRank'.
 * - ratio: The last reported PR ratio.
 * - suffix: Optionally scale the PageRank, e.g. 3 / 10.
 * - link: Provide verification on a 3rd party service.
 * - baseurl: Base domain URL without leading protocol. 
 * - notice_enabled: Display copyright notive.
 * - host: Host.
 * - notice: Notice.
 *
 * @see template_preprocess_pagerank_widget_fancy_block()
 *
 * @ingroup themeable
 */
#}
<div class="pagerank-wrap">
{% if enabled == 1 %}
  {% if link %}
    <a href="{{ link }}{{ baseurl }}" title="Check on {{ link }}" rel="nofollow" target="_blank">
  {% endif %}
  <table class="pagerank-table">
  <tbody class="pagerank-body">
    <tr>
      <td class="pagerank-first">
        {{ string }}
      </td>
      <td class="pagerank-last">
        {{ ratio }}{{ suffix }}
      </td>
    </tr>
  </tbody>
</table>
  {% if link %}
    </a>
  {% endif %}
{% endif %}
{% if notice_enabled == 1 %}
  <table class="pagerank-table notice" style="width: auto;">
  <tbody class="pagerank-body">
    <tr>
      <td class="pagerank-notice">
        {{ notice }} {{ host }}
      </td>
    </tr>
  </tbody>
  </table>
{% endif %}
</div>

