<a href="#" class="{{ subpanel.name }} subpanel_toggle">
  <span class="subpanel_title_text">
      {% if subpanel.icon is defined %}
          {{ subpanel.icon }}
      {% endif %}
      {% if subpanel.text is defined %}
          {{ subpanel.text|raw }}
      {% endif %}
  </span>
</a>
<div class="subpanel">
    {% if subpanel.header is defined %}
        <div class="subpanel_title">
            {{ subpanel.header }}
            <span class="options"></span>
            <span class="min">_</span>
        </div>
    {% endif %}
    {% if subpanel.contents is defined %}
        {{ subpanel.contents|raw }}
    {% if subpanel.footer is defined %}
        {{ subpanel.footer|raw }}
    {% endif %}
    {% endif %}
</div>