{#
/**
 * @file
 * Term Tree Selector.
 *
 * Available variables:
 * - vocabulary: The hierarchical vocabulary to use
 * - block_title: The title of the block
 * - description: Text that will be displayed above the form
 * - root_label: The label for the root terms, e.g. "Make", used to display "Select Make" in the root select box.
 * - leaf_label: The label for the leaf terms, e.g. "Model", used to display "Select Model" in the leaf select box.
 * - leaf_level: The number levels to traverse to populate the leaf select box (Second, Third or All).
 *   "All" will show the second and third levels.
 * - submit_label: The text shown on the submit button
 * - autosubmit: If set to 1, the form will be submitted once a leaf has been selected
 */
#}
{% if description %}
  <div class="description">{{ description }}</div>
{% endif %}
<form class="term-tree-selector" data-vocabulary="{{ vocabulary }}" data-level="{{ leaf_level }}" data-autosubmit="{{ autosubmit }}">
    <select name="root">
        <option>{{ root_label }}</option>
    </select>
    <select name="leaf">
        <option>{{ leaf_label }}</option>
    </select>
    <button name="submit">{{ submit_label }}</button>
</form>
