{% if above_caption %}
  <div class="social-connect-caption above">{{ above_caption|raw }}</div>
{% endif %}

{% if position == 'below' and below_caption %}
  <div class="social-connect-caption below">{{ below_caption|raw }}</div>
{% endif %}

{% if items|length > 0 %}
  <div class="social-connect">
    <div class="connections">
      {% for item in items %}
        <div class="item {{ item.source }}" id="{{ item.id }}"><span></span>{{ item.button_text }}</div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if position == 'above' and below_caption %}
  <div class="social-connect-caption below">{{ below_caption|raw }}</div>
{% endif %}