{#
/**
 * @file
 * Default theme implementation to display a formatted image field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 *
 * @see template_preprocess_image_formatter()
 *
 * @ingroup themeable
 */
#}

{# TODO: RENDER TROUGH ATTRIBUTES OBJECT #}
  <div class="trending_images_wrapper trending-image-source-{{ source }}">
    <a class="trending_images_description" href="{{ url }}"><img src="{{ image_uri }}"></a>
    <p class="trending_images_description">{{ description }}</p>
    <span class="trending_images_likes">{{ likes }}</span>
    <span class="trending_images_comments">{{ comments }}</span>
  </div>
