<div class="weather clearfix">

    <div class="top">

        {% if city.icon %}
            <div class="icon weather-type-{{ city.icon }}"></div>
        {% endif %}

        {% if (city.tmax) or (city.tmin) %}
            <div class="temp">
                {% if city.tmax %}
                    <div class="temp-max">{{ city.tmax }}</div>
                {% endif %}
                {% if city.tmin %}
                    <div class="temp-min">{{ city.tmin }}</div>
                {% endif %}
            </div> 
        {% endif %}

    </div>

    {% if city.desc %}
        <div class="desc">{{ city.desc }}</div>
    {% endif %}

    {% if city.precip %}
        <div class="precip">{{ city.precip }}</div>
    {% endif %}

    {% if city.date %}
        <div class="date">{{ city.date }}</div>
    {% endif %}

    {% if city.source %}
      <div class="source">{{ 'Source'|t }}: <a href="https://www.ipma.pt/">IPMA</a></div>
    {% endif %}

</div>