{#
/**
 * @file
 */
#}
{% set paragraphId = elements['#paragraph'].id() %}
{% set parade_minimum_height = elements['#paragraph'].get('parade_minimum_height').get(0).getValue().value %}
{%
set classes = [
  'paragraph',
  parade.enable_parallax ? 'paragraph--parallax parallax-bg-image',
  'paragraph--parallax--' ~ paragraphId,
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

{% if parade_minimum_height > 0 and not isEditPage %}
  <style>
    /* Allow user to overwrite default min-height if needed. */
    @media (min-width: 767px) {
      .paragraph{{ '.paragraph--parallax--' ~ paragraphId }}{{ parade.enable_parallax ? '.paragraph--parallax.parallax-bg-image' }} {
        min-height: {{ parade_minimum_height }}px !important;
      }
    }
  </style>
{% endif %}
<section{{ attributes.addClass(classes) }}>

  {% if view_mode != 'preview' %}
    {% if parade.enable_parallax %}
      <div data-stellar-background-ratio="0.5" data-natural-width="1920" data-natural-height="1080" class="bg-image bg-fullsize" style="background-image: url({{- parade.background.url -}});"></div>
    {% else %}
      <div class="bg-image bg-fullsize" style="background-image: url({{- parade.background.url -}});"></div>
    {% endif %}
  {% endif %}

  {% if parade.enable_parallax %}
    <div data-stellar-ratio="0.8" class="paragraph-inner">{{ content }}</div>
  {% else %}
    <div class="paragraph-inner">{{ content }}</div>
  {% endif %}
</section>

