{#
/**
 * @file
 * Default theme implementation for Fullscreen gallery.
 *
 * Available variables:
 * - $counter: The image counter string in format  "current/all".
 * - $thumbnails: The HTML output of thumbnail images.
 * - $back_link: Link to close the gallery.
 * - $prev: Link to go back to previous image.
 * - $next: Link to go forward to next image.
 * - $image: The rendered image.
 * - $image_title: The (sanitized) image title.
 * - $error: The error string, if exists.
 * - $fullscreen_gallery_right: The HTML output of Fullscreen gallery
 *   right sidebar, if exists.
 *
 * Other variables:
 * - $main_classes: Array of html class attribute values.
 *
 * @see template_preprocess()
 * @see template_preprocess_fullscreen_gallery()
 * @see template_process()
 */
#}
<div id="fullscreen_gallery" class="{{ main_classes }}">
    <div class="gallery-top">
        <div class="inner">
            <div class="counter">
                {{ counter }}
            </div>
            <div class="gallery-title">
                <div class="ginner">
                    <div class="thumbnails">
                        <div class="left inactive">
                            <a href="#"></a>
                        </div>
                        <div class="thumbnails-inner">
                            <div class="thumbnails-images">
                                {% for thumbnail in thumbnails %}
                                    <div class="thumbnail-item {{ thumbnail.class }}">
                                        {{ thumbnail.link }}
                                    </div>
                                {% endfor %}
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="right">
                            <a href="#"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="back-button">
                {{ back_link }}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="gallery-content">
        <div class="inner">
            <div class="gallery-left">
                <div class="gallery-main-content">
                    <div id="fs_loading"></div>
                    <div class="img_with_nav">
                        <div class="nav">
                            <div class="prev-button">
                                {{ prev }}
                            </div>
                            <div class="next-button">
                                {{ next }}
                            </div>
                        </div>
                        <div class="current-image">
                            <div class="cinner">
                                <div class="img-container">
                                    {{ image }}
                                    {% if error %}
                                        <h3>{{ error }}</h3>
                                    {% endif %}
                                </div>
                                <div class="image-title">
                                    <h1>{{ image_title }}</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="gallery-right">
                {{ fullscreen_gallery_right }}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>