{#
/**
 * @file
 * Template for the voucher.
 *
 * Available variables:
 * - title: The title of the voucher.
 * - order_number: The order number.
 * - amount: The amount.
 * - authorization_code: The authorization code of the transaction.
 * - transaction_date: The timestamp of the transaction date.
 * - payment_type: The payment type name.
 * - quota_type: The name of the quota type.
 * - shares_number: The shares number.
 * - card_number: The last 4 number of the card.
 * - products: A html of products.
 */
#}
<h2 class="title">{{ title }}</h2>
<table>
  <tbody>
    <tr>
      <td class="webpay-voucher-label">{% trans %}Order{% endtrans %}</td>
      <td>{{ order_number }}</td>
    </tr>
    <tr>
      <td class="webpay-voucher-label">{% trans %}Amount{% endtrans %}</td>
      <td>{{ amount }}</td>
    </tr>
    <tr>
      <td class="webpay-voucher-label">{% trans %}Authorization code{% endtrans %}</td>
      <td>{{ authorization_code }}</td>
    </tr>
    <tr>
      <td class="webpay-voucher-label">{% trans %}Transaction date{% endtrans %}</td>
      <td>{{ transaction_date|format_date('short') }}</td>
    </tr>
    <tr>
      <td class="webpay-voucher-label">{% trans %}Payment type{% endtrans %}</td>
      <td>{{ payment_type }}</td>
    </tr>
    <tr>
      <td class="webpay-voucher-label">{% trans %}Type of quotas{% endtrans %}</td>
      <td>{{ quota_type }}</td>
    </tr>
    <tr>
      <td class="webpay-voucher-label">{% trans %}Number of quotas{% endtrans %}</td>
      <td>{{ shares_number }}</td>
    </tr>
    <tr>
      <td class="webpay-voucher-label">{% trans %}Card Number{% endtrans %}</td>
      <td>XXXX-XXXX-XXXX-{{ card_number }}</td>
    </tr>
    {% if products %}
      <tr>
        <td class="webpay-voucher-label">{% trans %}Products{% endtrans %}</td>
        <td>{{ products }}</td>
      </tr>
    {% endif %}
  <tbody>
</table>
