{#
/**
 * @file commerce-product-review.html.twig
 * Default theme implementation to present product review data.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_commerce_product_review()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes.setAttribute('id', 'product-review-' ~ product_review_entity.id ) }}>
  {{ title_prefix }}
  <h2>{{ title }}</h2>
  {{ title_suffix }}
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
