{%
set classes =  [
    'healthcheck-filter',
    'healthcheck-filter--' ~ filter_id | clean_class
]
%}
<a href="#" data-filter-tag="filter-{{ filter_id | clean_class }}" class="{{ classes | join(' ') }}" title="{{ description }}" >{{ label }}{% if count %} ({{ count }}){% endif %}</a>