{% set tag_classes = '' %}
{% for tag in tags %}
    {% set tag_classes = tag_classes ~ 'filter-' ~ tag|clean_class ~ ' ' %}
{% endfor %}

<article id="healthcheck--finding-{{ key | clean_class }}" class="finding status-{{ status }} {{ tag_classes }}">
    <h1>{{ label | default(key) }}</h1>
    <p>{{ message }}</p>
    <div class="healthcheck--finding--data">{{ data }}</div>
    <footer>
        <span href="#" class="healhcheck--finding-check healthcheck--finding-check--{{ check_id | clean_class }}" title="{{ check_description }}">{{ check_label }}</span>
        <ul class="healthcheck--finding-tag-list">
            {%- for tag in tags -%}
                <li class="healhcheck--finding-tag healhcheck--finding-tag--{{ tag | clean_class }}">{{ tag }}</li>
            {%- endfor -%}
        </ul>
    </footer>
</article>