{%
set icons = {
    'finding_critical': "circle-icon status-20",
    'finding_action_requested': "circle-icon status-15",
    'finding_needs_review': "circle-icon status-10",
    'finding_no_action_required': "circle-icon status-5",
    'finding_not_performed': "circle-icon status-0",
}
%}

<div class="report-category status-{{ status }}">
    <h2><span class="accordion-icon"></span><span class="{{ icons[status] }}"></span> {{ label }} (<span class="report-category__count">{{ count }}</span>)</h2>
    <div class="report-category__findings">
        {%- for item in action_items -%}
            {{ item }}
        {%- endfor -%}
    </div>
</div>
