<article>
  <header>
    <h1>{% trans %}Healthcheck report{% endtrans %}</h1>

    <div class="healthcheck-summary">

      <div class="results-critical">
        <div class="results-critical__attention">
          <div><span>{{ critical_count + action_requested_count }}</span><br /> checks<br />need your attention</div>
        </div>
        <div class="results-critical__details">
          <div class="results-critical__details--critical">
            <span>{{ critical_count }}</span><br /> Critical
          </div>
          <div class="results-critical__details--divider"></div>
          <div class="results-critical__details--attention">
            <span>{{ action_requested_count }}</span><br /> Action Requested
          </div>
        </div>
      </div>

      <div class="results-summary">
        <h2>Summary</h2>
        <div class="results-summary__container">
          <div class="graphic-container">
            <div class="graphic-total"><span>{{ total_reviewed }}</span><br /> Checked</div>
            <svg class="circle-graphic" viewbox="0 0 39.83098862 39.83098862" width="240" height="240" xmlns="http://www.w3.org/2000/svg">

              <circle class="circle-graphic__background" stroke="#efefef" stroke-width="4" fill="none" cx="19.91549431" cy="19.91549431" r="15.91549431" />

              {% if critical_length > 0 %}
                <circle class="circle-graphic__circle circle-critical" stroke="#f6425e" stroke-width="4" stroke-dasharray="{{ critical_length }},100" fill="none" cx="19.91549431" cy="19.91549431" r="15.91549431" />
              {% endif %}

              {% if action_requested_length > 0 %}
                <circle class="circle-graphic__circle circle-action" style="transform: rotate({{ action_requested_offset }}deg);" stroke="#ff9d31" stroke-width="4" stroke-dasharray="{{ action_requested_length }},100" fill="none" cx="19.91549431" cy="19.91549431" r="15.91549431" />
              {% endif %}

              {% if review_length > 0 %}
                <circle class="circle-graphic__circle circle-review" style="transform: rotate({{ review_offset }}deg);" stroke="#35cbea" stroke-width="4" stroke-dasharray="{{ review_length }},100" fill="none" cx="19.91549431" cy="19.91549431" r="15.91549431" />
              {% endif %}

              {% if no_action_length > 0 %}
                <circle class="circle-graphic__circle circle-no-action" style="transform: rotate({{ no_action_offset }}deg);" stroke="#00c970" stroke-width="4" stroke-dasharray="{{ no_action_length }},100" fill="none" cx="19.91549431" cy="19.91549431" r="15.91549431" />
              {% endif %}

              {% if not_reviewed_length > 0 %}
                <circle class="circle-graphic__circle circle-not-reviewed" style="transform: rotate({{ not_reviewed_offset }}deg);" stroke="#dddddd" stroke-width="4" stroke-dasharray="{{ not_reviewed_length }},100" fill="none" cx="19.91549431" cy="19.91549431" r="15.91549431" />
              {% endif %}

            </svg>
          </div>

          <table class="results-summary-table">
            <tr>
              <td><span class="circle-icon status-20"></span>Critical</td>
              <td>{{ critical_count }}</td>
            </tr>
            <tr>
              <td><span class="circle-icon status-15"></span>Action Requested</td>
              <td>{{ action_requested_count }}</td>
            </tr>
            <tr>
              <td><span class="circle-icon status-10"></span>Needs Review</td>
              <td>{{ review_count }}</td>
            </tr>
            <tr>
              <td><span class="circle-icon status-5"></span>No Action Required</td>
              <td>{{ no_action_count }}</td>
            </tr>
            <tr>
              <td><span class="circle-icon status-0"></span>Not Performed</td>
              <td>{{ not_reviewed_count }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </header>

  {{ filters }}

  {{ checks }}
  <footer>

  </footer>
</article>
