<div class="udheader-block" style="height: calc({{ height }} + 10px);">
  <div class="udheader-left" style="background-image: url('{{ left_image }}');">
  </div>

  <div class="udheader-right" style="background-image: url('{{ right_image }}');">
    <span class="udheader-righttext" style="height: {{ height }};">{{ right_text }}</span>
  </div>

  <div class="udheader-center" style="background-image: url('{{ center_image }}');">
    <span class="udheader-centertext" style="height: {{ height }};">{{ center_text }}</span>
  </div>
</div>
