<h1>{{ 'AdBack'| trans }}</h1>

<div id="ab-login">
    <div class="ab-col-md-12">
            <div class="ab-login-box">
                <h2>{{ 'Register with AdBack'| trans }}</h2>
                <center>
                    <a href="https://www.adback.co" target="_blank">
                        <div class="ab-login-logo">
                        </div>
                    </a>
                </center>
                <center>
                    <button
                            class="button button-primary"
                            id="ab-register-adback"
                            style="width:100%;margin-top: 30px;"
                            data-callback-url="{{ url('adback_solution_to_adblock.token_save') }}"
                            data-site-url="{{ base_url }}"
                            data-email="{{ email }}"
                    >
                        {{ 'Create my AdBack account'| trans }}
                    </button>
                </center>
                <center>
                    <button
                            class="button"
                            id="ab-login-adback"
                            style="width:100%;margin-top: 30px;"
                            data-callback-url="{{ url('adback_solution_to_adblock.token_save') }}"
                    >
                        {{ 'Activate my AdBack'| trans }}
                    </button>
                </center>
            </div>
    </div>
</div>
