<!-- This file should primarily consist of HTML with a little bit of PHP. -->
<h1 class="ab-lefty">{{ 'AdBack : Configure your messages' |trans }}</h1>
<hr class="clear">

<div id="ab-settings">
    <div id="ab-full-app">
        <grid>
            <div col="5/6">
                <div id="ab-configuration-form"></div>
                <section style="background-color:transparent;">
                    <h4 class="header-section">{{ 'Get more statistics'| trans }}</h4>
                    <hr/>
                    <div class="section-content">
                        <button id="ab-website" data-locale="{{ locale }}" data-email="{{ email }}" primary m-full>{{ 'Redirect me to my AdBack dashboard'| trans }}</button>
                    </div>
                </section>
                <section style="background-color:transparent;">
                    <h4 class="header-section">{{ 'Adback Account'| trans }}</h4>
                    <hr/>
                    <div class="section-content">
                        <button href="{{ url('adback_solution_to_adblock.logout') }}" id="ab-logout" primary m-full>{{ 'Log out'| trans }}</button>
                    </div>
                </section>
            </div>
            <div col="1/6">
                <div id="adb-sidebar-standalone"
                     data-reviewlink="https://www.drupal.org/project/adback_solution_to_adbloc"
                     data-supportlink="https://www.drupal.org/project/adback_solution_to_adblock">
                </div>
            </div>
        </grid>
    </div>
</div>

<script src="https://www.adback.co/built/js/ab.js?2"></script>
<script type="text/javascript">
    window.onload = function () {
        if (typeof adbackjs === 'object') {
            adbackjs.init({
                token: '{{ access_token }}',
                url: 'https://www.adback.co/api/',
                language: '{{ locale }}',
                version: 2
            });
        } else {
            (function ($) {
                $("div[data-ab-graph]").each(function () {
                    $(this).append('{{ 'No data available, please <a href="%s">refresh domain</a>'|trans }}');
                });
            })(jQuery);
        }
    };
</script>
