<div id="login_by_box" class="login">
  <div id="middle">
  <div id="top_part">
    <h1 id="the_logo">
      <a href="{{ url('<front>') }}">
        <img src="{{ logopath }}" alt="{{ site_name }}" />
      </a>
    </h1>
    <h2 class="title"> {{ site_name }} </h2>
    <span class="slogan" > {{ site_slogan }} </span>
  </div>


    {{ page.highlighted }}

    {{ messages }}

    {{ page.content }}

    <div class="back-home">
      <a class="button" href="{{ url('<front>') }}">{{ 'Back to Home'|t }}</a>
    </div>
  </div>

</div>
