<div {{ attributes.setAttribute('id', settings.wrapper_id).addClass('row', settings.wrapper_classes) }}>
  {% if content.top %}
    <{{ settings.wrappers.top }} class="columns medium-12">
      {{ content.top }}
    </{{ settings.wrappers.top }}>
  {% endif %}
  {% if content.sidebar_left %}
    <{{ settings.wrappers.sidebar_left }} class="columns medium-5">
      {{ content.sidebar_left }}
    </{{ settings.wrappers.sidebar_left }}>
  {% endif %}
  {% if content.sidebar_right %}
    <{{ settings.wrappers.sidebar_right }} class="columns medium-7">
      {{ content.sidebar_right }}
    </{{ settings.wrappers.sidebar_right }}>
  {% endif %}
  {% if content.bottom %}
    <{{ settings.wrappers.bottom }} class="columns medium-12">
      {{ content.bottom }}
    </{{ settings.wrappers.bottom }}>
  {% endif %}
</div>