<div {{ attributes.setAttribute('id', settings.wrapper_id).addClass('row', settings.wrapper_classes) }}>
  {% if content.sidebar_left %}
    <{{ settings.wrappers.sidebar_left }} class="columns medium-2">
      {{ content.sidebar_left }}
    </{{ settings.wrappers.sidebar_left }}>
  {% endif %}
  {% if content.main %}
    <{{ settings.wrappers.main }} class="columns medium-8">
      {{ content.main }}
    </{{ settings.wrappers.main }}>
  {% endif %}
  {% if content.sidebar_right %}
    <{{ settings.wrappers.sidebar_right }} class="columns medium-2">
      {{ content.sidebar_right }}
    </{{ settings.wrappers.sidebar_right }}>
  {% endif %}
</div>
