<div {{ attributes.setAttribute('id', settings.wrapper_id).addClass('row', settings.wrapper_classes) }}>
  {% if content.top %}
    <{{ settings.wrappers.top }} class="columns medium-12">
      {{ content.top }}
    </{{ settings.wrappers.top }}>
  {% endif %}
  {% if content.upper_left %}
    <{{ settings.wrappers.upper_left }} class="columns medium-6">
      {{ content.upper_left }}
    </{{ settings.wrappers.upper_left }}>
  {% endif %}
  {% if content.upper_right %}
    <{{ settings.wrappers.upper_right }} class="columns medium-6">
      {{ content.upper_right }}
    </{{ settings.wrappers.upper_right }}>
  {% endif %}
  {% if content.middle %}
    <{{ settings.wrappers.middle }} class="columns medium-12">
      {{ content.middle }}
    </{{ settings.wrappers.middle }}>
  {% endif %}
  {% if content.lower_left %}
    <{{ settings.wrappers.lower_left }} class="columns medium-6">
      {{ content.lower_left }}
    </{{ settings.wrappers.lower_left }}>
  {% endif %}
  {% if content.lower_right %}
    <{{ settings.wrappers.lower_right }} class="columns medium-6">
      {{ content.lower_right }}
    </{{ settings.wrappers.lower_right }}>
  {% endif %}
  {% if content.bottom %}
    <{{ settings.wrappers.bottom }} class="columns medium-12">
      {{ content.bottom }}
    </{{ settings.wrappers.bottom }}>
  {% endif %}
</div>