<h1>{{ 'Where we are finder'|t }}</h1>

<div class="wwaf-wrapper initial-on search-on">
  <div class="map-wrapper">
    <div id="gmap_placeholder" class="google-map"></div>
    
    <div class="initial-cover">&nbsp;</div>
    
    <div class="search-box search-init {{ enable_countries ? 'with-countries' }}">
      <div class="toggle">
        <i class="fa fa-2x fa-search"></i>
      </div>
      <div class="covered">
        <form method="GET">
          <input type="text"
                 name="search" 
                 placeholder="{{ 'Search for location.'|t }}"
                 value="{{ search }}" />
          
          {% if enable_countries %}
          <div class="country-search">
            <label for="is_country" class="checkboxed">
              <input type="checkbox" name="is_country" value="1" id="is_country" />
              {{ 'Search country'|t }}
            </label>
          </div>
          {% endif %}
          
          <div class="select-wrapper">
            <label class="caption">
              {{ 'Radius'|t }}
              <span class="value">{{ curr_radius }}</span>
            </label>
            <span class="indicator"></span>
            <select name="radius" class="form-control">
              {% for key,label in radiuses %}
                {% set selected = curr_radius == key ? 'selected' %}
                <option value="{{ key }}" {{ selected }}>{{ label }}</option>
              {% endfor %}
            </select>
          </div>
        </form>
      </div>
    </div>
    
    <div class="gps-box" style="display:none;">
      <div class="toggle">
        <i class="fa fa-2x fa-compass"></i>
      </div>
    </div>
    
    <div class="info-box">
      <div class="content">
        <!-- filled by js -->
      </div>
      <div class="btnClose">
        <i class="fa fa-times"></i>
      </div>
    </div>
    
    <div class="loading">
        <div class="text"> <?php print t('Searching'); ?> </div>
    </div>
  </div>
  
  <div class="results-wrapper">
    <!-- filled by js -->
  </div>
  
  <div class="after-wrapper">
    <!-- filled by js -->
  </div>
</div>