{% block toolbar %}
    {% set icon %}
        <a href="{{ url("webprofiler.dashboard", {profile: token}, {fragment: 'notify_log'}) }}" title="{{ 'Log entries'|t }}">
            <img width="20" height="28" alt="{{ 'Log entries'|t }}"
                 src="data:image/png;base64,{{ collector.icon }}"/>
            <span class="sf-toolbar-info-piece-additional sf-toolbar-status">{{ collector.getLogChannelsCount }}</span>
        </a>
    {% endset %}
    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>{{ 'Log entries'|t }}</b>
            <span>{{ collector.getLogChannelsCount }}</span>
        </div>
    {% endset %}

    <div class="sf-toolbar-block">
        <div class="sf-toolbar-icon">{{ icon|default('') }}</div>
        <div class="sf-toolbar-info">{{ text|default('') }}</div>
    </div>
{% endblock %}

{% block panel %}
    <script id="notify_log" type="text/template">
        <h2 class="panel__title">{{ 'Log entries'|t }}</h2>
        <div class="panel__container">
            <table>
                <% _.each( data.notify_log_entry, function( item, key ){ %>
                <tr>
                    <th><%- key %></th>
                    <td><%= Drupal.webprofiler.helpers.frm(item) %></td>
                </tr>
                <% }); %>
            </table>
        </div>
    </script>
{% endblock %}
