<div class="cr-container">
    <input type="hidden" id="cr-admin-status-check-url" value="{{ urls.check_status_url }}">

    <div data-task-list-panel>
        <ul class="cr-list-group">
            {% for key, title in progress_items %}
            <li class="cr-list-group-item disabled" data-task="{{ key }}">
                <div class="cr-content-window-wrapper">
                    <div class="cr-content-window">
                        <i class="cr-icofont cr-icofont-circle">
                            <i class="cr-icofont cr-icofont-2x" aria-hidden="true" data-status="{{ key }}"></i>
                        </i>
                        <div class="cr-item">
                            <div class="cr-item-text">{{ title }}</div>
                            <div class="cr-item-badge">
                                <span class="cr-progress-text" data-progress="{{ key }}">0%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="cr-content-window-wrapper hidden" data-success-panel>
        <div class="cr-content-window">
            <div class="dashboard">
                <h1>
                    {{ 'Well done!'|t }}
                </h1>
                <p data-success-panel-message>
                    {{ '%s recipients have been successfully added to the list %s in your CleverReach® account.'|t }}
                </p>
                <button type="button" class="cr-primary"
                        data-success-panel-go-to-dashboard-button data-success-panel-autoredirect-text>
                    {{ 'You will be directed to your plugin dashboard in ... %d sec.'|t }}
                </button>
            </div>
        </div>
    </div>
</div>
