<div class="cr-container">
    <input type="hidden" id="cr-configuration" value="{{ urls.configuration_url }}">

    <div class="cr-tab-wrapper">
        <div class="cr-dashboard-tab-wrapper">
            <button class="cr-dashboard-tab">{{ 'Dashboard'|t }}</button>
        </div>
        <div class="cr-pull-right">
            <a href="{{ urls.help_url }}" target="_blank">{{ 'Help & Support'|t }}</a>
            <p class="cr-id">{{ 'CleverReach® ID'|t }}: {{ recipient_id }}</p>
        </div>
    </div>

    <div class="cr-content-window-wrapper">
        <div class="cr-content-window">
            <img class="cr-icon" src="{{ urls.logo_url }}" />

            <div class="cr-configuration">
                <label for="cr-syncAsActive"> <input type="checkbox" id="cr-syncAsActive" />
                    {{ 'Current users should be synced as subscribers'|t }}
                </label>
                <i>{{ 'If this option is turned on, CleverReach® initial synchronization will threat all users as subscribers. Every later synchronization will use subscription status that was added to User administration.'|t }}</i>
            </div>

            <button data-success-panel-start-initial-sync class="cr-action-buttons-wrapper cr-primary" id="cr-startSync">
                {{ 'Start synchronization now'|t }} →
            </button>
        </div>
    </div>
</div>
