<div class="cr-container">
    <input type="hidden" id="cr-build-email-url" value="{{ urls.built_email_url }}">
    <input type="hidden" id="cr-build-first-email-url" value="{{ urls.built_first_email_url }}">
    <input type="hidden" id="cr-retry-sync-url" value="{{ urls.retry_sync_url }}">

    <div class="cr-tab-wrapper">
        <div class="cr-dashboard-tab-wrapper">
            <button class="cr-dashboard-tab">{{ 'Dashboard'|t }}</button>
        </div>
        <div class="cr-pull-right">
            <a href="{{ urls.help_url }}" target="_blank">{{ 'Help & Support'|t }}</a>
            <p class="cr-id">{{ 'CleverReach® ID'|t }}: {{ recipient_id }}</p>
        </div>
    </div>

    <div class="cr-content-window-wrapper">
        {% if is_initial_sync_failed %}
            <div class="cr-content-window">
                <img class="cr-icon" src="{{ urls.logo_url }}" />
                <h3>
                    {{ 'An error occurred!'|t }}
                </h3>
                <div class="cr-dashboard-text-wrapper cr-main-text">
                    {{ 'Error description'|t }}: {{ initial_sync_failed_message }} <br />
                    <a target="_blank" href="{{ urls.help_url }}">{{ 'Help & Support'|t }}</a>
                </div>
                <button class="cr-action-buttons-wrapper cr-primary" id="cr-retrySync">
                    {{ 'Retry synchronization now'|t }}
                </button>
            </div>
        {% else %}
            <div class="cr-dashboard-block">
                <div class="cr-dashboard-container {% if report['isReportEnabled'] %}cr-has-import{% endif %}">

                    {% if report['isReportEnabled'] %}
                    <div class="cr-import">
                        <svg viewBox="0 0 400 150"
                             preserveAspectRatio="xMinYMin meet"
                             style="stroke: none; fill: url('#cr-gradient')">
                            <path d="M0,130 C150,180 200,60 400,120 L400,00 L0,0 Z"
                                  style="stroke: none;"></path>
                            <defs>
                                <linearGradient id="cr-gradient" x1="100%"
                                                y1="0%" x2="0%" y2="100%">
                                    <stop offset="0%"
                                          stop-color="#0AE355"></stop>
                                    <stop offset="72%"
                                          stop-color="#00C562"></stop>
                                </linearGradient>
                            </defs>
                        </svg>
                        <div class="cr-import-successful">
                            {{ 'Import was successful!'|t }}
                        </div>
                        <div class="cr-success-circle">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="cr-report-content">
                            <div class="cr-recipients">
                                <div class="cr-dashboard-report-icon-large">
                                    <i class="fa fa-users"></i>
                                </div>
                                <div class="cr-dashboard-concrete-report">
                                    <div class="title">
                                        {{ 'Recipients'|t }}
                                    </div>
                                    <div class="value">
                                        {{ report['recipients'] }}
                                    </div>
                                </div>
                            </div>
                            <div class="cr-recipient-list">
                                <div class="cr-dashboard-report-icon-large">
                                    <i class="fa fa-clipboard-list"></i>
                                </div>
                                <div class="cr-dashboard-concrete-report">
                                    <div class="title">
                                        {{ 'Recipient list'|t }}
                                    </div>
                                    <div class="value cr-value-nowrap" title="{{ report['name'] }}">
                                        {{ report['name'] }}
                                    </div>
                                </div>
                            </div>
                            <div class="cr-segments">
                                <div class="cr-dashboard-report-icon-small">
                                    <i class="fa fa-tag"></i>
                                </div>
                                <div class="cr-dashboard-concrete-report">
                                    <div class="title">
                                        {{ 'Segments'|t }}
                                    </div>
                                    {% for tag in report['tags'] %}
                                        {{ tag | raw }}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="cr-gdpr">
                            <a href="{{ 'https://www.cleverreach.com/en/features/privacy-security/eu-general-data-protection-regulation-gdpr/'|t }}"
                               class="cr-link" target="_blank">
                                <i>{{ 'Observe notes on GDPR!'|t }}</i>
                            </a>
                        </div>
                    </div>
                    {% endif %}

                    <!-- DASHBOARD CARD -->
                    <div class="cr-create">
                        <img class="cr-dashboard-logo"
                             src="{{ urls['dashboard_logo_url'] }}"
                             alt="Logo">
                        <h3>
                            {{ 'Targeted email marketing for more revenue!'|t }}
                        </h3>
                        <div class="cr-dashboard-text-wrapper cr-main-text">
                            {{ 'Create appealing emails to showcase your articles to your readers'|t }}.
                        </div>
                        <div class="cr-button-container">
                            <button class="cr-action-buttons-wrapper cr-primary" id="cr-buildEmail">
                                {% if is_built_first_email %}
                                    {{ 'Create your next newsletter now!'|t }} →
                                {% else %}
                                    {{ 'Create your first newsletter'|t }} →
                                {% endif %}
                            </button>
                        </div>
                    </div>
                    <!-- /DASHBOARD CARD -->
                </div>
            </div>
        {% endif %}
    </div>
</div>
