<div class="cr-container">
    <input type="hidden" id="cr-auth-url" value="{{ urls.auth_url }}">
    <input type="hidden" id="cr-check-status-url" value="{{ urls.check_status_url }}">
    <input type="hidden" id="cr-wakeup-url" value="{{ urls.wakeup_url }}">

    <div class="cr-loader-big">
        <span class="cr-loader"></span>
    </div>

    <div class="cr-connecting">
        <span>
            {{ 'Connecting...'|t }}
        </span>
    </div>

    <div class="cr-content-window-wrapper">
        <div class="cr-content-window">
            <img class="cr-welcome-icon" src="{{ urls.logo_url }}"/>
            <h3>{{ translations.error_title }}</h3>
            <div class="cr-dashboard-text-wrapper cr-main-text">
                {{ translations.error_message }}
            </div>
            <div class="cr-action-buttons-wrapper">
                <button class="cr-action-buttons-wrapper cr-primary" id="cr-log-account">
                    {{ translations.authenticate }}
                </button>
            </div>
        </div>
    </div>
</div>
