
    Total Records= {{ '{{ resultItems.length }}' }}
    
    <table id="dblog_quick_filter" class="admin-dblog responsive-enabled">
        <thead>
            <tr>
                <th 
                    ng-repeat="head in theHeader" >
                {{ '{{ head.data }}' }}
                </th>
            </tr>
        <thead>
        <tbody>
          <tr 
                ng-repeat-start="datarow in resultItems = (tbItems.rows |FilterQuery:query:match |FilterType:type | FilterSeverity:severity | FilterUser:user )"
                ng-class="datarow.class" 
                ng-class-odd="'odd'" 
                ng-class-even="'even'" 
                ng-click="detView(this,datarow.data[7])" 
                ng-init="setFirstKey($first,datarow.data[7])">
                <td 
                    ng-repeat="row in datarow.data track by $index" 
                    ng-class="row.class" 
                    ng-bind-html="checkMe(row)" 
                    ng-if="$index < 6" >
            </tr>
            <tr 
                ng-repeat-end="" 
                ng-attr-id="{{ '{{datarow.data[7]}}' }}" 
                ng-class="toggle ? 'tr_hide' : ''" >
                <td colspan="6"></td>
            </tr>
        <tbody>
    </table>

