
<table id="simple_revision_dt" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
            <th>trid</th>
            <th>changed</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
            <th>trid</th>
            <th>changed</th>
            <th>Actions</th>
            </tr>
        </tfoot>
        <tbody>

        {% for item in revisiondata %}
            <tr>
                <td>{{item.trid}}</td>
                <td>{{item.changed}}</td>
                <td><a href="/taxonomy/term/{{item.entity_id}}/revert?id={{item.trid}}">Revert</a> / <a href="/taxonomy/term/{{item.entity_id}}/revision/delete?id={{item.trid}}">Delete</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
