<div class="auth-options">
  <div class="auth-option-buttons">
    {% if enabled_methods.id_card %}
    <span class="btn-id-card">
      <a href="{{ path('eid_auth.id_card', {}, {'query': {'destination': path('<current>')}}) }}">
        <img src="{{ module_path }}/images/id-kaart.png" />
      </a>
    </span>
    {% endif %}

    {% if enabled_methods.mobile_id %}
    <span class="btn-mobile-id">
      <img src="{{ module_path }}/images/mid-logo.png" class="mid-logo" alt="{{ "Sign in with Mobile-ID"|t }}" />
    </span>
    {% endif %}

    {% if enabled_methods.smart_id %}
    <span class="btn-smart-id">
      <img src="{{ module_path }}/images/Smart-ID_login.png" class="smart-id-logo" alt="{{ "Sign in with Smart-ID"|t }}" />
    </span>
    {% endif %}
  </div>
  <div class="login-container eid-auth-login">
    {% if enabled_methods.mobile_id %}
    <div id="mobile-id-login-option">
      {{ forms.eid_auth_form }}
    </div>
    {% endif %}

    {% if enabled_methods.smart_id %}
    <div id="smart-id-login-option">
      {{ forms.eid_auth_smart_id_form }}
    </div>
    {% endif %}
  </div>
</div>

<div id="eid-auth-progress" class="eid-auth-progress">
  <div class="eid-auth-message">{{ 'Please check that the verification codes are matching:'|t }}</div>
  <div class="status-code"></div>

  <div class="progress__bar" role="progressbar" style="width: 100%"></div>
  <a href="{{ path('<current>') }}" class="eid-auth-cancel">{{ 'Cancel'|t }}</a>
</div>
