
<section class="glossary-top-bg" style="background-image:url('{{config.glossary_bg_image|raw }}');">
  <div class="row center-sm">
    <div class="col-xs-12 col-md-8">
      <h1>{{config.glossary_page_title}}</h1>
      <h3>{{config.glossary_page_subheading}}</h3>
    </div>
  </div>
</section>
<div class="public-glossary-keyword-search">
    <form method="get" action="/glossary" id="public_glossary_keyword_search"> 
        <div class="form-item" id="search_form_base">
            <input type="text" id="keyword" name="keyword" placeholder="Glossary Term" value="{{ qry_string.keyword }}"/>
						<input type="submit" id="search_button" title="Search" value="s"/> 
        </div>
    </form>
</div>
<div class="container">
	<div class="row public-glossary-alphabetical-search text-center"> 
		<div class="col-md-12">
			<ul class="public-glossary-alphabetical-links">
				{% for letter in range('AA','ZZ') %}
				<li>
				{% if qry_string.keyword is not empty %}
						<a href="{{ base_url }}/glossary/{{ letter }}">{{ letter }}</a>
				{% else %}
					{% if qry_string.ltr == letter %}
						<a href="{{ base_url }}/glossary/{{ letter }}" class="active" >{{ letter }}</a>
					{% else %}
						<a href="{{ base_url }}/glossary/{{ letter }}">{{ letter }}</a>
					{% endif %}
				{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="row public-glossary-list">
		{% if terms_data is not empty %}
			{% for key, item in terms_data %} 
				{% set item_class = 'public-glossary-list-item' %}
				{% for ink, inv in item %}  
					<div class="{{item_class}}">
						<p class="term_name">{{ inv.term|e }}</h3>
						<p class="term_definition">{{ inv.description|e }}</p>
					</div>
				{% endfor %}
			{% endfor %}
		{% else %}
			<div class="col-md-6 error">
				No term exist for this keyword.
			</div>
		{% endif %}
	</div>
	<div class="row" id="glossary-cta-questions">
			{{config.glossary_bottom_text|raw }}
	</div>
</div>