{#
/**
* @file
* Template for Secure Site log-in form.
*
* @see template_preprocess_securesite_user_login()
*
*/
#}
<h1>{{ 'Log In'|t }}</h1>
{{ messages }}
<p>{{ title }}</p>
{{ openid_identifier }}
{{ name }}
{{ pass }}
{{ submit }}
{{ openid_links }}
{{ children }}
<span></span>