{#
/**
* @file
* Default theme implementation for the basic structure of a single Drupal page.
*
* @see template_preprocess_page()
*
*/
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    {{ head }}
    <title>{{ head_title }}</title>
    {{ styles }}
    {{ scripts }}
  </head>
  <body{{ attributes }}>
    {% if logo %}
    <a href="{{ front_page }}"  title="{{ 'Home'|t }}" rel="home" id="logo">
      <img src="{{ logo }}" alt="{{ 'Home'|t }}" />
    </a>
    {% endif %}
    {{ messages }}
    {{ content }}
  </body>
</html>