{#
/**
* @file
* Template for Secure Site password reset form.
*
* @see template_preprocess_securesite_user_pass()
*
*/
#}
<h1>{{ 'Password reset'|t }}</h1>
<p>{{ title }}</p>
{{ name }}
{{ submit }}
{{ children }}
