<!-- Add you custom twig html here -->
<div>
    <table class="enrollment-progress">
        <thead><tr><td>EOI Source</td><td>Status</td><td>Completed On</td></tr></thead>
        <tbody>
    {% for step in content %}
        <tr class="enrollment-step">
            <td><a href="{% if step.url %} {{ step.url }} {% else %} # {% endif %}">{{ step.label }}</a></td>
            <td class="{{ step.class }}">
                {{ step.status }}
            </td>
            <td>
                {{ step.time }}
            </td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
