{{ attach_library('syncart/cart-small') }}
{{ attach_library('syncart/favorite-small') }}
{{ attach_library('syncart/cart') }}
{{ attach_library('syncart/favorite') }}

<div id="cart-favorite-small" class="cart-small">
  <favorite-small inline-template>
    <div class="cart-small-item cart-small-item--favorites" v-show="ready" style="display: none;">
      <a href="{{ path('syncart.favorites') }}" class="cart-small-icon cart-small-icon--favorites">
        <div class="cart-small-count">
          ${ total }
        </div>
      </a>
    </div>
  </favorite-small>
  <cart-small inline-template>
    <div class="cart-small-item" v-show="ready" style="display: none;">
      <a href="{{ path('syncart.cart_controller_cart') }}" class="cart-small-icon cart-small-icon--cart">
        <div class="cart-small-count">
          ${ cart.quantity }
        </div>
      </a>
      <div class="cart-small-content">
        <ul class="list">
          <li class="list-item">
            {{ 'Products'|t }}: <span>${ cart.quantity }</span>
          </li>
          <li class="list-item">
            {{ 'Total'|t }}: <span class="total">${ $root.numberFormat(cart.total, 0) }</span> <span class="unit">${ cart.currency }<span>
          </li>
          <li class="list-item">
            <a href="{{ path('syncart.cart_checkout') }}">
              {{ 'Checkout'|t }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </cart-small>
</div>
