{# 
/** 
 * @file
 * Template for the live weather list block
 * Available variables:
 * - weather_detail: array of weather list.
 */
#}

<div class="live-weather-list">
{% for var in weather_detail %}
<div class="live-weather">
  <div class="city"><h3>{{ var.location }}</h3></div>
  <div class="temperature">
    <span class="label"> Temperature </span><span class="data">{{ var.temperature }} &deg;{{ var.temperature_unit }} {{ var.text }}</span>
  </div>
  {% if var.image %}
  <div class="image">
    <span class="data"><img src="{{ var.image }}.png"/></span>
  </div>
  {% endif %}
  {% if var.wind %}
  <div class="wind">
    <span class="label">Wind speed </span><span class="data">{{ var.wind }}</span>
  </div>
  {% endif %}
  {% if var.humidity %}
  <div class="humidity">
    <span class="label">Humidity </span><span class="data">{{ var.humidity }}</span>
  </div>
  {% endif %}
  {% if var.visibility %}
  <div class="visibility">
    <span class="label">Visibility </span><span class="data">{{ var.visibility }}</span>
  </div>
  {% endif %}
  {% if var.sunrise %}
  <div class="sunrise">
    <span class="label">Sunrise </span><span class="data">{{ var.sunrise }}</span>
  </div>
  {% endif %}
  {% if var.sunset %}
  <div class="sunset">
  <span class="label">Sunset </span><span class="data">{{ var.sunset }}</span>
  </div>
  {% endif %}
</div>
{% endfor %}
</div>