{%if title == '' %}
    <h3>{{ title }}</h3>
{%endif%}

<div class="card-container columns-{{ cols }} {{ alignment }}" >
    {% for row in rows %}
        <byu-card columns="{{ cols }}" class="{{ card_width }} border-{{ border }} border-{{ border_radius }}">{{ row.content }}</byu-card>
    {% endfor %}
</div>