{#
/**
 * @file
 * Default theme implementation to display the contest entries.
 *
 * Variables available:
 * - results (array of objects)
 * - - place (int)
 * - - full_name (string)
 * - - city (string)
 * - - state (string)
 */
#}
<div id="contest-results">

<!-- The contest results. --->

  <table border="0" cellspacing="0" class="contest-results">
    <caption>{{ 'Results'|t }}</caption>
    <thead>
      <tr>
        <th>{{ 'Place'|t }}</th>
        <th>{{ 'Name'|t }}</th>
      </tr>
    </thead>
    <tbody>

    {% for usr in results %}
      <tr class="{{ (index % 2)? 'odd': 'even' }}">
        <td>
          <span class="contest-results-place">{{ usr.place }}</span>
        </td>
        <td>
          <span class="contest-results-name">{{ usr.full_name }}</span>,
          <span class="contest-results-city">{{ usr.city }}</span>
          <span class="contest-results-state">{{ usr.state }}</span>
        </td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
</div>
