{% if youtube_content.show_error == 1 %}
	<h3>Please configure this section in the {{youtube_content.config_link}}</h3>
{% else %}
	<div id="youtubechannel-player" style="width:{{youtube_content.width}}px; height:{{youtube_content.height}}px;">
		<iframe id="youtubechannel-frame" title="Youtube Video Player" width="{{youtube_content.width}}px" height="{{youtube_content.height}}px;" src="" frameborder="0" allowfullscreen></iframe>  
	</div>
	<div id="youtubechannel-list" style="width: {{youtube_content.width}}px; height: {{youtube_content.height}}px;">
		<ul>
			{% for i in youtube_content.content|keys %}
				<li><a href="#{{i}}"><img src="{{youtube_content.content[i]}}"></a></li>
			{% endfor %}
		</ul>
	</div> 
	<div id="channel_url">{{youtube_content.channel_link}}</div>
{% endif %}