{#
/**
 * @file
 * Default theme implementation for a forecast day template.
 *
 * Available variables:
 * - data: An array containing the forecast data.
 *   - day: The day of the week.
 *   - icon: The icon index.
 *   - iconUri: The icon uri.
 *   - iconAlt: The icon alt text.
 *   - description: The description.
 *   - min: The minimum temperature.
 *   - max: The maximum temperature.
 *
 * @ingroup themeable
 */
#}
<div class="weathercomau-forecast__day">
  <strong>{{ data.day }}</strong>
</div>

<div class="weathercomau-forecast__icon">
  <img src="{{ data.iconUri }}" alt="{{ data.iconAlt }}" />
</div>

<div class="weathercomau-forecast__temperature">
  {{ data.min }} &dash; {{ data.max }}
</div>

<div class="weathercomau-forecast__description">
  {{ data.description }}
</div>
