<div class="chatroom-container" data-cid="{{ chatroom.cid.value }}">

   <div class="chatroom-board" id="chatroom-board-{{ chatroom.cid.value }}" role="log">
     {% for message in messages %}
       {{ message }}
     {% endfor %}
   </div>

  {% if can_post %}
    <div class="chatroom-irc-buttons" id="chatroom-chat-buttons-{{ chatroom.cid.value }}" data-token="{{ token }}">
      {{ chatroom_input_form }}
    </div>
  {% endif %}

</div>
