{#
/**
 * @file
 * Default template for chatroom entities.
 *
 * Available variables:
 * - chatroom: Chatroom entity.
 * - content: All fields items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - view_mode: View mode; for example, "teaser" or "full".
 *
 * @see template_preprocess_chatroom()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ content }}
</div>
