{#
/**
 * @file
 * Default theme implementation for tabs.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered children.
 *
 * @see template_preprocess_field_group_easy_responsive_tabs()
 *
 * @ingroup themeable
 */
#}
<div {{ attributes }}>
  <ul {{ navigation_attributes }}>
    {% for item in navigation %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>

  <div {{ container_attributes }}>
    {{ children }}
  </div>
</div>
