<div class="drawing-build-wrapper">
{{ children.drawing_build }}
</div>
<div class="redraw-button">
  {{ children.submit }}
</div>
{% if children.drawer_description %}
<div class="drawer-description">
  {{ children.drawer_description }}
</div>
{% endif %}
<div class="config-subforms">
  <div class="drawer-config-subform">
    {{ children.drawer_config }}
  </div>
  <div class="resource-provider-config-subform">
    {{ children.resource_provider_config }}
  </div>
</div>

{{ children|without('drawing_build', 'submit', 'drawer_config', 'resource_provider_config', 'drawer_description') }}
