<h2>{{ title }}</h2>
<table>
    <thead>
    <tr>
        <th><input type="checkbox" name="check_all" value="{{ key }}" checked/></th>
        <th>{% trans %}title{% endtrans %}</th>
        <th>{% trans %}type{% endtrans %}</th>
        <th>{% trans %}id{% endtrans %}</th>
        <th>{{ status_or_bundle }}</th>
        <th colspan="2">{% trans %}operations{% endtrans %}</th>
    </tr>
    </thead>
    <tbody>
    {% for key,entity in entities %}
        <tr>
            <td><input type="checkbox" name="{{ checkbox_name }}" value="{{ key }}" checked class="entity_selector"/>
            </td>
            <td>{{ entity.label }}</td>
            <td>{{ entity.entity_type_id }}</td>
            <td>{{ entity.entity_id }}</td>
            <td>{{ entity.status }}</td>
            {% if entity.edit_url|length > 0 %}
                <td>
                    <a href="{{ entity.view_url }}">
                        {% trans %}View entity{% endtrans %}
                    </a>
                </td>
                <td>
                    <a href="{{ entity.edit_url }}">
                        {% trans %}Edit entity{% endtrans %}
                    </a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>

</table>