{#
/**
 * @file
 * Custom theme implementation for the checkout progress.
 *
 * Available variables:
 * - steps: An array of steps, where each step has the following keys:
 *   - id: The step ID.
 *   - label: The step label.
 *   - position: 'previous', 'current' or 'next'.
 *   - link: Link to the step.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addclass('container') }}>
    <ol class="nav nav-pills justify-content-md-between justify-content-lg-start flex-column flex-md-row checkout-progress clearfix">
        {% for step in steps %}
            <li class="nav-item checkout-progress--step checkout-progress--step__{{ step.position }}">
                <a href="{{ step.link }}" class="nav-link {{ step.position }}">
                    {{ step.label }}
                </a>
            </li>
        {% endfor %}
    </ol>
</div>
