{#
/**
 * @file
 * Template used for rendering the booking summary page as part of the checkout process
 *
 * Available variables:
 * - order_entity: The order
 * - tickets: Render array of tickets
 * - manage_tickets_url: URL for the edit tickets page
 * - booking_total: The booking total
 * - amount_paid: Amount paid so far
 * - balance: Outstanding balance
 * @ingroup themeable
 */
#}

<div class="booking-payment-details">
    Booking total {{ booking_total|commerce_price_format}} <br/>
    Paid so far {{ amount_paid|commerce_price_format}} <br/>
    Outstanding balance {{ balance|commerce_price_format}} <br/>
</div>

<h2>Tickets</h2>
{{ tickets }}
<a href="{{ manage_tickets_url }}">Manage Tickets</a>


<h2>Accomodation</h2>
TODO

