{#
/**
 * @file
 * Youtube Gallery theme implementation to display a list of youtube channel video listing.
 *
 * Available variables:
 *
 * Current play video variables:
 * - currentVideo.videoId: Current video Id.
 * - currentVideo.title: Current video title.
 * - currentVideo.description:Current video description.
 * - currentVideo.publishedAt: Current video published date.
 *
 * More video listing:
 * - content.items: This variable returns youtube data.
 *
 */
#}
<div id="youtube-block-style">

	<iframe src="https://www.youtube.com/embed/{{ currentVideo.videoId }}" width="640" height="360" frameborder="0" id="video-iframe-style" allowfullscreen></iframe>
	
</div>
	<h3 class="currentvideotitile"> 
		<strong> {{ currentVideo.title }} </strong> 
	</h3>

	<p class="currentvideodesc"> 
		{{ currentVideo.description }}
	</p>

	<p> 
		<strong> {{ 'Published At:'|trans }} </strong>{{ currentVideo.publishedAt|date("m/d/Y h:m:s") }} 
	</p>

<br>

{# End Current Video #}

<div class="seemore"> {{ 'See More Videos'|trans }}</div>

<div class="morevideos">

{#
	Rendering All Videos display as see more listing.
#}

{% for key, value in content.items %}

	<span style="" id="each-block-video">

		<a href={{ base_path }} {{ value.snippet.resourceId.videoId }}>

			<img src={{ value.snippet.thumbnails.medium.url }} />
			
		</a> 

		<p> 
			<a href={{ base_path }} {{ value.snippet.resourceId.videoId}}>

				{{ value.snippet.title|slice(0,45) }} 

			</a> 
		</p>

	</span>

{% endfor %}

</div>

{# End See More Videos #}