{#
/**
 * @file
 * Youtube Gallery theme implementation to display a list of youtube channel video listing.
 *
 * Available variables:
 * - youtube_content: An array returns values of youtube data.
 *
 */
#}

{% for key, youtube in youtube_content %}

	<div class='youtube-gallery-block-list'>

		<p> 
			<a href="{{ youtube["url"] }}">
				<img src="{{ youtube["thumbnail"] }}"> 
			</a> 
		</p>

		<p><a href="{{ youtube["url"] }}">{{ youtube["video_title"] }}</a></p>

		<p>{{ 'Duration:'|trans }} {{ youtube["duration"] }}</p>

	</div>

{% endfor %}
