<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% if vars.refresh_content is defined %}
    <meta http-equiv="refresh" content="{{ vars.refresh_content|raw }}">
{% endif %}
    {{ vars.css|raw }}
</head>

<body class="locker">
<div class="locker-content">
    {% if vars.error_message|length>0 %}
    <div class="form-error">
        <div class="error__message">Unable to Unlock</div>
        <div class="error__message reason">{{ vars.error_message }}</div>
        <a class="error__message close" href="#">X</a>
    </div>
    {% endif %}

    <div class="login">
        <h1 class="login__title">Site locked for private use only</h1>
        <h3 class="login__description">You may gain access by entering a valid
            {% if vars.locker_access_options == 'passphrase' %}<span>Passphrase</span>
            {% elseif vars.locker_access_options == 'user_pass' %}your <span>Account Info</span>
            {% else %}<span>Passphrase</span> or your <span>Account Info</span>
            {% endif %} below
        </h3>
{% if vars.refresh_content is defined %}
  <h4>Site locked till {{ vars.unlock_time| date("d F Y H:i P") }}<br>Time Remaining: <span id="countdown" data-refresh-date="{{ vars.unlock_time| date("Y-m-d H:i:sP") }}">{{ vars.refresh_duration }}</span></h4>
{% endif %}
        {{ vars.form }}
    </div>
</div>

<div class="locker-footer">
    <div class="footer__locker-logo"></div>
    <div class="footer__protected">Protected by </div>
</div>
{{ vars.js|raw }}
</body>
</html>
