<div id="sceditor-directory-listing">
  <ul id="directory-listing" class="nav nav-pills nav-stacked">
    <div id="directory-list-header">
      <div class="row">
        <div class="file-name">{{ 'File'|t }}</div>
        <div class="file-size">{{ 'Size'|t }}</div>
        <div class="file-modified">{{ 'Last Modified'|t }}</div>
      </div>
    </div>
    {% for link in links %}
      <a href="?file={{ link.link|raw }}" class="clearfix">
        <div class="row">
          <span class="file-name">
            {{ link.type|raw }}
              {{ link.name }}
          </span>
          <span class="file-size">
            {% if link.size != '-' %}
              {{ link.size }} KB
            {% else %}
              -
            {% endif %}
          </span>
          <span class="file-modified">
            {{ link.time }}
          </span>
        </div>
      </a>
    {% endfor %}
    <a href="/admin/config/sceditor/editor" class="sceditor-save-server"><i class="fa fa-home fa-fw"></i>{{ 'Home'|t }}</a>
    <a href='/sceditor/git-status/changed-files' data-dialog-options='{"height":"auto","width":"50%","max-height":"100%"}' data-dialog-type="modal" class="use-ajax sceditor-changed-files">
      <i class="fa fa-git-square fa-fw"></i>
      {{ 'Changed Files'|t }}
    </a>
    <a href="/admin/config/sceditor/editor?file=clear" class="sceditor-changed-files"><i class="fa fa-eraser fa-fw"></i>{{ 'Clear changes'|t }}</a>
  </ul>
</div>
