<div id="sceditor">{{ data }}</div>
<div class="row">
  <form id="sceditor-form" action="{{ link }}" method="post">
    <input type="hidden" id="file_content" name="file_content" value="{{ data }}">
    <input type="submit" value="Save to Server" class="sceditor-save-server">
  </form>
  <a href="/admin/config/sceditor/editor" class="sceditor-save-server">
    <i class="fa fa-home fa-fw"></i>
    {{ 'Home'|t }}
  </a>
  <a href="?file={{ return }}" class="sceditor-save-server">
    <i class="fa fa-level-up fa-fw"></i>
      {{ 'Return'|t }}
  </a>
  <a href='/sceditor/git-status/changed-files' data-dialog-options='{"height":"auto","width":"50%","max-height":"100%"}' data-dialog-type="modal" class="use-ajax sceditor-changed-files">
    <i class="fa fa-git-square fa-fw"></i>
      {{ 'Changed Files'|t }}
  </a>
  <a href="/admin/config/sceditor/editor?file=clear" class="sceditor-changed-files"><i class="fa fa-eraser fa-fw"></i>{{ 'Clear changes'|t }}</a>
</div>
