{% extends "block.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for the offline branding block.
 *
 * All variables are available from the default system branding block. The only
 * difference is that the path goes to the main appcache fallback route which
 * acts as the homepage.
 *
 * @see block--system-branding-block.html.twig
 *
 * @ingroup themeable
 */
#}
{% block content %}
  {% if site_logo %}
    <a href="{{ path('offline_app.appcache.fallback') }}" title="{{ 'Home'|t }}" rel="home">
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
    </a>
  {% endif %}
  {% if site_name %}
    <div class="site-name">
      <a href="{{ path('offline_app.appcache.fallback') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
    </div>
  {% endif %}
  {% if site_slogan %}
    <div class="site-slogan">{{ site_slogan }}</div>
  {% endif %}
{% endblock %}
