{#
/**
 * @file
 * Default theme implementation for the basic structure of a single offline Drupal page.
 *
 * All variables that are prepared by template_preprocess_page are available
 * this file. Other html preprocess function will not run. You can call them
 * yourself if needed in hook_preprocess_offline_app_html().
 *
 * @see offline_app_theme_suggestions_html_alter()
 * @see template_preprocess_offline_app_html()
 * @see template_preprocess_html()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <title>{{ head_title|safe_join(' | ') }}</title>

    {{ offline_stylesheet }}
    {{ offline_javascript }}
    {{ offline_meta }}

    {# Meta tags to ensure scaling on mobile devices #}
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  </head>
  <body{{ attributes }}>
    {{ page }}
  </body>
</html>
