{#

/**
 * @file
 * Template for spinint.
 *
 * Available variables are:
 * $instance: @see hook_field_widget_form().
 * $value: The default value.
 */
#}

<label for="{{ instance.field_name}}">
  {{ instance.label|escape }}
</label>
<div class="spinint-wrapper">
{% if instance.settings.prefix %}
  <div class="prefix">
    {{ instance.settings.prefix|escape }}
  </div>
{% endif %}

  <div class="spinint-scroller">
    <a href="#" class="spinint-up">Up</a>

    <span class="spinint">{{ value }}</span>

    <a href="#" class="spinint-down">Down</a>
  </div>

{% if instance.settings.suffix %}
  <div class="suffix">
    {{ instance.settings.suffix|escape }}
  </div>
{% endif %}

</div>
