{#
/**
 * @file
 * This template handles the layout of the OnePass short code placeholder markup.
 */
#}

<div id="onepass-embed"
  data-url="{{ url }}"
  data-title="{{ title }}"
  data-unique-identifier="{{ unique_identifier }}"
  data-ts="{{ ts }}"
  data-publisher-id="{{ publisher_id }}"
  data-publishable-key="{{ publishable_key }}"
  data-hash="{{ hash }}"
  data-author-name="{{ author_name }}">
</div>

<script type="text/javascript">
  (function(){
    var e=document.getElementsByTagName("script")[0],t=document.createElement("script");
    t.type="text/javascript";
    t.async=true;
    t.id="onepass-js";
    t.src="{{ host }}/assets/onepass.js";
    e.parentNode.insertBefore(t,e)}
  )()
</script>