{#
/**
 * @file
 * This template handles the layout of OnePass atoms feed.
 */
#}

<?xml version="1.0" encoding="utf-8" ?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ view.getTitle }}</title>
{{ options.pagination }}
  <updated>{{ options.updated }}</updated>
  <id>{{ options.feed_id }}</id>
{% for row in rows %}
  <entry>
    <title>{{ row.title }}</title>
    <link rel="self" href="{{ row.link }}"/>
    <summary type="xhtml">
      <div xmlns="http://www.w3.org/1999/xhtml">
        {{ row.summary }}
      </div>
    </summary>
    <content type="xhtml">
      <div xmlns="http://www.w3.org/1999/xhtml">
        {{ row.content }}
      </div>
    </content>
    <id>{{ row.id }}</id>
    <updated>{{ row.updated }}</updated>
    <published>{{ row.published }}</published>
    <author>
      <name>{{ row.author.name }}</name>
      <email>{{ row.author.email }}</email>
    </author>
  </entry>
{% endfor %}
</feed>
