{#
/**
 * @file
 * Default theme implementation for displaying a bootstrap popup for User login,
 * Register and Rest password form.
 *
 * Available variables:
 * - login: This will contain UserLogin form along with User access to login 
 *   link.
 * - register: This will contain register form along with access to register 
 *   form parameter.
 * - forgot_password:This will contain forgot password form.
 *
 * @ingroup themeable
 */
#}

{# Render login form in bootstarp popup. #}
<div class="modal fade" id="login-modal" role="dialog" aria-labelledby="modalLoginLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalLoginLabel">{{ 'Login'|trans }}</h4>
      </div>
      <div class="modal-body"><div class="error-message"></div>
        {{ login.form }}   
      </div>
      <div class="modal-footer-body">
        <ul class="menu">
          {% if login.login_link_access %}
            <li>
              <a href="#" data-toggle="modal" data-target="#create-account" id ="loginRegister" > {{ 'Create new account'|trans }}</a>
            </li>
          {% endif %}
        
          <li>
            <a href="#" data-toggle="modal" data-target="#forgot_pass" id ="forgotPass">{{ 'Request new password'|trans }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{# Render register form in bootstarp popup. #}
{% if register.register_access %}
  <div class="modal fade" id="create-account" role="dialog" aria-labelledby="modalRegisterLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modalRegisterLabel">{{ 'Register'|trans }}</h4>
        </div>
        <div class="modal-body"><div class="error-message"></div>
        {{ register.form }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id ="close-button">{{ 'Close'|trans }}</button>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{# Render password reset form in bootstarp popup. #}
<div class="modal fade" id="forgot_pass" role="dialog" aria-labelledby="modalRegisterLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modalRegisterLabel">{{ 'Forgot Password'|trans }}</h4>
      </div>
      <div class="modal-body"><div class="error-message"></div>
      {{ forgot_password.form }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id ="close-button">{{ 'Close'|trans }}</button>
      </div>
    </div>
  </div>
</div>
