{% macro addRegion(settings, content) %}
  {% for machine_name, item in settings %}

    {# Wrapper options #}
    {% if item.wrap is not empty  and item.wrap.enabled %}
      <div class="{{ item.wrap.wrapper }}">
      <div class="{{ item.wrap.container }}">
    {% endif %}

    <div class="{{ item.classes }}">
      {{ attribute(content, machine_name) }}
      {% if item.children is not empty %}
        {{ _self.addRegion(item.children, content) }}
      {% endif %}
    </div>

    {# Wrapper options #}
    {% if item.wrap is not empty  and item.wrap.enabled %}
      </div>
      </div>
    {% endif %}

  {% endfor %}
{% endmacro %}

<div class="flexible-layout">
  {{ _self.addRegion(settings.layout, content) }}
</div>
