{#
/**
 * @file
 * Default theme implementation for token help.
 */
#}
<p>{{ title }}</p>
<dl>
  {% for label, row in rows %}
    <dt>
      {% if row.suffix %}
        {% for suffix in row.suffix %}
          <code>{{ '{{ ' }}{{ label_prefix }}{{ label }}{{ suffix }}{{ ' }}' }}</code>
        {% endfor %}
        {% set description = row.description %}
      {% else %}
        <code>{{ '{{ ' }}{{ label_prefix }}{{ label }}{{ ' }}' }}</code>
        {% set description = row %}
      {% endif %}
    </dt>
    <dd>{{ description }}</dd>
  {% endfor %}
</dl>
