{{ user_link }}
<div>
  <a href="{{ tweet_url }}"><time datetime="{{ timestamp|format_date('custom', 'c') }}">{{ timestamp|format_date('short') }}</time></a>
</div>
<div>{{ text }}</div>
<div>{{ image }}</div>
