{#
/**
 * @file
 * Template for menu items in the filters block
 *
 * This themes one menu item at the time.
 */
#}
<li class="{{menuLeaf.leafClass}}"><a
    {% if menuLeaf.leafAnchorClass is not null %}
        class="{{menuLeaf.leafAnchorClass}}"
    {% endif %}
    title ="{{ menuLeaf.termName }}" href="{{menuLeaf.linkUrl}}">{{ menuLeaf.termName }}</a>
</li>
