{#
/**
 * @file
 * Default theme implementation for Inmail Message element.
 *
 * Available variables:
 * - message: Parsed Inmail Message object.
 *    It could be either \Drupal\inmail\MIME\MimeMessage or
 *    \Drupal\inmail\MIME\MimeMultipartMessage.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - subject: A string element containing the subject of the mail.
 * - body: Plain text and HTML message body representation.
 * - (optional) download_message: Link to download the raw message.
 *    Download is only possible if the caller passed in a download route.
 *
 * Date related fields:
 * - sender_date: A date element containing the date on which the mail got sent.
 * - (optional) received_date: A date element containing the date on which
 *    the mail got received.
 *
 * Address related header fields:
 * - addresses_from: A Rfc2822Address element containing the address(es)
 *    from where the mail got sent.
 * - (optional) addresses_reply_to: A list of Rfc2822Address elements
 *    containing addresses to where the mail got replied to.
 * - (optional) addresses_to: A list of Rfc2822Address elements
 *    containing addresses to where the mail got sent to.
 * - (optional) addresses_cc: A list of Rfc2822Address elements
 *    containing addresses to where a copy of the mail got sent to.
 * - (optional) addresses_bcc: A list of Rfc2822Address elements
 *    containing tertiary addresses to where the email got sent to.
 *
 * Only present for MIME messages:
 * - (optional) mime_attachments: A list of elements representing attachments.
 * - (optional) mime_unknown: A list of unknown message part elements.
 * Download is only possible if the caller passed in a download route.
 *
 * Only present for list subscriptions:
 * - (optional) unsubscribe: Link to unsubscribe from receiving
 *    notifications from the mail.
 *
 * @ingroup themeable
 */
#}

{{ attach_library('inmail/message') }}

{% if view_mode == 'full' %}
  {{ attach_library('inmail/inmail.message') }}
{% endif %}

<section class="inmail-message inmail-message--{{ view_mode }}">
  <header class="inmail-message__header">
    <div class="inmail-message__element inmail-message__header__from">
      <label>From</label>
      {{ addresses_from }}
      {% if unsubscribe and view_mode == 'full' %}
        <div class="inmail-message__element inmail-message__header__unsubscribe">
          <a href="{{ unsubscribe }}" target="_blank">Unsubscribe</a>
        </div>
      {% endif %}
      {% if addresses_reply_to and view_mode == 'full' %}
        <div class="inmail-message__element inmail-message__header__reply-to">
          <label>reply to</label>
          {% for address_reply_to in addresses_reply_to %}
            {{ address_reply_to }}
          {% endfor %}
        </div>
      {% endif %}
    </div>
    {% if addresses_to %}
      <div class="inmail-message__element inmail-message__header__to">
        <label>To</label>
        {% for address_to in addresses_to %}
          {{ address_to }}
        {% endfor %}
      </div>
    {% endif %}
    {% if addresses_cc %}
      <div class="inmail-message__element inmail-message__header__cc">
        <label>CC</label>
        {% for address_cc in addresses_cc %}
          {{ address_cc }}
        {% endfor %}
      </div>
    {% endif %}
    {% if view_mode == 'full' %}
      <div class="inmail-message__element inmail-message__header__date">
        <label>Date</label>
        {{ sender_date }}
        {% if received_date %}
          <div class="inmail-message__element inmail-message__header__received-date">
            <label>Received</label>
            {{ received_date }}
          </div>
        {% endif %}
      </div>
      {% if addresses_bcc %}
        <div class="inmail-message__element inmail-message__header__bcc">
          <label>Bcc</label>
            {% for address_bcc in addresses_bcc %}
              {{ address_bcc }}
            {% endfor %}
        </div>
      {% endif %}
    {% endif %}

    <div class="inmail-message__element inmail-message__header__subject">
      <label>Subject</label>
      {{ subject }}
    </div>
    <div class="inmail-message__element inmail-message__header__all">
      <label>All Headers</label>
      <pre>{{ message.header.getRaw() }}</pre>
      {% if download_message %}
        <a href="{{ download_message }}" target="_blank">Download raw message</a>
      {% endif %}
    </div>
  </header>
  <main class="inmail-message__body">
    {% if view_mode == 'teaser' %}
      <div class="inmail-message__element inmail-message__body__subject">{{ subject }}</div>
    {% endif %}
    {% if view_mode == 'full' and body.html and body.plain_text %}
      <ul>
        <li><a href="#inmail-message__body__html">HTML</a></li>
        <li><a href="#inmail-message__body__content">Plain</a></li>
      </ul>
    {% endif %}
    {% if body.html %}
      <div class="inmail-message__element inmail-message__body__html" id="inmail-message__body__html">{{ body.html }}</div>
    {% endif %}
    {% if body.plain_text %}
      <div class="inmail-message__element inmail-message__body__content" id="inmail-message__body__content">{{ body.plain_text }}</div>
    {% endif %}
  </main>
  {% if view_mode == 'full' %}
    <footer class="inmail-message__footer">
      {% if mime_attachments %}
        <div class="inmail-message__element inmail-message__footer__attachments">
          <label>Attachments</label>
          <ul>
            {% for attachment in mime_attachments %}
              <li>
                {% if attachment.url %}
                  <a href="{{ attachment.url }}" title="{{ attachment.filename }}"
                     target="_blank">{{ attachment.filename }}</a> ({{ attachment.filesize }})
                {% else %}
                  {{ attachment.filename }} ({{ attachment.filesize }})
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if mime_unknown %}
        <div class="inmail-message__element inmail-message__footer__unknown">
          <label>Unknown parts</label>
          <ul>
            {% for unknown_part in mime_unknown %}
              <li>
                {% if unknown_part.url %}
                  <a href="{{ unknown_part.url }}" title="{{ unknown_part.filename }}"
                     target="_blank">{{ unknown_part.filename }}</a> ({{ unknown_part.filesize }})
                {% else %}
                  {{ unknown_part.filename }} ({{ unknown_part.filesize }})
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </footer>
  {% endif %}
</section>
