{% trans %}
    Selected Date: <h2><div> {{selected_date}} </div></h2>
{% endtrans %}
<table>
    {% for key,value in values %}
        <tr>
            <td>{{key}}</td>
            <td>
                <span class ="{{value['class']}}"  style="{{value['style']}}">{{value[0]}}</span>
            </td>
        </tr>
    {% endfor %}
</table>