{% if weather %}
<div class="wrap">
    <div class="current-weather">
        <span class="weather_town">{% trans %}Kyiv{% endtrans %}</span>
        <span class="icon"><img src="{{ weather.current_weather_icon }}" /></span>
        <span class="temp" title="вночі та вдень"><span class="weather_at_night">{{ weather.low_celsius }}&#8451;&nbsp;</span>..&nbsp;<span class="weather_at_day">{{ weather.high_celsius }}&#8451;</span></span>
    </div>
    <div class="future-weather" style="display: none;">
        <h2>{% trans %}Weather in {{ weather.city }}{% endtrans %}</h2>
        <div class="row-col">
            <div class="left-col">
                <div class="field">
                    <label>{% trans %}Now{% endtrans %}: </label><span>{{ weather.current_temp_celcius }}℃</span>
                </div>
            </div>
            <div class="right-col">
                <div class="field">
                    <label>{% trans %}Pressure{% endtrans %}: </label><span>{% trans %}{{ weather.current_pressure_rt }} mm Hg art.{% endtrans %}</span>
                </div>
                <div class="field">
                    <label>{% trans %}Wind{% endtrans %}: </label>
                    <span>{{ weather.current_wind_dir_verbose }}
                        {% trans %}{{ weather.current_wind_mph }} m/s{% endtrans %}
					&nbsp;({% trans %}{{ weather.current_wind_kph }} km/h{% endtrans %})</span>
                </div>
                <div class="field">
                    <label>{% trans %}Humidity{% endtrans %}: </label><span>{{ weather.current_relative_humidity }}</span>
                </div>
            </div>
        </div>

        {% for day in weather.forecastday %}
        <div class="row-col">
            <div class="item">
                <label class="date">{{ day.date_verbose }}</label>
                <span class="value">
                    <span class="temp">{{ day.low_celsius }}&#8451;&nbsp;/&nbsp;{{ day.high_celsius }}&#8451;</span>
                    <span class="icon"><img src="{{ day.icon }}" /></span>
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
{% trans %}Weather data unavailable{% endtrans %}
{% endif %}
