{%
set classes = [
'paragraph',
'container',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
{{ content.field_paragraph_anchor[0] }}

<div{{ attributes.addClass(classes) }} style="{{ inline_styles }}background-image: url('{{ file_url(content.field_landingpage_image[0]["#item"].entity.uri.value) }}');">
<div class="row">   
  <div class="col-sm-12">
    {{ content.field_landingpage_textarea[0] }}
  </div>
</div>
</div>	  