{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}
{{ content.field_paragraph_anchor[0] }}
{% if inline_styles %}
<div{{ attributes.addClass(classes) }} style="{{ inline_styles }}">
{% else %}
<div{{ attributes.addClass(classes) }}>
{% endif %}
  <div class="content-md container">
    <div class="row">   
      <div class="col-sm-12">
        {{ content.field_landingpage_textarea[0] }}
      </div>
    </div>  
    <div class="row">
    {% if content.field_landingpage_textareas[1]|length == 0 %}
      <div class="col-sm-12">    
        {{ content.field_landingpage_textareas[0] }}
      </div>
    {% endif %}
    {% if content.field_landingpage_textareas[2]|length == 0 %}
      <div class="col-sm-6">    
        {{ content.field_landingpage_textareas[0] }}
      </div>
      <div class="col-sm-6">    
        {{ content.field_landingpage_textareas[1] }}
      </div>
    {% endif %}
    {% if content.field_landingpage_textareas[3]|length == 0 %}
      <div class="col-sm-4">   
        <div class="panel panel-default">
          <div class="panel-body">
            {{ content.field_landingpage_textareas[0] }}
          </div>
        </div>  
      </div>
      <div class="col-sm-4">   
        <div class="panel panel-default">
          <div class="panel-body">
            {{ content.field_landingpage_textareas[1] }}
          </div>
        </div>  
      </div>
      <div class="col-sm-4">   
        <div class="panel panel-default">
          <div class="panel-body">
            {{ content.field_landingpage_textareas[2] }}
          </div>
        </div>  
      </div>
    {% endif %}   
    {% if content.field_landingpage_textareas[3]|length > 0 %}             
      <div class="col-sm-3">    
        {{ content.field_landingpage_textareas[0] }}
      </div>
      <div class="col-sm-3">    
        {{ content.field_landingpage_textareas[1] }}
      </div>
      <div class="col-sm-3">    
        {{ content.field_landingpage_textareas[2] }}
      </div>
      <div class="col-sm-3">    
        {{ content.field_landingpage_textareas[3] }}
      </div>  
    {% endif %}                       
    </div>
  </div>  
</div>