{#
/**
 * @file
 * The template for the detail view of the Smart Glossary
 *
 * available variables:
 * - glossary_id string
 *     The ID of the connected SmartGlossary config
 * - glossary_path
 *     The base path for the glossary page
 * - visual_mapper_available bool
 *     TRUE if the Visual Mapper exists, FALSE if not
 * - term object
 *     The term-object
 * - visual_mapper_settings string
 *     The settings for the Visual Mapper in json format
 * - current_language string
 *     The currently chosen language of the concepts
 * - rdf_url
 *     The url to the RDF data
 * - endpoint_url
 *     The url to the SPARQL endpoint
 */
#}

{% set uri = '' %}
{% if term.uri is defined %}
    {% set uri = term.uri %}
{% endif %}

{% set visual_mapper_args = {
'glossary_path': glossary_path,
'visual_mapper_available': visual_mapper_available,
'concept_uri': uri,
'visual_mapper_settings': visual_mapper_settings,
'current_language': current_language
} %}

<div id="smart-glossary-detail" vocab="http://www.w3.org/2004/02/skos/core#" typeof="Concept" about="{{ uri }}">
    {% if rdf_url or endpoint_url %}
        <div id="block-semantic-data" class="block block-semantic-data">
            {% if endpoint_url %}
                <div class="get-endpoint">
                    <a href="{{ endpoint_url }}" target="_blank">{% trans %}Go
                        to SPARQL endpoint{% endtrans %}</a></div>
            {% endif %}
            {% if rdf_url %}
                <div class="get-rdf">
                    <a href="{{ rdf_url }}" target="_blank">{% trans %}Get
                        RDF{% endtrans %}</a></div>
            {% endif %}
        </div>
    {% endif %}
    {% if term.prefLabel is empty %}
        <h2 property="prefLabel" lang="{{ term.language }}">{{ term.prefLabelDefault }}</h2>
        <p>{% trans %}No translation of this glossary term available in selected
            language{% endtrans %}</p>
    {% else %}
        <h2 class="element-invisible" property="prefLabel" lang="{{ current_language }}">{{ term.prefLabel }}</h2>
        {% if term.prefLabels is not empty %}
            <div class="element-invisible">
                {% for lang, label in term.prefLabels %}
                    <span property="prefLabel" lang="{{ lang }}">{{ label }}</span>
                {% endfor %}
            </div>
        {% endif %}

        <!-- term synonyms -->
        {% if term.altLabels is not empty %}
            <h3>{% trans %}Synonyms{% endtrans %}</h3>
            <p class="synonyms">
                {% for altLabel in term.altLabels %}
                    <span property="altLabel" lang="{{ current_language }}">{{ altLabel }}</span>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
        {% endif %}

        <!-- term definitions -->
        <div class="definitions">
            {% if term.definitions is empty %}
                {% trans %}No definition available{% endtrans %}
            {% else %}
                {% if term.definitions.internal is not empty %}
                    <div class="internal">
                        <h3>{% trans %}Definition{% endtrans %}</h3>
                        {% for definition in term.definitions.internal %}
                            <p class="definition" property="definition" lang="{{ current_language }}">{{ definition }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if term.definitions.external is not empty %}
                    <div class="external">
                        {% for match_type, content in term.definitions.external %}
                            <div class="{{ match_type ~ ' ' ~ content.source|lower }}">
                                <h3>{{ content.title }}</h3>
                                {% for resource in content.resources %}
                                    <span class="source" property="http://www.w3.org/2004/02/skos/core#{{ match_type }}" resource="{{ resource.uri }}">
                            <p class="definition" about="{{ resource.uri }}" property="http://dbpedia.org/ontology/abstract" lang="{{ current_language }}">{{ resource.definition }}</p>
                                        {% trans %}Source{% endtrans %}
                                        <a about="{{ resource.uri }}" property="http://xmlns.com/foaf/0.1/isPrimaryTopicOf" href="{{ resource.url }}" target="_blank">
                            <span about="{{ resource.uri }}" property="http://www.w3.org/2000/01/rdf-schema#label" lang="{{ current_language }}">{{ resource.label }}</span>
                            </a>
                            </span>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
        </div>

        {% include module_path ~ '/templates/smart-glossary-visual-mapper.html.twig' with visual_mapper_args %}

        <!-- semantic relations -->
        {% if term.related is not empty or term.broader is not empty or term.narrower is not empty %}
            <div class="semantic-relations">
                {% if term.related is not empty %}
                    <div class="related">
                        <h3>{% trans %}Related terms{% endtrans %}</h3>
                        {% for related in term.related %}
                        <a property="related" resource="{{ related.uri }}" typeof="Concept" href="{{ related.url }}">
                            <span about="{{ related.uri }}" property="prefLabel" lang="{{ current_language }}">{{ related.prefLabel }}</span>
                            </a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if term.broader is not empty %}
                    <div class="broader">
                        <h3>{% trans %}Broader terms{% endtrans %}</h3>
                        {% for broader in term.broader %}
                        <a property="broader" resource="{{ broader.uri }}" typeof="Concept" href="{{ broader.url }}">
                            <span about="{{ broader.uri }}" property="prefLabel" lang="{{ current_language }}">{{ broader.prefLabel }}</span>
                            </a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if term.narrower is not empty %}
                    <div class="narrower">
                        <h3>{% trans %}Narrower terms{% endtrans %}</h3>
                        {% for narrower in term.narrower %}
                        <a property="narrower" resource="{{ narrower.uri }}" typeof="Concept" href="{{ narrower.url }}">
                            <span about="{{ narrower.uri }}" property="prefLabel" lang="{{ current_language }}">{{ narrower.prefLabel }}</span>
                            </a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
</div>