<?xml version="1.0" encoding="UTF-8"?>

<html>
    <body>
    {% for item_key, item in items %}
        <div>
            {% for field_key, field in item %}
                {% if field['#max_length'] is defined %}
                    <limit>{{ field['#max_length'] }}</limit>
                {% else %}
                    <limit>NONE</limit>
                {% endif %}
                {% if field['#format'] is defined %}
                    <div sl-variant="{{ field['sl-variant'] }}" class="atom" id="{{ field_key }}">{{ field['#text'] }}</div>
                {% else %}
                    <span sl-variant="{{ field['sl-variant'] }}" class="atom" id="{{ field_key }}">{{ field['#text'] }}</span>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    </body>
</html>
