{#
/**
 * @file
 * Default theme implementation for Embedly content.
 *
 * Variables:
 * - data: The oEmbed data from Embedly.
 *
 * @ingroup themeable
 */
#}
{{ attach_library('embedly/embed') }}

{% if data.title %}
  <div class="embedly">
    <img src="{{ data.thumbnail_url }}" alt="{{ data.title }}" title="{{ data.title }}" />
    <h4>{{ data.title }}</h4>

    {% if data.type == 'video' %}
      <a href="{{ data.url }}">{% trans %}Watch video{% endtrans %}</a>
    {% else %}
      <a href="{{ data.url }}">{% trans %}Read more{% endtrans %}</a>
    {% endif %}
  </div>
{% endif %}
