<svg width="959" height="593" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
    <metadata>
        <rdf:RDF>
            <cc:Work rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
                <dc:title>Blank US states map</dc:title>
            </cc:Work>
        </rdf:RDF>
    </metadata>
    <style id="style_css_sheet" type="text/css">
        .state{
            fill: #979797;
            fill-opacity: 1;
            stroke:white;
            stroke-opacity: 1;
            stroke-width:0.5;
            stroke-miterlimit: 3.97446823;
            stroke-dasharray: none;
        }
    </style>
    {% for item in all %}
        {% for path in item.getMapsPath() %}
            {% if path.path is not empty %}
                <path class="state {{ path.class}}" d="{{ path.path }}">
                    <title>{{ item.label() }}{% if item.id == current.id %} - {{ value }}{% endif %}</title>
                </path>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <g>
        <path id="frames" d="m215 493v55l36 45m-251-168h147l68 68h85l54 54v46" fill="none" stroke="#a9a9a9" stroke-width="2">
            <title>{{ item.label() ~ ' (' ~ item.get('field_france_departments_code').getString() ~ ') : ' ~ value }}</title>
        </path>
    </g>
</svg>
