
<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="alert alert-danger fade in">
			<button data-dismiss="alert" class="close">
				×
			</button>
			<i class="fa-fw fa fa-warning"></i>
      重要提示: (1). 审核意见如果超过300字，建议分多条添加。
		</div>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->
<div class="row">
  {{form.form_build_id}}
  {{form.form_token}}
  {{form.form_id}}
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="well well-sm">
      <!-- Timeline Content -->
      <div class="smart-timeline">
        <ul class="smart-timeline-list">


          {% for au in audits %}
          <li>
            <div class="smart-timeline-icon">
              <img src="{{ au.user.avatar }}" width="32" height="32" alt="user" />
            </div>
            <div class="smart-timeline-time">
              <small>{{ au.created }}</small>
            </div>
            <div class="smart-timeline-content">
              <div class="row">
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 ">
											<p>
                      <a href="javascript:void(0);"><strong>{{ au.user.name }}</strong></a>
											</p>
                      {{ au.description_first.first }}

                    <ul>
                      {% for ou in au.description_first.other %}
                      <li>
                        {{ ou }}
                      </li>
                      {% endfor %}
                    </ul>
                 </div>

                 <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 ">
                   {% if au.isaudit == 0 %}
                   <div class="audit-waiting">
                   </div>
                   {% endif %}
                   {% if au.status == 3 %}
                   <div class="audit-status-passed">
                   </div>
                  {% elseif au.status == 2 %}
                   <div class="audit-status-failed">
                   </div>
                   {% endif %}
                 </div>
               </div>
            </div>
          </li>
          {% endfor %}


        </ul>
      </div>
      <!-- END Timeline Content -->
    </div>

    <div class="well well-sm">
      {{ form.description }}

      {{ form.actions }}
    </div>


  </div>
 <!-- WIDGET END -->
</div>
