<div class="vud-widget vud-widget-{{ widget_name }}" id="{{ widget_instance_id }}">

  <div class="vud-widget-title">{% trans %}Was this useful?{% endtrans %}</div>
  <div class="vud-widget-vote-action">
    {% if show_links == true %}
      {% if show_up_as_link == true %}
        <a href="{{ link_up }}" rel="nofollow" class="{{ link_class_up }} use-ajax" title="{% trans %}Vote yes!{% endtrans %}">
      {% endif %}
          <span class="vote-element vote-yes {{ class_up }}" title="{% trans %}Vote yes!{% endtrans %}">Yes</span>
      {% if show_up_as_link == true %}
        </a>
      {% endif %}
      {% if show_down_as_link == true %}
        <a href="{{ link_down }}" rel="nofollow" class="{{ link_class_down }} use-ajax" title="{% trans %}Vote no!{% endtrans %}">
      {% endif %}
          <span class="vote-element vote-no {{ class_down }}" title="{% trans %}Vote no!{% endtrans %}">No</span>
      {% if show_down_as_link == true %}
        </a>
      {% endif %}
    {% endif %}
  </div>

  <div class="vud-widget-reset-action">
    {% if show_reset == true %}
      <a href="{{ link_reset }}" rel="nofollow" class="{{ link_class_reset }} use-ajax" title="{{ reset_long_text }}">
        <span class="{{ class_reset }}">{{ reset_short_text }}</span>
      </a>
    {% endif %}
  </div>
  <p class="vote-current-score">{{ percent_text }}</p>

</div>
