{#
/**
 * @file
 * Default theme implementation to display a formatted social link field.
 *
 * Available variables:
 * - links: A collection of social networks links data.
 *   - text: Social link text/icon.
 *   - url: Social network profile link.
 *   - title: Social network name.
 * - new_tab: Is need to open a new tab.
 * - appearance: Parameters tha are responsible of appearance.
 *   - orientation: Orientation of links list.
 */
#}

{%
set classes = [
'social-link-field',
appearance.orientation,
]
%}

{% spaceless %}
  {% if links %}
    <ul {{ attributes.addClass(classes) }}>
      {% for link in links %}
        <li>
          <a href="{{ link.url }}" class="{{ link.class }}" title="{{ link.title }}"{% if new_tab %} target="_blank"{% endif %}>
            {{ link.text }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endspaceless %}
