<div class="maestro-timeline-wrapper">
  {% for i in range(1,stage_count) %}
    {% set msg = stage_messages[i].message %}
    {% if i == current_stage %}
      {% set class = 'maestro-status-circle-current' %}
      {% set msg = current_stage_message %}
    {% elseif i < current_stage %}
      {% set class = 'maestro-status-circle-complete' %}
    {% else %}
      {% set class = 'maestro-status-circle-incomplete' %}
    {% endif %}
    
    <div class="{{ class }}" title="{{ msg }}">
      <span>{{ i }}</span>
    </div>
    <div class="stage-status-message">
      {{ msg }}
    </div>
    {% if i < stage_count %}
      <div class="{{ class }}-bar"> </div>
    {% endif %}
  {% endfor %}
</div>