{#
/**
 * @file tripadvisor-integration.tpl.php
 * Default template implementation to display the TripAdvisor field.
 *
 * All data retreieved from the API is stored in tripadvisor_data['#data']
 * object, to find out more about the exact data returned from the API visit:
 * https://developer-tripadvisor.com/content-api/documentation/location/
 */
#}
<div class="tripadvisor-field">
  <img class="img-responsive ta-logo" src="/{{ tripadvisor_data['#tripadvisor_logo'] }}">
  <p class="ta-description">{{ 'Ratings and Reviews Powered by TripAdvisor'|t }}</p>
  <p>{{ tripadvisor_data['#data'].name }}</p>
  {% if tripadvisor_data['#data'].awards %}
    <ul class="ta-awards-list">
      {% for award in tripadvisor_data['#data'].awards %}
        <li>
          <img src="{{ award.images.small }}">
          <p class="ta-award-name">{{ award.display_name }}</p>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <img class="img-responsive ta-reviews-icon" src="{{ tripadvisor_data['#data'].rating_image_url }}">
  <a class="ta-reviews-text" href="{{ tripadvisor_data['#data'].web_url }}" target="_blank">{{ tripadvisor_data['#data'].num_reviews }}{{ ' Reviews'|t }}</a>
  <a class="ta-write-reviews-text" href="{{ tripadvisor_data['#data'].write_review }}" target="_blank">{{ 'Write a review'|t }}</a>
  <p class="ta-view-on-ta-text">{{ 'View on'|t }} <a href="{{ tripadvisor_data['#data'].web_url }} ?>">{{ 'TripAdvisor'|t }}</a></p>
</div>
