<div {{ attributes }}>
    <div class="media-entity-consent--form">
        {{ consent_form }}
    </div>
    <div class="media-entity-consent--content" data-media-content="{{ content | render | json_encode }}">
        {% if consent_status == true %}
        {{ content }}
        {% endif %}
    </div>
    {% if consent_footer %}
    <div class="media-entity-consent--footer">
        {{ consent_footer }}
    </div>
    {% endif %}
</div>