{#

/**
 * @file
 * Default theme implementation to display a Commandbar autocomplete item.
 *
 * Available variables:
 * - path: The path of the link.
 * - description: The description of the link.
 * - parents: An array containing the parent menu titles.
 *
 * @ingroup themeable
 */
 
#}
<div data-url="{{ url }}" title="{{ path }} {% if description|length > 0 %} - {{ description }}{% endif %}" class="jump commandbar-item"><div>{% if parents|length < 1 %}<strong>{{ title }}</strong>{% else %}{{ title }}{% endif %}</div>{% if parents|length > 0 %}<div class="subtext">{{ parents | join(' &#62; ') }}</div>{% endif %}</div>