<div class="expired-page" style="background: #fefefe; text-align: center;">
  <h1 style="color:red;"> {{ 'Content Expired'|t }} </h1>
  <h3>{{ 'The new Content creation for'|t }} <b>{{ content_type|capitalize }}</b> {{ 'has expired on'|t }} <b>{{ expired_time|format_date('long') }} </b></h3>
  <h3>{{ 'Contact Administration for creating new Content'|t }}</h3>
  <a href="{{ url('<front>') }}" style="border:1px solid black; background-color:blue; color:white; padding:10px; font-weight:bold; border-radius: 4px;">{{ 'Go To Homepage'|t }}</a>
</div>
