<div id="{{ settings.slider_id }}">
  <ul class="bxslider" style="">
    {%  for slide in slides %}
      <li>{{ slide.image }}</li>
    {%  endfor %}
  </ul>
  {%  if settings.bxslider.pagerCustom_type and settings.bxslider.pagerCustom_type == 'thumbnail_pager_method1' %}
    <div class="bxslider-pager-th bxslider-pager__method1" id="{{ settings.bxslider.pagerCustom }}">
      {% for key, item in items %}
        <a data-slide-index="{{ key }}" href="">{{ item.slide_pagerCustom }}</a>
      {%  endfor %}
    </div>
  {%  endif %}
</div>
