{#
/**
 * @file
 * Theme for the crisis block.
#}
<div class="crisis-wrapper"
     style="{{ content.crisis_mode_background_color }} {{ content.crisis_mode_background_image }}">
    <div class="crisis-message">
        <h2>{{ content.crisis_mode_title }}</h2>

        {% if content.crisis_mode_block_image %}
            <div class="crisis-image">
                <img src="{{ content.crisis_mode_block_image }}"/>
            </div>
        {% endif %}

        <div class="crisis-text">
            {{ content.crisis_mode_text.value|raw }}
        </div>


        {% if content.crisis_mode_node %}
            <div class="crisis-cta">
                <a href="{{ content.crisis_mode_node }}" class="button">{{ content.crisis_mode_link_title }}</a>
            </div>
        {% endif %}
    </div>
</div>