{#
/**
 * @file
 * Default theme implementation to display a date pager.
 *
 * Available variables:
 * - pager: List of pager items.
 *   The list is keyed by the following elements:
 *   - date: Item for the date part.
 *   - time: Item for the time part; not always present
 *
 * @see template_preprocess_date_pager()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('date_pager/datepager') }}

{% if pager %}
    <nav class="pager date-pager" role="navigation" aria-labelledby="pagination-heading">
      <h4 id="pagination-heading" class="visually-hidden">{{ 'Pagination'|t }}</h4>
      <ul class="pager__items js-pager__items">
        {# Print first item if we are not on the first page. #}
        {% if pager.date %}
            <li class="pager__item pager__item__years">
              <h5 id="pagination-heading" class="visually-hidden">{{ pager.date['title'] }}</h5>
              <ul class="pager__items pager__items_years js-pager__items">
                {% for key, year in pager.date.items %}
                    <li class="pager__item__year{{ 'active' in year['attributes'].class ? ' is-active' : '' }}">
                      <a href="{{ year.url }}" class="year {{ year.attributes.class }}">
                        {{ year.title }}
                      </a>
                      {% if year.months %}
                      <li class="pager__item pager__item__years">
                        <h5 id="pagination-heading" class="visually-hidden">{{ items.months.title }}</h5>
                        <ul class="pager__items pager__items_months js-pager__items">
                          {% for key, month in year.months.items %}
                              <li class="pager__item__month {{ 'active' in month.attributes.class ? ' is-active' : '' }}">
                                <a href=" {{ month.url }}" class="month {{ month.attributes.class }}">
                                  {{ month.title}}
                                </a>
                                {% if month.days %}
                                <li class="pager__item pager__item__days">
                                  <h5 id="pagination-heading" class="visually-hidden">{{ month.days.title }}</h5>
                                  <ul class="pager__items pager__items_days js-pager__items">
                                    {% for key, day in month.days.items  %}
                                        <li class="pager__item__day{{ 'active' in day.attributes.class ? ' is-active' : '' }}">
                                          <a href="{{ day.url }}" class="day {{ day.attributes.class }}">
                                            {{ day.title }}
                                          </a>
                                        </li>
                                    {% endfor %}
                                  </ul>
                                </li>
                              {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                </li>
              {% endif %}
              </li>
            {% endfor %}
        </ul>
      </li>
    {% endif %}
    {% if pager.time %}
        <li class="pager__item pager__item__time">
          <h5 id="pagination-heading" class="visually-hidden">{{ pager.time.title }}</h5>
          <ul class="pager__items pager__items_days js-pager__items">
            {% for key, hour in pager.time.items %}
                <li class="pager__item__hour {{ 'active' in hour.attributes.class ? ' is-active' : '' }}">
                  <a href="{{ hour.url }}" class="day {{ hour.attributes.class }}">
                    {{ hour.title }}h
                  </a>
                  {% if hour.minutes %}
                  <li class="pager__item pager__item__hour">
                    <h5 id="pagination-heading" class="visually-hidden">{{ hour.minutes.title }}</h5>
                    <ul class="pager__items pager__items_days js-pager__items">
                      {% for key, minute in hour.minutes.items %}
                          <li class="pager__item__minute {{ 'active' in minute.attributes.class ? ' is-active' : '' }}">
                            <a href="{{ minute.url }}" class="day {{ minute.attributes.class }}">
                              {{ minute.title }}
                            </a>
                            {% if minute.seconds %}
                            <li class="pager__item pager__item__hour">
                              <h5 id="pagination-heading" class="visually-hidden">{{ minute.seconds.title }}</h5>
                              <ul class="pager__items pager__items_days js-pager__items">
                                {% for key, second in minute.seconds.items %}
                                    <li class="pager__item__second {{ 'active' in second.attributes.class ? ' is-active' : '' }}">
                                      <a href="{{ second.url }}" class="day {{ second.attributes.class }}">
                                        {{ second.title }}
                                      </a>
                                    </li>
                                {% endfor %}
                              </ul>
                            </li>
                          {% endif %}
                    </li>
                  {% endfor %}
                </ul>
            </li>
          {% endif %}
        </li>
    {% endfor %}
</ul>
</li>
{% endif %}
</ul>
</nav>
{% endif %}
