{{ attach_library('vsauce_sticky_popup/base_vsp') }}

<div class="vsp-wrapper {{ position }}{% if item['collapse'] == '0' %} vsp-collapse{% endif %}" >
  {% if position == 'bottom' %}
      <div class="vsp-action {{ item['action_wrapper']['position_open_button'] }}">
        <div class="vsp-button js-button">
          {% if item['action_wrapper']['position_arrow'] == 'prefix' %}
            <span class="tab">{{ item['action_wrapper']['tab_label'] }}</span>
          {% endif %}
          <span class="arrow"></span>
          {% if item['action_wrapper']['position_arrow'] == 'suffix' %}
            <span class="tab">{{ item['action_wrapper']['tab_label'] }}</span>
          {% endif %}
        </div>
      </div>
      <div class="vsp-content">
        <div class="project blue">
        </div>
        {% for key,content in item['content'] %}
          <div id="{{ key }}" class="item project blue">
            {{ content }}
          </div>
        {% endfor %}
      </div>

    {% elseif position == "top" %}


      <div class="vsp-content">
        {% for key,content in item['content'] %}
          <div id="{{ key }}" class="item">
            {{ content }}
          </div>
        {% endfor %}
      </div>
      <div class="vsp-action {{ item['action_wrapper']['position_open_button'] }}">
        <div class="vsp-button js-button">
          {% if item['action_wrapper']['position_arrow'] == 'prefix' %}
            <span class="tab">{{ item['action_wrapper']['tab_label'] }}</span>
          {% endif %}
          <span class="arrow"></span>
          {% if item['action_wrapper']['position_arrow'] == 'suffix' %}
            <span class="tab">{{ item['action_wrapper']['tab_label'] }}</span>
          {% endif %}
        </div>
      </div>

    {% elseif position == "left" %}
      <div class="vsp-content">

        {% for key,content in item['content'] %}
          <div id="{{ key }}" class="item">
            {{ content }}
          </div>
        {% endfor %}
      </div>
      <div class="vsp-action {{ item['action_wrapper']['position_open_button'] }}">
        <div class="vsp-button js-button">
          {% if item['action_wrapper']['position_arrow'] == 'prefix' %}
            <span class="tab">{{ item['action_wrapper']['tab_label'] }}</span>
          {% endif %}
          <span class="arrow"></span>
          {% if item['action_wrapper']['position_arrow'] == 'suffix' %}
            <span class="tab">{{ item['action_wrapper']['tab_label'] }}</span>
          {% endif %}
        </div>
      </div>

    {% elseif position == "right" %}
      <div class="vsp-action {{ item['action_wrapper']['position_open_button'] }}">
        <div class="vsp-button js-button">
          {% if item['action_wrapper']['position_arrow'] == 'prefix' %}
            <span class="tab">{{ item['action_wrapper']['tab_label'] }}</span>
          {% endif %}
          <span class="arrow"></span>
          {% if item['action_wrapper']['position_arrow'] == 'suffix' %}
            <span class="tab">{{ item['action_wrapper']['tab_label'] }}</span>
          {% endif %}
        </div>
      </div>
      <div class="vsp-content">

        {% for key,content in item['content'] %}
          <div id="{{ key }}" class="item">
            {{ content }}
          </div>
        {% endfor %}
      </div>

    {% endif %}
</div>
