{#
/**
 * @file
 * Default implementation of a mortgage calculator result template.
 *
 * Available variables:
 * - rows: A rows' array containing a calculation result per month/year
 * - desired_display: can contain one of values: 'monthly' or 'yearly'
 * - row.number_of_payments: number of payments
 * - row.payment: annual payment
 *
 */
#}
{{ mortgage_calculator_form }}
<table class="mortgage-calculator">
  <thead>
    <tr>
      <th>{{ desired_display == 'monthly'?'Month':'Year'|t }}</th>
      <th>{{ 'Beginning Balance'|t }}</th>
      <th>{{ 'Interest'|t }}</th>
      <th>{{ 'Annual Payment'|t }}</th>
      <th>{{ 'Ending Balance'|t }}</th>
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
      <tr>
        {% for column in row %}
          <td>
            {{ column }}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
