{#
/**
 * @file
 * Default template for the ordered_list element.
 *
 * Available variables:
 * - labels: Element labels data.
 * - items: Element items data.
 *
 * @ingroup themeable
 */
 #}
{% macro items(type, items, label, label_class) %}
  <div class="items items-{{ type }}">
    <label{% if label_class %} class="{{ label_class }}"{% endif %}>{{ label }}</label>
    <ul>
    {% for item in items %}
      <li data-value="{{ item.value }}" data-delta="{{ item.delta }}">{{ item.label }}</li>
    {% endfor %}
    </ul>
  </div>
{% endmacro %}
{% macro control(type, label) %}
    <a href="#" class="control control-{{ type }} button" title="{{ label }}">{{ label }}</a>
{% endmacro %}
<div{{ attributes }}>
  {{ _self.items('available', items.available, labels.items_available) }}
  <div class="controls controls-selection">
    {{ _self.control('select', labels.control_select) }}
    {{ _self.control('deselect', labels.control_deselect) }}
  </div>
  {% set class = element['#required'] ? 'form-required' : null %}
  {{ _self.items('selected', items.selected, labels.items_selected, class) }}
  <div class="controls controls-order">
    {{ _self.control('moveup', labels.control_moveup) }}
    {{ _self.control('movedown', labels.control_movedown) }}
  </div>
  {{ element }}
</div>
