<?php

/**
 * @file
 * Theme for showing follow/unfollow button and stat of follow & unfollow.
 */
?>
<form{{ attributes }}>
<div class="follow-unfollow-statistics">
  <div class ="container">
    <div class="row">
      <div class="col-md-4">
        {{ form.follow_unfollow_statistics }}
      </div>

      <div class="col-md-8">
        {{ form.submit_button }}
      </div>
    </div>
  </div>
</div>
{{ children }}
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
</form>

