{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - items: A list of the field items.
 *     Each item have
 *     - content : the content render array
 *     - attributes: The item attributes.
 * - settings: an array of available settings
 * - wrapper_class : a unique wrapper class
 * - filter_options : render array type item list for filter options
 * - entity : the entity object which host the field
 * - view_mode : the view mode used by entity
 *
 * @see template_preprocess_field_shuffle()
 *
 * @ingroup themeable
 */
#}
<div {{ wrapper_class }}>

  {% if filter_options %}
    <div class="shuffle-filters-container">
      {{ filter_options }}
    </div>
  {% endif %}

  {# Mandatory container - do not remove it #}
  <div class="shuffle-container">
    {% for item in items %}

      <div {{ item.attributes }}>
          <div class="shuffle-inner">
          {{ item.content }}
          {% if item.caption %}
            <span class="shuffle-caption">{{ item.caption }}</span>
          {% endif %}
          </div>
      </div>

    {% endfor %}
  </div>

</div>