{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_shuffle()
 *
 * @ingroup themeable
 */
#}

<div {{ wrapper_class }}>

  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}

  {% if filter_options %}
    <div class="shuffle-filters-container">
      {% if filter_label %}
        <div class="filter-label">{{ filter_label }}</div>
      {% endif %}
      {{ filter_options }}
    </div>
  {% endif %}

  {# Mandatory container - do not remove it #}
  <div class="shuffle-container">
    {% for row in rows %}
      {%
      set row_classes = [
      default_row_class ? 'views-row',
      ]
      %}

      <div{{ row.attributes.addClass(row_classes) }}>
        {% if row.content %}
          <div class="shuffle-inner">
          {{ row.content }}
          </div>
        {% endif %}
      </div>

    {% endfor %}
  </div>

</div>