{#
/**
 * @file
 * Default theme implementation for CARTO Sync listing table.
 *
 * Available variables:
 * - headers: Contains table headers.
 * - rows: Contains multiple rows. Each row contains:
 *   - view_name: The human-readable name of the view.
 *   - machine_name: Machine name of the view.
 *   - description: The description of the view.
 *   - displays: List of displays attached to the view.
 *   - operations: List of available operations.
 *
 * @see template_preprocess_carto_sync_listing_table()
 *
 * @ingroup themeable
 */
#}
<table{{ attributes.addClass('responsive-enabled') }}>
  <thead>
    <tr>
      {% for header in headers %}
        <th{{ header.attributes }}>{{ header.data }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
      <tr{{ row.attributes }}>
        <td class="carto-sync-display-name">
          <h3>{{ row.data.display_name.data }}</h3>
        </td>
        <td class="carto-sync-dataset-name">
          {{ row.data.dataset_name.data }}
        </td>
        <td class="carto-sync-dataset-status">
          {{ row.data.status.data }}
        </td>
        <td class="views-ui-view-operations">
          {{ row.data.operations.data }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
