{{ collapsed }}

<div class="expand expand--closed expand--field-{{ field_name }}">
  {{ expanded }}
</div>
<div class="expand--link-wrapper">
  <a href="#" class="expand--more" data-js-expand-target=".expand--field-{{ field_name }}">
    <span class="expand--label">{{ expand_link_label }}</span>
  </a>
</div>
