{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 *      - serial: Row index.
 *      - value: Absolute bar value.
 *      - title: Bar title.
 *      - color: Bar color.
 *   - options: Extra chart data.
 *      - id: Chart unique ID.
 * - title: The title of this group of rows. May be empty.
 *
 * @see charting_preprocess_views_style_charting_chart()
 * {{ devel_breakpoint() }}
 */
#}
<div{{ attributes }} data-chart-id="{{ options.id }}">
    {% if options.type == 'simple_bars' %}
        <div class="charting_chart-bars_chart" data-cols="{{ rows|length }}">
            {# Columns #}
            <div class="charting_chart-bars">
                {% for row in rows %}
                    <div class="charting_chart-col" data-serial="{{ row.content.serial }}">
                        <div class="charting_chart-bar" data-value="{{ row.content.value }}" {% if row.content.color is not empty %}style="background: {{ row.content.color }};"{% endif %}>&nbsp;</div>
                    </div>
                {% endfor %}
            </div>
            {# Column labels #}
            <div class="charting_chart-labels">
                {% for row in rows %}
                    <div class="charting_chart-col" data-serial="{{ row.content.serial }}">
                        <span class="charting_chart-porcent">{{ row.content.title }}</span>
                    </div>
                {% endfor %}
            </div>
            {# Legend #}
            <div class="charting_chart-responsive">
                {% for row in rows %}
                    <div class="charting_chart-responsive-line" data-serial="{{ row.content.serial }}">
                        <span class="charting_chart-color" {% if row.content.color is not empty %}style="background: {{ row.content.color }};"{% endif %}>&nbsp;&nbsp;</span>&nbsp;
                        <span class="charting_chart-porcent">{{ row.content.value }}</span>&nbsp;
                        <span class="charting_chart-label">{{ row.content.title }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    {# @todo: Allow include required templates. #}
    {% elseif options.type == 'chartjs_doughnut' or options.type == 'chartjs_semi_doughnut' or options.type == 'chartjs_pie' or options.type == 'chartjs_semi_pie' or options.type == 'chartjs_line' or options.type == 'chartjs_horizontal_bars' or options.type == 'chartjs_vertical_bars' %}
        <canvas id="{{ options.id }}" data-chart-type="{{ options.type }}"></canvas>
        <table id="{{ options.id }}_data" style="display: none;">
            <tr>
                <th>serial</th>
                <th>title</th>
                <th>value</th>
                <th>color</th>
            </tr>
            {% for row in rows %}
                <tr>
                    <td>{{ row.content.serial }}</td>
                    <td>{{ row.content.title }}</td>
                    <td>{{ row.content.value }}</td>
                    <td>{{ row.content.color }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>
