<div id="SkypeButton_{{ unique_id }}">
    <script type="text/javascript">
        Skype.ui({
            "name": "{{ skype_name }}",
            "element": "SkypeButton_{{ unique_id }}",
            "participants": ["{{ skype_id }}"],
            "imageColor": "{{ image_color }}",
            "imageSize": {{ image_size }}
        });
    </script>
</div>