{#
/**
 * @file
 * Default theme implementation for the IBP Catalog.
 *
 * - language:
 * - target:
 * - sub_category_key:
 * - friendly_size:
 * - product_domain:
 * - company:
 * - items: A list of web compoents, each with the following properties:
 *   - calculatedurl: Url of the web component.
 *   - language:
 *   - description:
 *   - descriptionlong:
 *   - companycode:
 *   - companyname:
 *   - productname:
 *   - descriptionnl:
 *   - descriptionlongnl:
 *   - descriptionfr:
 *   - descriptionlongfr:
 *   - productdomaincodekey:
 *   - targetkey:
 *   - categorykey:
 *   - categorydescription:
 *   - subcategorykey:
 *   - subcategorydescription:
 *   - displaymodekey:
 *   - friendlysizekey:
 *   - width: Width in pixel of the web component. Apply only to images, video..
 *   - height: Height in pixel of the web component. Apply only to images, video...
 *   - productvalidity:
 *   - productvisiblefrom:
 *   - productvisibleuntil:
 *   - itemvalidity:
 *   - itemvisiblefrom:
 *   - itemvisibleuntil:
 *   - brokercomments:
 *   - catalogitemguid:
 *   - productguid:
 *   - catalogguid:
 *   - secureguid:
 *   - productdomaincodedescriptionfr:
 *   - productdomaincodedescriptionnl:
 *   - categoryfr:
 *   - subcategoryfr:
 *   - companynamefr:
 *
 * @see template_preprocess_ibpcatalog()
 *
 * @ingroup themeable
 <div class="owl-carousel" data-plugin-options='{"items": 1, "autoHeight": true, "autoPlay": true, "stopOnHover": true, "pagination": false, "paginationSpeed": 3000}'>
  {% for item in items %}
    <div>
      <iframe z-index="1" width="{{ item.width }}" height="{{ item.height }}" src="{{ item.calculatedurl }}" frameborder="0" scrolling="no"></iframe>
    </div>
  {% endfor %}
</div>
 */
#}

<!-- language: {{ language }} -->
<!-- target: {{ target }} -->
<!-- sub_category_key: {{ sub_category_key }} -->
<!-- friendly_size: {{ friendly_size }} -->
<!-- product_domain: {{ product_domain }} -->
<!-- company: {{ company }} -->

{% if sub_category_key in ['IBPSC-11', 'IBPSC-08', 'IBPSC-12'] %}

  <ul>
  {% for item in items %}
    <li>
      <!-- subcategorykey: {{ item.subcategorykey }} -->
      <!-- subcategoryfr: {{ item.subcategoryfr }} -->

      <!-- friendlysizekey: {{ item.friendlysizekey }} -->

      <!-- productdomaincodekey: {{ item.productdomaincodekey }} -->
      <!-- productdomaincodedescriptionfr: {{ item.productdomaincodedescriptionfr }} -->

      <!-- companycode: {{ item.companycode }} -->
      <!-- companyname: {{ item.companyname }} -->

      <a href="{{ item.calculatedurl }}" title="{{ item.descriptionlong }}" target="_blank">{{ item.productname }}: {{ item.description }}</a>
    </li>
  {% endfor %}
  </ul>

{% else %}

  <div>
    {% for item in items %}
      <div>
        <!-- subcategorykey: {{ item.subcategorykey }} -->
        <!-- subcategoryfr: {{ item.subcategoryfr }} -->

        <!-- friendlysizekey: {{ item.friendlysizekey }} -->

        <!-- productdomaincodekey: {{ item.productdomaincodekey }} -->
        <!-- productdomaincodedescriptionfr: {{ item.productdomaincodedescriptionfr }} -->

        <!-- companycode: {{ item.companycode }} -->
        <!-- companyname: {{ item.companyname }} -->

        <iframe z-index="1" width="{{ item.width }}" height="{{ item.height }}" src="{{ item.calculatedurl }}" frameborder="0" scrolling="no"></iframe>
      </div>
    {% endfor %}
  </div>

{% endif %}
