<section {{ attributes }}>
  <div {{ settings.container }}>
    {{ title }}
    <div class="layout-grid grid-one">
      <div {{ region_attributes.content }}>
        {{ content.content }}
      </div>
    </div>
    {{ link }}
  </div>
</section>
