<div{{ attributes }}>
  {% if message %}
    <div{{ title_attributes }}>{{ message }}</div>
    {% if message_severity != 'error' %}
      <pre{{ content_attributes }}>
{{ function_human }}
{{ result_type_human }}
{{ result_value_human }}
{% if show_matches %}
{{ matches_human }}
{% endif %}
      </pre>
    {% endif %}
  {% endif %}
</div>
