<a data-init="{{ current_value }}" class="data-switcher switch switch-green{{ class_link }}" data-true="{{ value_on }}"
   data-false="{{ value_off }}"
   data-label-on="{{ value_label_on }}"
   data-label-off="{{ value_label_off }}" data-type="{{ entity_type }}" data-id="{{ id_entity }}"
   data-field="{{ entity_field_change }}"
   href="{{ ajax_url }}">
    <span class="status">{{ label }}</span>
    <span class="switch-label" data-on="On" data-off="Off"></span>
    <span class="switch-handle"></span>
</a>