{#
/**
 * @file
 * Default theme implementation of modal add paragraph dialog template.
 *
 * Following classes have custom use:
 *   - paragraphs-add-dialog - is used to wrap the dialog.
 *   - paragraphs-add-dialog-row - is used to wrap the paragraph type rows.
 *
 *
 * @ingroup themeable
 */
#}
{{ add }}
<div class="paragraphs-add-dialog js-hide">
  {% if buttons %}
    <label class="label__buttons">{{ buttons_title }}</label>
    <ul class="paragraphs-add-dialog-list paragraphs-add-dialog-list__buttons">
      {% for button in buttons %}
        <li class="paragraphs-add-dialog-row">
          {{ button }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if sets %}
    <label class="label__sets">{{ sets_title }}</label>
    <ul class="paragraphs-add-dialog-list paragraphs-add-dialog-list__sets">
      {% for set in sets %}
        <li class="paragraphs-add-dialog-row">
          {{ set }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
