{% set classes = 'card' %}

<div class='{{ classes }}' style='background-image:url("{{ image }}")'>
  <div class="card__body">
    <h2 class="card__title">{{ title }}</h2>
    <p class="card__content">{{ content }}</p>
    <div class="card__actions">{{ actions }}</div>
  </div>
</div>
