<div class="row">
  {% if content.top %}
    <div class="col-sm-12">
      {{ content.top }}
    </div>
  {% endif %}

  {% if content.left %}
    <div class="col-sm-4">
      {{ content.left }}
    </div>
  {% endif %}

  {% if content.middle %}
    <div class="col-sm-4">
      {{ content.middle }}
    </div>
  {% endif %}

  {% if content.right %}
    <div class="col-sm-4">
      {{ content.right }}
    </div>
  {% endif %}

  {% if content.bottom %}
    <div class="col-sm-12">
      {{ content.bottom }}
    </div>
  {% endif %}
</div>
