{#
/**
 * @file
 * Elastic Email dashboard
 */
#}
<p>{{ 'Elastic Email is a (commercial) mail relay service. It is particularly of use as a mail relay for cloud-hosted (e.g. Amazon EC2) websites that may be subject to IP-based spam filtering, or sites that have restrictions on outbound ports.' | t }}</p>
<p>{{ 'This module intercepts outgoing Drupal mail, and delivers it to the Elastic Email REST-style service over HTTPS. Note that email is delivered as though all recipients are BCC (that is, recipients cannot see other recipients of the message).' | t }}</p>
<p>{{ 'To use the service, visit the <a href="http://elasticemail.com">Elastic Email website</a> and sign-up to get an account <em>username</em> and <em>API Key</em>.' | t }}</p>

<div class="ee-dashboard">
  <div class="ee-dashboard-box">
    <div>
      <span class="ee-dashboard-value">{{ data['credit'] }} {{ data['currency'] }}</span>
      {{ 'Current Credit Amount'|t }}
    </div>
  </div>
  <div class="ee-dashboard-box">
    <div>
      <span class="ee-dashboard-value">{{ data['totalemailssent'] }}</span>
      {{ 'Emails Sent'|t }}
    </div>
  </div>
  <div class="ee-dashboard-box">
    <div>
      <span class="ee-dashboard-value">{{ data['priceperemail'] * 1000 }} {{ data['currency'] }}</span>
      {{ 'Cost per thousand'|t }}
    </div>
  </div>
  <div class="ee-dashboard-box">
    <div>
      <span class="ee-dashboard-value">{{ data['reputation'] }}</span>
      {{ 'Reputation'|t }}
    </div>
  </div>
</div>
