{#
/**
 * @file
 * Default theme implementation for the expand formatter.
 * @ingroup themeable
 */
#}

<div id="expandformatter" class="expanding-formatter expanding-formatter-processed collapsed" 
{% for key,value in attributes %}
 {{key}}="{{value}}"
{% endfor %}>

{% if summarydata %}
<div class="expanding-formatter-summary">{{ summarydata|raw }}</div>
{% endif %}


{% if attributes['data-ellipsis'] == 1 %}
	<span class="expanding-formatter-ellipsis">{{ ellipsis }}</span>	
{% endif %}	

{% if contentdata.value %}
<div class="expanding-formatter-content">{{ contentdata.value|raw }}</div>
{% endif %}

<div class="expanding-formatter-trigger"><a href="javascript:void(0)" class="{{ triggerclass }}">{{ attributes['data-expanded-label'] }}</a>
</div>

</div>
