{#
/**
 * @file
 * Provides xero-employee.html.twig
 *
 * Available variables:
 *   - item: The data in an associative array.
 *   - attributes: attributes to apply to the main element.
 */
#}
<article {{ attributes }}>
  <h3 class="title" itemprop="name">{{ item.FirstName }} {{ item.LastName }}</h3>

  {% if item.ExternalLink %}
    <a href="{{ item.ExternalLink.Url }}" itemprop="url" rel="nofollow">{{ item.ExternalLink.Url }}</a>
  {% endif %}
</article>