{#
/**
 * @file
 * Provides xero-invoice.html.twig
 *
 * Available variables:
 *   - invoice: The data in an associative array.
 *   - attributes: attributes to apply to the main element.
 */
#}
<article {{ attributes }}>
  <h3 class="title" itemprop="name">{{ invoice.InvoiceNumber }}</h3>

  <header class="xero-contact-wrapper" itemprop="customer" itemscope itemtype="http://schema.org/Person">
    {{ contact }}
  </header>

  <aside class="xero-meta">
    <span itemprop="paymentStatus">Status: {{ invoice.Status }}</span>
    <span>Type: {{ invoice.Type }}</span>
    <span>Reference: {{ invoice.Reference }}</span>
    <span>Amount Due: {{ invoice.AmountDue }}</span>
    <span>Amount Paid: {{ invoice.AmountPaid }}</span>
  </aside>

  <div class="xero-line-item-wrapper">
    {{ items }}
  </div>

  {{ payments }}

  <footer>
    <a href="{{ invoice.Url }}" rel="nofollow" itemprop="url">{{ invoice.Url }}</a>
  </footer>
</article>