{#
/**
 * @file
 * Provides xero-receipt.html.twig
 *
 * Available variables:
 *   - receipt: The data in an associative array.
 *   - items: Line items render array
 *   - contact: Contact render array
 *   - user: User render array
 *   - attributes: attributes to apply to the main element.
 */
#}
<article {{ attributes }}>
  <h3 class="title">{{ receipt.ReceiptNumber }}</h3>

  <header class="xero-contact-wrapper">
    {{ contact }}
  </header>

  <aside class="xero-user-wrapper">
    {{ user }}
  </aside>

  <aside class="xero-meta">
    <span>Status: {{ receipt.Status }}</span>
    <span>Reference: {{ receipt.Reference }}</span>
  </aside>

  <div class="xero-line-item-wrapper">
    {{ items }}
  </div>

  {{ payments }}

  <footer>
    <a href="{{ receipt.Url }}" rel="nofollow">{{ receipt.Url }}</a>
  </footer>
</article>