{#
/**
 * @file
 * Provides xero-item.html.twig
 *
 * Available variables:
 *   - item: The data in an associative array.
 *   - attributes: attributes to apply to the main element.
 */
#}
<article {{ attributes }}>
  <h3 class="title">{{ item.Code }}</h3>

  <div>
    {{ item.Description }}
  </div>

  <aside>
    <h4>Purchase</h4>
    <span>{{ item.PurchaseDetails.UnitPrice }}</span>
  </aside>

  <aside>
    <h4>Sales</h4>
    <span>{{ item.SalesDetails.UnitPrice }}</span>
  </aside>
</article>