{#
/**
 * @file
 * Provides xero-reference.html.twig.
 *
 * Available variables:
 *   - guid: the guid from the field data.
 *   - label: the label from the field data.
 *   - type: the xero type plugin id from the field data.
 *   - type_label: the xero data type label.
 *   - attributes: attributes to set on the wrapper element.
 *   - definition: data definition for the xero data type.
 *   - item: field item.
 *   - settings: the settings array from the formatter.
 */
#}
<div{{ attributes }}>
  {% if type %}
  <span class="xero-type-label">{{ type_label }}</span>
  {% endif %}

  {% if label %}
  <span class="xero-label xero-label--{{ type }}">{{ label }}</span>
  {% endif %}

  {% if guid %}
  <span class="xero-guid xero-guid--{{ type }}">{{ guid }}</span>
  {% endif %}
</div>
