{#
/**
 * @file
 * Provides xero-user.html.twig
 *
 * Available variables:
 *   - item: The data in an associative array.
 *   - attributes: attributes to apply to the main element.
 */
#}
<article {{ attributes }}>
  <h3 class="title" itemprop="name">{{ item.FirstName }} {{ item.LastName }}</h3>
  <span>E-mail:</span> <a href="mailto:{{ item.EmailAddress }}" itemprop="email">{{ item.EmailAddress }}</a>

  <aside>
    <span>Role: {{ item.OrganisationRole }}</span>
    <span>Last Updated At: {{ item.UpdatedDateUTC }}</span>
  </aside>
</article>