{#
/**
 * @file
 * Provides xero-journal.html.twig
 *
 * Available variables:
 *   - journal: The data in an associative array.
 *   - items: Journal line item table array.
 *   - attributes: attributes to apply to the main element.
 */
#}
<article {{ attributes }}>
  <h3 class="title">{{ journal.JournalNumber }}</h3>

  <aside class="xero-meta">
    <span>{{ journal.SourceType }}</span>
    <span>{{ journal.Reference }}</span>
  </aside>

  <div class="xero-line-item-wrapper">
    {{ items }}
  </div>

  <footer>
    <span>{{ journal.CreatedDateUTC }}</span>
  </footer>
</article>