{#
/**
 * @file
 * Provides xero-credit-note.html.twig
 *
 * Available variables:
 *   - credit: The data in an associative array.
 *   - contact: Contact render array.
 *   - items: Line items table render array.
 *   - attributes: attributes to apply to the main element.
 */
#}
<article {{ attributes }}>
  <h3 class="title">{{ credit.CreditNoteNumber }}</h3>

  <header class="xero-contact-wrapper" itemscope itemtype="http://schema.org/Person">
    {{ contact }}
  </header>

  <aside class="xero-meta">
    <span>Status: {{ credit.Status }}</span>
    <span>Type: {{ credit.Type }}</span>
    <span>Reference: {{ credit.Reference }}</span>
  </aside>

  <div class="xero-line-item-wrapper">
    {{ items }}
  </div>

</article>