{#
/**
 * @file
 * Provides xero-account.html.twig
 *
 * Available variables:
 *   - item: The account data in an associative array.
 *   - attributes: attributes to apply to the main element.
 */
#}
<article {{ attributes }}>
  <h3 class="title">{{ item.Code }}: {{ item.Name }}</h3>
  <aside>
    <span>Type: {{ item.Type }}</span>
    <span>Tax Type: {{ item.TaxType }}</span>
    <span>Class: {{  item.Class }}</span>
    <span>Bank Account: {{ item.BankAccountNumber }}</span>
  </aside>
  <div>
    {{ item.Description }}
  </div>
</article>