{#
/**
 * @file
 * Provides xero-contact.html.twig
 *
 * Available variables:
 *   - item: The data in an associative array.
 *   - attributes: attributes to apply to the main element.
 *   - name: optional first and/or last name of the contact.
 */
#}
<article {{ attributes }}>
  <h3 itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
    <span itemprop="name">{{ item.Name }}</span>
  </h3>

  {% if name %}
    <span itemprop="name">{{ name }}</span>
  {% endif %}

  <aside>
    {% if item.EmailAddress %}
      <span itemprop="email">E-mail: {{ item.EmailAddress }}</span>
    {% endif %}
    {% if item.SkypeUserName %}
      <span>Skype: {{ item.SkypeUserName }}</span>
    {% endif %}

    {% if item.Phones %}
      <ul>
        <h4>Phone</h4>
        {% for phone in item.Phones %}
          <li itemprop="telephone">
            {{ phone.PhoneType }}:
            {{ phone.PhoneCountryCode }}
            {{ phone.PhoneAreaCode }}
            {{ phone.PhoneNumber }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if item.Addresses %}
      <div class="xero-address-wrapper">
      {% for address in item.Addresses %}
        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="name">{{ address.AttentionTo }}</span>
          <span itemprop="streetAddress">
            {{ address.AddressLine1 }}
            {{ address.AddressLine2 }}
            {{ address.AddressLine3 }}
            {{ address.AddressLine4 }}
          </span>
          <span itemprop="addressLocality">{{ address.City }}</span>
          <span itemprop="addressRegion">{{ address.Region }}</span>
          <span itemprop="postalCode">{{ address.PostalCode }}</span>
          <span itemprop="addresSCountry">{{ address.Country }}</span>
        </div>
      {% endfor %}
      </div>
    {% endif %}
  </aside>
</article>