{#
/**
 * @file
 * Provides xero-bank-transaction.html.twig
 *
 * Available variables:
 *   - transaction: The data in an associative array.
 *   - contact: The contact render array.
 *   - items: The line items for the bank transaction.
 *   - attributes: attributes to apply to the main element.
 */
#}
<article {{ attributes }}>
  <h3 class="title">{{ transaction.BankTransactionID }}</h3>

  <header class="xero-contact-wrapper">
    {{ contact }}
  </header>

  <aside class="xero-meta">
    <span>Status: {{ transaction.Status }}</span>
    <span>Type: {{ transaction.Type }}</span>
    <span>Reference: {{ transaction.Reference }}</span>
    <span>Date: {{ transaction.Date }}</span>
  </aside>

  <div class="xero-line-item-wrapper">
    {{ items }}
  </div>

  <footer>
    <a href="{{ transaction.Url }}" rel="nofollow">{{ transaction.Url }}</a>
  </footer>
</article>