{#
/**
 * @file
 * Provides xero-expense.html.twig
 *
 * Available variables:
 *   - expense: The data in an associative array.
 *   - receipts: Line items render array
 *   - payments: Contact render array
 *   - user: User render array
 *   - attributes: attributes to apply to the main element.
 */
#}
<article {{ attributes }}>
  <h3 class="title">{{ receipt.ReceiptNumber }}</h3>

  <header class="xero-user-wrapper">
    {{ user }}
  </header>

  <aside class="xero-meta">
    <span>Status: {{ expense.Status }}</span>
    <span>Amount Due: {{ expense.AmountDue }}</span>
    <span>Amount Paid: {{ expense.AmountPaid }}</span>
    <span>Reporting Date: {{ expense.ReportingDate }}</span>
  </aside>

  {{ receipts }}

  {{ payments }}
</article>