{#
/**
 * @file
 * Theme for a field part of widget form element on demand.
 *
 * To override output, copy the "widget-on-demand-field.html.twig" from the
 * templates directory to your theme's directory and customize it, just like
 * customizing other Drupal templates such as page.html.twig or node.html.twig.
 *
 * Available variables:
 * - label: The label for the field.
 * - multiple: TRUE if the field item is part of a multiple field.
 * - content: The field item's content.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 *
 * @see template_preprocess_widget_on_demand_field()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
  ]
%}
{%
  set title_classes = [
    'field__label'
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {% if not multiple %}
    <div{{ title_attributes.addClass(title_classes) }}>
      {{ label }}
    </div>
  {% endif %}
  <span title={% trans %}"Click to edit"{% endtrans %}>
    {% if is_empty %}
    <div class="widget-on-demand-form-element-empty-on-form-build">
      {{ content }}
    </div>
    {% else %}
      {{ content }}
    {% endif %}
  </span>
</div>
