{%
set classes = [
    'ds-grid',
    settings['wrapper_class']
]
%}
<div{{ attributes.addClass(classes) }}>
    {% if not label_hidden %}
        <{{ settings['label_tag'] }} class="field-label-{{ element['#label_display']|clean_class }} {{ settings['label_class'] }} ds-grid-label">
            {{- label }}
        </{{ settings['label_tag'] }}>
    {% endif %}

    <div class="{{ settings['row_class'] }}">
        {% for i, item in items %}
            {% if i != 0 and i is divisible by(settings['no_cols']) %}
                </div>
                <div class="{{ settings['row_class'] }}">
            {% endif %}
            <div class="{{ settings['item_class'] }}">
                {{ item.content }}
            </div>
        {% endfor %}
    </div>
</div>
