{#
/**
 * @file
 * Default theme implementation for CiviMail digest HTML mail.
 * Variables:
 * - base_path : The absolute URL, with a trailing slash.
 *   Allows template overrides to load assets provided by the current theme
 *   with {{ base_path ~ directory }}
 * - entities: An array
 * - is_test : A boolean indicating that the mail is used in test mode.
 * - digest_title
 * - digest_id
 * - absolute_link
 * - absolute_url
 * - translation_links
 * - civicrm_unsubscribe_url
 * @todo add documentation
 *
 * @ingroup themeable
 */
#}

{% if civicrm_header %}
  {{ civicrm_header }}
{% endif %}

{{ absolute_link }}

{% if translation_links %}
  {% trans %}View in other languages {{ translation_links }}{% endtrans %}
{% endif %}

{% if digest_title %}
  <h1>{{ digest_title }}</h1>
{% endif %}

{% for entity in entities %}
  {{ entity }}
{% endfor %}

{% if civicrm_footer %}
  {{ civicrm_footer }}
{% endif %}

{% if civicrm_unsubscribe_url %}
  <a href="{{ civicrm_unsubscribe_url }}" class="unsubscribe">{{ 'Unsubscribe'|t }}</a>
{% endif %}
