{#
/**
 * @file
 * Default theme implementation for CiviMail Digest action links.
 *
 * Available variables:
 * - configure_url
 * - preview_url
 * - prepare_url
 *
 * @ingroup themeable
 */
#}

<ul class="civicrm-digest-actions list-inline">
  <li>
    <a href="{{ configure_url }}" class="button button--small">
      <i class="fa fa-cog"></i> {{ "Configure"|t }}
    </a>
  </li>
  <li>
    <a href="{{ preview_url }}" class="button button--small">
      <i class="fa fa-eye"></i> {{ "Preview"|t }}
    </a>
  </li>
  <li>
    <a href="{{ prepare_url }}" class="button button--small button--primary">
      <i class="fa fa-paper-plane"></i> {{ "Prepare digest"|t }}
    </a>
  </li>
</ul>
