{#
/**
 * @file
 * Medium blog articles template
 */
#}

<div class="medium-articles">
  {% if config_fields_medium_array == TRUE %}
    <div>{{ 'There are no values in the module. Please configure the Medium Blog Articles module.'|trans }}</div>
  {% elseif medium_array is empty %}
    <div>{{ 'There are no articles in the Publication.'|trans }}</div>
  {% else %}
    {% for key, value in medium_array %}
      <div class="col-xs-12 col-sm-6 col-md-4 medium-article-card">
        <div class="card-inside">
          <div class="medium-image"><img src={{ value.image }}></div>
          <div class="medium-claps">{{ value.claps }} <span>claps</span></div>
          <div class="medium-title">
            <a href={{ value.url }}>{{ value.title }}</a>
          </div>
          <div class="medium-bottom">
            <div class="medium-author">by {{ value.author }}</div>
            <span>|</span>
            <div class="medium-date">{{ value.post_date }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
