{#
/**
 * @file
 * Default theme implementation for the Entity Switcher form element adding
 * custom classes and elements.
 *
 * @ingroup templates
 */
#}
{% set switcher_classes = element['#default_value'] == 'data_off' ? 'switcher-status-off' : 'switcher-status-on' %}
{% set element_class = element['#attributes'].class|join(' ')|trim %}

<div {{ attributes.addClass('entity-switcher-wrapper') }}>
  {% block content %}
    {% if children is not empty %}
      <ul class="switcher-label-wrapper">
        <label class="entity-switcher-container">
          {{ children }}
          <div class="{{ element_class }} {{ switcher_classes }} switcher-slider switcher-round">
            <span class="switcher-off">{{ element['#data_off'] }}</span>
            <span class="switcher-on">{{ element['#data_on'] }}</span>
          </div>
        </label>
      </ul>
    {% endif %}
    {% if children is not empty %}
      <div class="switcher-entity-off"{% if element['#default_value'] != 'data_off' %} style="display: none;"{% endif %}>{{ element['#entity_off'] }}</div>
      <div class="switcher-entity-on"{% if element['#default_value'] == 'data_off' %} style="display: none;"{% endif %}>{{ element['#entity_on'] }}</div>
    {% elseif element['#default_value'] == 'data_off' %}
      <div class="switcher-entity-off">{{ element['#entity_off'] }}</div>
    {% elseif element['#default_value'] == 'data_on' %}
      <div class="switcher-entity-on">{{ element['#entity_on'] }}</div>
    {% endif %}
  {% endblock %}
</div>
