{#
/**
 * @file
 * Template for a 2 cell panel layout.
 *
 * This template provides a two cell panel display layout, with
 * each cell roughly equal in width.
 *
 * Variables:
 * - css_id: An optional CSS id to use for the layout.
 * - content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.left: Content in the left cell.
 *   - content.right: Content in the right cell.
 *
 * Regions available:
 * - Subline (Inline Fields)
 * - Top
 * - Main
 * - Main (Full Width)
 * - Bottom
 * - content / "Custom" (used to place fields directly in the node.html.twig - not printed out per default)
 */
#}
<div {{ attributes.setAttribute('id', settings.css_id).addClass('node-layout--default', settings.css_classes) }}>
  {% if content.subline|render|striptags('<img>')|trim|length > 0 %}
    <div class="layout-node-default__subline subline field-container field-container--inline grid-container mb-md">
      {{ content.subline }}
    </div>
  {% endif %}
  {% if content.top|render|striptags('<img>')|trim|length > 0 %}
    <div class="layout-node-default__top field-container grid-container">
      {{ content.top }}
    </div>
  {% endif %}
  {% if content.main|render|striptags('<img>')|trim|length > 0 and content.main_aside|render|striptags('<img>')|trim|length > 0 %}
    <div class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="layout-node-default__main field-container cell small-12 large-8">
          {{ content.main }}
        </div>
        <aside class="layout-node-default__aside field-container cell small-12 large-4">
          {{ content.main_aside }}
        </aside>
      </div>
    </div>
  {% elseif content.main|render|striptags('<img>')|trim|length > 0 %}
    <div class="layout-node-default__main field-container grid-container">
      {{ content.main }}
    </div>
  {% endif %}
  {% if content.main_full|render|striptags('<img>')|trim|length > 0 %}
    <div class="layout-node-default__main-full field-container viewport-width">
      {{ content.main_full }}
    </div>
  {% endif %}
  {% if content.bottom|render|striptags('<img>')|trim|length > 0 %}
    <div class="layout-node-default__bottom field-container grid-container">
      {{ content.bottom }}
    </div>
  {% endif %}
</div> <!-- /.foundation-2col -->
