{# {{ kint(fields) }} #}

{% if fields.field_default_widget_text %}
  <div id="{{ wrapper_id }}" class="{{ wrapper_classes }} {{ template_theme }}">
    {{ title_suffix }}

    <h1>Text Widget</h1>

    {#
    <h2>Loop Through Fields</h2>

    {% for key,value in fields %}
      <p>
        <h3>{{ key }}</h3>

        {% for key2,value2 in value %}
          {% if value2 is iterable %}

            <blockquote>
              {% for key3,value3 in value2 %}
                {% if value3 is not iterable %}
                  <div><strong>{{ key3 }}:</strong> {{ value3 }}</div>
                {% endif %}
              {% endfor %}
            </blockquote>

          {% else %}
            <div><strong>{{ key2 }}:</strong> {{ value2 }}</div>
          {% endif %}
        {% endfor %}
      </p>
    {% endfor %}
    #}

    {# Text Field #}
    <h2>Text Field</h2>
    {{ fields.field_default_widget_text }}

    {# Image #}
    {% if fields.field_default_widget_image %}
      <h2>Image Field</h2>
      <img src="{{ fields.field_default_widget_image.url }}">
      <div>{{ fields.field_default_widget_image.title }}</div>

      <h2>Image Field Using Image Style (thumbnail)</h2>
      {# Output an image using a specific image style #}
      {{ fields.field_default_widget_image|image('thumbnail', 'my-class') }}
    {% endif %}

  </div>
{% endif %}