{#
/**
 * @file owlcarousel2.html.twig
 * Default theme implementation to present OwlCarousel2 data.
 *
 * This template is used when viewing OwlCarousel2 pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_owlcarousel2()
 *
 * @ingroup themeable
 */
#}
{% if not carousel_navigation %}
<div id="owlcarousel2-wrapper-{{ id }}" class="owlcarousel2-wrapper">
  <div id="owlcarousel2-id-{{ id }}" class="owl-carousel owl-theme owlcarousel2" {{ attributes }}>
    {% if content %}
      {{ content }}
    {% endif %}
  </div>
  <div id="owl-text-navigation-{{ id }}" class="owl-text-navigation">
    {% for item in  nav_titles %}
      <div class="owl-text-navigation-item" style="background: url({{ item.image_nav }}); background-size: cover;">
        <a class="owl-text-navigation-link" href="#{{ item.id }}">{{ item.title }}</a>
        <div class="owl-text-navigation-text-bg"></div>
      </div>
    {% endfor %}
  </div>
</div>
{% else %}
  <div id="owlcarousel2-wrapper-{{ id }}" class="owlcarousel2-wrapper owlcarousel2-navigation">
    <div id="owlcarousel2-id-{{ id }}" class="owl-carousel owl-theme owlcarousel2" {{ attributes }}>
      {% if content %}
        {{ content }}
      {% endif %}
    </div>
    <div id="owl-text-navigation-{{ id }}" class="owl-carousel owl-theme owlcarousel2 owl-text-navigation owl-navigation-as-carousel">
      {% for item in  nav_titles %}
        <div class="owl-text-navigation-item {{ item.id }}" data-owl-item-id="{{ item.id }}" onclick="location.href='#{{ item.id }}'" style="
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
         ">
          <div class="owl-text-navigation-image" style="
              background: url({{ item.image_nav }});
              background-size: cover;
              background-repeat: no-repeat;
              width: {{ nav_width }}px;
              height: {{ nav_height }}px;
              "></div>
          <div class="owl-text-navigation-text" href="#{{ item.id }}" style="position: absolute">{{ item.title }}</div>
          <div class="owl-text-navigation-text-bg" style="position: absolute"></div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}