<div class="item-id" data-owl-item-id="{{ elements.item_id }}">
  {% set classes = [
  elements.position.content_vertical_position,
  elements.position.content_horizontal_position,
  elements.position.content_over_image,
  ] %}
  {% if elements.url %}
  <div data-href="{{ elements.url }}" class="owlcarousel2-href">
    {% endif %}
    <div class="owlcarousel2-item-image" data-hash="{{ elements.item_id }}">
      <div class="owlcarousel2-node-wrapper">
        <div class="owlcarousel2-item-image-img">{{ elements.image }}</div>
        {% if elements.node %}
          <div class="owlcarousel2-node-inner {{ classes|join(' ') }}"
               style="right: 0;"
               data-owl-top="{{ elements.top }}"
               data-owl-right="{{ elements.right }}"
               data-owl-bottom="{{ elements.bottom }}" data-owl-left="{{ elements.left }}">
            {{ elements.node }}
          </div>
        {% endif %}
      </div>
    </div>
    {% if elements.url %}
  </div>
  {% endif %}
</div>