{% if content %}

  <article{{ attributes.addClass('owlcarousel-node') }}>
    <div data-hash="owl-hash-nid-{{ url|split('/')|last }}" data-owl-background-color="{{ attributes.background_color }}" class="owlcarousel-node-box">
    {% if label %}
      {{ title_prefix }}
      <h2{{ title_attributes.addClass('owlcarousel-node-title') }}>
        <a href="{{ url }}" rel="bookmark" class="owlcarousel-node-title-link" data-owl-title-color="{{ attributes.title_color }}">{{ label }}</a>
      </h2>
      {{ title_suffix }}
    {% endif %}

    <div{{ content_attributes.addClass('node__content', 'owlcarousel-node-content') }} data-owl-content-color="{{ attributes.content_color }}">
      {{ content }}
    </div>
    </div>
  </article>
{% endif %}