{#
/**
 * @file
 * Default theme implementation to display a message_thread.
 *
 * Available variables:
 * - message_thread: The message_thread entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - message_thread.getCreatedTime() will return the message_thread creation timestamp.
 *   - message_thread.hasField('field_example') returns TRUE if the message_thread bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   Calling other methods, such as message_thread.delete(), will result in an exception.
 *   See \Drupal\message_thread\Entity\message_thread for a full list of public properties and
 *   methods for the message_thread object.
 * - content: All message_thread items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current message_thread.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - message_thread: The current template type (also known as a "theming hook").
 *   - message_thread--template-[template]: The current message_thread type. For example, if the message_thread is an
 *     "Article" it would result in "message_thread--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - message_thread--view-mode-[view_mode]: The View Mode of the message_thread; for example, a
 *     teaser would result in: "message_thread--view-mode-teaser", and
 *     full: "message_thread--view-mode-full".
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 *
 * @see template_preprocess_message_thread()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>

  <div{{ content_attributes }}>
    {{ content }}
  </div>

</article>
