{% if links|length %}
    {% if text_before %}
        <div class="link-list__text-before">
            {{ text_before }}
        </div>
    {% endif %}
    <dl class="link-list">
        {% for link in links %}
            <dt>{{ link.value }}</dt>
            {% if link.title is defined %}
                <dd>{{ link.title }}</dd>
            {% endif %}
            {% if link.href is defined %}
                <dd>
                    <a href="{{ link.href }}"
                       {% if target %}target="{{ target }}"{% endif %}>{{ link.href }}</a>
                </dd>
            {% endif %}
        {% endfor %}
    </dl>
{% endif %}