<div class="sidebar-email">
  <h3 class="title">{{ form.govdelivery_signup['#title'] }}</h3>
  <p>{{ form.govdelivery_signup['#description'] }}</p>
  <br />
    {{ form.govdelivery_signup.email }}
    {{ form.govdelivery_signup.submit }}
</div>
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
