{#
/**
 * @file
 * Default theme implementation for a contact form summary.
 *
 * Available variables:
 * - title: The modal title.
 * - description: The modal description, can be null.
 * - content: The rendered contact message.
 *
 */
#}

{{ attach_library('contact_form_summary/contact_form_summary.summary_modal') }}

<div class="modal fade" id="contact-form-summary-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">{{ title }}</h2>
      </div>
      <div class="modal-body">
        {% if description is not null %}
          <p>{{ description }}</p>
        {% endif %}
        <span>{{ "Reminder of your information"|t }}</span>
        {{ content }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "Close"|t }}</button>
      </div>
    </div>
  </div>
</div>
