
{% set hasTooltip = false %}
{% if  (tooltip['#attributes']['placement'] is not empty) and (tooltip['#attributes']['title'] is not empty) %}
  {% set hasTooltip = true %}
{% endif %}

{# Print wrapper with tooltip #}
{% if hasTooltip %}
  <span
      class="{{ tooltip['#attributes']['class'] }}"
      data-toggle="tooltip"
      data-placement="{{ tooltip['#attributes']['placement'] }}"
      title="{{ tooltip['#attributes']['title'] }}"
  >
{% endif %}
    {# icon prefix #}

    {% if icon['#attributes']['prefix'] is not empty %}
      <span class="icon-prefix-text">
        {{ icon['#attributes']['prefix'] }}
      </span>
    {% endif %}
    {# ./icon prefix #}

    {# icon #}
    {% if icon['#attributes']['class'] is not empty %}
      <i class="{{ icon['#attributes']['class'] }}">
      </i>
    {% endif %}
    {# ./icon #}

    {# ./icon suffix #}
    {% if icon['#attributes']['suffix'] is not empty %}
      <span class="icon-suffix-text">
        {{ icon['#attributes']['suffix'] }}
      </span>
    {% endif %}
    {# ./icon suffix #}

{% if hasTooltip %}
  </span>
{% endif %}
