<!DOCTYPE html>
<html>
<head>
  <head-placeholder token="{{ placeholder_token|raw }}">
  <css-placeholder token="{{ placeholder_token|raw }}">
  <js-placeholder token="{{ placeholder_token|raw }}">
  {{ oil_config }}
</head>
<body>
<js-bottom-placeholder token="{{ placeholder_token|raw }}">
</body>
</html>
