{#
/**
 * @file
 * Default theme implementation to display Qwant search result.
 *
 * Available variables:
 * - results: Renderable results from Qwant.
 *
 * @ingroup themeable
 */
#}
<li {{ row_attributes }}>
  <div class="search-result-thumbnail search-result-block">
    {{ picture }}
  </div>
  <div class="search-result-content search-result-block">
    <h4>
      <a href="{{ url }}" title="{{ title }}">{{ title }}</a>
    </h4>
    <div class="search-result-snippet">
      {{ snippet|raw }}
    </div>
  </div>
</li>
