 <h2> {{  'What\'s this ?'|t({}) }} </h2>
	 <ul>
		<li> 
			 <p> {{  'This modules is for Drupal 8 developpers (from beginners to advanced ones) only. There will never be any "stable" release as it is intended to be a dev tool under constant development.'|t({}) }}  </p>
		</li>
		<li>
			<p>  {{  'Generator UI allows you to develop faster by allowing you to generate code from template files packaged into the modules within your Drupal installation. As an example you can therefore create a modules with a path and its permission directly into your drupal installation. Up to you to change the default "hello world" into whatever you want.'|t({}) }}   </p>
		</li> 
		<li> 
			<p> {{  'The modules has also its help mode that brings a lot of comments on the code to help you understand how to develop with Drupal 8.'|t({}) }}</p>
		</li> 
		 <h2> {{  'Module Efficiency'|t({}) }} </h2>
		<li> 
			<p> {{  'The code generators facilitates the generation of multiple codes and new concepts in Drupal 8, as the forms, entities, controllers and others ...'|t({}) }} </p> 
		 </li>
		<li> 
			<p> {{  'This generator also offers the download of code you have already generated..'|t({}) }}</p>
		</li> 
		<li>
			<p> {{  'Finally, during the installation of this modules, you can integrate the code you generated in your modules.'|t({}) }} </p>
		</li>
	</ul>
	<h2> {{  'Available code generators'|t({}) }} </h2>
	<ul>
		<li> 
			<strong> <a href="{{ path('generator.info') }}">{{  'Generate .info.yml'|t({}) }}</a></strong>
		</li>
		<li>
			<strong><a href="{{ path('generator.permissions') }}">{{  'Generate .permissions.yml'|t({}) }}</a></strong> 
		</li>
		<li>
			<strong> <a href="{{ path('generator.routing') }}">{{  'Generate routing with Controller/Form'|t({}) }}</a></strong>
		</li>
		<li> 
			<strong> <a href="{{ path('generator.install') }}">{{  'Generate .install'|t({}) }}</a></strong>
		</li>
		<li> 
			<strong> <a href="{{ path('generator.links_task') }}">{{  'Generate module.links.task.yml'|t({}) }}</a></strong>
		</li>
		<li> 
			<strong> <a href="{{ path('generator.form') }}">{{  'Generate Form'|t({}) }}</a></strong>
		</li>
		 <li> 
			<strong> <a href="{{ path('generator.configform') }}">{{  'Generate Config Form'|t({}) }}</a></strong>
		</li>
		 <li> 
			<strong> <a href="{{ path('generator.ajaxform') }}">{{  'Generate Form with Ajax'|t({}) }}</a></strong>
		</li>
		 <li> 
			<strong> <a href="{{ path('generator.block') }}">{{  'Generate Block'|t({}) }}</a></strong>
		</li>
		 <li> 
			<strong> <a href="{{ path('generator.field_widget') }}">{{  'Generate Plugin FieldWidget'|t({}) }}</a></strong>
		</li>
		 <li> 
			<strong> <a href="{{ path('generator.twig') }}">{{  'Generate Plugin FieldType'|t({}) }}</a></strong>
		</li>
		 <li> 
			<strong> <a href="{{ path('generator.formatter') }}">{{  'Generate Plugin Formatter'|t({}) }}</a></strong>
		</li>
		 <li> 
			<strong> <a href="{{ path('generator.generator') }}">{{  'Generate Generator'|t({}) }}</a></strong>
		</li>
		 <li> 
			<strong> <a href="{{ path('generator.mail') }}">{{  'Generate example of sending mail'|t({}) }}</a></strong>
		</li>
		 <li> 
			<strong> <a href="{{ path('generator.ajax_link') }}">{{  'Generate example of ajax link'|t({}) }}</a></strong>
		</li>
		 <li> 
			<strong> <a href="{{ path('generator.cache') }}">{{  'Generate examples of Cache APIs'|t({}) }}</a></strong>
		</li>
		 <li> 
			<strong> <a href="{{ path('generator.entity_content') }}">{{  'Generate Entity Content'|t({}) }}</a></strong>
		</li>
		<li> 
			<strong> <a href="{{ path('generator.entity_config') }}">{{  'Generate Entity Config'|t({}) }}</a></strong>
		</li>
		 <li> 
			<strong> <a href="{{ path('generator.css_js') }}">{{  'Generate CSS/JS'|t({}) }}</a></strong>
		</li>
		<li> 
			<strong> <a href="{{ path('generator.autocompleatee') }}">{{  'Generate Autocompleate'|t({}) }}</a></strong>
		</li>
		<li>
			<strong> <a href="{{ path('generator.template') }}">{{  'Generate Template'|t({}) }}</a></strong>
		</li>
		<li>
			<strong> <a href="{{ path('generator.user') }}">{{  'Generate hook_user_login/hook_user_logout'|t({}) }}</a></strong>
		</li>
		<li>
			<strong> <a href="{{ path('generator.form_alter') }}">{{  'Generate Form Alter'|t({}) }}</a></strong>
		</li>
		<li>
			<strong> <a href="{{ path('generator.ajax_link') }}">{{  'Generate Example of Ajax link'|t({}) }}</a></strong>
		</li>
		<li>	
			<strong> <a href="{{ path('generator.dynamic_permission') }}">{{  'Generate Dynamic permission '|t({}) }}</a></strong>
		</li>
		<li>
			<strong> <a href="{{ path('generator.pseudofields') }}">{{  'Generate Pseudo fields'|t({}) }}</a></strong>
		</li>
		 <li>
			<strong> <a href="{{ path('generator.action') }}">{{  'Generate Action'|t({}) }}</a></strong>
		</li>
		<li>
			<strong> <a href="{{ path('generator.logger') }}">{{  'Generate Logger'|t({}) }}</a></strong>
		</li>
		 <li>
			<strong> <a href="{{ path('generator.queue') }}">{{  'Generate QueueWorker'|t({}) }}</a></strong>
		</li>
		 <li>
			<strong> <a href="{{ path('generator.batch') }}">{{  'Generate Batch'|t({}) }}</a></strong>
		</li>
		 <li>
			<strong> <a href="{{ path('generator_ui.generator_event_subscriber') }}">{{  'Generate Event Subscriber'|t({}) }}</a></strong>
		</li>
	 </ul>

	 <p> {{  'Link to the modules on Drupal.org :'|t({}) }} <strong> <a href="https://www.drupal.org/project/generator_ui">https://www.drupal.org/project/generator_ui</a></strong> </p>