<main class="page-content clearfix" role="main">

    <div class="region region-content">

        <div class="block">

            <ul>
                <li>
                    <span class="label">{{ 'Imported nodes:' | t }}</span>
                    <div>
                        <table>
                            <tr>
                                <th>{{ 'Identifier' | t }}</th>
                                <th>{{ 'Content type' | t }}</th>
                                <th>{{ 'Title' | t }}</th>
                            </tr>
                            {% for node in node_list %}
                                <tr>
                                    <td>{{ node.id }}</td>
                                    <td>{{ node.bundle }}</td>
                                    <td>{{ node.title.value }}</td>
                                </tr>
                            {% endfor %}
                        </table>

                    </div>
                </li>
            </ul>

        </div>

    </div>

</main>