<main class="page-content clearfix" role="main">

    <div class="region region-content">

        <div class="block">

            <ul>
                <li>
                    <span class="label">{{ 'Module with YML content type configuration:' | t }}</span>
                    <div>
                        <a href="{{ compressed_module_url }}" target="_blank">{{ 'Compressed module' | t }}</a>
                    </div>
                </li>
                <li>
                    <span class="label">{{ 'Imported content type identifier:' | t }}</span>
                    <div>
                        <code>{{ content_type_id }}</code>
                    </div>
                </li>
                <li>
                    <span class="label">{{ 'NER property with field name, associative relation (serialized):' | t }}</span>
                    <div>
                        <code>{{ property_field_map }}</code>
                    </div>
                </li>
            </ul>

        </div>

    </div>

</main>